<div id="wrapper">
    <header-section></header-section>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">BUSINESS MANAGER</h4>
            </div>
            <div class="panel-body">
                <div class="container-fluid business-manager" ng-controller="BusinessManagerCtrl">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                            <ul class="nav nav-tabs nav-justified">
                                <li role="presentation" ng-repeat="module in modules"  class="{{module.cssClass}}" ng-click="selectModule({moduleIndex : $index})"><a >{{module.title}}</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                            <div ng-include="currentTemplate">
                                <!-- Include the template based on user rights and module enabled property -->
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer-section></footer-section>