<div id="wrapper">
    <header-section></header-section>

    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="panel-body">

                <!-- Body  -->
                <div class="container-fluid business-manager">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h1 class="text-center font-open-sans-light">Business Manager</h1>
                                    <br/>
                                </div>
                            </div>

                            <div class="row" ng-show="activeTemplate">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                    <ul class="nav nav-tabs nav-justified nav-configuration">
                                        <li role="presentation" ng-repeat="module in modules track by $index" ng-click="selectModule({moduleIndex : $index})">
                                            <!--<a ng-show="module.permission == 0" class="disabled"><span class="{{module.icon}}"></span> {{module.title}}</a>-->
                                            <a ng-hide="module.permission == 0" href="/business-manager/{{module.type}}" ng-class="(module.type == activeModule) ? 'active' : ''"><span class="{{module.icon}}"></span> {{module.title}}</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="row" ng-show="activeTemplate">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                    <div ng-include="activeTemplate">
                                        <!-- Include the template based on user rights and module enabled property -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end : Body  -->


            </div>
        </div>
    </div>

    

</div>
<footer-section></footer-section>
