[
	{rabbitmq_management,
		[{listener, [{port, 12345}, {ip, "0.0.0.0"}, {ssl, false
	}]}]},

	{rabbitmq_web_stomp,
		[{tcp_listeners, [{"0.0.0.0", 5674}]}]},

	{rabbitmq_mqtt,
		[{default_user, <<"indrajeet">>},
                {default_pass, <<"indrajeet">>},
		{allow_anonymous, false},
		{tcp_listeners, [{"0.0.0.0", 61612}]}]}
].