<script type="text/ng-template" id="/tpl/configuration/navigation.html">
    <div class="col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm navbar-collapse">
        <ul class="nav nav-pills nav-justified nav-configuration">
            <li role="presentation" ng-class="{'active':pageModuleSettings === activeSubTemplate}">
                <a ng-click="changeActive(pageModuleSettings)" class="btn-link"><span class="glyphicon glyphicon-wrench"></span> Module and Settings</a>
            </li>
            <li role="presentation" ng-class="{'active':pageSubuser === activeSubTemplate}">
                <a ng-click="changeActive(pageSubuser)" class="btn-link"><span class="glyphicon glyphicon-user"></span> Subusers</a>
            </li>
            <li role="presentation" ng-class="{'active':pageItemMaster === activeSubTemplate}">
                <a  ng-click="changeActive(pageItemMaster)" class="btn-link"><span class="glyphicon glyphicon-th-list"></span> Item Master</a>
            </li>
            <li role="presentation" ng-class="{'active':pageResources === activeSubTemplate}">
                <a  ng-click="changeActive(pageResources)" class="btn-link"><span class="glyphicon glyphicon-list-alt"></span> Reservation Resources</a>
            </li>
            <li role="presentation" ng-class="{'active':pageStatusTypes === activeSubTemplate}">
                <a  ng-click="changeActive(pageStatusTypes)" class="btn-link"><span class="glyphicon glyphicon-transfer"></span> Status Types</a>
            </li>
            <li role="presentation" ng-class="{'active':pageActionTypes === activeSubTemplate}">
                <a  ng-click="changeActive(pageActionTypes)" class="btn-link"><span class="glyphicon glyphicon-pushpin"></span> Action Types</a>
            </li>
            <li role="presentation" ng-class="{'active':pageRules === activeSubTemplate}" ng-hide="1">
                <a ng-click="changeActive(pageRules)" class="btn-link"><span class="glyphicon glyphicon-filter"></span> Rules</a>
            </li>
            <li role="presentation" ng-class="{'active':pageWorkingHours === activeSubTemplate}">
                <a ng-click="changeActive(pageWorkingHours)" class="btn-link"><span class="glyphicon glyphicon-time"></span> Working Hours</a>
            </li>
            <li role="presentation" ng-class="{'active':pageHolidayCalender === activeSubTemplate}">
                <a ng-click="changeActive(pageHolidayCalender)" class="btn-link"><span class="glyphicon glyphicon-calendar"></span> Holiday Calender</a>
            </li>
        </ul>
    </div>
    <!------ Only on Desktop ------------------------------------>
    <div class="col-lg-3 col-md-3 hidden-xs">
        <ul class="nav nav-pills nav-stacked nav-configuration">
            <li role="presentation" ng-class="{'active':pageModuleSettings === activeSubTemplate}">
                <a ng-click="changeActive(pageModuleSettings)" class="btn-link"><span class="glyphicon glyphicon-wrench"></span> Module and Settings</a>
            </li>
            <li role="presentation" ng-class="{'active':pageSubuser === activeSubTemplate}">
                <a ng-click="changeActive(pageSubuser)" class="btn-link"><span class="glyphicon glyphicon-user"></span> Subusers</a>
            </li>
            <li role="presentation" ng-class="{'active':pageItemMaster === activeSubTemplate}">
                <a  ng-click="changeActive(pageItemMaster)" class="btn-link"><span class="glyphicon glyphicon-th-list"></span> Item Master</a>
            </li>
            <!--<li role="presentation" ng-class="{'active':pageResources === activeSubTemplate}">-->
                <!--<a  ng-click="changeActive(pageResources)" class="btn-link"><span class="glyphicon glyphicon-list-alt"></span> Reservation Resources</a>-->
            <!--</li>-->

            <li role="presentation" ng-class="{'active':pageResources === activeSubTemplate}" class="disabled">
                <a class="btn-link"><span class="glyphicon glyphicon-list-alt"></span> Reservation Resources</a>
            </li>

            <li role="presentation" ng-class="{'active':pageStatusTypes === activeSubTemplate}">
                <a  ng-click="changeActive(pageStatusTypes)" class="btn-link"><span class="glyphicon glyphicon-transfer"></span> Status Types</a>
            </li>
            <li role="presentation" ng-class="{'active':pageActionTypes === activeSubTemplate}">
                <a  ng-click="changeActive(pageActionTypes)" class="btn-link"><span class="glyphicon glyphicon-pushpin"></span> Action Types</a>
            </li>
            <li role="presentation" ng-class="{'active':pageRules === activeSubTemplate}">
                <a ng-click="changeActive(pageRules)" class="btn-link"><span class="glyphicon glyphicon-filter"></span> Rules</a>
            </li>
            <li role="presentation" ng-class="{'active':pageWorkingHours === activeSubTemplate}">
                <a ng-click="changeActive(pageWorkingHours)" class="btn-link"><span class="glyphicon glyphicon-time"></span> Working Hours</a>
            </li>
            <li role="presentation" ng-class="{'active':pageHolidayCalender === activeSubTemplate}">
                <a ng-click="changeActive(pageHolidayCalender)" class="btn-link"><span class="glyphicon glyphicon-calendar"></span> Holiday Calender</a>
            </li>
        </ul>
    </div>
</script>



<div class="panel panel-success">
                    <div class="panel-heading">
                        Configuration
                    </div>
                    <div class="panel-body" ng-controller="ConfigurationNavigationCtrl">
                        <!------- Page Content go inside ------------------>
                        <div class="row">
                            <div ng-include="'/tpl/configuration/navigation.html'">
                                <!--------- Navigation imported here ------------->
                            </div>


                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="jumbotron" ng-include="activeSubTemplate">
                                    <!---- Sub Pages will go here ----------->
                                </div>
                            </div>
                        </div>

                        <!------- Page Content ends ------------------>
                    </div>
                </div>
