
<section ng-controller="CompanyProfileCtrl">
    <div class="panel panel-success">
        <div class="panel-heading">
            Company Profile
            <p class="text-info pull-right btn-link" ng-hide="editMode" ng-click="toggleEditMode()">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </p>
        </div>
        <div class="panel-body profile-panel-body">
            <div class="row">
                <!--------------------- Edit Mode Disabled --------------------->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details password-details" ng-hide="editMode">

                        <p class="text-justify text-info" ng-show="companyProfile">{{companyProfile}}</p>
                        <small ng-hide="companyProfile" class="text-warning">
                            No Description Added ! Please add a few lines about your business
                        </small>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details password-details" ng-show="editMode">

                    <form name="companyProfileForm">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea rows="10"
                                          ng-model="companyProfileEdit"
                                          class="form-control"
                                          placeholder="Enter your company description here"></textarea>
                            </div>
                            <div clas="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-info" ng-click="saveCompanyProfile()">Save</button>
                                <button class="btn btn-info" ng-click="toggleEditMode()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>