<style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
<section id="attach-resume-wrapper" class="arw">
<div  ng-controller="CVAttachController as CVAttachCtrl" style="min-height:290px">
    <!--<form name="cvForm" ng-submit="cvForm.$valid && CVAttachCtrl.saveCVDocInfo()" novalidate>-->
        <div class="form_style">
           <div ng-show="true">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        CV Attachment
                    </div>
                    <div class="panel-body profile-panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details" ng-hide="profileEditMode">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Function</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cvBottomSpace">
                                        <select class="form-control emptyBox" name="function" ng-model="CVAttachCtrl._CVInfo.FunctionID"
                                                ng-options="Function.FunctionID as Function.FunctionName for Function in CVAttachCtrl.Functions"
                                                ng-change="CVAttachCtrl.getRoleForFunction(CVAttachCtrl._CVInfo.FunctionID)" required>
                                            <option value="" default selected> --Select Function-- </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Key Skills</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cvBottomSpace">
                                        <input type="text" ng-class="cvForm.keySkills.$touched && !CVAttachCtrl._CVInfo.KeySkills.length ? 'mandatoryTextBoxCV' : ''" name="keySkills" class="form-control emptyBox" ng-model="CVAttachCtrl._CVInfo.KeySkills" placeholder="Key Skills (Comma Separated)" required/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 cvBottomSpaceMiddle label">
                                        <h5 class="text-primary text-left">CV Upload</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cvBottomSpaceMiddle">
                                        <span class="btn btn-primary btn-file">
                                               <span ng-show="showLink">
                                                   Choose File (Selected)
                                               </span>
                                               <span ng-hide="showLink">
                                                   Choose File (Empty)
                                               </span>
                                               <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                         </span>

                                        <span ng-controller="DocumentController"
                                              style="margin-top:8px;"
                                              ng-show="showLink">
                                                <a class="blue" target="_blank" href="/ewTgetDocument?TokenNo={{Token}}&&RefType=7">
                                                    View
                                                </a>
                                        </span>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cvBottomSpaceMiddle label">
                                        <h5 class="text-primary text-left">
                                            <input type="checkbox" ng-click="CVAttachCtrl.securePinCliked()" ng-model="CVAttachCtrl.EnablePin"/>Enable PIN
                                        </h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 cvBottomSpaceMiddle">
                                        <input ng-show="CVAttachCtrl.EnablePin" maxlength="3" onkeypress="return isNumberKey(event);" type="text" style="width: 22%;" class="form-control" ng-model="CVAttachCtrl._CVInfo.Pin" placeholder="Pin"/>
                                    </div>
                            </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 label">
                                        <h5 class="text-primary text-left">CV Status</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 ">
                                        <input type="radio" name="CVStatus" ng-model="CVAttachCtrl._CVInfo.Status" id="Visible" class="check-box pull-left" value="1" style="margin-top: 0px;"/>
                                        Active(Access is Active)
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 " style="padding-left: 0px;">
                                        <input type="radio" name="CVStatus" ng-model="CVAttachCtrl._CVInfo.Status" id="NotVisible" class="check-box pull-left" value="2" style="margin-top: 0px;"/>
                                        Inactive(Access Denied/Not Looking for Change)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Salary</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 cvBottomSpace">
                                        <input type="text" decimals-only maxlength="17" name="salary" class="form-control text-right" ng-model="CVAttachCtrl._CVInfo.salary" placeholder="Salary"/>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Notice Period</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 cvBottomSpace">
                                       <div class="input-group">
                                            <input type="text" class="form-control" numbers-only maxlength="3" ng-model="CVAttachCtrl._CVInfo.notice_period" placeholder="Notice Period" aria-describedby="sizing-addon1"/>
                                            <span class="input-group-addon" id="sizing-addon1">in days</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Experience</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 cvBottomSpace">
                                        <div class="input-group">
                                            <input type="text" class="form-control" numbers-only maxlength="3" ng-model="CVAttachCtrl._CVInfo.experience" placeholder="Experience" aria-describedby="sizing-addon1"/>
                                            <span class="input-group-addon" id="sizing-addon2">in years</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Current Employer</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 cvBottomSpace">
                                        <input type="text" ng-model="CVAttachCtrl._CVInfo.current_employeer" placeholder="Current Employer" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Current Job Title</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 cvBottomSpace">
                                        <input type="text" placeholder="Current Job Title" ng-model = "CVAttachCtrl._CVInfo.current_job_title" class="form-control"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Job Type</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 cvBottomSpace">
                                        <select class="form-control ng-pristine ng-valid ng-touched" ng-model = "CVAttachCtrl._CVInfo.job_type">
                                            <option value=""> Job Type </option>
                                            <option value="1">Full Time</option>
                                            <option value="2">Part Time</option>
                                            <option value="3">Work From Home</option>
                                            <option value="4">Internship</option>
                                            <option value="5">Consultant</option>
                                            <option value="6">Freelancer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 cvBottomSpace label">
                                        <h5 class="text-primary text-left">Prefer Location</h5>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cvBottomSpace">
                                        <div class="input-group">
                                            <input type="text" id="google-map-search-box" placeholder="Ex: Bangalore" ng-model = "CVAttachCtrl._CVInfo.job_location1" class="form-control"/>
                                            <span class="input-group-addon noPaddingNoBorder">
                                                <button type="button" class="btn btn-primary" ng-click="addJobLocation(true)"><i class="fa fa-plus"></i> Add</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 location-box-border" ng-show="locationArrayString.length">
                                        <span ng-repeat="location in locationArrayString track by $index">
                                            <label  class="label label-default label-form">{{location}} <i ng-click="removeLocation($index)" class="fa fa-times text-warning"></i></label>&nbsp;
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row setRowLeftRightMarginZero" ng-show="true">
                                <div class="row">
                                    <span class="skillText">Skill Matrix ( To find best matching roles ) </span>
                                </div>
                                <div class="row">

                                    <table class="table table-striped skillMatrixTable" st-table="rowCollection">
                                        <thead>
                                        <tr style="background:#ECECEC; color:#000000;">
                                            <th class="panelPd5px skillKeyWord msg_pos newSkillField">Skill</th>
                                            <th class="panelPd5px skillExperties msg_pos">Expertise Level</th>
                                            <th class="panelPd5px from_size msg_pos">Experience(Yrs.)</th>
                                            <th class="panelPd5px from_size msg_pos">Active Skills</th>
                                            <th class="panelPd5px skillAction msg_pos">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="">
                                             <tr>
                                                <td colspan="5">
                                                    <div class="setTableFixHeight">
                                                        <table style="width: 100%;">

                                                            <tr ng-repeat="skill in skillMatrix" >
                                                                <td class="panelPd5px msg_pos" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                                    <span ng-hide="editMode[$index]">{{skillMatrix[$index].skillname}}</span>
                                                                    <div class="ui-widget newCvSkillField" ng-show="editMode[$index]">
                                                                        <input class="form-control" type="text" id="tags{{$index}}" ng-keyup="complete($index)"
                                                                               ng-model="editSkill.skillname" placeholder="Type skill here"/>
                                                                    </div>
                                                                </td>
                                                                <td class="panelPd5px msg_pos" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                                    <span ng-hide="editMode[$index]">{{expertiseLevels[skillMatrix[$index].expertiseLevel]}}</span>
                                                                    <select class="form-control" name="expertiesLevel" ng-model="editSkill.expertiseLevel"
                                                                            ng-show="editMode[$index]">
                                                                        <option value="0" default selected> Beginner </option>
                                                                        <option value="1"> Independent </option>
                                                                        <option value="2"> Expert </option>
                                                                        <option value="3"> Master </option>
                                                                    </select>
                                                                </td>
                                                                <td class="panelPd5px msg_pos" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                                    <span ng-hide="editMode[$index]">{{skillMatrix[$index].exp}}</span>
                                                                    <input type="text"
                                                                           ng-show="editMode[$index]"
                                                                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                                                                           name="experienceYear" maxlength="4" ng-model="editSkill.exp" class="form-control newCvExpField" placeholder="Ex. 5.00"/>
                                                                </td>
                                                                <td class="panelPd5px msg_pos" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                                    <input class="newCvActveSkills" type="checkbox" ng-hide="editMode[$index]" ng-disabled="1" ng-model="skillMatrix[$index].active_status"/>
                                                                    <input class="newCvActveSkills" ng-show="editMode[$index]" type="checkbox"  ng-checked="editSkill.active_status" ng-model="editSkill.active_status"/>
                                                                </td>
                                                                <td class="panelPd5px msg_pos" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                                    <button class="btn btn-success btn-xs" ng-show="editMode[$index]" ng-click="saveSkillFn($index)">Save</button>
                                                                    <button class="btn btn-warning btn-xs" ng-hide="editMode[$index]" ng-click="editSkillFn($index)">Edit</button>
                                                                    <button class="btn btn-primary btn-xs panelTextSize" ng-disabled="$index == 0" ng-click="deleteSkilFromMartix($index,skillMatrix[$index].tid)">Delete</button>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                 </td>
                                             </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="row">
                                <button class="btn btn-primary pull-left" value="Save" ng-click="CVAttachCtrl.saveCVDocInfo()">Save </button>
                                <input type="button" class="btn btn-primary pull-left" style="margin-left: 5px;" value="Close" onclick="window.location.href='/'"/>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
           </div>
        </div>
    <!--</form>-->
</section>

