<div id="wrapper" ng-controller="SignUpCtrl">
    <header-section></header-section>
    <div class="container-fluid top-clearfix-padding">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-sm-offset-0">
                <!----------- Panel starts -------------------------------------------->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="">Profile Manager <label class="label label-danger pull-right label-mandatory">* Mandatory</label></h4>

                    </div>
                    <div class="panel-body">

                        <!------------- Content Block ------------------------------->
                        <div class="container-fluid" ng-show="dataLoadInProgress">
                            <div class="row">
                                <div class="text-center center-vertical col-lg-2 col-md-2 col-sm-2 col-xs-4 col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-4 preloader">
                                    <p class="text-info">Loading</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" ng-show="dataLoadError">
                            <div class="row">
                                <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="text-center text-danger">
                                        An error occured ! <a ng-click="dataReloadAgain()" class="btn-link">Try Again</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" ng-show="dataLoadComplete">
                            <!----------------- Profile Section ---------------->
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Profile Details
                                    <p class="text-info pull-right btn-link" ng-hide="profileEditMode" ng-click="toggleProfileEditMode()">
                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                    </p>
                                </div>
                                <div class="panel-body profile-panel-body">
                                    <div class="row">
                                        <!---------------------Profile Edit Mode Disabled --------------------->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details" ng-hide="profileEditMode">


                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix">
                                                <h5 class="text-primary text-left">EZEID</h5>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                <h5 class="text-primary text-left font-open-sans data">
                                                    {{userDetails.EZEID}}
                                                </h5>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix">
                                                <h5 class="text-primary text-left">PIN Protected</h5>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                <h5 class="text-primary text-left font-open-sans data" ng-show="userDetails.PIN">
                                                    <span class="text-success">Yes</span>
                                                </h5>
                                                <h5 class="text-primary text-left font-open-sans data" ng-hide="userDetails.PIN">
                                                    <span class="text-danger">No</span>
                                                </h5>
                                            </div>
                                        </div>

                                            <!----------------- Visible only in case of Individual User--- -->

                                            <div class="row" ng-show="(userDetails.IDTypeID === 1)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left">Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.FirstName}} {{userDetails.LastName}}
                                                        <span class="small" ng-hide="userDetails.FirstName || userDetails.LastName">No Name </span>
                                                    </h5>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Email</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.EMailID}}
                                                        <span class="small" ng-hide="userDetails.JobTitle">No Email added</span>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="row" ng-show="(userDetails.IDTypeID === 1)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Company</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.CompanyName}}
                                                        <span class="small" ng-hide="userDetails.CompanyName">No Company added</span>
                                                    </h5>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Job Title</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.JobTitle}}
                                                        <span class="small" ng-hide="userDetails.JobTitle">No Job added</span>
                                                    </h5>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 1)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Date of Birth</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.DOB}}
                                                        <span class="small" ng-hide="userDetails.DOB">No Date of Birth added</span>
                                                    </h5>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Gender</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        <span ng-show="userDetails.Gender == 0">Male</span>
                                                        <span ng-show="userDetails.Gender == 1">Female</span>
                                                        {{userDetails.JobTitle}}
                                                        <span class="small" ng-hide="userDetails.Gender == 0 || userDetails.Gender == 1">Gender Unspecified</span>
                                                    </h5>
                                                </div>
                                            </div>
                                            <!-----------------end : Visible only in case of Individual user -- >


                                            <!----------------- Visible only in case of Business User (Company)--- -->

                                            <div class="row" ng-show="(userDetails.IDTypeID === 2)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Company Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.CompanyName}}
                                                        <span class="small" ng-hide="userDetails.CompanyName">No Company name added</span>
                                                    </h5>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Email</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.EMailID}}
                                                        <span class="small" ng-hide="userDetails.EMailID">No Email added</span>
                                                    </h5>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 2)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Contact Person</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.FirstName}} {{userDetails.LastName}}
                                                        <span class="small" ng-hide="userDetails.FirstName || userDetails.LastName">No Contact Person </span>
                                                    </h5>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">About</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.AboutCompany}}
                                                        <span class="small" ng-hide="userDetails.JobTitle">No Description added</span>
                                                    </h5>
                                                </div>
                                            </div>
                                            <!-----------------end : Visible only in case of Business user (Company)-->


                                            <!----------------- Visible only in case of Public Place (Public place)--- -->
                                            <div class="row" ng-show="(userDetails.IDTypeID === 3)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Public Place</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.CompanyName}}
                                                        <span class="small" ng-hide="userDetails.CompanyName">No name added</span>
                                                    </h5>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Email</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.EMailID}}
                                                        <span class="small" ng-hide="userDetails.EMailID">No Email added</span>
                                                    </h5>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 3)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Contact Person</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.FirstName}} {{userDetails.LastName}}
                                                        <span class="small" ng-hide="userDetails.FirstName || userDetails.LastName">No Contact Person </span>
                                                    </h5>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">About</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.AboutCompany}}
                                                        <span class="small" ng-hide="userDetails.JobTitle">No Description added</span>
                                                    </h5>
                                                </div>
                                            </div>
                                            <!-----------------end : Visible only in case of Business user (Company)-->

                                        </div>
                                        <!------------------end : Profile Edit Mode Disabled ------------------->


                                        <!------------------Profile Edit Mode Enabled ------------------->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details" ng-show="profileEditMode" ng-controller="ProfileEditCtrl">

                                            <div class="row">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left">EZEID</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left font-open-sans data">
                                                        {{userDetails.EZEID}}
                                                    </h5>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left">PIN Protected</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <input type="checkbox" class="form-control" ng-model="isPinApplicable" />
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <input type="text" ng-disabled="!isPinApplicable" ng-model="editUserDetails.PIN" class="form-control" placeholder="PIN" />
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <!----------------- Visible only in case of Individual User --- -->
                                            <div class="row" ng-show="(userDetails.IDTypeID === 1)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left">First Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.FirstName" class="form-control" placeholder="First Name" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Last Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.LastName" class="form-control" placeholder="Last Name" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 1)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix">
                                                    <h5 class="text-primary text-left">Email</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.EMailID" class="form-control" placeholder="admin@example.com" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 1)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Company</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.CompanyName" class="form-control" placeholder="Company Name" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Job Title</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.JobTitle" class="form-control" placeholder="Job Title" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 1)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Date of Birth</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <date-time-picker recipient="editUserDetails.DOB"></date-time-picker>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Gender</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <select class="form-control" ng-model="editUserDetails.Gender">
                                                                    <option value="2">Unspecified Gender</option>
                                                                    <option value="0">Male</option>
                                                                    <option value="1">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-----------------end : Visible only in case of Individual user -- >


                                            <!----------------- Visible only in case of Business User (Company)--- -->
                                            <div class="row" ng-show="(userDetails.IDTypeID === 2)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Company Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.CompanyName" class="form-control" placeholder="Company Name" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Email</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="email" ng-model="editUserDetails.EMailID" class="form-control" placeholder="Contact Email" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 2)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">First Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.FirstName" class="form-control" placeholder="Contact Person First Name" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Last Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.LastName" class="form-control" placeholder="Contact Person Last Name" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 2)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">About Company</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <textarea ng-model="editUserDetails.AboutCompany" class="form-control" row="3" placeholder="About Company"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-----------------end : Visible only in case of Business user (Company)-->


                                            <!----------------- Visible only in case of Public Place (Public place)--- -->
                                            <div class="row" ng-show="(userDetails.IDTypeID === 3)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Public Place</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.CompanyName" class="form-control" placeholder="Name of Public Place" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">Email</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.EMailID" class="form-control" placeholder="Email" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 3)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left"> First Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="editUserDetails.FirstName" class="form-control" placeholder="Contact Person First Name" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left"> Last Name</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <input class="form-control" ng-model="editUserDetails.LastName" placeholder="Contact Person Last Name"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" ng-show="(userDetails.IDTypeID === 3)">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 bottom-clearfix label">
                                                    <h5 class="text-primary text-left">About Public Place</h5>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="form-group">
                                                                <textarea ng-model="editUserDetails.AboutCompany" class="form-control" row="3" placeholder="About public place"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-----------------end : Visible only in case of Business user (Company)-->

                                            <div class="row">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                                    <button class="btn btn-block btn-primary" ng-click="saveUserDetails()">Save</button>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                                    <button class="btn btn-block btn-primary" ng-click="toggleProfileEditMode()">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!------------------end : Profile Edit Mode Enabled ------------------->


                                    </div>
                                </div>
                            </div>
                            <!----------------- end : Profile Section ---------------->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-section></footer-section>