<script type="text/ng-template" id="/tpl/profile/navigation.html">
    <div class="col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm navbar-collapse">
        <ul class="nav nav-pills nav-justified nav-configuration">
            <li role="presentation" ng-class="{'active':pageUserDetails === activeSubTemplate}">
                <a ng-click="changeActive(0,false)" class="btn-link">
                    <i class="fa fa-circle-o" ng-hide="(pageUserDetails === activeSubTemplate)"></i>
                    <i class="fa fa-circle" ng-show="(pageUserDetails === activeSubTemplate)"></i>
                    Profile </a>
            </li>
            <li ng-repeat="loc in locCount track by $index" role="presentation" ng-class="{'active': ((pageLocationDetails === activeSubTemplate) && ($index == activeLoc))}">
                <a ng-click="changeActive($index,true)" class="btn-link">
                    <i class="fa fa-circle-o" ng-hide="((pageLocationDetails === activeSubTemplate) && ($index == activeLoc))"></i>
                    <i class="fa fa-circle" ng-show="((pageLocationDetails === activeSubTemplate) && ($index == activeLoc))"></i>
                    L{{$index}} {{($index == 0) ? '(Primary)' : ''}} </a>
            </li>
        </ul>
    </div>
    <!------ Only on Desktop ------------------------------------>
    <div class="col-lg-3 col-md-3 hidden-xs">
        <ul class="nav nav-pills nav-stacked nav-configuration">
            <li role="presentation" ng-class="{'active':pageUserDetails === activeSubTemplate}">
                <a ng-click="changeActive(0,false)" class="btn-link">
                    <i class="fa fa-circle-o" ng-hide="(pageUserDetails === activeSubTemplate)"></i>
                    <i class="fa fa-circle" ng-show="(pageUserDetails === activeSubTemplate)"></i>
                    Profile </a>
            </li>
            <li ng-repeat="loc in locCount track by $index" role="presentation" ng-class="{'active': ((pageLocationDetails === activeSubTemplate) && ($index == activeLoc))}">
                <a ng-click="changeActive($index,true)" class="btn-link">
                    <i class="fa fa-circle-o" ng-hide="((pageLocationDetails === activeSubTemplate) && ($index == activeLoc))"></i>
                    <i class="fa fa-circle" ng-show="((pageLocationDetails === activeSubTemplate) && ($index == activeLoc))"></i>
                    L{{$index}} {{($index == 0) ? '(Primary)' : ''}} </a>
            </li>
            <!-- end  - Uncomment this code to turn on reservation settings -->
        </ul>
    </div>
</script>





<div class="panel panel-success"  ng-controller="ProfileMasterCtrl">
    <!--<div class="panel-heading">-->
        <!--&lt;!&ndash;{{(pageUserDetails === activeSubTemplate) ? 'Step 1 : Profile Details' : 'Step '+(activeLoc +2)  + ': Location Details'}}&ndash;&gt;-->

       <!-- -->

    <!--</div>-->
    <div class="panel-body">

        <ul class="nav nav-pills nav-wizard">
            <li ng-class="((pageUserDetails === activeSubTemplate) ? 'active' : '')">
                <a>
                    <small class="tiny">Step 1 : Profile</small>
                    </a>
                <div class="nav-arrow"></div>
            </li>
            <li ng-class="((pageUserDetails === activeSubTemplate) ? '' : 'active')">

                <a>
                    <small class="tiny">Step 2 : Primary Location</small>
                    </a>
                <div class="nav-arrow"></div>
            </li>
        </ul>

        <!------- Page Content go inside ------------------>
        <div class="row">
            <div ng-include="'/tpl/profile/navigation.html'">
                <!--------- Navigation imported here ------------->
            </div>


            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="jumbotron" ng-include="activeSubTemplate">
                    <!---- Sub Pages will go here ----------->
                </div>
            </div>
        </div>

        <!------- Page Content ends ------------------>
    </div>
</div>
