<section id="job-detail-view-wrapper" class="hpw jsr jdv">

    <!-- Header section goes here -->
    <header-section></header-section>

    <!-- All content for job details goes here -->
    <div class="page-content p-bottom-10 detail-content-bg">
        <div class="container width-75">
            <!-- Description header goes here -->
            <div class="desc-header p-top-10 no-bottom-padding">

                <!-- Heading of the Job description -->
                <div class="job-main-content tile-head">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            {{jobData.jobtitle}}<br>
                            <small class="company-name no-padding">{{jobData.companyname}}</small>
                        </div>
                        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 text-right normal-view-buttons">
                            <button class="btn btn-default" disabled>
                                {{jobData.jobcode}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Description body goes here -->
            <div class="desc-content p-bottom-4">
                <div class="job-main-content text-dark-gray">
                    <!-- Experience and location -->
                    <span class="experience-title"><i class="fa fa-briefcase"></i> Exp: {{getRange(jobData.expfrom,jobData.expto)}} Yrs</span>
                    <span class="experience-title p-left-16"><i class="fa fa-map-marker"></i> Location: {{locationData}}</span>
                    <!-- Salary goes here -->
                    <p CLASS="p-top-7"><i class="fa fa-money"></i> {{getRange(jobData.salaryfrom,jobData.salaryto,1)}}</p>
                    <!-- Login and signup button -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="login-signup-btn">
                                <button ng-show="!isLoggedIn" class="btn btn-primary btn-sm">SIGN IN</button>
                                <button ng-show="!isLoggedIn" class="btn btn-danger btn-sm">SIGN UP</button>
                                <span ng-show="isLoggedIn">
                                    <span ng-show="_userInfo.Type == 1">
                                        <span ng-show="showButtons">
                                            <div ng-hide="$root._userInfo.isinstitute_admin">
                                                <button ng-show="!jobData.isappliedforjob" class="btn btn-primary btn-sm" ng-click="applyForJob(jobData.tid)">APPLY</button>
                                            </div>
                                        </span>
                                    </span>
                                    <div ng-show="!$root._userInfo.isinstitute_admin">
                                        <button ng-show="jobData.isappliedforjob" class="btn btn-primary btn-sm" ng-click="redirectNotifyPage(jobData.tid)">Notify</button>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- date of post -->
                            <p class="text-right">
                                <i class="fa fa-clock-o"></i> {{jobData.LUdate | ageFilter}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="desc-content-body p-bottom-4">
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        Job Type: <span class="text-bolder">
                                        <span ng-show="jobData.jobtype == 0">Full Time</span>
                                        <span ng-show="jobData.jobtype == 1">Part Time</span>
                                        <span ng-show="jobData.jobtype == 2">Work from Home</span>
                                        <span ng-show="jobData.jobtype == 3">Internship</span>
                                        <span ng-show="jobData.jobtype == 4">Apprenticeship</span>
                                        <span ng-show="jobData.jobtype == 5">Job Oriented Training</span>
                                        <span ng-show="jobData.jobtype == 6">Consultant</span>
                                        <span ng-show="jobData.jobtype == 7">Freelancer</span>
                                   </span>
                    </div>
                </div>
            </div>

            <div class="desc-content-body p-bottom-4">
                <!-- detailed job description goes here -->
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        <p class="text-bolder">Job Description:</p>
                        <p class="group-description" ng-bind-html="jobData.jobdescription">
                        </p>
                    </div>
                </div>
            </div>

            <div class="desc-content-body p-bottom-4">
                <!-- detailed job description goes here -->
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                      <!--  Salary: <span class="text-bolder">{{getRange(jobData.salaryfrom,jobData.salaryto,1)}} {{salaryType[jobData.salarytype]}}</span>-->
                      Salary: <span class="text-bolder">
                                {{getRange(jobData.salaryfrom,jobData.salaryto,1)}}
                                <span ng-show="jobData.salarytype == 1"> (Per Hour) </span>
                                <span ng-show="jobData.salarytype == 2"> (Per Month)</span>
                                <span ng-show="jobData.salarytype == 3"> (Per Annum)</span>
                    </span>
                    </div>
                </div>
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        Openings: <span class="text-bolder">{{jobData.openings}}</span>
                    </div>
                </div>
                <div class="job-main-content text-dark-gray detailed-desc-job p-bottom-4">
                    <div class="job-desc">
                        Role: <span class="text-bolder">{{jobData.jobtitle}}</span>
                    </div>
                </div>
            </div>

            <div class="desc-content-body p-bottom-4">
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        <p><i class="fa fa-arrow-circle-right"></i> Key Skills:
                            <span ng-repeat="skill in skillArr track by $index">
                            <button class="btn btn-default btn-xs">{{skill}}</button>
                                </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="desc-content-body">
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        <p class="text-bolder">Contact:</p>
                        <p>
                            {{jobData.contactname}}<br/>
                            {{jobData.emailid}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Box content for map -->
    <modal mtitle="modalResume.title" mclass="modal.class" visible="modalVisibleResume">
        <div class="row">
            <div class="col-lg-12 text-danger text-center">
                <div class="row">
                    Please Upload Resume to apply job
                </div>
                <div class="row">
                    <a class="pointer" ng-click="openResumeTab()">Upload Resume</a>
                </div>
            </div>
            <div class="col-lg-12 text-center marginTopBottom1">
                <button class="btn btn-info text-right" ng-click="modalVisibleResumeBox()">Cancel</button>
            </div>
        </div>
    </modal>

    <!-- Footer goes here -->
    <footer-section></footer-section>
</section>