<section id="job-detail-view-wrapper" class="hpw jsr jdv">

    <!-- Header section goes here -->
    <header-section></header-section>

    <!-- All content for job details goes here -->
    <div class="page-content p-bottom-10 detail-content-bg">
        <div class="container width-75">
            <!-- Description header goes here -->
            <div class="desc-header p-top-10 no-bottom-padding">

                <!-- Heading of the Job description -->
                <div class="job-main-content tile-head">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            {{jobData.jobtitle}}<br>
                            <small class="company-name no-padding">{{jobData.companyname}}</small>
                        </div>
                        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 text-right normal-view-buttons">
                            <button class="btn btn-default" disabled>
                                {{jobData.jobcode}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Description body goes here -->
            <div class="desc-content p-bottom-4">
                <div class="job-main-content text-dark-gray">
                    <!-- Experience and location -->
                    <span class="experience-title"><i class="fa fa-briefcase"></i> Exp: {{getRange(jobData.expfrom,jobData.expto)}} Yrs</span>
                    <span class="experience-title p-left-16"><i class="fa fa-map-marker"></i> Location: {{locationData}}</span>
                    <!-- Salary goes here -->
                    <p CLASS="p-top-7"><i class="fa fa-rupee"></i> {{getRange(jobData.salaryfrom,jobData.salaryto,1)}}</p>
                    <!-- Login and signup button -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="login-signup-btn">
                                <button ng-show="!isLoggedIn" class="btn btn-primary btn-sm">SIGN IN</button>
                                <button ng-show="!isLoggedIn" class="btn btn-danger btn-sm">SIGN UP</button>
                                <button ng-show="isLoggedIn" class="btn btn-primary btn-sm" ng-click="applyForJob(jobData.tid)">APPLY</button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- date of post -->
                            <p class="text-right">
                                <i class="fa fa-clock-o"></i> {{jobData.LUdate | ageFilter}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc-content-body p-bottom-4">
                <!-- detailed job description goes here -->
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        <p class="text-bolder">Job Description:</p>
                        <!--<p>We are looking for a PHP developer who has solid understanding of PHP fundamentals,
                            has proven experience and writes excellent code. We need you to write high standard
                            code in a timely and scalable manner that improves the code-base of our product.
                            You will be a part of a creative team that is responsible for all aspects of the ongoing
                            software development from the initial specification, through to developing, testing and launching.
                        </p>-->
                        <p>
                            {{jobData.jobdescription}}
                        </p>
                    </div>
                </div>
                <!--<div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-responsibility">
                        <p class="text-bolder">Responsibilities :</p>
                        <p>Write clean and well designed code
                            Produce detailed specifications
                            Troubleshoot, test and maintain the core product software and databases to ensure strong optimization and functionality
                            Contribute in all phases of the development lifecycle
                            Follow industry best practices
                            Develop and deploy new features to facilitate related procedures and tools if necessary</p>
                    </div>
                </div>
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-requirements">
                        <p class="text-bolder">Requirements :</p>
                        <ul class="list-group">
                            <li><i class="fa fa-check-circle"></i> Proven software development experience in PHP</li>
                            <li><i class="fa fa-check-circle"></i> Understanding of open source projects like CodeIgniter</li>
                            <li><i class="fa fa-check-circle"></i> Demonstrable knowledge of web technologies including HTML, CSS, Javascript, AJAX etc</li>
                            <li><i class="fa fa-check-circle"></i> Good knowledge of relational databases, version control tools and of developing web services</li>
                            <li><i class="fa fa-check-circle"></i> Passion for best design and coding practices and a desire to develop new bold ideas</li>
                            <li><i class="fa fa-check-circle"></i> BS/MS degree in Computer Science, Engineering or a related subject</li>
                        </ul>
                    </div>
                </div>-->
            </div>

            <div class="desc-content-body p-bottom-4">
                <!-- detailed job description goes here -->
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        Salary: <span class="text-bolder">{{getRange(jobData.salaryfrom,jobData.salaryto,1)}} {{salaryType[jobData.salarytype]}}</span>
                    </div>
                </div>
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        Functional Area: <span class="text-bolder">{{jobData.jobcategory}}</span>
                    </div>
                </div>
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        Openings: <span class="text-bolder">{{jobData.openings}}</span>
                    </div>
                </div>
                <div class="job-main-content text-dark-gray detailed-desc-job p-bottom-4">
                    <div class="job-desc">
                        Role: <span class="text-bolder">{{jobData.jobtitle}}</span>
                    </div>
                </div>
            </div>

            <div class="desc-content-body">
                <div class="job-main-content text-dark-gray detailed-desc-job">
                    <div class="job-desc">
                        <p><i class="fa fa-arrow-circle-right"></i> Key Skills:
                            <span ng-repeat="skill in skillArr track by $index">
                            <button class="btn btn-default btn-xs">{{skill}}</button>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer goes here -->
    <footer-section></footer-section>
</section>