    <table style="font-family: 'Verdana',serif;font-size:14px;color: #444444;">
        <tr>
            <td>
                Hello GameChangers,
                <br/>
                <br/>
                This bug in <%=projectName%> Android project is changing our game. Please make sure we throw this bug out to win. <br/>
                Best of luck
                <br/>

                <p style="color:#ff2a00">
                    <%=crashReport%>
                </p>

                From<br/>
                EZEBot

            </td>
        </tr>
    </table>