<table cellpadding="0" cellspacing="0" border="0" style="width: 900px; border: solid 1px #ccc; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #5d5d5d;">

    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 900px;

padding: 10px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px;

color: #5d5d5d; line-height: 22px;">


                <tr><td>
                    <strong>Dear <%=name %>,</strong><br><br>

                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">HGS is happy to introduce mobile app called WhatMate for digital experience of employee operations.</span></p>
                    <br>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Congratulations. Your existing profile of WhatMate is linked to </span><strong><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"></span></strong><strong><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"><%=CompanyName %></span></strong><strong><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"></span></strong><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">. Now you can perform all business support business operations through WhatMate&trade; with ease and speed.</span></p>
                    <br>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Steps to activate your mobile app:</span></p>
                    <br>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Step 1: Download the app WhatMate from Google </span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Playstore</span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">(Android) or Apple store(iOS) based on your mobile phone type.</span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Step 2: Use the following&nbsp; user name and password that is know to you. In case you do not remember the password, your can reset the same </span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">throuhg</span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"> forgot password link.</span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">User Name:&nbsp; </span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"><%=UserName %></span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"></span></p>
                    <br>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><u style="text-underline: single;"><strong><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Note:</span></strong></u><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"> After Signing into app, go to Settings menu to edit your profile having personal information like Display name, change E-Mail ID to your personal Email ID and also you change mobile/phone number to your personal numbers if different form existing mobile number created by your organization. This changes will not effect your company records and this information is for your personal use only. </span></p>
                    <br>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Click on Question(?) Icon after successful login on App to learn how to use WhatMate Mobile App. </span></p>
                    <br>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Best Regards,</span></p>
                    <p><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">WhatMate&trade; Helpdesk Team</span></p>

                    <br>

                    <br>
                </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #0b89ba; color: #fff;">Disclaimer: This mail is sent to as an action of your organization administration team who created your user credentials to help you save time. You may not receive any mails similar to this from your present organization unless there is an additional change in your association. We do not support spamming or bulk mailing of any kind unless you are subscribes such services. This mail is not a bulk mail and sent selectively by your employer.
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #5d5d5d; color: #fff;">Copyright © 2017, All rights reserved</td>
                </tr>

            </table>
        </td>
    </tr>

</table>