<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
<body>
<table style="width:650px;height:auto;min-height:100px;padding:5px;" border="0" cellpadding="0" cellspacing="0" width="650">

    <tbody>
    <tr>
        <td style="padding:0px;box-shadow:0px 6px 6px #DDD;">
            <div style="border-radius:10px 10px 0px 0px;background: #008B8B;min-height:60px;width:630px;padding:5px;padding-left:20px;box-shadow:0px -2px 6px #DDD;">
                <h2 style="box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: block;
font-family: Arial, sans-serif;
font-size: 30px;
font-weight: bold;
height: 33px;
line-height: 33px;
margin-bottom: 10px;
margin-top: 3px;">
                    <span style="background-color: rgb(255, 255, 255);
border-bottom-color: rgb(0, 139, 139);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 139, 139);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(0, 139, 139);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(0, 139, 139);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(0, 139, 139);
cursor: pointer;
display: inline;
font-family: Arial, sans-serif;
font-size: 30px;
font-weight: bold;
height: auto;
line-height: 33px;
padding-left: 5px;
width: auto;">EZE</span><span style="background-color: rgb(0, 139, 139);
border-bottom-color: rgb(0, 139, 139);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 139, 139);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(0, 139, 139);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(0, 139, 139);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: Arial, sans-serif;
font-size: 30px;
font-weight: bold;
height: auto;
line-height: 33px;
width: auto;">One<sup style="font-size:10px;">TM</sup>
                </span>
                </h2>
                <p style="color:#FFF;font-family:'Verdana',sans-serif;font-size:12px;">The World's first Online Presence and Communication
                    platform for Individuals and Enterprises </p>

            </div>
            <div style="background:#FFF;min-height:150px;width:630px;padding:5px;padding-left:20px;padding-top:20px;font-family:'Arial',sans-serif;">
                <!---------- TEMPLATE BASED ON CONDITION ------------------->
                <table style="font-family:'Verdana',sans-serif;">
                    <tr>
                        <td>
                            Hello,
                        </td>
                    </tr>
                </table>
                <!---------- end : TEMPLATE BASED ON CONDITION ------------------->
            </div>
            <div style="background:#EEE;min-height:150px;width:630px;padding:5px;padding-left:20px;padding-top:20px;font-family:'Verdana',sans-serif;">
                <p style="color:#666;font-size:12px;">
                    Download EZEOne on your phone
                </p>
                <p>
                    <!-- apple store image -->
                    <a href="https://itunes.apple.com/us/app/ezeone/id1013338000?ls=1&amp;mt=8" target="_blank">
                        <img class="pad-right-20" src="https://www.ezeone.com/images/landing-page/app_store.6555ce51.png">
                    </a>
                    <!-- play store image -->
                    <a class="text-white" href="https://play.google.com/store/apps/details?id=com.ezeone" target="_blank">
                        <img src="https://www.ezeone.com/images/landing-page/google_play.a77d516e.png">
                    </a>
                </p>
            </div>

        </td>
    </tr>
    </tbody></table>
</body>
</html>