<table cellpadding="0" cellspacing="0" border="0" style="width: 600px; border: solid 1px #ccc; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #5d5d5d;">

    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 600px;

padding: 10px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px;

color: #5d5d5d; line-height: 22px;">


                <tr><td>
                    <!-- <strong>Dear [DisplayName],</strong><br><br> -->

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span>Your WhatMate verification Code is [code] . Please enter this 4 digit number where prompted to proceed.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <br>

                    <br>
                </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #0b89ba; color: #fff;">WhatMate are the property of TalentMicro Innovations.</td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #5d5d5d; color: #fff;">Copyright © 2017, All rights reserved</td>
                </tr>

            </table>
        </td>
    </tr>

</table>