<table cellpadding="0" cellspacing="0" border="0" style="width: 600px; border: solid 1px #ccc; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #5d5d5d;">

    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 600px;

padding: 10px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px;

color: #5d5d5d; line-height: 22px;">


                <tr><td>
                    <strong>Dear <%=name %>,</strong><br><br>

                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Welcome to WhatMate&trade; digital experience to perform all your business activities through mobile App</span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: mr;">&hellip;</span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">.</span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Congratulations. Your Sign-IN credentials are created successfully for business process mobile app called WhatMate&trade; implemented by your organization. Following are the credential that you can use to login but do not forget to change the password on first use to secure your data.</span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Steps to activate your mobile app:</span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Step 1: Download the app WhatMate from Google </span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Playstore</span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">(Android) or Apple store(iOS) based on your mobile phone type.</span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Step 2: Chose Sign-In button on app Menu to enter the following user credentials</span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">User Name:&nbsp; </span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"><%=UserName %></span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"></span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Password: </span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"><%=Password %></span><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"></span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><u style="text-underline: single;"><strong><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Note:</span></strong></u><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;"> It is mandatory to change the password on first time login and update your home location/address. After Signing into app, go to Settings menu to edit your personal profile having Display Name, change E-Mail ID to your personal Email ID and also you change mobile/phone number to your personal numbers if different form existing mobile number created by your organization. This changes will not effect your company records and this information is for your personal use only. </span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Click on Question(?) Icon after successful login on App to learn how to use WhatMate Mobile App. </span></p>
                    <p style="language: en-IN; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; word-break: normal; punctuation-wrap: hanging;"><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">Best Regards,</span></p>
                    <p><span style="font-size: 12.0pt; font-family: Calibri; color: black; language: en-US;">WhatMate&trade; Helpdesk Team</span></p>

                    <br>

                    <br>
                </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #0b89ba; color: #fff;">Disclaimer: This mail is sent to as an action of your organization administration team who created your user credentials to help you save time. You may not receive any mails similar to this from your present organization unless there is an additional change in your association. We do not support spamming or bulk mailing of any kind unless you are subscribes such services. This mail is not a bulk mail and sent selectively by your employer.
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #5d5d5d; color: #fff;">Copyright © 2017, All rights reserved</td>
                </tr>

            </table>
        </td>
    </tr>

</table>