<table cellpadding="0" cellspacing="0" border="0" style="width: 600px; border: solid 1px #ccc; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #5d5d5d;">

    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 600px;

padding: 10px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px;

color: #5d5d5d; line-height: 22px;">

                <tr><td>
                    <strong>[name],</strong><br><br>
                </td>
                </tr>
                <tr>
                    <td>
                        Based on your request we have generated OTP (One Time Password) as below.<br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>OTP</strong> : [OTP]
                        <br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        This OTP is valid for 15 minutes only. <br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Thank You,
                        <br>
                        WhatMate Team

                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <hr style="border:1px solid #CCC;border-bottom:none;"/>
            <div style="text-align:center;font-size:10px;color:#000;line-height:1">
                <b>Disclaimer:</b><br /><i>

                This email is sent to you based on your subscription to the services of WhatMate to receive e-mail notifications. In case you do not wish to receive e-mail notifications, you may edit your profile through the portal
                <strong style="text-decoration: underline; color: #156685"><a href="https://www.whatmate.com" target="_blank">https://www.whatmate.com </a> </strong> or using the Mobile application and remove the mail ID you have configured in the profile. We at WhatMate respect your privacy and do not support spam and similarly you are bound by the law and terms of the agreement while subscribing to WhatMate services where you have agreed not to generate any spam or misuse the WhatMate system in any form whatsoever.
            </i></div>


        </td>
    </tr>

    <tr>
        <td style="text-align: center; padding: 15px 0; background: #5d5d5d; color: #fff;">Copyright&copy; 2017: TalentMicro Innovations</td>
    </tr>
</table>