<table cellpadding="0" cellspacing="0" border="0" style="width: 600px; border: solid 1px #ccc; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #5d5d5d;">
     <tr>
       <td style="text-align:center;">
         <h2 style="box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: block;
font-family: Arial, sans-serif;
font-size: 30px;
font-weight: bold;
height: 33px;
line-height: 33px;
margin-bottom: 10px;
margin-top: 3px;">
                    <span style="background-color: rgb(255, 255, 255);
border-bottom-color: rgb(0, 139, 139);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 139, 139);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(0, 139, 139);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(0, 139, 139);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(0, 139, 139);
cursor: pointer;
display: inline;
font-family: Arial, sans-serif;
font-size: 30px;
font-weight: bold;
height: auto;
line-height: 33px;
padding-left: 5px;
width: auto;">EZE</span><span style="background-color: rgb(0, 139, 139);
border-bottom-color: rgb(0, 139, 139);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 139, 139);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(0, 139, 139);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(0, 139, 139);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: Arial, sans-serif;
font-size: 30px;
font-weight: bold;
height: auto;
line-height: 33px;
width: auto;">One<sup style="font-size:10px;">TM</sup>
                </span>
                </h2>
       </td> 
     </tr>
                
            
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" style="width: 600px; 

padding: 10px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; 

color: #5d5d5d; line-height: 22px;">


                            <tr><td>
							<strong>Hello <%=fullName %>,</strong><br><br>
							
                                Congratulations, your registration is successful with <a href="https://www.ezeone.com">www.ezeone.com</a><br>

                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>Your EZEONE ID is :<strong style="color: #0b89ba;"><%=ezeoneId %></strong>.<br>
                                    <br>
									EZEOne helps you to store and share information with others by an ID or as a
URL(link). Please ensure you have updated all sections of information with correct
information. <br><br>
<strong>Following are the sections of information we suggest you to update:
                                    <br />
                                        ----------------------------------------------------------------------------------------</strong></strong><br />
                                    <ol type="1">
                                        <li>Your correct Full Name (First Name and Middle & Name) and protect your primary
information by a PIN Code.</li>
                                        <li>Map Location precisely pointing to Location of your door step.</li>
                                        <li>Address, Contact Information and your Picture.</li>
                                        <li>For Individuals: Attach your latest CV/Resume if you are a Jobseeker and protect
it with a PIN Code.</li>
                                        <li>Use document Vault to upload any of your documents to store and share with others
when needed and protect the same by a secure 3 digit PIN.</li>
</ol>

                                        <strong>Note:</strong>Please do not forget to protect your information by PIN if you are an
Individual profile. In case you are a Business profile, then it may be necessary for
you to share your information to public easily, otherwise please protect the
information with a PIN.
                                    
                                </td>
                            </tr>
                            <tr>
							<br>
                                <td>
								<br>
								<strong>How to share your information:<br />
                                    ---------------------------------------</strong><br />
                                    EZEONE is your lifetime short code to share any information. You can quote your EZEONE and PIN if you are sharing information to a person over Telephone, otherwise you can send the Web Link of your EZEONE(Example:<strong style="text-decoration: underline; color: #156685"> https://www.ezeone.com/@JOHN.347</strong>, if your EZEONE is TONY
and PIN is 347 for the primary information like Name, Address, Contact Numbers &
Location or share your CV as <strong style="text-decoration: underline; color: #156685"> https://www.ezeone.com/@TONY.CV.124</strong> <br>
                                    
                                    <br />
									Note: Every document stored in your document vault has TAG, Document attachment and
PIN. PIN is optional and recommended for confidential/private documents so that the
recipient of the Link to the document can access only if the read PIN is valid.<br><br>

Standard structure to share any of your documents is @EZEONEID.TAG.PIN  and to send
a link to your document, you have to follow the format: <strong style="text-decoration: underline; color: #156685">
www.ezeone.com/@EZEONEID.TAG.PIN</strong> if you
have not set PIN, then your link will be <strong style="text-decoration: underline; color: #156685">
<https://www.ezeone.com/@EZEONEID.TAG> </strong><br><br>
Example: If you have not set PIN Code then leave the PIN Code section while sharing
the document (Example: TONY.CV is sufficient to share the CV of TONY in case PIN is
not set. To share CV through e-mail, send the link in the format <strong style="text-decoration: underline; color: #156685">https://www.ezeone.com/@TONY.CV </strong><br><br>
Enjoy using EZEOne ID to simplify the way you share your location or your information.

<br></br>
<strong>Other Uses:<br>
--------------<br></strong>
<ol type="1">
<li>Locate a Business in your neighbourhood by typing respective keywords of
products, services or Jobs and transaction with the business online.</li>
<li>Use EZEOne Messenger for messaging needs and to receive skill updates from public
skill groups.</li>
</ol>

Wishing you all the best, <br>
EZEOne Team 



                      
<br>
<hr style="border:1px solid #CCC;border-bottom:none;"/>                                  
<div style="text-align:center;font-size:10px;color:#000;line-height:1">
  <b>Disclaimer:</b><br /><i>

	This email is sent to you based on your subscription to the services of EZE One ID to receive e-mail notifications. In case you do not wish to receive e-mail notifications, you may edit your profile through the portal 
<strong style="text-decoration: underline; color: #156685"><a href="https://www.ezeone.com" target="_blank">https://www.ezeone.com </a> </strong> or using the Mobile application and remove the mail ID you have configured in the profile. We at EZE One ID respect your privacy and do not support spam and similarly you are bound by the law and terms of the agreement while subscribing to EZE One ID services where you have agreed not to generate any spam or misuse the EZE One ID system in any form whatsoever.
  </i></div>


                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #0b89ba; color: #fff;">The Safest and Easiest way to create and share your personal or business
information with others.</td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #5d5d5d; color: #fff;">Copyright&copy; 2015: TalentMicro Innovations</td>
                </tr>
            </table>