<table cellpadding="0" cellspacing="0" border="0" style="width: 600px; border: solid 1px #ccc; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #5d5d5d;">

    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 600px;

padding: 10px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px;

color: #5d5d5d; line-height: 22px;">


                <tr><td>
                    <strong>Dear [DisplayName],</strong><br><br>

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span>Congratulations&hellip;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span>Your sign-up process is successful. You can use your lifetime account to permit Employers, Customers, Suppliers and Alumni groups to link your account into their System so that you can perform all the supported activities with ease. Please provide your Unique ID generated during Sign-up to help those entities link your profile into the system supported by EZEOne and WhatMate mobile apps.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span>Your registered unique ID:&nbsp;&nbsp;<strong>[EZEOneID]</strong></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span><a href="http://www.whatmate.com/">Click here</a>&nbsp;to understand various uses of EZEOne and WhatMate Apps for present and future.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span>Click here to read the&nbsp;<a href="https://www.ezeone.com/html/terms.html">Terms of Use</a>.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span>Wishing you all the best.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <p style="text-align:start"><span style="font-size:12.8px"><span style="color:#222222"><span style="font-family:arial,sans-serif"><span><span><span><span><span><span><span><span style="background-color:#ffffff"><span><span><strong>EZEOne &amp; WhatMate Team</strong></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    </p>

                    <br>

                    <br>
                </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #0b89ba; color: #fff;">EZEOne and WhatMate are the property of TalentMicro Innovations.</td>
                </tr>

                <tr>
                    <td style="text-align: center; padding: 15px 0; background: #5d5d5d; color: #fff;">Copyright © 2017, All rights reserved</td>
                </tr>

            </table>
        </td>
    </tr>

</table>