<html>
<body>

<style>

table { border: 11px ridge(2,8,1) }
td { border: 10px ridge(1,8,1) }


</style>
<center>
<table width = "65%">

<tr class="ex1">
	<th align = "center" style="width: 20px;">Sl.No</th>
    <th align = "justify" style="width: 20px;">Date</th>		
    <th align = "justify" style="width: 20px;">Task</th>
	<th align = "justify" style="width: 20px;">Particulars</th>
	<th align = "center" style="width: 20px;">Client</th>
	<th align = "center" style="width: 20px;">Contact</th>
	<th align = "justify" style="width: 20px;">Created by</th>
	<th align = "justify" style="width: 20px;">AddtionalUsers</th>
	<th align = "justify" style="width: 20px;">Amount</th>
	</tr>
 	
  <tr>
	<td align = "center" style="width: 20px;">[sl.no].</td>
    <td align = "justify" style="width: 20px;">[Date]</td>		
    <td align = "justify" style="width: 20px;">[Task]</td>
	<td align = "justify" style="width: 20px;">[Particulars]</td>
	<td align = "center" style="width: 20px;">[Client]</td>
	<td align = "center" style="width: 20px;">[Contact]</td>
	<td align = "justify" style="width: 20px;">[CreatedBy]</td>
	<td align = "justify" style="width: 20px;">[AddtionalUsers]</td>
<td align = "justify" style="width: 20px;">[Amount]</td>	
	
  </tr>
  
</table>
</center>

</body>
</html>



</body>
</html>