<html>
<body>

<center>

 	<table>
	
 
	<tr>
	<td align ="center" style="width: 90px;">[sl.no]</td>
    <td align ="center" style="width: 90px;">[Date]</td>		
    <td align ="center" style="width: 90px;">[Task]</td>
	<td align ="center" style="width: 90px;">[Particulars]</td>
	<td align ="center" style="width: 90px;">[Client]</td>
	<td align ="center" style="width: 90px;">[Contact]</td>
	<td align ="center" style="width: 90px;">[CreatedBy]</td>
	<td align ="center" style="width: 90px;">[AddtionalUsers]</td>
	<td align ="center" style="width: 90px;">[Amount]</td>
	</tr>
  
	
 </table>
 </body>
 </html>
		