<html>
<body>

<center>

<table>
<tr>
	<td align = "center" style="width: 90px;"></td>
    <td align = "center" style="width: 90px;"></td>		
    <td align = "center" style="width: 90px;"></td>
	<td align = "center" style="width: 90px;"></td>
	<td align = "center" style="width: 90px;"></td>
	<td align = "center" style="width: 90px;"></td>
	<td align = "center" style="width: 90px;"></td>
	<td align = "center" style="width: 90px;"><font color ="darkbrown">Total Amount<font></td>
	<td align = "center" style="width: 90px;"><font color ="darkbrown">[total]</font></td>
	</tr>
  
</table>
</center>
</body>
</html>
						
	
        