<html>
<body>
<br><br>
<center><h3>Conveyance Report from <font color ="brown">[StartDate]</font> to <font color ="brown">[EndDate]</font></h3></center>

<center><h5>EZEONE : [ezeone]</h5></center><br><br>
<style>

table { border: 11px ridge(2,8,1) }
td { border: 10px ridge(1,8,1) }

</style>
<center>
<table width = "65%">
</tr>
	<th align = "center" style="width: 20px;">Sl.No</th>
    <th align = "center" style="width: 20px;">Date</th>		
    <th align = "center" style="width: 20px;">Task</th>
	<th align = "center" style="width: 20px;">Particulars</th>
	<th align = "center" style="width: 20px;">Client</th>
	<th align = "center" style="width: 20px;">Contact</th>
	<th align = "center" style="width: 20px;">Amount</th>
	<th align = "center" style="width: 20px;">Created by</th>
	<th align = "center" style="width: 20px;">AddtionalUsers</th>
	</tr>
	</table>
	</center>
</body>
</html>



</body>
</html>