<table>
    <tbody>
    <tr>
        <td ><img style="max-width: 100%;" class="pad-right-20" src="https://www.ezeone.com/images/landing-page/UP1.jpg"></td>
        <td ><img style="max-width: 100%;" class="pad-right-20" src="https://www.ezeone.com/images/landing-page/UP2.jpg"></td>
        <td ><img  style="max-width: 100%;" class="pad-right-20" src="https://www.ezeone.com/images/landing-page/UP3.jpg"></td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;With an area of appx. 243,286 Sq.Km. and a population of over 20 Crores approx (census 2011), Uttar Pradesh has the distinction of being the largest single Police force not only in the country but of the entire world. The Director General of UP Police commands a force of approx. 2.5 Lacs approx. personnel spread over 75 districts, 33 armed Battalions and other specialised wings/ branches relating to Intelligence, Investigation, Anti-corruption, Technical, Training, Forensic Science etc.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>