
<div id="wrapper" ng-controller="BlackListWhiteListController as blacklist">
    <header-section></header-section>
    <!--popup for delete confirm-->
    <div class="Popup_window form_style map_popup_iconActions" id="confirmDelete">
        <div class="window_page Maping_popup">
            <span class="closeCV" ng-click="blacklist.closeDeleteConfirmDialog()">X</span>
            <form name="deleteConfirmForm" novalidate>
                <h3 class="marB15px">Are you sure you want to delete?</h3>
                <div class="col-md-12" style="margin-left: 30%;">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <button ng-click="blacklist.deleteFormList()" class="btn btn-block btn-primary pull-left" type="button">Yes</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <button ng-click="blacklist.closeDeleteConfirmDialog()" class="btn btn-block btn-primary pull-left" type="button">Close</button>
                    </div>
                </div>
                <br/><br/>
            </form>
        </div>
    </div>

    <!--popup for add confirm-->
    <div class="Popup_window form_style map_popup_iconActions" id="confirmChange">
        <div class="window_page Maping_popup">
            <span class="closeCV" ng-click="blacklist.closeAddConfirmDialog()">X</span>
            <form name="addConfirmForm" novalidate>
                <h3 ng-show="blacklist._info.List == 2" class="marB15px">EZEOne you are trying to add to Blacklist is in Whitelist. Delete the same and try again.</h3>
                <h3 ng-show="blacklist._info.List == 1" class="marB15px">EZEOne you are trying to add to Whitelist is in Blacklist. Delete the same and try again.</h3>
                <div class="col-md-12" style="margin-left: 30%;">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-left: 9%;">
                        <button ng-click="blacklist.closeAddConfirmDialog()" class="btn btn-block btn-primary pull-left" type="button">Ok</button>
                    </div>
                </div>
                <br/><br/>
            </form>
        </div>
    </div>

    <div class="container" style="padding-top:90px; position:relative;">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-sm-10" style="margin: auto; float: none;">
                <div class="panel panel-default" style="min-height: 367px">
                    <div class="panel-body">
                        <h3><span class="text_color">White List & Black List</span></h3>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="panel-group panelTextSize no_select" id="accordion">
                            <form class="form-signin" role="form" novalidate  ng-submit="blacklist.addToBlackWhiteList()">
                                <div class="row " style="font-size: 16px;">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <span>Type</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left: 0px;">
                                        <select class="form-control " name="listType" ng-model="blacklist._info.List"
                                                ng-options="status.id as status.label for status in blacklist.listType" >
                                            <option value=""> --List Type-- </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left: 0px;" ng-show="blacklist._info.List == 1">
                                        <select class="form-control" style="padding-left: 0px;" name="relation" ng-model="blacklist._info.RelationType"
                                                ng-options="relation.RelationID as relation.RelationshipTitle for relation in  blacklist.Relations" >
                                            <option value="">Relationship</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 setLeftRightPaddingZero">
                                        <span>EZEOne</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <input id="EZEID" style='text-transform:uppercase' class="form-control" type="text" placeholder="EZEOne"  ng-model="blacklist._info.EZEID" />
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-show="blacklist._info.List == 1">
                                        <select class="form-control " name="tags" ng-model="blacklist._info.Tag"
                                                ng-options="tags.id as tags.label for tags in blacklist.Tags" >
                                            <option value="">Tags</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
                                       <button  ng-disabled="!blacklist._info.EZEID || !blacklist._info.List" class="btn btn-block btn-primary pull-left" type="submit">Add</button>
                                    </div>
                                </div>
                            </form>
                            <table class="panel panel-default" border="1" st-table="rowCollection" class="table table-striped" style="margin-top: 1%; width:100%;">
                                <thead>
                                <tr style="background:#2791BA; color:#000000;">
                                    <th class="panelPd5px msg_pos">No.</th>
                                    <th class="panelPd5px date_size msg_pos">Type</th>
                                    <th class="panelPd5px from_size msg_pos">Relationship</th>
                                    <th class="panelPd5px date_size msg_pos">EZEOne</th>
                                    <th class="panelPd5px statusSize msg_pos">Tag</th>
                                    <th class="panelPd5px msg_size msg_pos">Date</th>
                                    <th class="panelPd5px msg_size msg_pos">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="_item in blacklist.msgs">
                                    <td class="panelPd5px msg_pos">{{$index + 1}} </td>
                                    <td class="panelPd5px msg_pos">
                                       <span ng-show="_item.List == 1">White List</span>
                                       <span ng-show="_item.List == 2">Black List</span>
                                    </td>
                                    <td class="panelPd5px msg_pos">{{_item.RelationshipTitle}}</td>
                                    <td class="panelPd5px msg_pos">{{_item.EZEID}}</td>
                                    <td class="panelPd5px msg_pos">
                                        <span ng-show="_item.Tag == 1">ID</span>
                                        <span ng-show="_item.Tag == 2">PP</span>
                                        <span ng-show="_item.Tag == 3">DL</span>
                                        <span ng-show="_item.Tag == 4">D1</span>
                                        <span ng-show="_item.Tag == 5">D2</span>
                                        <span ng-show="_item.Tag == 6">CV</span>
                                    </td>
                                    <td class="panelPd5px msg_pos">{{_item.CreatedDate}}</td>
                                    <td class="panelPd5px msg_pos">
                                       <label class="btn btn-primary panelTextSize" ng-click="blacklist.openDeleteConfirmDialog(_item.TID)">Delete</label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="msgCtrl.showMoreButton">
                           <!-- <button class="btn btn-primary pull-right" ng-click="blacklist.getNotifications()" type="button">More</button>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<footer-section></footer-section>