/**
 * This CSS is maintained by sandeep
 */

/* Preface */
/* hpw -  home page wrapper */

/* Style for home page of Ezeid */
.hpw .bg-image
{
    /*background: url('../images/front-page-bg1.png');*/
    height: 100%;
    background-size: cover;
}

#home-page-wrapper{

}

.hpw .main-page-image
{
    /*background : #007164;*/



    height: inherit;
    background-size: cover;
    background-repeat: space;
    background-position-y: -140px;
    opacity : 1;
}

.hpw .phone-image
{
    background-image: url('../images/ezeid-ss.png');
    height: 440px;
    /* width: 600px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
}

.hpw .logo
{
    content: url('../images/ezeid-logo.png');
    background-position:top;
    width: 100%;
}

.rpw .search-bar-center
{
    padding-left: 25%;
}

.srw .tile-frame-padding-top
{
    padding-top: 114px;
}

.srw .tile-frame-padding-top
{
    padding-top: 100px;
}

.hpw .search-type
{
    display:inline;
}

.hpw .desc-img
{
    width:120%
}

.hpw .search-result-page-padding
{
    padding-top: 140px;
}

.hpw .display-in-full-screen
{
    display: inherit !important;
}

.hpw .display-table
{
    display: table-cell !important;
}

.hpw .display-in-desktop
{
    display: none !important;
}

.hpw .display-in-tablet
{
    display: none !important;
}

.hpw .display-in-mobile
{
    display: none !important;
}

.hpw .mobile-view-buttons
{
    display: none;
}

.hpw .keyword-btn-radius
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.hpw .normal-view-buttons
{

}

.hpw .width-search-bar
{
    width:300px !important;
}

.jsr .filter-pad
{

}

@media screen and (max-width: 1320px) {
    .srw .tile-frame-padding-top
    {
        padding-top: 158px;
    }

    .hpw .width-search-bar
    {
        width:220px !important;
    }

    .hpw .mobile-view-buttons
    {
        display: none;
    }

    .hpw .normal-view-buttons
    {
        display:inherit;
    }

    .hpw .keyword-btn-radius
    {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .hpw .hidden-md
    {
        display: none !important;
    }

    .hpw .display-in-full-screen
    {
        display: inherit !important;
    }

    .hpw .hide-in-full-screen
    {
        display: none !important;
    }

    .hpw .display-in-desktop
    {
        display: none !important;
    }

    .hpw .display-in-tablet
    {
        display: none !important;
    }

    .hpw .display-in-mobile
    {
        display: none !important;
    }

}

@media screen and (max-width: 1200px)
{
    .hpw .hidden-1200
    {
        display: none !important;
    }

    .hpw .width-search-bar
    {
        width:262px !important;
    }

    .hpw .mobile-view-buttons
    {
        display: inherit;
    }

    .hpw .keyword-btn-radius
    {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }

    .hpw .normal-view-buttons
    {
        display:none;
    }

    .hpw .search-result-page-padding
    {
        padding-top: 185px;
    }

    .hpw .display-in-full-screen
    {
        display: none !important;
    }

    .hpw .display-in-desktop
    {
        display: inherit !important;
    }

    .hpw .hide-in-desktop
    {
        display: none !important;
    }


    .hpw .display-in-tablet
    {
        display: none !important;
    }

    .hpw .display-in-mobile
    {
        display: none !important;
    }

    .hpw .search-btn-width
    {
        width:32.7% !important;
    }

    .hpw .extra-left-padding
    {
        padding-left:5px;
    }

    .hpw .drop-down-3
    {
        margin-top: 4.9% !important;
    }
}


@media screen and (max-width: 1050px) {
    .hpw .drop-down-3
    {
        margin-top: 5.9% !important;
    }
}
@media screen and (max-width: 990px) {
    .hpw .business-img-text-align
    {
        text-align: center !important;
    }

    .hpw .business-mobile-desc-padding
    {
        padding-top: 0px !important;
    }

    .hpw .search-btn-width
    {
        width:32.69% !important;
    }
}

@media screen and (max-width: 874px) {

    .hpw .drop-down-3
    {
        margin-top: 6.9% !important;
    }

    .hpw .search-btn-width
    {
        width:32.51% !important;
    }

    .srw .tile-frame-padding-top
    {
        padding-top: 148px;
    }

    .hpw .mobile-view-buttons
    {
        display:inherit;
    }

    .hpw .keyword-btn-radius
    {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }

    .hpw .normal-view-buttons
    {
        display: none;
    }

    .hpw .hidden-sm
    {
        display: none !important;
    }


    .hpw .search-result-page-padding
    {
        padding-top: 185px;
    }

    .hpw .display-in-full-screen
    {
        display: none !important;
    }

    .hpw .display-in-desktop
    {
        display: none !important;
    }

    .hpw .display-in-tablet
    {
        display: inherit !important;
    }

    .hpw .hide-in-tablet
    {
        display: none !important;
    }

    .hpw .display-in-mobile
    {
        display: none !important;
    }
}

@media screen and (max-width: 790px) {
    .hpw .width-search-bar
    {
        width:220px !important;
    }
}

@media screen and (max-width: 768px) {

    .hpw .drop-down-3
    {
        margin-top: 5.1% !important;
    }

    .jsr .filter-pad
    {
        padding-right: 0px !important;
    }

    .hpw .search-type
    {
        display:none !important;
    }

    .hpw .mobile-view-buttons
    {
        display:inherit;
    }

    .hpw .keyword-btn-radius
    {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }

    .hpw .normal-view-buttons
    {
        display: none;
    }

    .hpw .hidden-xs
    {
        display: none !important;
    }

    .hpw .logo {
        content: url(https://www.ezeid.com/images/logo.png);
        background-position:top;
        width: 10%;
    }

    .hpw .p-left-35
    {
        padding-left: 0px;
    }

    .rpw .search-bar-center
    {
        padding-left: 0% !important;
        margin: 0px;
    }

    .srw .tile-frame-padding-top
    {
        padding-top: 146px;
    }

    .srw .block
    {
        padding-top: 2% !important;
    }

    .hpw .display-in-full-screen
    {
        display: none !important;
    }

    .hpw .display-in-desktop
    {
        display: none !important;
    }

    .hpw .display-in-tablet
    {
        display: none !important;
    }

    .hpw .display-in-mobile
    {
        display: inherit !important;
    }

    .hpw .hide-in-mobile
    {
        display: none !important;
    }

}

@media screen and (max-width:   600px) {
    .hpw .drop-down-3
    {
        margin-top: 6.5% !important;
    }
}
@media only screen and (max-width:   478px) {

    .hpw .mobile-view-text
    {
        display: inline !important;
    }
}
@media screen and (max-width:   380px) {
    .hpw .search-btn-width
    {
        width:32.19% !important;
    }
}

@media screen and (max-width:   335px) {
    .hpw .search-btn-width
    {
        width:32.09% !important;
    }
}

@media screen and (max-width:   300px) {
    .hpw .search-btn-width
    {
        width:31.59% !important;
    }
}


.hpw .header-item
{
    padding-top: 10px;
}

.hpw .header
{
    background: none !important;
    position: absolute;
    font-size: 14px;
    min-width: 1024px;
    /*position: fixed;*/
    z-index: 1005;
    height: 44px;
    left: 0;
    right: 0;
    padding: 0 10px;
    top: 0;
    color: #fff;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hpw .navbar-head
{
    position: absolute;
    z-index: 1000;
    width:100%
}

.hpw .header .header-group {
    height: 44px;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    padding-left: 10px;
}

.hpw .header .header-title
{
    color: #ffffff;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.hpw .header-logo
{
    margin-right: 12px;
    margin-top:10px;
    box-shadow: 0px 0px 50px #FFF;
    border: 1px solid #FFF;
}

.hpw .landing-center {
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 10%;
    width: 100%;
    text-align: center;
    height: inherit;
    /*background: rgba(0,0,0,0.5);*/
    /*background : rgba(34, 34, 32, 1);*/
    background: linear-gradient(0deg, #27ADA8  10%, #08697B 90%);
    background: -webkit-linear-gradient(0deg, #27ADA8  10%, #08697B 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(0deg, #27ADA8  10%, #08697B 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(0deg, #27ADA8  10%, #08697B 90%); /* IE10 */
    background:      -o-linear-gradient(0deg, #27ADA8  10%, #08697B 90%); /* Opera 11.10+ */
    /*background:         linear-gradient(0deg, #2DBE90 10%, #078056 90%); /!* W3C *!/ background: linear-gradient(0deg, #2DBE90 10%, #078056 90%);*/
    /*background: -webkit-linear-gradient(0deg, #2DBE90 10%, #078056 90%); /!* Chrome 10+, Saf5.1+ *!/*/
    /*background:    -moz-linear-gradient(0deg, #2DBE90 10%, #078056 90%); /!* FF3.6+ *!/*/
    /*background:     -ms-linear-gradient(0deg, #2DBE90 10%, #078056 90%); /!* IE10 *!/*/
    /*background:      -o-linear-gradient(0deg, #2DBE90 10%, #078056 90%); /!* Opera 11.10+ *!/*/
    /*background:         linear-gradient(0deg, #2DBE90 10%, #078056 90%); /!* W3C *!/*/

}

.hpw .h1 {
    font-weight: bold;
    font-size: 53px;
    line-height: 68%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}

.hpw .h4 {
    font-weight: bold;
    font-size: 23px;
    line-height: 68%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    padding-top: 10px;
}

.hpw .search-bar
{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.hpw .search-input
{
    width: 47%;
    border: cadetblue 1px solid;
    height: 44px;
    height: 44px;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
}

.hpw .main-title
{
    font-size: 30px;
    line-height: 1;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    padding-top: 10px;
    font-family: 'Jura',sans-serif;
}

.hpw .main-subtitle
{
    font-size: 15px;
    line-height: 1;
    color: #E8E6E6;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.4);
    padding-top: 2%;
    font-family: 'Jura',sans-serif;
}

.hpw .m_top_10
{
    margin-top: 10px;
}

.hpw .filter-container{
    background: #ffffff;
    box-shadow: 0px 0px 15px #7B7B7B;
    height: auto;
}

.hpw .filter-text-highlight
{
    height: 20%;
    background-color: rgb(228, 227, 226);
}

.hpw .p-bottom-3
{
    padding-bottom: 3px;
}

.hpw .p-bottom-4
{
    padding-bottom: 4px;
}

.hpw .p-bottom-10
{
    padding-bottom: 10px;
}

.hpw .advance-filter-content
{
    padding-top: 3px;
}

.hpw .filter-item-border
{
    padding: 10px;
}

.hpw .p-top-10
{
    padding-top: 10px !important;
}

.hpw .p-top-20
{
    padding-top: 20px !important;
}

.hpw .p-top-7
{
    padding-top: 7px !important;
}

.hpw .p-top-100
{
    padding-top: 100px;
}



.hpw .p-bottom-100
{
    padding-bottom: 100px !important;
}

.hpw .p-right-10
{
    padding-right: 10px;
}

.hpw .p-right-10-p

{
    padding-right: 10%;
}

.hpw .select-items
{
    padding: 5px;
    line-height: 10px;
}

.hpw .select-items:hover
{
    padding: 5px;
    background-color: rgb(221, 219, 239);
    line-height: 10px;
}

.hpw .border-style-right
{
    border-right: 1px solid rgb(213, 213, 213);
    border-right-style: dotted;
}

.hpw .border-style-bottom
{
    border-bottom: 3px solid rgb(49, 176, 213);
}

/* description page styles */
.hpw .description-page
{
    /*background-color: #6AC3AF;*/
    padding-top: 10px;
    position: relative;
    /*color: #fff;*/
}

.hpw .negetive-z-index
{
    z-index:-1000;
}

.hpw .footer-main-content
{
    font-weight: 700;
}

.hpw .p-top-30
{
    padding-top: 30px;
}

.hpw .p-top-40
{
    padding-top: 30px;
}

.hpw .font-16
{
    font-size: 16px;
}

.hpw .p-left-16
{
    padding-left: 16px;
}

.hpw .p-left-5
{
    padding-left: 5px !important;
}

.hpw .p-left-10
{
    padding-left: 10px !important;
}

.hpw .p-left-1
{
    padding-left: 1px;
}

.hpw .width-75
{
    width: 75% !important;
}

.hpw .width-50
{
    width: 50% !important;
}

.hpw .width-81
{
    width: 81% !important;
}

.hpw .text-desc
{
    color:#9494B3 !important;
}

.text-bolder
{
    font-weight: bolder !important;
}

.text-font-800
{
    font-weight: 800;
}

.hpw .description-content
{
    padding-top: 15px;
}

.hpw .text-orange
{
    color: orange;
}

.hpw .description-tab
{
    padding-top: 10px;
}

.hpw .description-tab:hover
{
    background-color: rgb(218, 232, 231);
}

.hpw .description-title
{
    color: rgb(5, 99, 145);
    font-weight: bolder;
}

/* footer page */
.hpw .footer-page
{
    background-color: rgba(0, 0, 0, 0.82);
    color: #ffffff;
    padding-top: 10px;
}

.hpw .no-padding
{
    padding:0px !important;
}

.hpw .no-left-padding
{
    padding-left:0px !important;
}

.hpw .no-right-padding
{
    padding-left:0px !important;
}

.hpw .no-bottom-padding
{
    padding-bottom:0px !important;
}

.hpw .border-bottom-gray
{
    border-bottom: 1px solid rgb(94, 93, 93);
}

.hpw .p-5
{
    padding: 5px;
}

.hpw .p-1
{
    padding: 1px !important;
}

/* css for line seperator */
/* Gradient transparent - color - transparent */

hr.style-one {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(35, 17, 142, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* result page styles goes here */
.hpw .fixed-pos
{
    position: fixed;
}

.hpw .height-80
{
    height: 80%;
}

.hpw .height-45-px
{
    height: 45px !important;
}

.hpw .height-128
{
    height:128px !important;
}

.hpw .height-100-px
{
    height:100px;
}

.rpw .header
{
    padding-bottom: 10px;
    background-color: #000000 !important;
}

.rpw .logo{
    height: auto;
    padding: 4px;
    width: auto;
}

.rpw .header-btn
{
    padding-top: 4px;
}

.hpw .text-white
{
    color: #fff;
    font-weight: 200;
}

.hpw .btn-text-white
{
    color: #fff !important;
}

.hpw .btn .btn-danger:hover
{
    background-color: #808080;
}

.hpw .p4
{
    padding: 4px;
}

.hpw .p8
{
    padding: 8px;
}

.hpw .border-right-1
{
    border-right: 1px solid #474747;
}

.hpw .m-bottom-0
{
    margin-bottom: 0px !important;
}

.hpw .no-border
{
    border:0px !important;
}

.hpw .p-left-35
{
    padding-left: 35%;
}

#result-page-menu-wrapper
{
    position: fixed;
    width: 100%;
    z-index:100;
}

.hpw .search-result
{
    height: 100%;
}

/* METRO UI {main search result styles goes here} */
.srw .metro-ui-wrapper
{
    position: relative;
    min-height: 700px;
    /*margin-top: -22px;*/

    /*background: -webkit-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* Chrome 10+, Saf5.1+ *!/*/
    /*background:    -moz-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* FF3.6+ *!/*/
    /*background:     -ms-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* IE10 *!/*/
    /*background:      -o-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* Opera 11.10+ *!/*/
    /*background:         linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* W3C *!/*/

    background: -webkit-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* W3C */

}

.srw .main-tiles-frame
{
    padding-left: 5%;
    padding-right: 5%;
}

.srw .individual-tiles
{
    height: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 7px solid rgba(0,0,0,0);
    color: #fff;
    font-weight: 500;
    min-height: 150px;

    /* tiles background image */
    /*background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQim4Ld4E0wIBtLvPIpRjo1haCIrbcSRrq2bE9CJfDCHi2iJP_eBA');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /* z-index: 1000000000; */

}

.srw .individual-tiles:hover
{
    /*border: 3px solid rgba(104,104,104,0.8) ;*/
    box-shadow:inset 0px 0px 0px 3px rgba(141,141,141,0.8);
}

.srw .lightbox
{
    background-color: white;
    background-clip: padding-box;
    border: 20px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 30px;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 200px;
}

.hpw .bg-violet{
    background-color: violet;
    opacity: 0.9;
}
.hpw .bg-blue{
    background-color: blue;
    opacity: 0.6;
}
.hpw .bg-green{
    background-color: green;
}
.hpw .bg-yellow{
    background-color: #ffff00;
}

.hpw .p3
{
    padding: 3px !important;
}

.hpw .p10
{
    padding: 10px !important;
}


.srw .row-1
{
    min-height: 10px;
}

.srw .row1,.row-2,.row-3,.row-4
{
    height: 25%;
}

.srw .block
{
    height: 37px;
}

.srw .block-row-2
{
    height: 73px;
    color: black;
}

.srw .block-1
{
    background-color: rgba(23, 187, 106, 1);
}

.srw .block-2
{
    background-color: rgba(23, 187, 106, 1);
}

.srw .block-3
{
    background-color: rgba(23, 187, 106, 1);
}

.srw .block-4
{
    background-color: #fff;
}

.srw .block-5
{
    background-color: rgba(173, 173, 173, 1);
}

.srw .row-1,.row-2,.row-3
{
    height: 33%;
}

.srw .block
{
    padding-top: 3%;
}

.hpw .pointer
{
    cursor: pointer;
}

.hpw .text-10
{
    font-size: 10px;
}

.hpw .text-12
{
    font-size: 12px;
}

.hpw .text-yellow
{
    color: yellow;
}

.hpw .text-golden
{
    color: rgb(221, 177, 2);
}

.hpw .orange
{
    background-color: rgb(255,128,64) !important;
    color:#fff;
}

.hpw .green
{
    background-color: rgb(0, 128, 64); !important;
    color:#fff;
}

.hpw .blue
{
    background-color: cadetblue !important;
}

.hpw .red
{
    background-color: rgb(235, 51, 51) !important;;
}
.hpw .white
{
    background-color: #ffffff !important;
}

.hpw .cyan
{
    background-color: rgb(8, 111, 111) !important;
    color:#fff;
}

.hpw .pink
{
    background-color: rgba(255, 0, 0, 0.73) !important;
    color:#fff;
}

.hpw .block-1,.block-2,.block-3,.block-4,.block-5,.block-6,.block-7:not(.tile-text)
{
    opacity: 0.8;
}

.rm .block-1,.block-2,.block-3,.block-4,.block-5,.block-6,.block-7:not(.tile-text)
{
    opacity: 1 !important;
}

.hpw .text-white
{
    color:#fff !important;
}

.hpw .text-open-sans
{
    font-family: 'Open Sans', sans-serif;
}

.hpw .text-italics
{
    font-style: italic;
}

.hpw .seperator-bg
{
    /*background-color: rgb(3, 98, 88) !important;*/
}

.hpw .text-red
{
    color:rgb(255, 0, 0);
}

.hpw .text-black
{
    color:rgb(0, 0, 0);
}

.hpw .text-blue
{
    color:rgb(0, 42, 255);
}

.hpw .detailed-page
{
    background-color: rgba(52, 178, 139, 0.88);
    min-height: 100px;
}

/*background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQim4Ld4E0wIBtLvPIpRjo1haCIrbcSRrq2bE9CJfDCHi2iJP_eBA');*/







.metro .ul {
    /*min-width: 600px;*/
    position: relative;
    /*display: table;*/
    /*margin: 50px auto;*/
    clear: both;
}

.metro .ul .li {
    list-style: none;
    float: left;
}

.metro .ul .li a {
    width: inherit;
    height: inherit;
    float: left;
    /*margin: 0 10px;*/
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.metro .ul .li .front {
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.metro .ul .li:hover .front {
    -webkit-transform: rotateX(0deg) rotateY(180deg);
    -moz-transform: rotateX(0deg) rotateY(180deg);
    -ms-transform: rotateX(0deg) rotateY(180deg);
    -o-transform: rotateX(0deg) rotateY(180deg);
}

.metro .ul .li .back {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    z-index: -1;
    -webkit-transform: rotateX(0deg) rotateY(-180deg);
    -moz-transform: rotateX(0deg) rotateY(-180deg);
    -ms-transform: rotateX(0deg) rotateY(-180deg);
    -o-transform: rotateX(0deg) rotateY(-180deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.metro .ul .li:hover .back {
    z-index: 1;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
}

.metro .ul .li i {
    /*line-height: 100px !important;*/
    color: white;
    vertical-align: middle !important;
}

.metro .ul .li span {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    line-height: 100px;
    color: white;
    text-transform: lowercase;
    vertical-align: middle;
}

.metro .ul .li.color-1 .front,
.metro .ul .li.color-1 .back {
    /*background-color: #e6567a;*/
}

.metro .ul .li.color-2 .front,
.metro .ul .li.color-2 .back {
    background-color: #00c0e4;
}

.metro .ul .li.color-3 .front,
.metro .ul .li.color-3 .back {
    background-color: #5bd999;
}

.metro .ul .li.color-4 .front,
.metro .ul .li.color-4 .back {
    background-color: #7658f4;
}

.metro .ul .li.color-5 .front,
.metro .ul .li.color-5 .back {
    background-color: #eac14d;
}

.hpw .text-gray
{
    color: #e3e3e3 !important;
}

.hpw .width-100
{
    width:100% !important;
}

.hpw .width-100-px
{
    width: 100px !important;
}

.hpw .width-250-px
{
    width: 250px !important;
}

.hpw .width-190-px
{
    width: 190px !important;
}

.hpw .tile-row
{
    padding-left: 3px;
    padding-right: 3px;
    width: 110%;
}

.hpw .fa-15
{
    font-size: 1.5em;
}

.class-map-ctrl{
    height:500px;
    width: 100%;
}

.class-map-ctrl-style1
{
    height: 350px;
    width:100%;
}

.hpw .footer-icon-style
{
    background-color: rgb(0, 139, 255);
    padding: 2px;
    border-radius: 69px;
}

.hpw .footer-list:hover
{
    background-color: rgb(90, 90, 76);
}

.hpw .footer-list-blue:hover
{
    background-color: rgb(15, 199, 215);
    border-radius: 9px;
}

.hpw .text-sky-blue
{
    color: #0FB;
}

.hpw .fb-icon
{
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(55, 110, 184);
}

.hpw .linked-icon
{
    background-color: rgb(0, 168, 255);
    padding: 3px;
}

.hpw .pinterst-icon
{
    background-color: rgb(255, 0, 0);
    padding: 4px;
}

.hpw .twitter-icon
{
    background-color: rgb(67, 163, 242);
    padding: 3px;
}

.hpw .metal-gray
{
    background-color: rgb(205, 205, 205);
}

.hpw .gray
{
    background-color: rgb(228, 227, 226);
}

.hpw .play-store-bg
{
    background-color: rgb(10, 165, 165);
}

/* front page mobile app styles */
.hpw .mobile-app-page
{
    background-color: #fff;
    height: 100px;
}

.hpw .ezeid-id-style
{
    color: #fff;
    /* padding-left: 2px; */
    /* padding-right: 2px; */
    background-color: #008B8B;
    border: 1px solid #008B8B;
}

.hpw .text-dark-blue
{
    color: rgb(14, 7, 128);
}

.hpw .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.hpw .header-link:hover
{
    background-color: #fff !important;
    color:black !important;
}

.hpw .header-dropdown-style>li>a
{
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.hpw .header-dropdown-style>li>a:hover
{
    background-color: rgb(211, 229, 244);
}

.hpw .ezeid-eze-style
{
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    border: 1px solid #008b8b;
    color: #008b8b;
}

.hpw .mobile-title-content
{
    color:gray;
    padding-top: 50px;
}

.hpw .text-webkit-center
{
    text-align: -webkit-center;
}

/* tile css */
.hpw .mobile-individual-tile
{
    /*height: 100px;*/
    width:100%;
}

.hpw .mobile-individual-tile-search-result
{
    height: auto;
    width:100%;
}

.hpw .mobile-tile1
{
    background-color: rgba(24, 0, 227, 0.6);
}

.hpw .mobile-tile2
{
    background-color: rgba(227, 0, 57, 0.6);
}

.hpw .mobile-tile3
{
    background-color: rgba(10, 241, 161, 1);
}

.hpw .mobile-tile4
{
    background-color: rgba(0, 175, 227, 0.86);
}

.hpw .mobile-tile5
{
    background-color: rgb(174, 144, 253);
}

.hpw .mobile-tile6
{
    background-color:rgba(11, 7, 82, 0.54);
}


.hpw .mobile-tile7
{
    background-color:rgba(255, 44, 0, 0.75);
}


.hpw .width-170-px
{
    width: 170px;
}

.hpw .width-130-px
{
    width: 130px;
}



.tl .container {
    position:relative;
    overflow:hidden;
}
.tl .container .textbox {
    padding-top: 40px;
    width: 91%;
    height: 97%;
    position: absolute;
    top: -8px;
    left: 14px;
    margin-top: -450px;
    /* border-radius: 5px; */
}

.container .tile1
{
    background-color: rgba(24, 104, 145, 0.94) !important;
}

.container .tile2
{
    background-color: rgba(126, 56, 120, 0.94);
}

.container .tile3
{
    background-color: rgba(45, 137, 239, 0.94);
}

.container .tile4
{
    background-color: rgba(185, 29, 71, 0.94);
}

.container .tile5
{
    background-color: rgba(0, 171, 169, 0.95);
}

.container .tile6
{
    background-color: rgba(226, 83, 20, 0.94);
}

.tl .textbox {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.tl .textbox {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.tl .textbox {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.no-box-shadow
{
    -webkit-box-shadow: none !important;
}

.tl .container:hover .textbox {
    margin-top:0;
}
.tl .text {
    padding-top: 50px;
}
.tl .textbox {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.hpw .p-top-30
{
    padding-top: 30px;
}

.hpw .p-bottom-20
{
    padding-bottom: 20px;
}

.hpw .tile-initial-image
{
    padding-top: 23px
}

.hpw .mobile-page-heading
{
    color: rgb(150, 142, 142);
}

.hpw .mobile-page-heading > span
{
    color:gray;
}

.hpw .bg-orange-shade-1
{
    background-color: rgb(243, 126, 61);
    color:#fff;
}

.hpw .bg-green-shade-1
{
    background-color: rgb(0, 176, 80);
    color:#fff;
}

.hpw .bg-blue-shade-1
{
    background-color: rgb(44, 110, 170);
    color:#fff;
}

.hpw .bg-blue-shade-2
{
    background-color: rgb(0, 51, 102);
    color:#fff;
}

.hpw .bg-orange-shade-2
{
    background-color: rgb(255, 102, 0);
    color:#fff;
}

/* SPRITE IMAGE CSS */

.si {
    display: inline-block;
    background: url('../images/sprite_icons.png') no-repeat;
    /*width: 64px;*/
    height: 32px;
    overflow: hidden;
    zoom:0.5;
    -moz-transform:scale(0.5);
    -moz-transform-origin: 0 0;
}

[class^="si-"]{
    display: inline-block;
    background: url('../images/sprite_icons.png') no-repeat;
    /*width: 64px;*/
    height: 32px;
    overflow: hidden;
    zoom:0.5;
    -moz-transform:scale(0.5);
    -moz-transform-origin: 0 0;
}

.si-huge{

    zoom:1;
    -moz-transform:scale(1);
    -moz-transform-origin: 0 0;
}

.si-big{
    zoom:0.60;
    -moz-transform:scale(0.60);
    -moz-transform-origin: 0 0;
}

.si-small{
    zoom:0.29;
    -moz-transform:scale(0.29);
    -moz-transform-origin: 0 0;
}


.si-access-history
{
    width:30px;
    background-position: 0px 0px;
}

.si-black-white-list
{
    width:30px;
    background-position: -34px 0px;
}

.si-bulk-mail
{
    width:30px;
    background-position: -67px 0px;
}

.si-pie-chart
{
    width:30px;
    background-position: -100px 0px;
}

.si-change-passwd
{
    width:30px;
    background-position: -132px 0px;
}

.si-verified
{
    width:30px;
    background-position: -166px 0px;
}

.si-closed
{
    width:30px;
    background-position: -199px 0px;
}

.si-facebook
{
    width:30px;
    background-position: -232px 0px;
}

.si-linkedin
{
    width:30px;
    background-position: -265px 0px;
}

.si-left-quote
{
    width:30px;
    background-position: -298px 0px;
}

.si-map-marker-red
{
    width:30px;
    background-position: -332px 0px;
}


.si-map-marker-blue
{
    width:30px;
    background-position: -365px 0px;
}


.si-envelope
{
    width:30px;
    background-position: -396px 0px;
}


.si-user-many
{
    width:32px;
    background-position: -430px 0px;
}


.si-mobile
{
    width:30px;
    background-position: -464px 0px;
}

.si-user
{
    width:30px;
    background-position: -496px 0px;
}


.si-parking-no
{
    width:30px;
    background-position: -529px 0px;
}


.si-verified-document
{
    width:30px;
    background-position: -561px 0px;
}


.si-not-verified-document
{
    width:30px;
    background-position: -593px 0px;
}


.si-open
{
    width:30px;
    background-position: -630px 0px;
}

.si-parking
{
    width:30px;
    background-position: -661px 0px;
}

.si-pie-chart-original
{
    width:30px;
    background-position: -694px 0px;
}

.si-sign-out
{
    width:30px;
    background-position: -728px 0px;
}

.si-pinterest
{
    width:30px;
    background-position: -760px 0px;
}

.si-sign-up
{
    width:30px;
    background-position: -793px 0px;
}

.si-user-cross
{
    width:30px;
    background-position: -827px 0px;
}

.si-right-quote
{
    width:30px;
    background-position: -860px 0px;
}


.si-telephone
{
    width:30px;
    background-position: -893px 0px;
}

.si-search-white
{
    width:32px;
    background-position: -924px 0px;
}


.si-twitter
{
    width:30px;
    background-position: -958px 0px;
}


.si-filter
{
    width:30px;
    background-position: -1025px 0px;
}

.si-checkbox-unchecked
{
    width:30px;
    background-position: -1057px 0px;
}

.si-shopping-cart
{
    width:30px;
    background-position: -1089px 0px;
}

.si-list
{
    width:30px;
    background-position: -1122px 0px;
}

/* Flipping Tiles styles for result page goes here */
.newRedBanner
{
    width: 356px;
    height: 356px;
    background: #ff0000;
    text-align: center;
    color: #ffffff;
}

.hpw .advance-filter
{
    position: absolute;
    z-index: 10000 !important;
}

#mydiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2000;
    background-color:grey;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}

.hpw .card {
    /*width: 100px;*/
    /*height: 100px;*/
    /*margin: 20px;*/
    display: inline-block;
}

.hpw .front, .back {
    /*border: 2px gray solid;*/
    /*padding: 10px;*/
}
.hpw .front {
    /*background-color: #ccc;*/
}
.hpw .back {
    /*background-color: red;*/
}


/***************************for flipping tiles test************/

.hpw .no-margin
{
    margin: 0px !important;
}

.hpw .height-auto
{
    height: auto !important;
}

.hpw .flip-card
{
    height: 10em;
}

.hpw .metro-bg-1
{
    background-color: #ea6153;
}

.hpw .metro-bg-2
{
    background-color: rgb(30,113,69);
}

.hpw .metro-bg-3
{
    background-color: rgb(43,87,151);
}

.hpw .metro-bg-4
{
    background-color:  #e3a21a;
}

.hpw .metro-bg-5
{
    background-color: #16a085;
}

.hpw .metro-bg-6
{
    background-color: #e74c3c;
}

.hpw .metro-bg-7
{
    background-color: rgb(153,180,51);
}

.hpw .metro-bg-8
{
    background-color: #e67e22;
}

.hpw .metro-bg-default
{
    background-color: #2c3e50;;
}

.hpw .text-0-9{
    font-size: 0.9em;
}

.hpw .text-0-75{
    font-size: 0.75em;
}

.hpw .text-1-9{
    font-size: 1.9em;
}
.hpw .text-0-64{
    font-size: 0.64em;
}

.hpw .text-0-8{
    font-size: 0.8em;
}

.ow .menu-style li p
{
    padding: 8px;
    background-color: #E7E7E7;
    color: #0DA3D8;
    padding-left: 20px;
    cursor: pointer;
}

.ow .menu-style li .active
{
    background-color: #60BFD5;
    color: #ffffff;
}

.ow .menu-style li p:hover
{
    background-color: #D9ECFF;
    color: #0DA3D8;
}

.hpw .shadow-border
{
    box-shadow: 10px 10px 5px rgb(228, 228, 236);
}

.ow .menu-text
{
    color: #0072C3;
}

.ow .outbox-main-content
{

}

.ow .individual-transaction-right
{
    background-color: aliceblue;
    height: auto;
}

.ow .individual-transactions
{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
}

/* styles for Reservation Module */
.rm .blk
{
    border-left:1px solid rgb(239, 239, 239);
    border-right:1px solid rgb(239, 239, 239);
}

.rm .blk-0-6
{
    height: 0.6em;
}

.rm .blk-0-8
{
    height: 0.8em;
}

.rm .blk-1-0
{
    height: 1.0em;
}

.rm .blk-1-1
{
    height: 1.1em;
}

.rm .blk-1-2
{
    height: 1.2em;
}

.rm .blk-1-4
{
    height: 1.4em;
}

.rm .blk-1-6
{
    height: 1.6em;
}

.rm .blk-1-8
{
    height: 1.8em;
}

.rm .blk-2-0
{
    height: 2.0em;
}

.rm .blk-2-2
{
    height: 2.2em;
}
.rm .blk-content .wrap-text:hover
{
    color:black !important;
}
.rm .blk-content:hover
{
    background-color:rgb(166, 255, 221) !important;
}

.hpw .footer-extreme
{
    background-color: rgb(216, 211, 211);
    color: black;
    font-weight: bolder;
}

.hpw .direction-btn
{
    font-size: 18px;
    color: rgb(255, 242, 0);
}

.hpw .direction-btn:hover
{
    color:rgb(0, 255, 236);
}

.rm .wrap-text > p
{
    word-wrap: break-word;
    padding: 2px;
    /*font-weight: 600;*/
    /*font-style:italic;*/
    font-size: smaller;
}

.rw .notes-heading
{
    text-align: center;
    color:#fff;
    background-color: #4889ff;
    height: 1.5em;
}

.rw .color-code-heading
{
    text-align: center;
    color:#fff;
    background-color: rgba(255, 86, 72, 0.76);
    height: 1.5em;
}

.rw .notes-content
{
    padding-left: 2px;
    border-bottom: 1px solid lightgray;
    font-style: italic;
}

.rw .notes-content:hover
{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.hpw .border-light-gray
{
    border: 1px solid rgb(236, 221, 221);
}

.rw .ezeid-title
{
    font-size: x-large;
    text-align: right;
    color: rgb(11, 160, 165);
    padding-bottom: 5px;
}

.rw .ezeid-resource
{
    padding-bottom: 5px;
    text-align: center;
}

.rw .reservation-form p
{
    font-size: larger;
    padding-top: 4px;
}

.hpw .strike-text
{
    text-decoration: line-through;
}

/* Payment API page styles */
.payment-gatewa
{
    background-color: #e4e4e4;
}
.payment-page-title
{
    text-align: center;
    background-color: aliceblue;
    padding: 2px;
}

.hpw .box.box-primary {
    border-top-color: #3c8dbc;
}

.hpw .box.box-danger {
    border-top-color: #dd4b39;
}

.hpw .box.box-success {
    border-top-color: #00a65a;
}

.hpw .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.hpw .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.hpw .box-body
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.hpw .box
{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.hpw .no-style-link:hover
{
    text-decoration: none;
}
.hpw .no-style-link:visited
{
    text-decoration: none;
}

.hpw .lbl-box2 {
    display: inline-block;
    height: 100px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: -4px;
    left: -4px;
    width: 100px;
    z-index: 99;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hpw .lbl-box2 .newafter {
    position: absolute;
    right: -1px;
    top: 0;
    width: 7px;
    height: 4px;
}

.hpw .lbl-box2 .new {
    position: relative;
    top: 28px;
    left: -28px;
    height: 24px;
    width: 140px;
    background: rgba(178, 0, 239, 0.82);
    position: relative;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -kthtml-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hpw .transaction-item
{
    padding: 5px;
    text-align: center;
    border: 1px solid grey;
}

sup.tm{
    top: -2em;
    font-size: 8px;
    padding-right: 3px;
    margin-left: -9px;
}

.hpw #calendar-block .xdsoft_label
{
    z-index: 0;
}

.ow .service-dropdown .btn
{
    text-align: left;
}

.ow .service-dropdown-style > li:hover
{
    background-color: aliceblue;
}
.ow .service-dropdown-style > li
{
    background-color: #ffffff;
    padding: 2px;
    padding-left: 5px;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}

.hpw .page-content
{
    min-height: 400px;
}

.hpw .panel-outbox-content
{
    background-color: rgb(241, 242, 247);
}

.hpw .inbox-head
{
    padding: 20px;
    background: #41cac0;
    color: #fff;
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    min-height: 80px;
    font-family: 'Open Sans Light', sans-serif;
}

.hpw .inbox-head-left
{
    padding: 12px;
    background: #00a8b3;
    color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    min-height: 80px;
    font-family: 'Open Sans Light', sans-serif;
}

.hpw .bg-inbox-profile
{
    background: #00a8b3;
}

.hpw ul.inbox-nav {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hpw ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}

.hpw ul li {
    list-style: none;
}

.hpw .index-menu
{
    background-color: aliceblue;
}

.hpw .index-menu-item > a
{
    padding: 20px;
    text-decoration: none;
    color: #301152;
}

.hpw .index-menu ul li .active {
    background-color: rgb(182, 211, 255);
}
.hpw .index-menu ul > li:hover
{
    background-color: #E7E7E7;
}

.hpw .index-menu .group
{
    padding-left: 10px;
    background-color: #D4FFB6;
}

.hpw .index-menu .people
{
    background-color: #FCFF8E;
    padding-left: 10px;
}

.hpw .message-content-tbl
{
    padding: 10px;
}

.hpw .message-table
{
    padding-left: 10px;
}

.hpw .index-title
{
    border-bottom: 1px solid rgb(203, 203, 203);
}

.hpw .index-title-group
{
    /*background-color: rgb(119, 253, 119) !important;*/
    background-color: rgb(161, 220, 250) !important;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding-left:0px !important;
}

.hpw .index-title-people
{
    /*background-color: yellow !important;*/
    background-color: rgb(161, 220, 250) !important;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding-left:0px !important;
}

.hpw .individual-box
{
    border: 1px solid rgb(199, 196, 196);
    min-height: 100px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #FFF;
    /* border: 1px solid rgb(189, 189, 189); */

}

.hpw .individual-box-title
{
    font-size: 3.5em;
    padding: 41px;
    color: rgb(144, 142, 142);;
}

.hpw .individual-box-heading
{
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    /*text-shadow: 1px 1px rgb(129, 129, 129);*/
}

.hpw .individual-box-img
{
    width: 69%;
}

.hpw .individual-box-description
{
    /* padding-top: 10px; */
    text-align: center;
    font-size: 0.99em;
    font-family: 'Open Sans',sans-serif;
    /* padding-bottom: 10px; */
    padding: 10px;
}

.hpw .tag-line-text
{
    font-size: 1.5em;
    font-weight: 600;
    font-style: inherit;
    text-shadow: 1px 1px rgb(95, 90, 90);
    color: #000 !important;
}

.hpw .tag-line-text-desc
{
    text-align: center;
    font-size: 1.1em;
    /*font-family: cursive;*/
    font-weight: bold;
}

.hpw .head-text-gradient
{
    padding: 3px;
    padding-left: 15px;
    color: #fff;
    font-size: 1.2em;

    padding-top: 10px;
    padding-left: 14%;
    text-shadow: 1px 1px #B7AFC7;

    background: -webkit-linear-gradient(90deg, #16915E   10%, #E8E9FF  90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #16915E   10%, #E8E9FF  90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #16915E   10%, #E8E9FF  90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #16915E   10%, #E8E9FF  90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #16915E   10%, #E8E9FF  90%); /* W3C */
}

.hpw .head-text-gradient1
{
    padding: 3px;
    padding-left: 15px;
    color: #fff;
    font-size: 1.2em;

    padding-top: 10px;
    padding-left: 14%;
    text-shadow: 1px 1px #B7AFC7;

    background: -webkit-linear-gradient(90deg, #00786C   10%, #E8E9FF  90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #00786C   10%, #E8E9FF  90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #00786C   10%, #E8E9FF  90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #00786C   10%, #E8E9FF  90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #00786C   10%, #E8E9FF  90%); /* W3C */
}

.hpw .desc-bg-color
{
    background-color: rgba(197, 197, 197, 0.1);
}
.hpw .desc-bg-color1
{
    background-color: #33C3A8;
}

.hpw .text-box-justify
{
    padding: 10px;
    text-align: justify;
    font-size: 1.1em;
    font-weight: 100 !important;
    font-style: italic;
}

.hpw .btn-dark-blue
{
    color: #fff;
    background-color: #08697B;
    border-color: rgba(31, 237, 17, 0);
}

.hpw .btn-dark-orange
{
    color: #fff;
    background-color: #ED8D05;
}

.hpw .business-heading
{
    font-size: 30px;
    line-height: 1;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    padding-top: 10px;
    font-family: 'Jura',sans-serif;
    text-align: center;
}

.hpw .business-desc
{
    color: #fff;
    padding-top: 20px;
    text-align: justify;
    text-shadow: 0px 1px #FAFAFA;
}

.hpw .compose-message
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(133, 134, 195);
    color: #fff;
    padding-left: 10px;
    font-weight: 800;
}

.hpw .message-body
{
    background-color: rgb(228, 228, 228);
    padding: 10px;
}

.hpw .filters-dropdown
{
    padding: 7px;
}

.hpw .panel-heading
{
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
    line-height: 20px;
}

.hpw .panel-danger
{
    background: #ff6c60;
}

.hpw .panel-primary
{
    background: #01a89e;
}

.hpw .bg-alice-blue
{
    background: aliceblue;
}

.hpw .star-rating
{
    /*color: rgb(0, 197, 255);*/
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
}

.hpw .star-rating-color
{
    color: rgb(0, 197, 255);
}

.hpw .star-rating-no-color
{
    color: rgb(205, 205, 205);
}

.modal-no-css .modal-body
{
    border: 0px !important;
    padding: 0px !important;
}

.modal-no-css .modal-content{
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 0px !important;
    box-shadow: 0px 0px 0px !important;
    border:0px !important;
}

.modal-no-css .modal-header
{
    border:0px !important;
    display: none !important;
}

.modal-no-css .feedback-form
{
    width: 60%;
}

.feedback-form
{
    display: table !important;
    margin: 0px auto;
    width:100% !important;
}

.hpw .image-round
{
    border-radius: 50%;
    border: 5px solid rgb(42, 165, 155);
}

.hpw .profile-rating
{
    padding-top: 3%;
}

.hpw .selected-user-profile
{
    padding: 14px;
    background-color: #6EDBD6;
    color: #fff !important;
    /*border-right: 24px solid lightgrey;*/
    border-left: 24px solid rgb(206, 230, 232);;
}

.hpw .profile-description
{
    min-height: 100%;
    border-right: 1px solid rgb(239, 239, 239);
    padding-top: 5%;
}

.hpw .profile-ezeid-style
{
    color: #fff;
    font-size: 2em;
    font-weight: 800;
}

.hpw .fr-text
{
    background-color: rgb(1, 82, 82);
    color: white;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(211, 202, 202);
}

/*CSS3 extras*/
.hpw a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

.hpw .business-img-text-align
{
    text-align: right;
}

.hpw .business-mobile-desc-padding
{
    padding-top: 100px;
}

.jsr .content-bg
{

    background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */

}

.jsr .sorting-block
{
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 2px 2px 5px #888888;
}

.jsr .job-filter-content
{
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgb(210, 202, 202);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.jsr .location-individual
{
    padding-top: 5px;
    padding-left: 11px;
    font-size: 0.9em;
    color: gray;
}

.jsr .result-info-div
{
    padding-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.jsr .filter-div
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.jsr .filter-heading
{
    font-size: 1.2em;
}

.jsr .job-main-content
{
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgb(210, 202, 202);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.jsr .tile-head
{
    color: rgb(28, 160, 160);
    font-size: 1.3em;
    background-color: azure;
}

.jsr .company-name
{
    padding-left: 20px;
    color: #7B7373;
}

.jsr .tile-content
{
    padding-left: 20px;
    color:rgb(110, 108, 108);
}

.jsr .individual-tiles{
    padding-bottom: 10px;
}

.jdv .detail-content-bg
{
    background-color: rgb(242, 242, 242);
}

.hpw .text-dark-gray
{
    color:gray;
}

.hpw .button-bg-style
{
    padding: 10px;
    background-color: rgb(18, 105, 126);
}

.hpw .btn-search-opt
{
    background-color: #104B84;
    color:#fff;
}

.hpw .btn-search-opt:hover
{
    background-color: #14898E;
    color:#fff;
}

.hpw .width-33-prcnt
{
    width: 32.9% !important;
}

.hpw .width-25-prcnt
{
    width: 25% !important;
}

.hpw .advance-filter-btn
{
    padding-left: 10px;
    background-color: rgb(18, 105, 126);
    padding: 2px 10px 2px 10px;
}

.hpw .btn-gray
{
    background-color: #DADADA;
    color:#000;
}

.hpw .opt-group .selected
{
    background-color: orange;
    color: #fff;
}

.hpw .filter-dropdown
{
    position: absolute;
    padding-top: 3px;
    background-color: #fff;
    z-index: 999;
    padding: 4px;
    width: 25%;
    border: 1px solid rgb(161, 161, 161);
}

.hpw .drop-down-1
{
    padding-left: 33.5%;
    position: absolute;
}

.hpw .drop-down-2
{
    padding-left: 67%;
    position: absolute;
}

.hpw .drop-down-3
{
    position: absolute;
    margin-left: -31.8%;
    width: 55%;
    margin-top: 4.2%;
}

.hpw .drop-down-4
{
    /*padding-left: 66.9%;*/
    position: absolute;
}


.hpw .width-90
{
    width:90% !important;
}

.hpw .width-42
{
    width: 42%;
}

.hpw .select-option
{
    padding-left: 3px;
    cursor: pointer;
    padding: 3px;
}

.hpw .checkbox-dropdown
{
    padding-left: 3px;
    cursor: pointer;
    padding: 3px;
}

.hpw .checkbox-dropdown:hover
{
    background-color: rgb(42, 110, 169);
    color: #fff !important;
}

.hpw .select-option:hover
{
    background-color: rgb(42, 110, 169);
    color: #fff;
}

.hpw .search-btn-width
{
    width:32.89%;
}

.hpw .filter-dropdown .selected
{
    background-color: rgb(19, 165, 120);
    color: #fff;
}

.hpw .drop-down-4
{
    padding-left: 67%;
}

.hpw .abs-pos
{
    position: absolute;
}

.job-seeker-bg
{
    background-color: #F9F9F9;
}

.jss .salary-filter-type
{
    margin-left: 62.3%;
}

.hpw .table-head
{
    padding: 5px;
    background-color: #EFECEC;
    font-weight: 600;
    color: gray;
}

.hpw .table-body
{
    padding: 5px;
}

.hpw .table-striped-bg
{
    background-color: #EAEAF1;
}

.hpw .table-body:hover
{
    background-color: #5188CE;
    color: #fff;
    cusror:pointer;
}