.hSeparaterLine{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin-top: 1%;
    margin-left: 0px;
}
.addItemRow
{
    margin-top: 1%;
    background-color:lightgray;
    padding-bottom: 1.5%;
}
