.hSeparaterLine{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin-top: 1%;
    margin-left: 0px;
}
.addItemRow
{
    margin-top: 1%;
    background-color:lightgray;
    padding-bottom: 1.5%;
}
.searchPageBoxContainer
{
    margin-left: 10px;
    margin-right:10px;
    border:1px
}

.top-clearfix{
    margin-top: 100px;
}
.SearchMarginLeft
{
    margin-left: 10px;
}
.helpAlign
{
    text-align: right;
    margin-right: 5px;
    margin-rop: 5px;
    padding-top: 5px;
}
.addItemRowUserEzeid1
{
    margin-left: 0px;
    text-align: center;
    color: #000;
    margin-right: 0px;
}
.addItemRowUserEzeid
{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    color: #000;
}
.setFontSize
{
    font-size: 16px;
    color:#000;
}
.ezeidTitle
{
    text-transform:uppercase;
    font-size: 16px;
    color: #0866A6;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #6d6E70;
}
.companyInfo
{
    text-align: center;
    color:#000;
    font-size: 14px;
}
.centerAlign
{
    text-align: center;
    font-size: 14px;
}
.setPanelPadding
{
    padding-top: 0px;
    padding-left: 0px;
    /*margin-left: 3%;*/
    margin-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.searchButtonMarginSet
{
    margin-left: 0px;
    margin-right: 0px;
}
.searchHeaderAlignment
{
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    padding-top:  0px;
}
.infoContainer
{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  /*  background-image: url(../images/infoBackground.png);*/
   /* height: 360px;*/
    height: auto;
    min-height: 375px;
    background: #e6f9ff;
}
.setRowLeftRightMarginZero
{
    margin-left: 0px;
    margin-right: 0px;
}
.setLeftRightPaddingZero
{
    padding-left: 0px;
    padding-right: 0px;
}
.fourteenFontSize
{
    font-size: 14px;
}
.mapColDiv
{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}
.helpTextColor
{
    color: #0866A6;
}
.searchBy
{
    width: 20.666667%;
    padding-right: 0px;
}
.normalFontSize
{
    font-size: 14px;
}
.ezeidRadio
{
    width: 19.666667%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
}
.radioKeyword
{
    width: 25.333333%;
    padding-left: 0px;
    padding-right: 0px;
}
.jobKeyword
{
    width: 31%;
    padding-left: 0px;
    padding-right: 0px;
}
.radioTopMargin
{
    margin-top: 4%;
}
.searchRadioPadding
{
    padding-right: 0px;
    padding-left: 5px;
    text-align: left;
    /*width: 22%;*/
}
.searchRadioPadding1
{
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
}
.searchWithin
{
    padding-left: 5px;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;
    color: #808080;
}
.searchWithinBottom
{
    text-align: left;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;
    color: #808080;
    margin-top: 0px;
}
.showPlaces
{
    color: #808080;
    text-align: left;
}
.searchStarContainer
{
    margin-top: 0%;
    padding-left: 0px;
    width: 29.333333%;
    padding-right: 0px;

}
.topSearchRow
{
    background: #86d7ea;
    height: 36px;
}
.searchInfoLink
{
    border-left: 2px solid #000;
   /* width: 27%;*/
}
.searchStripTopMargin
{
    margin-top: 2.5%;
}
.showPointer
{
    cursor: pointer;
}
.setTextAlignment
{
    text-align: left;
}
.searchWithinText
{
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 2%;
}
.searchProximityRange
{
    padding-right: 0px;
    padding-left: 0px;
}
.searchAddress
{

    color: #000000;
    height: 18px;
    white-space: nowrap;
    height: 30px;
}
.searchProximityText
{
    padding-right: 0px;
    padding-left: 5px;
    margin-top: 2%;
}
.ratingText
{
    margin-top: 0%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 1.5%;
    margin-right: 5%;
}
.setTopMargin
{
    margin-top: 3%;
}
.chkShowParking
{
    margin: 0% !important;
}
.setRadioFilterSpace
{
    margin-right: 2px!important;
}
body {
  /*  background-image: url(../images/new_background.jpg);*/
   /* background-image: url(../images/backgroungImg.png);*/
   /* background: url(../images/close_icon.png) no-repeat;*/
    background-color: #cccccc;
}
.panelBottomSpacing
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.setContainerBottomSpace
{
   /* margin-bottom: -84px !important;*/
}
.addressTextContainer
{
    margin-top: 0%;
    height: 30px;
   /* background: #FFFFFF;*/
}
.headerVerified
{
    text-align: center;
    background: #0B89BA;
    height: 75px;
}
.parkingText
{
    padding-right: 0px;
    /*width: 53.333333%;*/
}
.inerAddText
{
    padding-top: 2%;
    padding-left: 2%;
}

.innerMapContainer
{
    margin-right: 0.5%;
}
.setLinkToText
{
    color: #0866A6;
    text-decoration: underline;
}
.userImgSpace
{
    margin-top: 3%;
    margin-bottom: 3%;
}
.newStarRating{
    display        : inline-block;
    position       : relative;
    height         : 24px;
    background     : url('../images/starsSmall.png') repeat-x 0 0;
    vertical-align : bottom;
}
.bewareTextContainer
{
    background: #ff0000;
    height: 75px;
    color: #ffffff;
    text-align: center;
}
.bewareTextInnerContainer
{
    margin-top: 3%;
}
.boxFotterBanner
{
    background: #09a2de;
}
.fotterButtonContainer
{
    margin-top: 0.5%;
    /*margin-right: 7%;*/
}
.msgButtonContainer
{
    font-size: 10px;
    color: #ffffff;
}
.innerMsgButtonContainer
{
    padding-top: 0.5%;
}
.bottomTabButton
{
    margin-right: 8%;
}
.removePadding
{
    padding-left: 0px;
    padding-right: 0px;
}
.newDownloadBox
{
    margin-top: 0%;
    border: solid 3px #08749C;
    min-height: 48px;
    width: 83.50%;
    padding: 5px;
    margin-bottom: 1%;
    font-size: 14px;
}
.newCloseDownload {
    width: 61px;
    height: 41px;
    border-radius: 50px;
    text-align: center;
    top: -19px;
    cursor: pointer;
    right: -38px;
    position: absolute;
    background: url(../images/small_close.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
.downloadPopupContainer
{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 3%;
}
.mapSearchTextBox{
    z-index: 0;
    top:0px;
    margin-top:4px;
    width: 280px;
}
.congratesTextContainer
{
    margin: auto;
    float: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
}
.nextStepBtn
{
    height: 30px;
    line-height: 30px;
    background: #FFCD28;
    color: #fff;
}
.nextStepInnerContainer
{
    height: 30px;
    color: #000;
    background: gainsboro;
}

/* ==========Responsive Table===============  */
.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: .5em;
}
.rwd-table td:last-child {
    padding-bottom: .5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}
.rwd-table {
    margin: 0;
    background: #FFFFFF;
    overflow: hidden;
    width: 100%;
}
.rwd-table tr {
    border-color: #ddd;
}
.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
   color: #0C97D0;
    font-weight: bold;
    background: #ffffff;
}

.rwd-table tr:nth-child(even) {background: #f9f9f9}
.rwd-table tr:nth-child(odd) {background: #FFF}

.setMarginTopBottomZero
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.TemplateTextContainer
{
    text-align: left;
    margin-right: 0%;
}
.fixTemplateTextArea {
    width: 600px;
    min-width: 4%;
    max-width: 200%;
    height: 65px;
    min-height: 65px;
    max-height: 65px;
}
.jobKeywordText
{
    text-align: right;
    padding-right: 2%;
}
.searchByText
{
    margin-top: 2px;
}
.keyWordText
{
    text-align: center;
}
.verifiedImgContainer
{
    margin-top: 6%;
}
.cameraContainer
{
    margin-bottom: 4%;
}
.infoMsgText
{
    font-size: 12px;
    font-weight: bold;
}
.parkingAlignment
{
    padding-left: 100%;
}
.searchStrepTextMarin
{
    margin-top: 2.5%;
}
.rightBlackBorder
{
    border-right: 1px solid #000000;
}
.leftBlackBorder
{
    border-left: 1px solid #000000;
}
.ui-notification{
    min-height: 40px;
    height: auto;
}
.imgSizeText
{
    font-size: 14px;
    margin-top: 3%;
}
.templateBoxContainer
{
    width: 95%;
    margin-left: 2.5%;
}
.addTemplateBtnContainer
{
    padding-left: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.TextAreaTopMargin
{
    margin-top: 10%;
}
.textMailLimit
{
    color: #0C97D0;
}

.resetTextField
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ff0000
    border-radius: 2px;
    box-shadow: 0px 2px 3px -3px #666;
    -moz-box-shadow: 0px 2px 3px -3px #666;
    -webkit-box-shadow: 0px 2px 3px -3px #666;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.newForm-Control
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    border: 1px solid #ff0000;
    -webkit-box-shadow: 0px 2px 3px -3px #666;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.WhiteTextBox {
    background-color: #ffffff !important;
}
.setTextToRight
{
    text-align: right;
}
#directions-panel {
    height: 100%;
    float: right;
    width: 100%;
}
.emailPannelTopMargin
{
    margin-top: 2%;
}
.topMarginButton
{
    margin-top: 1%;
}
.setTableFixHeight
{
    height: 300px;
    overflow-y: auto;
}
.leftMargin2
{
    margin-left: 2%;
}
.imgTopMargin
{
    margin-top: 5%;
}
.notification_drp ul li a.bulkMailer-icon{ background-position:-7px -1235px!important;}
.notification_drp ul li a.bulkMailer-icon:hover{ background-position:-7px -1297px!important;}

/*.custom-table table, td {
    border: 1px solid black;
    background: #ffffff;
}

.custom-table > thead > tr > th{
    border: 1px solid black;

}
.custom-table th, td
{
    text-align: left;
}

.custom-table > tr > td {
    padding: 4px;
}*/
.emptyCell
{
    background: #ddebf7;
}
.setTextToLeftAligned
{
    text-align: left;
}
.workingHours
{
}
.workingHours, .modal-body
{
    padding-top: 0px;
}
.workingHours, .modal-header
{
    padding: 7px;
}
/*.custom-table > thead > tr > th, td
{
    padding: 7px;
}
.custom-table > tbody > tr > td
{
    padding: 7px;
}*/
.holidayTableContainer
{
    overflow-y: auto;
    height:180px;
}
/*.custom-table thead, tbody { display: block; }

.custom-table tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}*/
.resultContainerRow
{
    margin-top: 2%;
}
.resultContainer
{
    height: 338px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.setPaddingLeftRight0
{
    padding-left: 0px;
    padding-right: 0px;
}
.resultTableCellBorder
{
    border: 1px solid gainsboro;
}


.ezeid-nav-tab > div > ul > li > a {
    padding: 9px;
    font-size: 14px;
    margin-bottom: 0px;
}
.setBottomMargin0
{
    margin-bottom: 0px;
}
.preloader1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-image: url(../images/preloader.GIF);
    background-repeat: no-repeat;
    background-size: contain;
    height:150px;
    width: 1%;
}
.lodingImgContainer
{
    margin-top: 20%;
    text-align: right;
    margin-left: 35%;
}

.setFontFourty
{
    font-size: 14px;
}
.setLineHeight
{
    line-height: 3%;
}
.setTopMarginOneNhalf
{
    margin-top: 1.5%;
}