/**
 * This CSS is maintained by sandeep
 */

/* Preface */
/* hpw -  home page wrapper */

/* Style for home page of Ezeid */
.hpw .bg-image
{
    background: url('../images/front-page-bg.jpg');
    height: 100%;
    background-size: cover;
}

#home-page-wrapper{
    background: url('../images/front-page-bg.jpg');
    height: 75%;
    background-size: cover;
    background-position-y: -140px;
}
.hpw .logo
{
    content: url(https://www.ezeid.com/images/logo.png);
    background-position:top;
    width: 100%;
}

.rpw .search-bar-center
{
    padding-left: 35%;
}

.srw .tile-frame-padding-top
{
    padding-top: 114px;
}

.srw .tile-frame-padding-top
{
    padding-top: 100px;
}

@media screen and (max-width: 874px) {
    .srw .tile-frame-padding-top
    {
        padding-top: 148px;
    }
}

@media screen and (max-width: 768px) {
    .hpw .logo {
        content: url(https://www.ezeid.com/images/logo.png);
        background-position:top;
        width: 10%;
    }

    .hpw .p-left-35
    {
        padding-left: 0px;
    }

    .rpw .search-bar-center
    {
        padding-left: 0% !important;
        margin: 0px;
    }

    .srw .tile-frame-padding-top
    {
        padding-top: 146px;
    }
}

.hpw .header-item
{
    padding-top: 10px;
}

.hpw .header
{
    background: none;
    position: absolute;
    font-size: 14px;
    min-width: 1024px;
    /*position: fixed;*/
    z-index: 1005;
    height: 44px;
    left: 0;
    right: 0;
    padding: 0 10px;
    top: 0;
    color: #fff;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hpw .navbar-head
{
    position: absolute;
    z-index: 1000;
    width:100%
}

.hpw .header .header-group {
    height: 44px;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    padding-left: 10px;
}

.hpw .header .header-title
{
    color: #ffffff;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.hpw .header-logo
{
    margin-right: 12px;
    margin-top:10px;
    box-shadow: 0px 0px 50px #FFF;
    border: 1px solid #FFF;
}

.hpw .landing-center {
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 15%;
    width: 100%;
    text-align: center;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.hpw .h1 {
    font-weight: bold;
    font-size: 53px;
    line-height: 68%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}

.hpw .h4 {
    font-weight: bold;
    font-size: 23px;
    line-height: 68%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    padding-top: 10px;
}

.hpw .search-bar
{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.hpw .search-input
{
    width: 47%;
    border: cadetblue 1px solid;
    height: 44px;
    height: 44px;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
}

.hpw .main-title
{
    font-size: 30px;
    line-height: 1;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    padding-top: 10px;
    font-family: 'Jura',sans-serif;
}

.hpw .main-subtitle
{
    font-size: 15px;
    line-height: 1;
    color: #E8E6E6;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.4);
    padding-top: 2%;
    font-family: 'Jura',sans-serif;
}

.hpw .m_top_10
{
    margin-top: 10px;
}

.hpw .filter-container{
    background: #ffffff;
    height: auto;
}

.hpw .filter-text-highlight
{
    height: 20%;
    background-color: rgb(228, 227, 226);
}

.hpw .p-bottom-3
{
    padding-bottom: 3px;
}

.hpw .p-bottom-3
{
    padding-bottom: 3px;
}

.hpw .advance-filter-content
 {
    padding-top: 3px;
 }

.hpw .filter-item-border
{
    padding: 10px;
    border-bottom: 1px solid #DFDADA;;
}

.hpw .p-top-10
{
    padding-top: 10px;
}

.hpw .p-right-10
{
    padding-right: 10px;
}

.hpw .select-items
{
    padding: 5px;
    line-height: 10px;
}

.hpw .select-items:hover
{
    padding: 5px;
    background-color: rgb(221, 219, 239);
    line-height: 10px;
}

.hpw .border-style-right
{
    border-right: 1px solid rgb(213, 213, 213);
    border-right-style: dotted;
}

.hpw .border-style-bottom
{
    border-bottom: 3px solid rgb(49, 176, 213);
}

/* description page styles */
.hpw .description-page
{
    /*background-color: #6AC3AF;*/
    padding-top: 10px;
    position: relative;
    /*color: #fff;*/
}

.hpw .negetive-z-index
{
    z-index:-1000;
}

.hpw .footer-main-content
{
    font-weight: 700;
}

.hpw .p-top-30
{
    padding-top: 30px;
}

.hpw .width-75
{
    width: 75% !important;
}

.hpw .width-81
{
    width: 81% !important;
}

.hpw .text-desc
{
    color:#9494B3 !important;
}

.text-bolder
{
    font-weight: bolder;
}

.hpw .description-content
{
    padding-top: 15px;
}

.hpw .text-orange
{
    color: orange;
}

.hpw .description-tab
{
    padding-top: 10px;
}

.hpw .description-tab:hover
{
    background-color: rgb(218, 232, 231);
}

.hpw .description-title
{
    color: rgb(5, 99, 145);
    font-weight: bolder;
}

/* footer page */
.hpw .footer-page
{
    background-color: #000000;
    color: #ffffff;
    padding-top: 10px;
}
/* css for line seperator */
/* Gradient transparent - color - transparent */

hr.style-one {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(35, 17, 142, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* result page styles goes here */
.hpw .fixed-pos
{
    position: fixed;
}

.hpw .height-80
{
    height: 80%;
}

.rpw .header
{
    padding-bottom: 10px;
    background-color: #000000 !important;
}

.rpw .logo{
    height: auto;
    padding: 4px;
    width: auto;
}

.rpw .header-btn
{
    padding-top: 4px;
}

.hpw .text-white
{
    color: #fff;
    font-weight: 200;
}

.hpw .btn-text-white
{
    color: #fff !important;
}

.hpw .btn .btn-danger:hover
{
    background-color: #808080;
}

.hpw .p4
{
    padding: 4px;
}

.hpw .p8
{
    padding: 8px;
}

.hpw .border-right-1
{
    border-right: 1px solid #474747;
}

.hpw .m-bottom-0
{
    margin-bottom: 0px !important;
}

.hpw .no-border
{
    border:0px !important;
}

.hpw .p-left-35
{
    padding-left: 35%;
}

#result-page-menu-wrapper
{
    position: fixed;
    width: 100%;
    z-index:10000;
}

/* METRO UI {main search result styles goes here} */
.srw .metro-ui-wrapper
{
    min-height: 900px;
    /*margin-top: -22px;*/

    background: -webkit-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #085078 10%, #85D8CE 90%); /* W3C */
}

.srw .main-tiles-frame
{
    padding-left: 5%;
    padding-right: 5%;
}

.srw .individual-tiles
{
    height: auto;
    background-color: #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 7px solid rgba(0,0,0,0);
    color: #fff;
    font-weight: 500;
}

.srw .individual-tiles:hover
{
    /*border: 3px solid rgba(104,104,104,0.8) ;*/
    box-shadow:inset 0px 0px 0px 3px rgba(141,141,141,0.8);
}

.srw .lightbox
{
    background-color: white;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 20px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 30px;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 200px;
}

.hpw .bg-violet{
    background-color: violet;
    opacity: 0.9;
}
.hpw .bg-blue{
    background-color: blue;
    opacity: 0.6;
}
.hpw .bg-green{
    background-color: green;
}
.hpw .bg-yellow{
    background-color: #ffff00;
}

.hpw .p3
{
    padding: 3px !important;
}

.srw .row-1
{
    min-height: 10px;
}

.srw .block-1
{
    background-color: rgb(245, 82, 82);
}

.srw .block-2
{
    background-color: rgba(245, 82, 82, 0.71);
}

.srw .block-3
{
    background-color: rgba(247, 131, 131, 0.69);
}

.srw .block-4
{
    background-color: rgb(229, 90, 122);
}

.srw .block-5
{
    background-color: rgba(229, 90, 122, 0.66);
}

.srw .block-6
{
    background-color: rgba(210, 80, 159, 1);
}

.srw .block-7
{
    background-color: rgba(210, 80, 159, 0.77);
}


.srw .block-8
{
    background-color: rgba(10, 64, 136, 0.66);
}

.srw .block-9
{
    background-color:rgba(92, 128, 175, 0.81);;
}

.srw .block-10
{
    background-color: rgba(121, 151, 189, 0.83);
}

.srw .block-11
{
    background-color: rgba(116, 166, 216, 0.63);
}

.row-1,.row-2,.row-3,.row-4
{
    height: 25%;
}