/**
 * This CSS is maintained by sandeep
 */

/* Preface */
/* hpw -  home page wrapper */

/* Style for home page of Ezeid */
.hpw .bg-image
{
    background: url('../images/front-page-bg.jpg');
    height: 100%;
    background-size: cover;
}

#home-page-wrapper{
    background: url('../images/front-page-bg.jpg');
    height: 75%;
    background-size: cover;
    background-position-y: -140px;
}
.hpw .logo
{
    content: url(https://www.ezeid.com/images/logo.png);
    background-position:top;
    width: 100%;
}

.rpw .search-bar-center
{
    padding-left: 35%;
}

.srw .tile-frame-padding-top
{
    padding-top: 114px;
}

.srw .tile-frame-padding-top
{
    padding-top: 100px;
}

@media screen and (max-width: 1320px) {
    .srw .tile-frame-padding-top
    {
        padding-top: 158px;
    }
}

@media screen and (max-width: 874px) {
    .srw .tile-frame-padding-top
    {
        padding-top: 148px;
    }
}

@media screen and (max-width: 768px) {
    .hpw .logo {
        content: url(https://www.ezeid.com/images/logo.png);
        background-position:top;
        width: 10%;
    }

    .hpw .p-left-35
    {
        padding-left: 0px;
    }

    .rpw .search-bar-center
    {
        padding-left: 0% !important;
        margin: 0px;
    }

    .srw .tile-frame-padding-top
    {
        padding-top: 146px;
    }

    .srw .block
    {
        padding-top: 2% !important;
    }
}

.hpw .header-item
{
    padding-top: 10px;
}

.hpw .header
{
    background: none;
    position: absolute;
    font-size: 14px;
    min-width: 1024px;
    /*position: fixed;*/
    z-index: 1005;
    height: 44px;
    left: 0;
    right: 0;
    padding: 0 10px;
    top: 0;
    color: #fff;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hpw .navbar-head
{
    position: absolute;
    z-index: 1000;
    width:100%
}

.hpw .header .header-group {
    height: 44px;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    padding-left: 10px;
}

.hpw .header .header-title
{
    color: #ffffff;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.hpw .header-logo
{
    margin-right: 12px;
    margin-top:10px;
    box-shadow: 0px 0px 50px #FFF;
    border: 1px solid #FFF;
}

.hpw .landing-center {
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 15%;
    width: 100%;
    text-align: center;
    height: inherit;
    background: rgba(0,0,0,0.5);
}

.hpw .h1 {
    font-weight: bold;
    font-size: 53px;
    line-height: 68%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}

.hpw .h4 {
    font-weight: bold;
    font-size: 23px;
    line-height: 68%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    padding-top: 10px;
}

.hpw .search-bar
{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.hpw .search-input
{
    width: 47%;
    border: cadetblue 1px solid;
    height: 44px;
    height: 44px;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
}

.hpw .main-title
{
    font-size: 30px;
    line-height: 1;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    padding-top: 10px;
    font-family: 'Jura',sans-serif;
}

.hpw .main-subtitle
{
    font-size: 15px;
    line-height: 1;
    color: #E8E6E6;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.4);
    padding-top: 2%;
    font-family: 'Jura',sans-serif;
}

.hpw .m_top_10
{
    margin-top: 10px;
}

.hpw .filter-container{
    background: #ffffff;
    height: auto;
}

.hpw .filter-text-highlight
{
    height: 20%;
    background-color: rgb(228, 227, 226);
}

.hpw .p-bottom-3
{
    padding-bottom: 3px;
}

.hpw .p-bottom-3
{
    padding-bottom: 3px;
}

.hpw .advance-filter-content
 {
    padding-top: 3px;
 }

.hpw .filter-item-border
{
    padding: 10px;
    border-bottom: 1px solid #DFDADA;;
}

.hpw .p-top-10
{
    padding-top: 10px;
}

.hpw .p-bottom-100
{
    padding-bottom: 100px !important;
}

.hpw .p-right-10
{
    padding-right: 10px;
}

.hpw .p-right-10-p

{
    padding-right: 10%;
}

.hpw .select-items
{
    padding: 5px;
    line-height: 10px;
}

.hpw .select-items:hover
{
    padding: 5px;
    background-color: rgb(221, 219, 239);
    line-height: 10px;
}

.hpw .border-style-right
{
    border-right: 1px solid rgb(213, 213, 213);
    border-right-style: dotted;
}

.hpw .border-style-bottom
{
    border-bottom: 3px solid rgb(49, 176, 213);
}

/* description page styles */
.hpw .description-page
{
    /*background-color: #6AC3AF;*/
    padding-top: 10px;
    position: relative;
    /*color: #fff;*/
}

.hpw .negetive-z-index
{
    z-index:-1000;
}

.hpw .footer-main-content
{
    font-weight: 700;
}

.hpw .p-top-30
{
    padding-top: 30px;
}

.hpw .p-top-40
{
    padding-top: 30px;
}

.hpw .font-16
{
    font-size: 16px;
}

.hpw .p-left-16
{
    padding-left: 16px;
}

.hpw .width-75
{
    width: 75% !important;
}

.hpw .width-81
{
    width: 81% !important;
}

.hpw .text-desc
{
    color:#9494B3 !important;
}

.text-bolder
{
    font-weight: bolder !important;
}

.text-font-800
{
    font-weight: 800;
}

.hpw .description-content
{
    padding-top: 15px;
}

.hpw .text-orange
{
    color: orange;
}

.hpw .description-tab
{
    padding-top: 10px;
}

.hpw .description-tab:hover
{
    background-color: rgb(218, 232, 231);
}

.hpw .description-title
{
    color: rgb(5, 99, 145);
    font-weight: bolder;
}

/* footer page */
.hpw .footer-page
{
    background-color: rgba(0, 0, 0, 0.82);
    color: #ffffff;
    padding-top: 10px;
}

.hpw .no-padding
{
    padding:0px !important;
}

.hpw .border-bottom-gray
{
    border-bottom: 1px solid rgb(94, 93, 93);
}

.hpw .p-5
{
    padding: 5px;
}

/* css for line seperator */
/* Gradient transparent - color - transparent */

hr.style-one {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(35, 17, 142, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* result page styles goes here */
.hpw .fixed-pos
{
    position: fixed;
}

.hpw .height-80
{
    height: 80%;
}

.rpw .header
{
    padding-bottom: 10px;
    background-color: #000000 !important;
}

.rpw .logo{
    height: auto;
    padding: 4px;
    width: auto;
}

.rpw .header-btn
{
    padding-top: 4px;
}

.hpw .text-white
{
    color: #fff;
    font-weight: 200;
}

.hpw .btn-text-white
{
    color: #fff !important;
}

.hpw .btn .btn-danger:hover
{
    background-color: #808080;
}

.hpw .p4
{
    padding: 4px;
}

.hpw .p8
{
    padding: 8px;
}

.hpw .border-right-1
{
    border-right: 1px solid #474747;
}

.hpw .m-bottom-0
{
    margin-bottom: 0px !important;
}

.hpw .no-border
{
    border:0px !important;
}

.hpw .p-left-35
{
    padding-left: 35%;
}

#result-page-menu-wrapper
{
    position: fixed;
    width: 100%;
    z-index:10000;
}

.hpw .search-result
{
    height: 100%;
}

/* METRO UI {main search result styles goes here} */
.srw .metro-ui-wrapper
{
    position: relative;
    min-height: 700px;
    /*margin-top: -22px;*/

    /*background: -webkit-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* Chrome 10+, Saf5.1+ *!/*/
    /*background:    -moz-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* FF3.6+ *!/*/
    /*background:     -ms-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* IE10 *!/*/
    /*background:      -o-linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* Opera 11.10+ *!/*/
    /*background:         linear-gradient(90deg, #085078 10%, #85D8CE 90%); /!* W3C *!/*/

    background: -webkit-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #50C9C3 10%, #96DEDA 90%); /* W3C */

}

.srw .main-tiles-frame
{
    padding-left: 5%;
    padding-right: 5%;
}

.srw .individual-tiles
{
    height: auto;
    background-color: #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 7px solid rgba(0,0,0,0);
    color: #fff;
    font-weight: 500;
    min-height: 150px;

    /* tiles background image */
    /*background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQim4Ld4E0wIBtLvPIpRjo1haCIrbcSRrq2bE9CJfDCHi2iJP_eBA');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /* z-index: 1000000000; */

}

.srw .individual-tiles:hover
{
    /*border: 3px solid rgba(104,104,104,0.8) ;*/
    box-shadow:inset 0px 0px 0px 3px rgba(141,141,141,0.8);
}

.srw .lightbox
{
    background-color: white;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 20px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 30px;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 200px;
}

.hpw .bg-violet{
    background-color: violet;
    opacity: 0.9;
}
.hpw .bg-blue{
    background-color: blue;
    opacity: 0.6;
}
.hpw .bg-green{
    background-color: green;
}
.hpw .bg-yellow{
    background-color: #ffff00;
}

.hpw .p3
{
    padding: 3px !important;
}

.srw .row-1
{
    min-height: 10px;
}

.srw .row1,.row-2,.row-3,.row-4
{
    height: 25%;
}

.srw .block
{
    height: 37px;
}

.srw .block-row-2
{
    height: 73px;
    color: black;
}

.srw .block-1
{
    background-color: rgba(23, 187, 106, 1);
}

.srw .block-2
{
    background-color: rgba(23, 187, 106, 1);
}

.srw .block-3
{
    background-color: rgba(23, 187, 106, 1);
}

.srw .block-4
{
    background-color: #fff;
}

.srw .block-5
{
    background-color: rgba(173, 173, 173, 1);
}

.srw .row-1,.row-2,.row-3
{
    height: 33%;
}

.srw .block
{
    padding-top: 3%;
}

.hpw .pointer
{
    cursor: pointer;
}

.hpw .text-10
{
    font-size: 10px;
}

.hpw .text-12
{
    font-size: 12px;
}

.hpw .text-yellow
{
    color: yellow;
}

.hpw .text-golden
{
    color: rgb(221, 177, 2);
}

.hpw .orange
{
    background-color: rgb(255,128,64) !important;
    color:#fff;
}

.hpw .green
{
    background-color: rgb(0, 128, 64); !important;
    color:#fff;
}

.hpw .blue
{
    background-color: cadetblue !important;
}

.hpw .cyan
{
    background-color: rgb(8, 111, 111) !important;
    color:#fff;
}

.hpw .pink
{
    background-color: rgba(255, 0, 0, 0.73) !important;
    color:#fff;
}

.hpw .block-1,.block-2,.block-3,.block-4,.block-5,.block-6,.block-7:not(.tile-text)
{
    opacity: 0.8;
}

.hpw .text-white
{
    color:#fff;
}

.hpw .text-red
{
    color:rgb(255, 0, 0);
}

.hpw .text-black
{
    color:rgb(0, 0, 0);
}

.hpw .text-blue
{
    color:rgb(0, 42, 255);
}

.hpw .detailed-page
{
    background-color: #0FC7D7;
    min-height: 100px;
}

/*background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQim4Ld4E0wIBtLvPIpRjo1haCIrbcSRrq2bE9CJfDCHi2iJP_eBA');*/







.metro .ul {
    /*min-width: 600px;*/
    position: relative;
    /*display: table;*/
    /*margin: 50px auto;*/
    clear: both;
}

.metro .ul .li {
    .list-style: none;
    float: left;
}

.metro .ul .li a {
    width: inherit;
    height: inherit;
    float: left;
    /*margin: 0 10px;*/
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.metro .ul .li .front {
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.metro .ul .li:hover .front {
    -webkit-transform: rotateX(0deg) rotateY(180deg);
    -moz-transform: rotateX(0deg) rotateY(180deg);
    -ms-transform: rotateX(0deg) rotateY(180deg);
    -o-transform: rotateX(0deg) rotateY(180deg);
}

.metro .ul .li .back {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    z-index: -1;
    -webkit-transform: rotateX(0deg) rotateY(-180deg);
    -moz-transform: rotateX(0deg) rotateY(-180deg);
    -ms-transform: rotateX(0deg) rotateY(-180deg);
    -o-transform: rotateX(0deg) rotateY(-180deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.metro .ul .li:hover .back {
    z-index: 1;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
}

.metro .ul .li i {
    /*line-height: 100px !important;*/
    color: white;
    vertical-align: middle !important;
}

.metro .ul .li span {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    line-height: 100px;
    color: white;
    text-transform: lowercase;
    vertical-align: middle;
}

.metro .ul .li.color-1 .front,
.metro .ul .li.color-1 .back {
    /*background-color: #e6567a;*/
}

.metro .ul .li.color-2 .front,
.metro .ul .li.color-2 .back {
    background-color: #00c0e4;
}

.metro .ul .li.color-3 .front,
.metro .ul .li.color-3 .back {
    background-color: #5bd999;
}

.metro .ul .li.color-4 .front,
.metro .ul .li.color-4 .back {
    background-color: #7658f4;
}

.metro .ul .li.color-5 .front,
.metro .ul .li.color-5 .back {
    background-color: #eac14d;
}

.hpw .text-gray
{
    color: #e3e3e3;
}

.hpw .width-100
{
    width:100% !important;
}

.hpw .tile-row
{
    padding-left: 3px;
    padding-right: 3px;
    width: 110%;
}

.hpw .fa-15
{
    font-size: 1.5em;
}

.class-map-ctrl{
    height:500px;
    width: 100%;
}

.class-map-ctrl-style1
{
    height: 350px;
    width:100%;
}

.hpw .footer-icon-style
{
    background-color: rgb(0, 139, 255);
    padding: 2px;
    border-radius: 69px;
}

.hpw .footer-list:hover
{
    background-color: rgb(90, 90, 76);
}

.hpw .footer-list-blue:hover
{
    background-color: rgb(15, 199, 215);
    border-radius: 9px;
}

.hpw .text-sky-blue
{
    color: #0FB;
}

.hpw .fb-icon
{
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(55, 110, 184);
}

.hpw .linked-icon
{
    background-color: rgb(0, 168, 255);
    padding: 3px;
}

.hpw .pinterst-icon
{
    background-color: rgb(255, 0, 0);
    padding: 4px;
}

.hpw .twitter-icon
{
    background-color: rgb(67, 163, 242);
    padding: 3px;
}

.hpw .metal-gray
{
    background-color: rgb(205, 205, 205);
}

.hpw .play-store-bg
{
    background-color: rgb(10, 165, 165);
}