<div id="wrapper">
    <header-section></header-section>
    <div class="container-fluid top-clearfix-padding">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-sm-offset-0">
                <!----------- Panel starts -------------------------------------------->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-info text-center font-roboto no-margin no-padding">
                            {{(masterUser.IDTypeID == 1) ? masterUser.FirstName + ' '+ masterUser.LastName : masterUser.CompanyName}}
                            ({{masterUser.EZEID}})
                        </h3>
                    </div>
                    <div class="panel-body profile-manager business-manager-modal">
                        <!-------------- Navigation for Profile Manager ------------------------>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center bottom-clearfix">
                                    <h3 class="font-roboto text-success no-margin no-padding">
                                        {{(masterUser.SalesModuleTitle) ? masterUser.SalesModuleTitle : 'Sales Enquiry Form'}}
                                    </h3>

                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transaction-details-box">

                                    <div ng-show="moduleItems.length" class="row bottom-clearfix">

                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item-list-box">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                                    <h4 class="text-center font-roboto text-warning">Select Items</h4>

                                                </div>
                                            </div>

                                            <div class="row" id="bus-item-list-container">

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <bussiness-item
                                                            ng-repeat="item in moduleItems track by item.TID"
                                                            item="item" item-list-type="salesItemListType"
                                                            add-item="addItem(item)" edit-permission="editPermission" edit-mode="editMode">
                                                    </bussiness-item>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h4 class="text-center font-roboto text-success">Selected Items </h4>
                                                </div>
                                            </div>

                                            <div class="row" id="tx-item-list-container">

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-hide="modalBox.tx.itemList.length > 0">
                                                    <small class="font-open-sans text-warning">No items selected</small>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="item in modalBox.tx.itemList track by item.ItemID">
                                                    <transaction-item
                                                            item="item" item-list-type="salesItemListType"
                                                            remove-item="removeItem(item)"
                                                            edit-permission="editPermission" edit-mode="editMode">
                                                    </transaction-item>
                                                </div>

                                            </div>

                                        </div>



                                    </div>

                                    <div class="row">


                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                                    <label> Message</label>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                                    <textarea rows="2" class="form-control no-radius" ng-model="modalBox.tx.message" name="message"></textarea>
                                                </div>
                                            </div>
                                        </div>


                                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                                    <!--<label>Additional Note</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->

                                                    <!--<textarea rows="1" class="form-control no-radius" ng-model="modalBox.tx.notes" name="notes"></textarea>-->

                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bottom-clearfix">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                                    <label> Address</label>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-hide="modalBox.editMode">
                                                    <div class="form-group form-group-sm ">
                                                        <select class="form-control" ng-model="modalBox.tx.locId" ng-change="resolveAddress()">
                                                            <option value="">Other Location</option>
                                                            <option value="0">Current Location</option>
                                                            <option ng-repeat="location in modalBox.locationList track by location.TID" value="{{location.TID}}">{{location.LocTitle}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group form-group-sm ">
                                                        <input
                                                                ng-disabled="modalBox.tx.locId > 0"
                                                                type="text" placeholder="Address Line 1" class="form-control no-radius"  name="area" ng-model="modalBox.tx.address" />
                                                        <small class="text-danger" ng-show="txerror.address">Please enter address line 1</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group form-group-sm ">
                                                        <input type="text"
                                                               ng-disabled="modalBox.tx.locId"
                                                               placeholder="Locality" class="form-control no-radius"  name="area" ng-model="modalBox.tx.area" />
                                                        <small class="text-danger" ng-show="txerror.area">Please enter locality</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group form-group-sm ">
                                                        <input
                                                                ng-disabled="modalBox.tx.locId"
                                                                type="text" placeholder="City" class="form-control no-radius" name="city" ng-model="modalBox.tx.city" />
                                                        <small class="text-danger" ng-show="txerror.city">Please enter city</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group form-group-sm ">
                                                        <input type="text"
                                                               ng-disabled="modalBox.tx.locId"
                                                               placeholder="State" class="form-control no-radius" name="state" ng-model="modalBox.tx.state" />
                                                        <small class="text-danger" ng-show="txerror.state">Please enter state</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group form-group-sm ">
                                                        <input type="text"
                                                               ng-disabled="modalBox.tx.locId"
                                                               placeholder="Country" class="form-control no-radius"  name="country" ng-model="modalBox.tx.country" />
                                                        <small class="text-danger" ng-show="txerror.country">Please enter country</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <div ng-show="txerror.items" class="row bottom-clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <small class="text-danger">Please choose an item</small>
                                        </div>
                                    </div>

                                    <div class="row bottom-clearfix">

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <button class="btn btn-info btn-sm no-radius" ng-click="saveTransaction()">
                                                <span class="glyphicon glyphicon-hand-right"></span>
                                                Submit
                                            </button>
                                            <button class="btn btn-danger btn-sm no-radius" ng-click="closeForm()">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                Cancel
                                            </button>
                                        </div>




                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-section></footer-section>



<!-- Template for Item having item name,description,picture,qty and rate -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture-qty-rate.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius"  ng-click="removeItem(item)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Rate &nbsp; &nbsp;&nbsp;&nbsp;
                        </span>
                        <input class="form-control text-right" type="text" value="{{item.Rate | formatDecimal:'':2}}" disabled/>
                    </div>
                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Quantity
                        </span>
                        <input  ng-disabled="!(editPermission && editMode)" class="form-control text-right" numbers-only type="number" ng-model="item.Qty" ng-change="(!item.Qty) ? (item.Qty = 1) : ''" min="1" max="10000000000"/>
                    </div>
                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                                Amount &nbsp;
                        </span>
                        <input class="form-control text-right"  type="text" value="{{(item.Rate * item.Qty) | formatDecimal:'':2}}" disabled/>

                    </div>

                </div>
            </div>

        </div>

    </div>
</script>

<!-- Template for Item having item name,description,picture and qty -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture-qty.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Quantity
                        </span>
                        <input class="form-control text-right" numbers-only type="number" ng-model="item.Qty" ng-change="(!item.Qty) ? (item.Qty = 1) : ''" min="1"/>
                    </div>

                </div>
            </div>

        </div>
    </div>
</script>

<!-- Template for Item having item name,description and pic -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
            </div>

        </div>
    </div>
</script>

<!-- Template for Item having item name and description -->
<script type="text/ng-template" id="/tpl/tx-item-description.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans text-center">{{item.ItemName}}
            </h4>
        </div>
    </div>
</script>


<!-- Templates for Showing Item which are not selected -->


<!-- Template for Item having item name,description,picture,qty and rate -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture-qty-rate.html">
    <div class="row business-manager-item" title="{{item.Description}}">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 business-manager-item-thumbnail bottom-clearfix">
            <img height="32" width="32" class="img-circle" ng-src="{{item.Pic}}" />
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 business-manager-item-details bottom-clearfix text-white">
            <h5 class="font-roboto text-left no-margin no-border wrap-text">
                {{item.ItemName}}
            </h5>
            Rate : <span class="pull-right"> {{item.Rate | formatDecimal:'':2}}</span>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 business-manager-item-details">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-orange pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>




    </div>
</script>

<!-- Template for Item having item name,description,picture and qty -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture-qty.html">
    <div class="row business-manager-item" title="{{item.Description}}">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-orange pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="50" width="50" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix text-white">
            <h5 class="font-roboto text-center no-margin no-border">
                {{item.ItemName}}
            </h5>
        </div>
    </div>
</script>

<!-- Template for Item having item name,description and pic -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture.html">
    <div class="row business-manager-item" title="{{item.Description}}">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-orange pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="50" width="50" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix text-white">
            <h5 class="font-roboto text-center no-margin no-border">
                {{item.ItemName}}
            </h5>
        </div>

    </div>
</script>

<!-- Template for Item having item name and description -->
<script type="text/ng-template" id="/tpl/bus-item-description.html">
    <div class="row business-manager-item" title="{{item.Description}}">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-orange pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix text-white">
            <h5 class="font-roboto text-center no-margin no-border">
                {{item.ItemName}}
            </h5>
        </div>

    </div>
</script>