<div class="container top-clearfix-half" ng-controller="SalesCtrl">
    <div class="row bottom-clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             ng-show="readyState.itemsLoaded && readyState.statusLoaded && readyState.nextActionsLoaded && readyState.foldersLoaded && readyState.transactionsLoaded && (!serverApiError)">
            <button class="btn btn-primary btn-sm no-radius" ng-click="addNewRow()">Add New Transaction</button>
            <!--<button class="btn btn-danger btn-sm no-radius">Remove Selected Transaction</button>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 col-lg-offset-5 col-md-offset-5 col-sm-offset-4 col-xs-offset-0" ng-show="serverApiError">
            <p class="text-danger">An error occured ! <a class="btn-link" ng-click="reloadAgain()"> Try Again</a> </p>
        </div>
    </div>
    <div class="row" ng-hide="serverApiError">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 text-center preloader"
             ng-hide="readyState.itemsLoaded && readyState.statusLoaded && readyState.nextActionsLoaded && readyState.foldersLoaded && readyState.transactionsLoaded && (!serverApiError)">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             ng-show="readyState.itemsLoaded && readyState.statusLoaded && readyState.nextActionsLoaded && readyState.foldersLoaded && readyState.transactionsLoaded && (!serverApiError)">
            <!--<div ui-grid="gridOptions"-->
                 <!--ui-grid-pinning-->
                 <!--ui-grid-expandable-->
                 <!--ui-grid-selection-->
                 <!--ui-grid-edit-->
                 <!--ui-grid-row-edit-->
                 <!--ui-grid-cellNav-->
                 <!--ui-grid-pagination-->
                 <!--class="grid"></div>-->
        <!--</div>-->
            <!--<div ui-grid="gridOptions"-->
             <!--ui-grid-pinning-->
             <!--ui-grid-selection-->
             <!--ui-grid-edit-->
             <!--ui-grid-row-edit-->
             <!--ui-grid-cellNav-->
             <!--ui-grid-pagination-->
             <!--ui-grid-exporter-->
             <!--class="grid">-->
                <!---->
             <!--</div>-->

            <div ui-grid="gridOptions"
                 ui-grid-pinning
                 ui-grid-selection
                 ui-grid-edit
                 ui-grid-row-edit
                 ui-grid-cellNav
                 ui-grid-pagination
                 ui-grid-exporter
                 class="grid">

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!------------ Modal Box starts here -------------------------->
            <modal mtitle="modalBox.title" visible="showModal">
                <div class="container-fluid" ng-controller="SalesModalBoxCtrl">
                    <!--- Modal Content ---------------------------->
                    <div class="row">
                        <!---------- Form For Item Addition ----------------->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                           <!-------- Form ----------->
                            <div class="panel panel-default panel-shadow">
                                <div class="panel-heading">
                                    Select Items to Add
                                </div>
                                <div class="panel-body">
                                    <!------------------- Panel Body ------------------------>
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1  bottom-clearfix" data-toggle="tooltip" title="Item" data-placement="right">
                                            <div class="form-group">
                                                <select class="form-control" ng-model="modalCurrentItem.TID">
                                                    <option value="0">--Select Item--</option>
                                                    <option ng-repeat="item in (itemList | activeItem)" value="{{item.TID}}">{{item.ItemName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix text-center" ng-show="isItemAddBlockVisible">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="thumbnail no-radius modal-sales-item-thumbnail">
                                                            <img style="width: 64px;height: 64px" ng-src="{{modalCurrentItem.Pic}}" alt="Image" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <!--------- Rate, Amount and qty controls --------------------->
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix" data-toggle="tooltip" title="Rate" data-placement="right">
                                                                    <!--<div class="input-group">-->
                                                                    <!--<span class="input-group-addon">{{currency}}</span>-->
                                                                    <!--<input class="form-control" disabled ng-model="modalCurrentItem.Rate" />-->
                                                                    <!--</div>-->
                                                                    <p class=""> Rate : <b>{{currency}} {{modalCurrentItem.Rate}}</b></p>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix" data-toggle="tooltip" title="Quantity" data-placement="left">
                                                                    <div class="input-group  modalbox-input-group-control">
                                                                        <span ng-click="subtractValue()"  class="input-group-addon"><span class="glyphicon glyphicon-minus"></span> </span>
                                                                        <input class="form-control" type="text" ng-model="modalCurrentItem.Qty" numbers-only />
                                                                        <span ng-click="addValue()" class="input-group-addon"><span class="glyphicon glyphicon-plus"></span> </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix" data-toggle="tooltip" title="Amount" data-placement="right">
                                                                    <div class="input-group  modalbox-input-group-control currency">
                                                                        <span class="input-group-addon">{{currency}}</span>
                                                                        <input class="form-control" type="text" ng-model="modalCurrentItem.Amount" numbers-only />
                                                                    </div>
                                                                </div>
                                                                <!--------- Rate, Amount and qty controls ends ---------------->
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div ng-show="isItemAddBlockVisible" class="col-lg-6 col-md-6 col-sm-4 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-4 col-xs-offset-3 bottom-clearfix">
                                            <button ng-click="modalAddItem()" class="btn btn-primary btn-block" data-toggle="tooltip" title="Add Item" data-placement="bottom">
                                                <span class="glyphicon glyphicon-plus"></span> Add Item
                                            </button>
                                        </div>
                                    </div>
                                    <!------------------- Panel Body ends ------------------->
                                </div>
                            </div>


                            <!-------- Form ends ------>
                        </div>
                        <!---------- Form For Item Addition ends -------------->


                        <!-------- Selected Items Display -------------------->
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3 bottom-clearfix business-manager-modal-item" ng-repeat="mitem in modalItemList">
                                        <button class="btn btn-xs btn-danger pull-right no-radius" ng-click="modalRemoveItem(mitem.TID)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <h4>{{mitem.ItemName}}</h4>
                                        <p> Quantity : <b>{{mitem.Qty}}</b></p>
                                        <p> Total : {{currency}}{{mitem.Amount}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-------- Selected Items Display ends --------------->
                    </div>

                    <!--- Modal Content ends ----------------------->
                </div>
            </modal>
        </div>
    </div>

    <!------------------- Modal Templates based on transaction types ------------------------------------------->
    <script type="ng/template" id="modal-message-only-tpl.html">

    </script>
    <script type="ng/template" id="modal-item-only-tpl.html">

    </script>

    <!------------------- Modal Templates based on transaction types ends -------------------------------------->


</div>


