<table style="font-family:'Verdana',sans-serif;">
    <tr>
        <td>
            Hello <%=firstName%>,
            <br/>
            <br/>
            Greetings from EZEOne Team. <br/>

            Based on your details produced in the resume section <%=companyName%> has shortlisted you
            for <%=jobTitle%> <% if(jobCode) { %> <%=jobCode %> <% } %> . The key requisites for the job is/are <%=keySkills%> and is based out of [job location].

            <br/>
            <br/>
            Please visit the following link to apply: <br/>

            <a style="display: table-cell;height:40px;width: 150px;"></a>

            LINK

            Please update your profile to get noticed by recruiters.

            ***//IF APPLICABLE for non-verified candidates- Please download the EZEONE app to

            grab better opportunities and increase your profile views //**

        </td>
    </tr>
</table>