<table style="font-family: 'Verdana',serif;font-size:14px;color: #444444;">
    <tr>
        <td>
            Hello <%=firstName%>,
            <br/>
            <br/>
            Greetings from EZEOne Team. <br/>

            Based on your details produced in the resume section <%=companyName%> has shortlisted you
            for <%=jobTitle%> <% if(jobCode) { %> <%=jobCode %> <% } %> . The key requisites for the job is/are <%=keySkills%> .

            <br/>
            <br/>
            Please visit the following link to apply: <br/>

            <a style="display: table-cell;height:40px;width: 150px;color: #000;font-weight: bold;">
                https://www.ezeone.com/jobdetail?jobid=<%=jobId%>
            </a>

            <br/>
            <br/>
            From<br/>
            Team EZEOne

        </td>
    </tr>
</table>