<table style="font-family: 'Verdana',serif;font-size:14px;color: #444444;">
    <tr>
        <td>
            Hello,
            <br/>
            <br/>
            Greetings from EZEOne Team. <br/>

            A new job is posted by <%=companyName%> for your institute.
            <br/>
            Please get your EZEOneID verified by Area Partners to manage the status of the jobs posted for your institute.
            Advantages for getting your ID verified <br/>
            <ul>
                <li>Manage and control which jobs will be notified to the candidates of your institute</li>
                <li>View job applicants from your institute based on jobs</li>
                <li>Send notifications for the jobs to the candidates of your institute on demand</li>
            </ul>

            <br/>
            <br/>
            For more details, please contact your nearest area partner.

            <br/>
            <br/>
            From<br/>
            Team EZEOne

        </td>
    </tr>
</table>