<!-- Start of design for finding - Job Seekers -->
<div id="wrapper">
    <section id="job-seeker-search" class="jss hpw job-seeker-bg hpw ">
        <header-section></header-section>
        <div class="container width-90 page-content">
            <div class="panel">
                <div class="panel-primary panel-heading">
                    <i class="fa fa-th-list"></i>  Alumni
                </div>
                <div class="panel-default panel-body">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                            <button ng-class="showHomePageContent ? 'btn btn-primary btn-sm' : 'btn btn-default btn-sm'" ng-click="showHomePage()"> Home Page</button>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                            <button ng-class="showHomePageContent ? 'btn btn-default btn-sm' : 'btn btn-primary btn-sm'" ng-click="showProfiles()"> Profiles</button>
                        </div>
                    </div>

                    <div class="container">
                        <!-- main table goes here -->
                        <div class="main-table p-top-20 col-lg-12">

                            <div ng-show="showHomePageContent">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Page Title
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                               type="text"
                                               placeholder="Page Title"
                                               ng-model="pageTitle"
                                               class="form-control"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Page SubTitle
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                                type="text"
                                                placeholder="Page SubTitle"
                                                ng-model="pageSubTitle"
                                                class="form-control"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Page Picture
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                    </div>
                                </div><br/>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Footer L1
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                                type="text"
                                                placeholder="Footer L1"
                                                ng-model="footerL1"
                                                class="form-control"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Footer L2
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                                type="text"
                                                placeholder="Footer L2"
                                                ng-model="footerL2"
                                                class="form-control"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Idea Title
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                                type="text"
                                                placeholder="Idea Title"
                                                ng-model="ideaTitle"
                                                class="form-control"/>
                                    </div>
                                </div><br/>

                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Idea Text
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                                type="text"
                                                placeholder="Idea Text"
                                                ng-model="ideaText"
                                                class="form-control"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Purpose Title
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                                type="text"
                                                placeholder="Purpose Title"
                                                ng-model="purposetitle"
                                                class="form-control"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        Purpose Text
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <input
                                                type="text"
                                                placeholder="Purpose Text"
                                                ng-model="purposeText"
                                                class="form-control"/>
                                    </div>
                                </div><br/>

                            </div>

                            <div ng-hide="showHomePageContent">
                                profile page
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- End of design for finding - Job Seekers -->
<footer-section></footer-section>

