
<!-- Compose message block -->
<div ng-controller="ComposeMessageCtrl">
    <div class="width-100 p-left-10 p-top-10">
        <div class="compose-message">
            <i class="fa fa-envelope-o"></i> {{titleText}}
        </div>
        <div class="message-body">
            <div class="input-group p-bottom-4">
                <div class="input-group-addon">To</div>
                <input type="text"
                       ng-model="composeMsg.MessageTo"
                       class="form-control"
                       ng-keypress="validateEnteredEzeoneOrGroup(composeMsg.MessageTo)"
                       id="to"
                       placeholder="To">
                <div class="input-group-addon no-padding-and-border hidden">
                    <div class="btn btn-primary no-radius"
                         ng-click="validateEnteredEzeoneOrGroup(composeMsg.MessageTo)">
                        <i class="fa fa-check"></i> Check</div>
                </div>
            </div>

            <div class="group-name-suggestion" ng-show="visibilityHtml.groupSuggestion">
                <!-- group suggestions goes here -->
                <div class="group-suggestion pointer"
                     ng-repeat="list in groupSuggestionList track by $index"
                     ng-click="selectGroupSuggestion($index)">
                    <span >{{list.GroupName}}</span>
                </div>
            </div>
            <!-- error message of receiver field goes here -->
            <div class="invalid-ezeone-msg text-danger"
                 ng-show="visibilityReceiverErrorMsg"
                 ng-click="removeMessage()">
                <i class="fa fa-exclamation-circle"></i> {{errorMsgArr[currentErrorMsg]}} <i class="fa fa-times pointer"></i>
            </div>

            <!-- List of receiver -->
            <div class="receiver-list p-bottom-10">
                <span class="receivers" ng-repeat="grp in receiverArr track by $index">
                    <button class="btn btn-danger btn-xs" disabled><i>{{grp.GroupName}}</i></button>
                    <i class="fa fa-times pointer" ng-click="removeReceiver($index)"></i>
                </span>
            </div>

            <div class="input-group p-bottom-4 hidden">
                <div class="input-group-addon">From</div>
                <input type="text" ng-model="composeMsg.MessageFrom" class="form-control" id="from" placeholder="From">
            </div>

            <div class="p-bottom-4 bg-white">
                <div text-angular ng-model="composeMsg.MessageBody"
                     name="demo-editor"
                     ta-text-editor-class="border-around"
                     ta-html-editor-class="border-around">
                </div>
                <!--<textarea class="form-control p-bottom-4" ng-model="composeMsg.MessageBody" placeholder="Your message" rows="5"></textarea>-->
            </div>
            <!-- error message of textarea field goes here -->
            <div class="message-body-error text-danger"
                 ng-show="visibilityMsgBodyErrorMsg"
                 ng-click="removeMsgBodyError()">
                <i class="fa fa-exclamation-circle"></i> {{errorMsgArr[currentMsgBodyErrorMsg]}} <i class="fa fa-times pointer"></i>
            </div>

            <!--<button class="btn btn-default btn-xs"><i class="fa fa-paperclip"></i> Attachments</button>-->
            <span class="attachment-module">
                <!-- Attachment btn goes here -->
                <button class="btn btn-xs btn-warning" ng-click="triggerFileAttachment()"><i class="fa fa-paperclip"></i> Attach Document</button>
                <input class="hidden" type="file" id="tx-attachment" name="tx_attachment" onchange="angular.element(this).scope().attachDocument()" />
                &nbsp;
                <!-- Attachment list -->
                <span class="attachment-list" ng-show="file.attachmentName.length > 0">
                    <button class="btn btn-default btn-xs disabled p-left-5">
                        {{file.attachmentName}}
                    </button><i class="fa fa-times pointer hidden" ng-click="resetAttachmentData()"></i>
                </span>
            </span>
            <hr>
            <!-- Additional Filters -->
            <div class="additional-filter p-bottom-4 container">

                <span class="col-lg-3 no-padding">
                <div class="">Priority</div>
                <select class="form-control" ng-model="composeMsg.Priority">
                    <option ng-repeat="pr in priority track by $index" value="{{$index}}">{{priority[$index]}}</option>
                </select>
                </span>

                <span class="col-lg-3 ">
                    <div class="">Target Date</div>
                         <date-time-picker input-group-class="input-group-sm" recipient="composeMsg.TargetDate" settings='{
                                                                        "format" : "d M Y H:m",
                                                                        "timepicker" : true,
                                                                        "mask" : false,
                                                                        "hours12" : false
                                                                        }'></date-time-picker>

                    <!--<date-time-picker recipient="composeMsg.TargetDate" settings='{"format" : "d-M-Y", "hours12" : false, "timepicker" : false}' ></date-time-picker>-->
                </span>

                <span class="col-lg-3 no-padding">
                    <div class="">Expiry Date</div>
                    <date-time-picker input-group-class="input-group-sm" recipient="composeMsg.ExpiryDate" settings='{
                                                                        "format" : "d M Y H:m",
                                                                        "timepicker" : true,
                                                                        "mask" : false,
                                                                        "hours12" : false
                                                                        }'></date-time-picker>
                    <!--<date-time-picker recipient="composeMsg.ExpiryDate" settings='{"format" : "d-M-Y", "hours12" : false, "timepicker" : false}' ></date-time-picker>-->
                </span>

                <span class="col-lg-3 send-button text-right" ng-disabled="visibilityHtml.disabledSendBtn">
                     <button class="btn btn-primary no-radius"
                        ng-click="sendMessage()"><i class="fa fa-send"></i> Send</button>
                </span>
            </div>
        </div>
    </div>
</div>
