<!-- Outbox module goes here -->
<section id="outbox-wrapper" class="hpw ow">
    <!-- Header menu goes here -->
    <header-section></header-section>
    <section class="page-content">
        <!-- NEW DESIGN GOES HERE -->
        <div class="container width-100 ">

            <div class="panel-body">
                <!-- Left Side Content: Messages Indexes -->
                <div class="col-lg-3 no-padding">
                    <!-- main indexes -->
                    <div class="inbox-head-left main-index inbox-head-left-bg">
                        <h3 class="text-white text-center"><i class="fa fa-envelope"></i> MessageBox</h3>
                    </div>
                    <!-- All the indexes/menu goes here -->
                    <div class="index-menu">
                        <ul class="inbox-nav inbox-divider">
                            <li class="active index-menu-item composeMailMenuItem">
                                <a href="#"> <i class="fa fa-pencil-square-o"></i> Compose</a>
                            </li>
                            <li class="active index-menu-item">
                                <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger ">2</span></a>
                            </li>
                            <li class="index-menu-item">
                                <a href="#"><i class="fa fa-envelope-o"></i> Outbox</a>
                            </li>
                            <li class="index-menu-item">
                                <a href="#"><i class="fa fa-trash-o"></i> Trash</a>
                            </li>
                            <li class="index-menu-item group index-title-group">
                                <a ng-click="modalAddGroupVisibility()">
                                    <i class=" fa fa-external-link"></i> Groups <span class="label label-info">30</span>
                                </a>
                                <span class="pull-right">
                                    <button class="btn btn-primary btn-xs no-radius"><i class="fa fa-plus"></i> New</button>
                                    <!--<button class="btn btn-success btn-xs no-radius"><i class="fa fa-edit"></i> Edit</button>-->
                                </span>
                            </li>
                            <!-- groups goes here -->
                            <li class="index-menu-item group">
                                <a href="#"><i class="fa fa-group"></i> Group 1</a>
                            </li>
                            <li class="index-menu-item group">
                                <a href="#"><i class="fa fa-group"></i> Group 2</a>
                            </li>
                            <li class="index-menu-item group">
                                <a href="#"><i class="fa fa-group"></i> Group 3</a>
                            </li>
                            <!-- My People -->
                            <li class="index-menu-item people index-title-people">
                                <a href="#"><i class="fa fa-user"></i> My People</a>
                            </li>
                            <li class="index-menu-item people">
                                <a href="#"><i class="fa fa-comments"></i> User 1</a>
                            </li>
                            <li class="index-menu-item people">
                                <a href="#"><i class="fa fa-comments"></i> User 1</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Right Side Content: Messages Indexes -->
                <div class="col-lg-9 no-padding  message-content">
                    <div class="inbox-head">
                        <h3 class="text-white"> </h3>
                    </div>


                    <!-- Compose message block -->
                    <div class="width-100 p-left-10 p-top-10">
                        <div class="compose-message">
                            <i class="fa fa-envelope-o"></i> COMPOSE MESSAGE
                        </div>
                        <div class="message-body">
                            <div class="input-group p-bottom-4">
                                <div class="input-group-addon">To</div>
                                <input type="text" ng-model="composeMsg.MessageTo" class="form-control" id="to" placeholder="To">
                            </div>
                            <div class="input-group p-bottom-4">
                                <div class="input-group-addon">From</div>
                                <input type="text" ng-model="composeMsg.MessageFrom" class="form-control" id="from" placeholder="From">
                            </div>

                            <div class="p-bottom-4">
                                <textarea class="form-control p-bottom-4" ng-model="composeMsg.MessageBody" placeholder="Your message" rows="5"></textarea>
                            </div>


                            <button class="btn btn-warning"><i class="fa fa-paperclip"></i> Attachments</button>
                            <label class="label label-info">myFile.pdf &nbsp;<span title="remove attachment" class="label label-danger">X</span></label>
                            <label class="label label-info">myFile1.pdf  &nbsp;<span title="remove attachment" class="label label-danger">X</span></label>
                            <hr>
                            <!-- Additional Filters -->
                            <div class="additional-filter p-bottom-4">
                                <span class="col-lg-4 no-padding">
                                <div class="">Priority</div>
                                <select class="form-control" ng-model="composeMsg.Priority">
                                    <option value="1">High</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Low</option>
                                </select>
                                    </span>

                                <span class="col-lg-4 ">
                                    <div class="">Target Date</div>
                                    <!--<input type="text" class="form-control" id="target-date" placeholder="Target Date">-->
                                    <date-time-picker recipient="composeMsg.TargetDate" settings='{"format" : "d-M-Y", "hours12" : false, "timepicker" : false}' ></date-time-picker>
                                </span>

                                <span class="col-lg-4 no-padding">
                                    <div class="">Expiry Date</div>
                                    <!--<input type="text" class="form-control" id="expiry-date" placeholder="Expiry Date">-->
                                    <date-time-picker recipient="composeMsg.ExpiryDate" settings='{"format" : "d-M-Y", "hours12" : false, "timepicker" : false}' ></date-time-picker>
                                </span>
                            </div>
                            <div class="send-button text-right p-bottom-4">
                                <button class="btn btn-primary no-radius p-top-4 m_top_4" ng-click="sendMessage();"><i class="fa fa-send"></i> Send</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-form-test hidden">
                    <review-form> </review-form>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer goes here -->
    <footer-section></footer-section>
</section>