<section id="detail-message-wapper chat hpw" ng-controller="DetailMessageCtrl">
    <div class="message-content-tbl hpw">
        <div class="row setRowLeftRightMarginZero">
            <div class="pagination-btn">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 setLeftRightPaddingZero topMarginButton">
                    <!--<span class="text-bolder"><i class="fa fa-arrow-circle-down text-primary"></i> FROM: </span>-->
                    <!-- Group name -->
                    <button class="btn btn-danger btn-xs" disabled>{{groupName}}</button>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 setLeftRightPaddingZero text-right" ng-show="isGroupLoaded">
                    <i class="text text-dark-gray">Created 2Years ago.</i>
                </div>
                <div class="container" ng-show="isGroupLoaded">
                    <div class="col-lg-12 p-top-10">
                        <!-- Group description goes here -->
                        <p class="group-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="style-two">
        <div class="row setRowLeftRightMarginZero">
            <!-- individual msgs -->
            <div class="container p-bottom-10" ng-repeat="msg in messageData track by $index">
                <div class="col-lg-7 text-left no-padding chat-style-sender-msg">
                    <span class="sender-name" ng-hide="msg.senderid == loggedInMasterId">
                        <i class="fa fa-user"></i> {{msg.name}}
                            <span class="group-sender" ng-show="msg.sender.length > 0 && msg.grouptype == 0">
                                ({{msg.sender}})
                            </span>
                    </span>
                    <span class="you" ng-show="msg.senderid == loggedInMasterId">
                        <i class="fa fa-circle text-danger fa-spin"></i> YOU
                    </span>
                </div>
                <!-- created time -->
                <div class="col-lg-5 text-right no-padding chat-style-sender-msg">
                    {{convertTimeToLocal(msg.CreatedDate)}} <i class="fa fa-clock-o"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 message-detail-text chat-style-inbox chat-message">
                    {{msg.message}}
                </div>
                <!-- Attachments and other btns -->
                <div class="col-lg-12 text-right no-padding chatting-attachment-btn">
                    <!-- attachment btn -->
                    <button class="btn btn-default btn-xs"
                            ng-show="msg.attachmentname.length > 0"
                            ng-click="initiateDownload(msg.senderid)">
                        <i class="fa fa-paperclip"></i> Download Attachment
                    </button>
                    <button disabled class="btn btn-default btn-xs"><b class="text-danger">Priority</b>: {{priority[msg.Priority -1]}}  </button>
                    <button ng-hide="convertTimeToLocal(msg.TargetDate) == 'Invalid date'" disabled class="btn btn-default btn-xs">
                        <b class="text-danger">Target</b>:  {{convertTimeToLocal(msg.TargetDate)}}
                    </button>
                    <button ng-hide="convertTimeToLocal(msg.ExpiryDate) == 'Invalid date'" disabled class="btn btn-default btn-xs">
                        <b class="text-danger">Expiry</b>:  {{convertTimeToLocal(msg.ExpiryDate)}}
                    </button>
                </div>
            </div>

            <!-- No message available warning -->
            <div class="warning message p-bottom-10" ng-show="!messageData.length > 0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 message-detail-text chat-style-inbox">
                    <span>
                        <i class="fa fa-exclamation-circle"></i> No Previous Message Available.
                    </span>
                </div>
            </div>

            <!-- Reply button -->
            <div class="col-lg-12 no-border p-top-10 text-right">
                <button class="btn btn-primary"
                        ng-show="messageData.length > 0"
                        ng-click="loadReplyMsgForm()"
                        ng-hide="composeMessageTemplate.length > 0"><i class="fa fa-envelope"></i> Message</button>

                <!--<button class="btn btn-primary"-->
                <!--ng-hide="messageData.length > 0"-->
                <!--ng-click="loadReplyMsgForm()"-->
                <!--ng-hide="composeMessageTemplate.length > 0"><i class="fa fa-envelope"></i> Message</button>-->
            </div>
            <div class="col-lg-12">
                <!-- compose message HTML goes here -->
                <div ng-include="composeMessageTemplate"></div>
            </div>
        </div>
    </div>
</section>