<div class="row setRowLeftRightMarginZero post-job" ng-controller="ResumeJobSeekerCtrl">
    <!-- Start of design for finding - Job Seekers -->
    <section id="job-seeker-search" class="jss hpw job-seeker-bg">
        <div class="container width-100 setRowLeftRightMarginZero setLeftRightPaddingZero">
            <div class="panel">
                <div class="panel-primary panel-heading">
                    <i class="fa fa-search"></i>  Find Job Seekers
                </div>
                <div class="panel-default panel-body">
                    <!-- seacrh bar to search job keyword by skill keywords -->
                    <div class="container p-bottom-10">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Skill Keyword" ng-model = "jobSeekerSkillKeyword" />
                            <!-- <div class="input-group">
                                 <input type="text" class="form-control" placeholder="Search job seekers by skill keywords" />
                                 <span class="btn btn-primary input-group-addon"><i class="fa fa-search"></i></span>
                             </div>-->
                        </div>
                        <!-- Job type and salary range -->
                        <div class="col-lg-8">
                            <!-- Job Type -->
                            <div class="col-lg-4 no-left-padding">
                                <select class="form-control" ng-model = "jobSeekerJobType">
                                    <option value="0"> Job Type </option>
                                    <option value="1">Full Time</option>
                                    <option value="2">Part Time</option>
                                    <option value="3">Work From Home</option>
                                    <option value="4">Internship</option>
                                    <option value="5">Consultant</option>
                                    <option value="6">Freelancer</option>
                                </select>
                            </div>
                            <div class="col-lg-8 no-padding">
                                <div class="input-group">
                                    <span class="input-group-addon">Salary From</span>
                                    <input type="text" decimals-only maxlength="17" placeholder="Ex: 100000" ng-model = "jobSeekerSalaryFrom" class="form-control text-right"/>
                                    <span class="input-group-addon">To</span>
                                    <input type="text" decimals-only maxlength="17" placeholder="Ex: 200000" ng-model = "jobSeekerSalaryTo" class="form-control text-right"/>
                                        <span class="btn btn-default input-group-addon  dropdown-toggle" data-toggle="dropdown">{{salaryTypeArray[activeSalaryType]}}
                                            <span class="caret"></span>
                                        </span>
                                    <ul class="dropdown-menu salary-filter-type">
                                        <li><a ng-click="activeSalaryType = 0">per Hour</a></li>
                                        <li><a  ng-click="activeSalaryType = 1">per Month</a></li>
                                        <li><a  ng-click="activeSalaryType = 2">per Annum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container p-bottom-10">
                        <!-- Country -->
                        <div class="col-lg-4">
                            <select class="form-control" disabled>
                                <option value="">India</option>
                                <option>UAE</option>
                                <option>Ireland</option>
                            </select>
                        </div>
                        <div class="col-lg-8 no-padding">
                            <!-- Locations -->
                            <div class="col-lg-4">
                                <input type="text" id="google-map-search-box1" placeholder="Ex: Banglore" ng-model = "jobSeekerLocation" class="form-control"/>
                            </div>
                            <!-- Experiences -->
                            <div class="col-lg-8 no-left-padding">
                                <div class="input-group">
                                    <span class="input-group-addon">Experience</span>
                                    <input type="text" decimals-only maxlength="5" placeholder="Ex: 1" ng-model = "jobSeekerExperienceFrom" class="form-control"/>
                                    <span class="input-group-addon">To</span>
                                    <input type="text" decimals-only maxlength="5" placeholder="Ex: 3" ng-model = "jobSeekerExperienceTo" class="form-control"/>
                                    <span class="input-group-addon">years</span>
                                    <span class="btn btn-dark-orange input-group-addon"><i class="fa fa-search"></i> Search</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-lg-12">
                            <hr>
                        </div>
                        <div class="col-lg-6">
                            Showing 1-10 of 120 results
                        </div>
                        <div class="col-lg-6 text-right">
                            <button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i></button>
                            <button class="btn btn-primary"><i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                    <div class="container">
                        <!-- main table goes here -->
                        <div class="main-table p-top-20 col-lg-12">
                            <div class="col-lg-12 table-head">
                                <div class="col-lg-1">
                                    <i class="fa fa-square-o"></i> #
                                </div>
                                <div class="col-lg-2">
                                    Name
                                </div>
                                <div class="col-lg-1">
                                    Location
                                </div>
                                <div class="col-lg-3">
                                    Skills
                                </div>
                                <div class="col-lg-1">
                                    Experience
                                </div>
                                <div class="col-lg-3">
                                    Preferred Job Type
                                </div>
                                <div class="col-lg-1">
                                    Freshness
                                </div>
                            </div>
                            <div class="col-lg-12 table-body">
                                <div class="col-lg-1">
                                    <i class="fa fa-check-square-o"></i> 1
                                </div>
                                <div class="col-lg-2">
                                    Chandra Shekar
                                </div>
                                <div class="col-lg-1">
                                    Bengaluru
                                </div>
                                <div class="col-lg-3">
                                    J2ee, Oracle, C++, SQL
                                </div>
                                <div class="col-lg-1">
                                    3.5 Yrs
                                </div>
                                <div class="col-lg-3">
                                    Full Time, Consultant, Freelancer
                                </div>
                                <div class="col-lg-1">
                                    5 Day
                                </div>
                            </div>

                            <div class="col-lg-12 table-body table-striped-bg">
                                <div class="col-lg-1">
                                    <i class="fa fa-check-square-o"></i> 2
                                </div>
                                <div class="col-lg-2">
                                    Shweta
                                </div>
                                <div class="col-lg-1">
                                    Bengaluru
                                </div>
                                <div class="col-lg-3">
                                    J2ee, Oracle, C++, SQL
                                </div>
                                <div class="col-lg-1">
                                    3.5 Yrs
                                </div>
                                <div class="col-lg-3">
                                    Full Time, Consultant, Freelancer
                                </div>
                                <div class="col-lg-1">
                                    5 Day
                                </div>
                            </div>

                            <div class="col-lg-12 table-body">
                                <div class="col-lg-1">
                                    <i class="fa fa-square-o"></i> 3
                                </div>
                                <div class="col-lg-2">
                                    Ramesh Shekar
                                </div>
                                <div class="col-lg-1">
                                    Bengaluru
                                </div>
                                <div class="col-lg-3">
                                    J2ee, Oracle, C++, SQL
                                </div>
                                <div class="col-lg-1">
                                    3.5 Yrs
                                </div>
                                <div class="col-lg-3">
                                    Full Time, Consultant, Freelancer
                                </div>
                                <div class="col-lg-1">
                                    5 Day
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-danger panel-footer text-white">
                    <i class="fa fa-envelope"></i> Compose Mail <label class="label label-primary">2</label>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="col-lg-6">
                            <div class="input-group">
                                    <span class="input-group-addon">
                                        Template
                                    </span>
                                <select class="form-control">
                                    <option>New</option>
                                    <option> - </option>
                                </select>
                                <span class="btn btn-primary input-group-addon"><i class="fa fa-plus"></i> New</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">Job Type</span>
                                <select class="form-control">
                                    <option value="0"> Job Type </option>
                                    <option value="1">Full Time</option>
                                    <option value="2">Part Time</option>
                                    <option value="3">Work From Home</option>
                                    <option value="4">Internship</option>
                                    <option value="5">Consultant</option>
                                    <option value="6">Freelancer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 p-top-10">
                            <div class="input-group">
                                <span class="input-group-addon">Subject</span>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-12 p-top-10">
                            <div class="input-group">
                                <span class="input-group-addon">Message</span>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 text-right p-top-10">
                            <button class="btn btn-danger"><i class="fa fa-trash"></i> Cancel</button>
                            <button class="btn btn-success"><i class="fa fa-send"></i> Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of design for finding - Job Seekers -->
</div>
