<!-- Main job post starts here -->
<div class="row setRowLeftRightMarginZero post-job" ng-controller="ResumeJobsCtrl">
    <div ng-show="showJobListing">
        <!-- Top filter start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 setLeftRightPaddingZero topMarginButton">
            <div class="row bottom-clearfix">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bottom-clearfix">
                    <div class="input-group tx-search-input-group">
                        <input class="form-control" ng-model="jobSearchTerm" type="text" placeholder="Search job based on Title"/>
                        <span class="input-group-addon btn-link" title="Clear" ng-show="txSearchTerm" ng-click="clearSearchTerm(1,statusType)">
                                <i class="fa fa-times"></i>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-info"
                                    ng-click="searchJobTerm()"
                                    type="button"><i class="fa fa-search"></i> Search
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 bottom-clearfix setLeftRightPaddingZero">
                    <div class="row setRowLeftRightMarginZero">
                        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 bottom-clearfix tx-filter-container centerAlignImp" title="Order By">
                            <label class="label label-danger">Order By</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 bottom-clearfix" title="Order By">
                            <div class="form-group form-group-sm">
                                <select class="form-control" ng-model="order_by" ng-change="searchJobTerm()">
                                    <option value="2"> Date (Latest)</option>
                                    <option value="1"> Date (Oldest)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 bottom-clearfix tx-filter-container centerAlignImp" title="Status">
                            <label class="label label-danger">Status</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 bottom-clearfix" title="Status">
                            <div class="form-group form-group-sm">
                                <select class="form-control" ng-model="jobFilterStatus" ng-change="searchJobTerm()">
                                    <option value="0"> Active </option>
                                    <option value="1"> Closed(Hired) </option>
                                    <option value="2"> Cancelled </option>
                                    <option value="0,1,2"> All </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 bottom-clearfix setLeftRightPaddingZero">
                            <!--<button class="btn btn-sm btn-success no-radius" ng-click="openJobPostForm('add')" data-toggle="tooltip" title="" data-original-title="Add New Job">-->
                            <button class="btn btn-sm btn-success no-radius" ng-click="openJobPostForm('add')" title="Add New Job">
                                <span class="glyphicon glyphicon-plus-sign"></span> Add New Job
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-right">
                    <button class="btn"
                            ng-class="paginationPreviousVisibility?' btn-primary':' btn-default'"
                            ng-disabled="!paginationPreviousVisibility"
                            ng-click="paginationPreviousClick()">
                        Previous <i class="fa fa-arrow-circle-left"></i>
                    </button>
                    <button class="btn btn-primary"
                            ng-class="paginationNextVisibility?' btn-primary':' btn-default'"
                            ng-disabled="!paginationNextVisibility"
                            ng-click="paginationNextClick()">
                        <i class="fa fa-arrow-circle-right"></i> Next
                    </button>
                </div>
            </div>
        </div>
        <!-- Top filter ends -->

        <!--List of Job Start hear-->
        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 setLeftRightPaddingZero" ng-repeat="job in jobData track by $index">
            <div class="row tx-row {{(($index%2) == 0) ? 'even' : 'odd'}} setRowLeftRightMarginZero" ng-class="(editModes[$index]) ? 'edit' : ''" tabindex="1">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 bottom-clearfix" style="word-wrap:break-word;">
                    <small class="text-success">
                        <!--<b class="ng-binding" data-toggle="tooltip" title="" data-original-title="{{job.jobcode}}"> <span title="{{job.jobcode.length > 15 ? job.jobcode : ''}}"></span>JobCode:{{ job.jobcode | textLength:15}}</b>-->
                        <b class="ng-binding" >
                            <span title="{{job.jobcode.length >= 12 ? job.jobcode : ''}}">JobCode:{{' '+job.jobcode | textLength:12}}
                            </span>
                        </b>
                    </small>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bottom-clearfix" style="word-wrap:break-word;">
                    <small class="text-success">
                        <!--<b class="ng-binding" data-toggle="tooltip" title="" data-original-title="{{job.jobtitle}}">{{job.jobtitle | textLength:25}}</b>-->
                        <b class="ng-binding"  title="{{job.jobtitle.length >= 40 ? job.jobtitle : ''}}" >{{job.jobtitle | textLength:40}}</b>
                    </small>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 bottom-clearfix" style="word-wrap:break-word;">
                    <small class="text-success">
                        <b class="ng-binding">{{job.posteddate | ageFilter}}</b>
                    </small>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 bottom-clearfix" style="word-wrap:break-word;">
                    <small class="text-success pointer">
                        <b class="ng-binding showPointer" ng-click="openCandidateListPopup(job.tid,job.totalapplied)" title="View Applicants">{{job.totalapplied}} Applicants</b>
                    </small>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <!--<button class="btn btn-xs btn-block btn-warning no-radius" title="Edit Details" ng-click="openJobPostForm($index)">-->
                    <button class="btn btn-xs btn-block btn-warning no-radius" title="Edit Details" ng-click="editPostedJob(job.tid)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </button>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <button class="btn btn-xs btn-block btn-warning no-radius" title="Refresh" ng-click="refreshJob(job.tid)">
                        <span class="glyphicon glyphicon-refresh"></span>
                        Refresh
                    </button>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 bottom-clearfix text-center">
                    <small class="text-success">
                        <b class="ng-binding" ng-show="job.status == 0">Active</b>
                        <b class="ng-binding" ng-show="job.status == 1">Closed(Hired)</b>
                        <b class="ng-binding" ng-show="job.status == 2">Cancelled</b>
                    </small>
                </div>
            </div>
        </div>
        <!--List of Job End hear-->
    </div>

    <div ng-hide="showJobListing" class="emailPannelTopMargin postJob">
        <!-- Post new job start from hear -->
        <form name="jobPostForm" novalidate>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Job Title</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" maxlength="150" ng-model = "jobTitle" placeholder="Job Title" class="form-control"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Job Code</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" maxlength="30" ng-model = "jobCode" placeholder="Job Code" class="form-control"/>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Job Description</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div text-angular ng-model="jobDescription"
                         name="demo-editor"
                         ta-text-editor-class="border-around jobDescription"
                         ta-html-editor-class="border-around jobDescription">
                    </div>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>No. of Vacancies</label>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                    <input numbers-only type="text" ng-model = "jobVacancies" placeholder="0" class="form-control text-right"/>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fotterButtonContainer">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Experience</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" decimals-only maxlength="4" placeholder="1" ng-model = "experienceFrom" class="form-control text-right"/>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 setTopMarginOneNhalf text-center">
                            to
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                           <input type="text" decimals-only maxlength="4" placeholder="3" ng-model = "experienceTo" class="form-control text-right"/>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setTopMarginOneNhalf">
                            Years
                        </div>
                    </div>
                </div>

            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Location</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <input type="text" id="google-map-search-box" placeholder="Type City" ng-model = "jobLocation" class="form-control"/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-right">
                            <button type="button" class="btn btn-primary" ng-disabled="disabledAddLocation" ng-click="addJobLocation(true)"><i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                    <!--<div class="row topMargin-three setBorderColor setRowLeftRightMarginZero locationListBox" ng-show="locationArrayString.length">
                        <div class="row setRowLeftRightMarginZero" ng-repeat="location in locationArrayString track by $index">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <span data-toggle="tooltip" title="" data-original-title="{{location}}">{{location | textLength:15}}</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a class="showPointer">
                                    <i class="fa fa-map-marker" ng-click="modalVisibility($index + 1)">
                                      {{mainLocationArray[$index].maptype == 0 ? 'Set Job Location' : 'Change Job Location'}}
                                    </i>
                                </a>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 setLeftRightPaddingZero">
                                <span class="showPointer"><img src="/images/Droped_Red_16.png" ng-click="removeLocation($index)" class="width-100-px"></span>
                            </div>
                        </div>
                    </div>-->
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row setBorderColor setRowLeftRightMarginZero locationListBox" ng-show="locationArrayString.length">
                        <div class="row setRowLeftRightMarginZero" ng-repeat="location in locationArrayString track by $index">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <span data-toggle="tooltip" title="" data-original-title="{{location}}">{{location | textLength:15}}</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a class="showPointer">
                                    <i class="fa fa-map-marker" ng-click="modalVisibility($index + 1)">
                                        {{mainLocationArray[$index].maptype == 0 ? 'Set Job Location' : 'Change Job Location'}}
                                    </i>
                                </a>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 setLeftRightPaddingZero">
                                <span class="showPointer"><img src="/images/Droped_Red_16.png" ng-click="removeLocation($index)" class="width-100-px"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="row setRowLeftRightMarginZero">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                        <label>Salary</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 fotterButtonContainer">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 setLeftRightPaddingZero">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 setLeftRightPaddingZero">
                                <input type="text" decimals-only maxlength="17" placeholder="200000" ng-model = "salaryFrom" class="form-control text-right"/>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer text-center topMargin-three setLeftRightPaddingZero">
                                <span>to</span>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 setLeftRightPaddingZero">
                                <input type="text" decimals-only maxlength="17" placeholder="350000" ng-model = "salaryTo" class="form-control text-right"/>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 setLeftRightPaddingZero">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer text-center topMargin-three setLeftRightPaddingZero">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 setLeftRightPaddingZero">
                               <select class="form-control" name="listType" ng-model = "salaryType">
                                    <option value="1"> Per Hour </option>
                                    <option value="2"> Per Month </option>
                                    <option value="3"> Per Annum </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                        <label>Job Type</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control ng-pristine ng-valid ng-touched" ng-model = "jobType">
                            <option value="0">Full Time</option>
                            <option value="1">Part Time</option>
                            <option value="2">Work from Home</option>
                            <option value="3">Internship</option>
                            <option value="4">Apprenticeship</option>
                            <option value="5">Job Oriented Training</option>
                            <option value="6">Consultant</option>
                            <option value="7">Freelancer</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Contact Name</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text" maxlength="200" placeholder="Contact Name" ng-model = "contactName" class="form-control"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Email</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <input type="text"
                           ng-model = "emailContact"
                           name="emailID"
                           maxlength="250"
                           placeholder="Email"
                           class="form-control"/>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Phone</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <input type="text" numbers-only maxlength="12" placeholder="Phone" ng-model = "phone" class="form-control"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Status</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" ng-model="jobStatus">
                        <option value="0"> Active </option>
                        <option value="1"> Closed(Hired) </option>
                        <option value="2"> Cancelled </option>
                    </select>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Job Function</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control" name="listType" ng-model="jobCategori">
                        <option value="0"> -- Select -- </option>
                        <option ng-repeat="categori in jobCategories track by $index" value="{{categori.FunctionID}}">{{categori.FunctionName}}</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Last Education</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hpw" id="jobpostEdu">
                    <button class="btn btn-default btn-sm dropdown-toggle1 opt opt-2 drpFunction">
                        <span class="normal-view-text custom-select-dropdown"> -- Select ({{selectedEducations.length}}) -- </span>
                        <span class="mobile-view-text"></span>
                        <span class="caret selectImg"></span></button>
                    <div class="opt opt-2">
                        <div class="filter-dropdown width89 search-option-content setTableFixHeight" style="display: none;">
                            <div class="checkbox-dropdown" ng-repeat="education in educationList track by $index" ng-click="selectEducation(education.TID)">
                                <i class="fa " ng-class="selectedEducations.indexOf(education.TID)!=-1 ?'fa-check-square':'fa-square-o'"></i> {{education.EducationTitle}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Specialization</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hpw" id="jobpostSpeci">
                    <button ng-click="getSpecilizationForEducation()" class="btn btn-default btn-sm dropdown-toggleSpecialization opt opt-2 drpFunction">
                        <span class="normal-view-text custom-select-dropdown"> -- Select ({{selectedSpecializations.length}}) -- </span>
                        <span class="mobile-view-text"></span>
                        <span class="caret selectImg"></span>
                    </button>
                    <div class="opt opt-2">
                        <div  class="filter-dropdownspecialization width89 search-option-content setTableFixHeight" style="display: none;">
                            <div class="checkbox-dropdown" ng-repeat="specialization in specializationList track by $index" ng-click="selectSpecialization(specialization.TID)">
                                <i class="fa " ng-class="selectedSpecializations.indexOf(specialization.TID)!=-1 ?'fa-check-square':'fa-square-o'"></i> {{specialization.Title}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Restrict Job To Institute</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hpw" id="jobpostInstit">
                    <button class="btn btn-default btn-sm dropdown-toggleInstitute opt opt-2 drpFunction">
                        <span class="normal-view-text custom-select-dropdown"> -- Select ({{selectedInstitute.length}}) -- </span>
                        <span class="mobile-view-text"></span>
                        <span class="caret selectImg"></span>
                    </button>
                    <div class="opt opt-2">
                        <div class="filter-dropdownInstitute width89 search-option-content setTableFixHeight" style="display: none;">
                            <div class="checkbox-dropdown" ng-repeat="institute in instituteList track by $index" ng-click="selectInstitute(institute.TID)">
                                <i class="fa " ng-class="selectedInstitute.indexOf(institute.TID)!=-1 ?'fa-check-square':'fa-square-o'"></i>

                                    <span class="text-left">{{institute.InstituteTitle}}</span>
                                    <span style="float: right;">{{institute.rating }}Star</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row topMarginButton">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <label>Aggregate Score</label>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fotterButtonContainer">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
                            <input type="text" class="form-control text-right" numbers-only maxlength="3" ng-model="score_from" placeholder="75" aria-describedby="sizing-addon1"/>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 topMargin-three">
                            to
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
                            <input type="text" class="form-control text-right" numbers-only maxlength="3" ng-model="score_to" placeholder="95" aria-describedby="sizing-addon1"/>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 ">
                    <input type="text" class="form-control text-right" numbers-only maxlength="3" ng-model="aggregate_score" placeholder="87" aria-describedby="sizing-addon1"/>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 ">
                    to
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 ">
                    <input type="text" class="form-control text-right" numbers-only maxlength="3" ng-model="aggregate_score" placeholder="87" aria-describedby="sizing-addon1"/>
                </div>-->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 topPaddingOne setLeftRightPaddingZero">
                    %
                </div>
            </div>


            <div class="row topMarginButton">
                <div class="row setRowLeftRightMarginZero">
                    <span class="skillText">Skill Map (Choose & Rate your Skills to get a right Job) </span>
                </div>
                <div class="row setRowLeftRightMarginZero">
                    <table class="table table-striped skillMatrixTable" st-table="rowCollection">
                        <thead>
                            <tr style="background:#ECECEC; color:#000000;">
                                <th class="panelPd5px skillKeyWord newSkillFieldJob"><span class="padding-left4">Skill</span></th>
                                <th class="panelPd5px skillExpertiesJob msg_pos">Expertise Level</th>
                                <th class="panelPd5px from_size msg_pos">Experience(Years)</th>
                                <th class="panelPd5px from_size msg_pos">Active Skills</th>
                                <th class="panelPd5px skillAction msg_pos">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5">
                                    <div class="setTableFixHeight">
                                        <table style="width: 100%;">

                                            <tr ng-repeat="skill in skillMatrix">
                                                <td class="panelPd5px newSkillFieldJobText" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                    <span ng-hide="editMode[$index]">{{skillMatrix[$index].skillname}}</span>
                                                    <div class="ui-widget " ng-show="editMode[$index]">
                                                        <input class="form-control" type="text" id="tags{{$index}}" ng-keyup="complete($index)"
                                                               ng-model="editSkill.skillname" placeholder="Type skill here"/>
                                                    </div>
                                                </td>
                                                <td class="panelPd5px skillExpertiesJobDropdown" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                    <!--<span ng-hide="editMode[$index]">{{expertiseLevels[skillMatrix[$index].expertiseLevel]}}</span>-->
                                                    <span ng-hide="editMode[$index]" title="{{skillMatrix[$index].expertiseText}}">{{skillMatrix[$index].expertiseText}}</span>

                                                 <!--   <span ng-hide="editMode[$index]">
                                                        {{skill.expertiseLevel}}
                                                       &lt;!&ndash; <span ng-repeat="exp in skill.expertiseLevel">
                                                            {{exp}}
                                                        </span>&ndash;&gt;
                                                       &lt;!&ndash; {{skillMatrix[$index].expertiseText}}&ndash;&gt;
                                                    </span>
-->
                                                    <div
                                                          ng-show="editMode[$index]"
                                                          talent-multi-select=""
                                                          input-model="inputExpertise"
                                                          output-model="outputBrowsers"
                                                          button-label=" name"
                                                          default-button-label="Expertise Level "
                                                          item-label="name"
                                                          tick-property="ticked"
                                                          on-open="fOpen()"
                                                          on-close="fClose()"
                                                          on-item-click="fClick( data )"
                                                          on-select-all="fSelectAll()"
                                                          on-select-none="fSelectNone()"
                                                          on-reset="fReset()"
                                                          on-clear="fClear()"
                                                          on-search-change="fSearchChange( data )"
                                                          translation="functionTags"
                                                          custom-button-class="btn-block"
                                                          max-labels="0"
                                                          max-height="150px"
                                                          helper-elements="">
                                                    </div>
                                                </td>
                                                <td class="panelPd5px msg_pos expSkillMap" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                    <span ng-hide="editMode[$index]">{{skillMatrix[$index].exp_from}}</span>
                                                    <div style="float: right;">
                                                        <span ng-hide="editMode[$index]">{{skillMatrix[$index].exp_to}}</span>
                                                    </div>

                                                    <div style="float: left;">
                                                        <input type="text"
                                                               ng-show="editMode[$index]"
                                                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                                                               name="experienceFromYear"
                                                               maxlength="4"
                                                               ng-model="editSkill.exp_from"
                                                               class="form-control newCvExpField text-right"
                                                               placeholder="Ex. 5.00"/>
                                                    </div>
                                                    <div style="float: right;">
                                                        <input type="text"
                                                               ng-show="editMode[$index]"
                                                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                                                               name="experienceYear"
                                                               maxlength="4"
                                                               ng-model="editSkill.exp_to"
                                                               class="form-control newCvExpField text-right"
                                                               placeholder="Ex. 5.00"/>
                                                    </div>

                                                     </td>
                                                <td class="panelPd5px msg_pos" ng-hide="(!editMode[$index]) && ($index == 0)">

                                                    <select ng-show="editMode[$index]" class="form-control" ng-model="skillMatrix[$index].active_status">
                                                        <option value="0"> Inactive </option>
                                                        <option value="1"> Active </option>
                                                        <option value="2"> Both </option>
                                                    </select>

                                                    <span ng-hide="editMode[$index]">
                                                        <span ng-show="skillMatrix[$index].active_status == 0">Inactive </span>
                                                        <span ng-show="skillMatrix[$index].active_status == 1">Active </span>
                                                        <span ng-show="skillMatrix[$index].active_status == 2">Both </span>
                                                    </span>

<!--
                                                    <span ng-hide="editMode[$index]">{{skillMatrix[$index].skillname}}</span>
                                                    <div class="ui-widget " ng-show="editMode[$index]">
                                                        <input class="form-control" type="text" id="tags{{$index}}" ng-keyup="complete($index)"
                                                               ng-model="editSkill.skillname" placeholder="Type skill here"/>
                                                    </div>-->

                                                    <!--<input class="newCvActveSkills" type="checkbox" ng-hide="editMode[$index]" ng-disabled="1" ng-model="skillMatrix[$index].active_status"/>
                                                    <input class="newCvActveSkills" ng-show="editMode[$index]" type="checkbox"  ng-checked="editSkill.active_status" ng-model="editSkill.active_status"/>-->
                                                </td>
                                                <td class="panelPd5px msg_pos" ng-hide="(!editMode[$index]) && ($index == 0)">
                                                    <button class="btn btn-success btn-xs" ng-show="editMode[$index]" ng-click="saveSkillFn($index)">Add</button>
                                                    <button class="btn btn-warning btn-xs" ng-hide="editMode[$index]" ng-click="editSkillFn($index)">Edit</button>
                                                    <button class="btn btn-primary btn-xs panelTextSize" ng-disabled="$index == 0" ng-click="deleteSkilFromMartix($index,skillMatrix[$index].tid)">Delete</button>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row topMarginButton">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                    <input type="button" ng-click="postJob()" class="btn btn-primary" value="Save">
                    <input type="button" ng-click="cancelJobPosting()" class="btn btn-primary" value="Cancel">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 "></div>
            </div>
        </form>

        <!--Modal for map-->
        <modal mtitle="modal.title" mclass="modal.class" visible="modalVisible">
            <div class="row">
                <!-- Map goes here -->
                <div id="modal-map-ctrl" class="col-lg-12">
                </div>
                <!-- Map ends here -->
                <div class="col-lg-12 text-right">
                    <button class="btn btn-primary text-right" ng-disabled="disabledAddLocationOnMapPopup" ng-click="addJobLocationFrmoMap(locIndexToEdit + 1)">Add</button>
                    <button class="btn btn-primary text-right" ng-click="modalVisibility()">Cancel</button>
                </div>
            </div>
        </modal>
    </div>
</div>



