<div id="wrapper">
    <header-section></header-section>
    <div class="container-fluid top-clearfix-padding">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-sm-offset-0 front-business-form">
                <!----------- Panel starts -------------------------------------------->

                <div class="panel panel-default">
                    <div class="panel-heading front-business-form">
                        <h4 class="text-info text-center text-white font-roboto no-margin no-padding" style="font-size: 22px;">
                            {{(masterUser.ResumeModuleTitle) ? masterUser.ResumeModuleTitle : 'Submit Resume'}}
                        </h4>
                    </div>
                    <div class="panel-body profile-manager business-manager-modal front-business-form">
                        <!-------------- Navigation for Profile Manager ------------------------>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center bottom-clearfix">
                                    <h4  class="font-roboto text-success no-margin no-padding front-business-form" style="font-weight:bold;">
                                        {{(masterUser.IDTypeID == 1) ? masterUser.FirstName + ' '+ masterUser.LastName : masterUser.CompanyName}}
                                        ({{masterUser.EZEID}})
                                    </h4>
                                    <h4 ng-show="masterUser.CVFormMsg" class="font-roboto text-left text-success no-margin no-padding front-business-form warning-text">
                                        <small class="tiny"><i>* {{masterUser.CVFormMsg}}</i></small>
                                    </h4>

                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transaction-details-box" ng-hide="isEnquiryPosted">

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label> Resume and Skill Description (Optional)</label>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                                    <textarea rows="2" class="form-control no-radius"
                                                              placeholder="Resume Description"
                                                              ng-model="modalBox.tx.message" name="message"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-hide="isResumeAttached">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger no-radius">
                                                    <h4 class="font-roboto">
                                                        Your resume is not uploaded yet
                                                        Please upload your resume <a href="/profile-manager/resume">here</a>  before submitting it!
                                                    </h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row bottom-clearfix">

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <button class="btn btn-success-bright btn-sm no-radius btn-wide" ng-click="saveTransaction()">
                                                <span class="glyphicon glyphicon-hand-right"></span>
                                                Submit
                                            </button>
                                            <button class="btn btn-danger btn-sm no-radius btn-wide" ng-click="closeForm()">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                Cancel
                                            </button>
                                        </div>




                                    </div>

                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="isEnquiryPosted">
                                    <h4 class="font-open-sans text-info text-center">Your resume is submitted successfully</h4>
                                    <h3 class="font-open-sans text-warning text-center">Thank You</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-section></footer-section>
