<div class="panel panel-default" ng-controller="ResumeMasterCtrl">
    <!--<div class="panel-heading">-->
    <!--<h3 class="font-roboto business-manager-module-heading">{{(_userInfo.CVModuleTitle) ? _userInfo.CVModuleTitle : 'Resume Application'}}</h3>-->
    <!--</div>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tabs-row-sales">
                <ul class="nav nav-tabs">
                    <li ng-class="(ResumeInquiriesTab) ? 'active' : ''"><a ng-click="(JobsTab = false)(JobSeekerTab = false)(ResumeInquiriesTab = true)"> <span class="glyphicon glyphicon-copy"></span> Recruitment Tracker </a></li>
                    <li ng-class="(JobsTab) ? 'active' : ''"><a ng-click="(JobSeekerTab = false)(ResumeInquiriesTab = false)(JobsTab = true)"> <span class="glyphicon glyphicon-folder-open"></span> Jobs </a></li>
                    <li ng-class="(JobSeekerTab) ? 'active' : ''"><a ng-click="(JobsTab = false)(ResumeInquiriesTab = false)(JobSeekerTab = true)"> <span class="glyphicon glyphicon-briefcase"></span> Job Seeker </a></li>
                </ul>
            </div>
        </div>


        <div class="row" ng-if="ResumeInquiriesTab" ng-show="ResumeInquiriesTab" ng-include="tplResumeEnquiries">
        </div>


        <div class="row" ng-if="JobsTab" ng-show="JobsTab" ng-include="tplJobsTab">
        </div>


        <div class="row" ng-if="JobSeekerTab" ng-show="JobSeekerTab" ng-include="tplJobSeekerTab">
        </div>





    </div>
</div>

</div>



<!-- Template for Item having item name,description,picture,qty and rate -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture-qty-rate.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius"  ng-click="removeItem(item)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Rate &nbsp; &nbsp;&nbsp;&nbsp;
                        </span>
                        <input class="form-control text-right" type="text" value="{{item.Rate | formatDecimal:'':2}}" disabled/>
                    </div>
                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Quantity
                        </span>
                        <input  ng-disabled="!(editPermission && editMode)" class="form-control text-right" numbers-only type="number" ng-model="item.Qty" ng-change="(!item.Qty) ? (item.Qty = 1) : ''" min="1" max="10000000000"/>
                    </div>
                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                                Amount &nbsp;
                        </span>
                        <input class="form-control text-right"  type="text" value="{{(item.Rate * item.Qty) | formatDecimal:'':2}}" disabled/>

                    </div>

                </div>
            </div>

        </div>

    </div>
</script>

<!-- Template for Item having item name,description,picture and qty -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture-qty.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Quantity
                        </span>
                        <input class="form-control text-right" numbers-only type="number" ng-model="item.Qty" ng-change="(!item.Qty) ? (item.Qty = 1) : ''" min="1"/>
                    </div>

                </div>
            </div>

        </div>
    </div>
</script>

<!-- Template for Item having item name,description and pic -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
            </div>

        </div>
    </div>
</script>

<!-- Template for Item having item name and description -->
<script type="text/ng-template" id="/tpl/tx-item-description.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans text-center">{{item.ItemName}}
            </h4>
        </div>
    </div>
</script>


<!-- Templates for Showing Item which are not selected -->


<!-- Template for Item having item name,description,picture,qty and rate -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture-qty-rate.html">
    <div class="row business-manager-item" title="{{item.Description}}">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="50" width="50" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">
                {{item.ItemName}}
            </h4>
            Rate : <span class="pull-right"> {{item.Rate | formatDecimal:'':2}}</span>
        </div>

    </div>
</script>

<!-- Template for Item having item name,description,picture and qty -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture-qty.html">
    <div class="row business-manager-item" title="{{item.Description}}">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="50" width="50" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>
    </div>
</script>

<!-- Template for Item having item name,description and pic -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture.html">
    <div class="row business-manager-item" title="{{item.Description}}">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="50" width="50" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

    </div>
</script>

<!-- Template for Item having item name and description -->
<script type="text/ng-template" id="/tpl/bus-item-description.html">
    <div class="row business-manager-item" title="{{item.Description}}">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans text-center">{{item.ItemName}}

            </h4>
        </div>

    </div>
</script>

