<div id="wrapper" ng-controller="HistoryController as historyCtrl">
    <header-section></header-section>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" style="padding-top:90px; position:relative;">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-sm-8" style="margin: auto; float: none;">
                <div class="panel panel-default" style="min-height: 367px;">
                    <div class="panel-body">
                        <h3><span class="text_color">Access History</span></h3>
                        <div class="clearfix"></div>
                        <div class="panel-group panelTextSize no_select" id="accordion">
                             <table class="panel panel-default" border="1" st-table="rowCollection" class="table table-striped">
                                <thead>
                                    <tr style="background:#2791BA; color:#000000;">
                                        <th class="panelPd5px eze_idSize leftBlackBorder rightBlackBorder">EZE ID</th>
                                        <th class="panelPd5px name_size rightBlackBorder">Name</th>
                                        <th class="panelPd5px city_size rightBlackBorder">City</th>
                                        <th class="panelPd5px dateeze_size rightBlackBorder">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!--<tr ng-repeat="_item in msgCtrl.msgs | filter: {Status: msgCtrl.status,MessageTypeTitle:msgCtrl.type}">-->
                                    <tr ng-repeat="_item in historyCtrl.msgs" class="">
                                        <td class="panelPd5px">{{_item.EZEID}}</td>
                                        <td class="panelPd5px">{{_item.Name}}</td>
                                        <td class="panelPd5px">{{_item.City}}</td>
                                        <td class="panelPd5px">{{_item.AccessDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="historyCtrl.showMoreButton">
                            <button class="btn btn-primary pull-right" ng-click="historyCtrl.getMoreHistory()" type="button">More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
