<style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<body ng-app="ezeidApp">
    <div id="wrapper" ng-controller="CVAttachController as CVAttachCtrl">
        <header-section></header-section>

   <!-- <div id="wrapper" ng-app="cv_attachApp" ng-controller="CVAttachController as CVAttachCtrl">
    <header-section></header-section>-->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" style="padding-top:90px; position:relative;">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default" style="min-height:500px">
                    <form name="cvForm" ng-submit="cvForm.$valid && CVAttachCtrl.saveCVDocInfo()" novalidate>
                        <div class="form_style">
                            <ul>
                                <h3>CV Attachment</h3>
                                <div>
                                    <h5>Relevant Functions</h5>
                                    <li class="dsp_block">
                                        <div class="pull-left wd48p">
                                            <!--ng-class="cvForm.$submitted || cvForm.function.$touched && !CVAttachCtrl._CVInfo.FunctionID.length ? 'mandatoryTextBox' : ''"-->
                                            <select class="form-control emptyBox" name="function" ng-model="CVAttachCtrl._CVInfo.FunctionID"
                                                    ng-options="Function.FunctionID as Function.FunctionName for Function in CVAttachCtrl.Functions"
                                                    ng-change="CVAttachCtrl.getRoleForFunction(CVAttachCtrl._CVInfo.FunctionID)" required>
                                                <option value="" default selected>--select function--</option>
                                                <!--<option value="" default selected>{{CVAttachCtrl.Functions[0].FunctionName}}</option>-->
                                            </select>
                                            <!-- <span style="color:red" ng-show="cvForm.$submitted || cvForm.function.$touched">
                                                 <span ng-show="cvForm.function.$error.required">* mandatory</span>
                                             </span>-->
                                        </div>
                                        <div class="pull-right wd48p">
                                            <select class="form-control emptyBox" name="role" ng-model="CVAttachCtrl._CVInfo.RoleID"
                                                    ng-options="Role.RoleID as Role.RoleName for Role in CVAttachCtrl.RoleTypes">
                                                <option value="" default selected>--select role--</option>
                                            </select>
                                            <!-- <span style="color:red" ng-show="cvForm.$submitted || cvForm.role.$touched">
                                                 <span ng-show="cvForm.role.$error.required">* mandatory</span>
                                             </span>-->
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>

                                    <h5 class="pull-left wd48p ">Key Skills</h5>
                                    <h5 class="pull-right wd48p">CV Upload</h5>
                                    <li class="dsp_block">
                                        <div class="pull-left wd48p">
                                            <input type="text"  ng-class="cvForm.keySkills.$touched && !CVAttachCtrl._CVInfo.KeySkills.length ? 'mandatoryTextBoxCV' : ''" name="keySkills" class="form-control emptyBox" ng-model="CVAttachCtrl._CVInfo.KeySkills" placeholder="Key Skills" required/>
                                        </div>
                                        <div class="pull-right wd48p">
                                           <!-- <input type="file" class="form-control emptyBox" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->

                                             <span class="btn btn-primary btn-file">
                                                Choose File <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                             </span>

                                            <span class="pull-right"  ng-controller="DocumentController"
                                                  style="margin-top:8px;"
                                                  ng-show="showLink">
                                                    <a class="blue" target="_blank" href="/ewTgetDocument?TokenNo={{Token}}&&RefType=7">
                                                        Download Document
                                                    </a>
                                                    <!--<a target="_self" href="{{form.RefDoc}}" download="{{form.RefDoc}}">{{form.RefFileName}}</a>-->
                                                </span>
                                        </div>
                                        <!--<div class="pull-right wd48p" >
                                            <input type="file" style="width:62%;margin: 0px auto;float: left;" class="form-control emptyBox" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                                            <span class="pull-right" style="margin-top:8px;" ng-show="CVAttachCtrl._CVInfo.CVDoc != 'null'"><a target="_self" href="{{CVAttachCtrl._CVInfo.CVDoc}}" download="{{BusinessListCtrl._businessInfo.BRDocFilename}}">{{CVAttachCtrl._CVInfo.CVDocFile}}</a></span><br/>
                                        </div><br/>
                                       <span> <a target="_self" href="data:text/plain;base64,VGhpcyBpcyB0ZXN0IGN2" download>Test Download..</a></span>
-->
                                        <div class="clearfix"></div>
                                    </li>

                                    <h5 class="pull-left wd48p">CV Status</h5>
                                    <h5 class="pull-right wd48p">Enable PIN&nbsp;<span class="pull-left check-box-style marR5px"><input type="checkbox" ng-model="CVAttachCtrl.EnablePin"/></span></h5>
                                    <li class="dsp_block">
                                        <!-- <div class="pull-left wd48p check-box-style emptyBox" ng-init="CVAttachCtrl._CVInfo.Status=1;">-->
                                        <div class="pull-left wd48p check-box-style emptyBox">
                                            <!--<input type="radio" name="CVStatus" ng-model="CVAttachCtrl._CVInfo.Status" checked ng-checked="CVAttachCtrl._CVInfo.Status != 2 ? true : false "
                                                   id="Visible" class="check-box pull-left"  value="1" style="margin-left: 10px; margin-top: 10px;"/>-->
                                            <input type="radio" name="CVStatus" ng-model="CVAttachCtrl._CVInfo.Status" id="Visible" class="check-box pull-left"  value="1"
                                                   style="margin-left: 10px; margin-top: 10px;"/>
                                            <label for="Visible" class="pull-left under_label" style="margin-top: 8px;">Visible</label>
                                            <input type="radio" name="CVStatus" style="margin-top: 10px;" ng-model="CVAttachCtrl._CVInfo.Status"
                                                   id="NotVisible" class="check-box pull-left" value="2"/>
                                            <label for="NotVisible" style="margin-top: 8px;" class="pull-left under_label">Not Visible</label>
                                        </div>
                                        <div class="pull-right wd48p">
                                            <input ng-show="CVAttachCtrl.EnablePin" maxlength="3" numbers-only="numbers-only" type="text" class="form-control" ng-model="CVAttachCtrl._CVInfo.Pin" placeholder="Pin"/>
                                        </div>
                                        <div class="clearfix"></div>
                                    <li class="dsp_block marT10px">
                                        <input type="submit" class="btn-primary btn wd28p pull-left" value="Save"/>
                                        <input type="button" class="btn-primary btn wd28p pull-left" style="margin-left: 5px;" value="Close" onclick="window.location.href='/'"/>
                                    </li>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <img src="images/Adds-3.gif">
            </div>
            <div class="col-md-3 marT15px">
                <img src="images/Adds-4.gif">
            </div>
        </div>
    </div>
</div>
</body>
<!--
<script src="js/CVAttachment.js"></script>
-->
