<div id="wrapper" ng-controller="bulksalesController as bulksalesController">
    <header-section></header-section>
       <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>{{formTitle}}</h4>
                                <span ng-hide="showCreateMailTemplate" class="textMailLimit">(Maximum Limit: 10 companies)</span>
                            </div>
                            <div class="panel-body setPanelPadding">
                                <div ng-hide="showCreateMailTemplate" class="row setRowLeftRightMarginZero">
                                    <table class="rwd-table">
                                        <tr>
                                            <th> </th>
                                            <th>Company Name</th>
                                            <th>Country/City</th>
                                            <th>Distance(Miles/km)</th>
                                            <th>Phone No.</th>
                                            <th>Web Site</th>
                                        </tr>
                                        <tr>
                                            <td ><input type="checkbox" name="vehicle" value="EZEID" checked></td>
                                            <td data-th="Company Name">HireCraft</td>
                                            <td data-th="Country/City">India, Banglore</td>
                                            <td data-th="Distance (Miles/km)">59 KM</td>
                                            <td data-th="Phone No.">+91 9446093566 </td>
                                            <td data-th="Web Site"><a href="www.google.com"><u>www.google.com</u></a></td>
                                        </tr>
                                        <tr>
                                            <td ><input type="checkbox" name="vehicle" value="EZEID" checked></td>
                                            <td data-th="Company Name">HireCraft</td>
                                            <td data-th="Country/City">India, Banglore</td>
                                            <td data-th="Distance (Miles/km)">59 KM</td>
                                            <td data-th="Phone No.">+91 9446093566 </td>
                                            <td data-th="Web Site"><a href="www.google.com"><u>www.google.com</u></a></td>
                                        </tr>
                                        <tr>
                                            <td ><input type="checkbox" name="vehicle" value="EZEID" checked></td>
                                            <td data-th="Company Name">HireCraft</td>
                                            <td data-th="Country/City">India, Banglore</td>
                                            <td data-th="Distance (Miles/km)">59 KM</td>
                                            <td data-th="Phone No.">+91 9446093566 </td>
                                            <td data-th="Web Site"><a href="www.google.com"><u>www.google.com</u></a></td>
                                        </tr>

                                    </table>
                                </div><br/>
                                <div style="text-align: center">
                                  <div class="well well-lg templateBoxContainer">
                                      <form name="MailTemplateForm" novalidate >
                                          <div class="row setRowLeftRightMarginZero centerAlign">
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer">
                                                  Template
                                              </div>
                                              <div ng-hide="showCreateMailTemplate">
                                                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 searchHeaderAlignment ">
                                                      <select class="form-control" name="Title" ng-model="bulksalesController._info.TID"
                                                           ng-change="bulksalesController.getTemplateDetails(bulksalesController._info.TID)"
                                                           ng-options="template.TID as template.Title for template in bulksalesController.templates" required>
                                                          <option value = ""> --Select Template-- </option>
                                                      </select>
                                                  </div>
                                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchHeaderAlignment ">
                                                      <button data-toggle="tooltip" data-placement="right" title="Create new template" type="button" class="btn btn-primary" ng-click="bulksalesController.addNewTemplateForm()" >...</button>
                                                  </div>
                                              </div>

                                              <div ng-show="showCreateMailTemplate">
                                                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchHeaderAlignment">
                                                      <input type="text" name="Title" id="Title" ng-model="bulksalesController._info.Title"
                                                             class="form-control emptyBox"  ng-class="MailTemplateForm.Title.$touched && !bulksalesController._info.Title.length ? 'mandatoryTextBox' : ''"
                                                             placeholder="Template title" maxlength="100" required>
                                                  </div>
                                              </div>

                                          </div><br/>
                                          <div class="row setRowLeftRightMarginZero centerAlign">
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer">
                                                  Name
                                              </div>
                                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 searchHeaderAlignment">
                                                  <input type="text" name="FromName" ng-model="bulksalesController._info.FromName"
                                                         ng-class="MailTemplateForm.FromName.$touched && !bulksalesController._info.FromName.length ? 'mandatoryTextBox' : ''"
                                                         class="form-control emptyBox" id="FromName" placeholder="From name" maxlength="100" required>
                                              </div>
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer keyWordText">
                                                  From
                                              </div>
                                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 searchHeaderAlignment">
                                                  <input type="text" name="FromEmailID" class="form-control emptyBox"
                                                         id="FromEmailID" ng-model="bulksalesController._info.FromEmailID"
                                                         ng-class="MailTemplateForm.FromEmailID.$touched && !bulksalesController._info.FromEmailID.length ? 'mandatoryTextBox' : ''"
                                                         placeholder="From email" maxlength="100"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                                   <span ng-show="MailTemplateForm.FromEmailID.$error.email" ng-if="MailTemplateForm.FromEmailID.$error.email == true ? bulksalesController._info.isWrongEmailPatternFrom = true : bulksalesController._info.isWrongEmailPatternFrom = false"></span>
                                              </div>
                                          </div><br/>
                                          <div class="row setRowLeftRightMarginZero centerAlign">
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer">
                                                  Cc
                                              </div>
                                              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchHeaderAlignment">
                                                  <input type="email" name="CCMailIDS" class="form-control"
                                                         id="CCMailIDS" ng-model="bulksalesController._info.CCMailIDS" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                                         placeholder="Cc email" maxlength="100" required>
                                                  <span ng-show="MailTemplateForm.CCMailIDS.$error.email" ng-if="MailTemplateForm.CCMailIDS.$error.email == true ? bulksalesController._info.isWrongEmailPatternCc = true : bulksalesController._info.isWrongEmailPatternCc = false"></span>
                                              </div>
                                          </div><br/>
                                          <div class="row setRowLeftRightMarginZero centerAlign">
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer">
                                                  Bcc
                                              </div>
                                              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchHeaderAlignment">
                                                  <input type="email" name="BCCMailIDS" class="form-control"
                                                         id="BCCMailIDS" ng-model="bulksalesController._info.BCCMailIDS" class="form-control"
                                                         ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  placeholder="Bcc email" maxlength="100" required>

                                                  <span ng-show="MailTemplateForm.BCCMailIDS.$error.email" ng-if="MailTemplateForm.BCCMailIDS.$error.email == true ? bulksalesController._info.isWrongEmailPatternBcc = true : bulksalesController._info.isWrongEmailPatternBcc = false"></span>
                                              </div>
                                          </div><br/>
                                          <div class="row setRowLeftRightMarginZero centerAlign">
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer">
                                                  Subject
                                              </div>
                                              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchHeaderAlignment">
                                                  <input type="text" name="Subject" id="Subject" ng-model="bulksalesController._info.Subject"
                                                         class="form-control emptyBox"  ng-class="MailTemplateForm.Subject.$touched && !bulksalesController._info.Subject.length ? 'mandatoryTextBox' : ''"
                                                         placeholder="Subject" maxlength="250" required>
                                              </div>
                                          </div><br/>
                                          <div class="row setRowLeftRightMarginZero centerAlign">
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer">
                                                  Body <a class="showPointer" ng-click="profile.openTermsAndConditionForm()" id="termConditions" data-toggle="tooltip" data-placement="top" title="Tags Supported: {FirstName}, {LastName}, {CompanyName}">  <u>?</u> </a>
                                              </div>
                                              <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 searchHeaderAlignment">-->
                                              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchHeaderAlignment">
                                                  <textarea rows="10" cols="92" name="Body" id="Body" ng-model="bulksalesController._info.Body"
                                                            class="form-control emptyBox"  ng-class="MailTemplateForm.Body.$touched && !bulksalesController._info.Body.length ? 'mandatoryTextBox' : ''"
                                                            placeholder="Type here" required></textarea>
                                              </div>
                                          </div><br/>
                                          <div class="row setRowLeftRightMarginZero centerAlign" >
                                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer">

                                              </div>
                                              <div ng-hide="showCreateMailTemplate">
                                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                                                      <button type="submit" class="btn btn-primary" ng-click="bulksalesController.SendEnquiryMail()"
                                                              ng-disabled="!bulksalesController._info.TID || !bulksalesController._info.FromName || !bulksalesController._info.FromEmailID
                                                                            || !bulksalesController._info.Subject || !bulksalesController._info.Body" >Send</button>
                                                  </div>
                                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                                                      <button type="button" class="btn btn-primary" ng-click="bulksalesController.closeSalesEnquiryForm()" >Close</button>
                                                  </div>
                                              </div>

                                              <div ng-show="showCreateMailTemplate">
                                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                                                      <button type="submit" class="btn btn-primary" ng-click="bulksalesController.saveMailTemplate()"
                                                              ng-disabled="!bulksalesController._info.Title || !bulksalesController._info.FromName || !bulksalesController._info.FromEmailID
                                                                            || !bulksalesController._info.Subject || !bulksalesController._info.Body">Save</button>
                                                  </div>
                                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                                                      <button type="button" class="btn btn-primary" ng-click="bulksalesController.closeCreateMailTemplateForm()" >Cancel</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
       </div>

</div>
<footer-section></footer-section>