<div ng-app="ezeidApp" id="wrapper" ng-controller="ProfileController as profile">
<header-section></header-section>
<!--Template of terms and condition pop-up-->
<div class="Popup_window form_style map_popup_iconTerm" id="Terms_popup">
    <div class="window_page  Maping_popup">
        <span class="closelink" ng-click="profile.closedTermsAndConditionForm()">X</span>
        <div class="clearfix"></div>
        <div ng-show="!_userInfo.IsAuthenticate" class="row mar_editTop">
            <h3  style="text-align: center"><span class="mar_forget">Terms and Conditions</span></h3>
            <div ng-include="'html/terms.html'"  style="width: 98%; height: 350px; overflow-y: scroll; padding: 5px;">
                <!-- Terms.html include hear... -->
            </div>
                 <span style="text-align: center">
                     <input type="button" style="margin-left: 45%; margin-top: 1%;" ng-click="profile.closedTermsAndConditionForm()" class="btn btn-primary " value="Close">
                </span>
        </div>
    </div>
</div>

<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="col-md-8" style="margin: auto; float: none;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-uppercase">Configuration</h4>
                </div>
                <div class="panel-body" ng-controller="PreferenceNavigationCtrl">
                    <!------- Page Content go inside ------------------>
                    <div class="row">
                        <div ng-include="'html/business-preference-navigation.html'">
                            <!--------- Navigation imported here ------------->
                        </div>


                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="jumbotron" ng-include="activeTemplate">
                                <!---- Sub Pages will go here ----------->
                            </div>
                        </div>
                    </div>

                    <!------- Page Content ends ------------------>
                </div>
            </div>
        </div>
    <!--terms and condition template-->
        <div class="Popup_window form_style" id="term-condition">
            <div class="changePass_popUp Maping_popup">
                <span ng-click="" class="closelink">X</span>
                <h3><span class="mar_forget">Terms and conditions</span></h3>
                <p>EZEID</p>
            </div>
        </div>
    </div>
</div>

</div>
<footer-section></footer-section>