<style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<body ng-app="ezeidApp">
<div id="wrapper" ng-controller="BusinessListController as BusinessListCtrl">
    <header-section></header-section>
    <div class="container" style="padding-top:80px;">
        <div class="row">
            <div class="col-sm-8" style="margin: auto; float: none;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Business List</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="well well-lg">
                                <div class="col-lg-10" style="margin: auto; float: none;">

                                    <form name="businessForm" ng-submit="businessForm.$valid && BusinessListCtrl.saveBusinessList()" novalidate>
                                        <div class="form_style">
                                            <ul>
                                                <div style="margin-top:-40px">
                                                    <h5>Category</h5>
                                                    <li class="dsp_block">
                                                        <div class="pull-left wd100p">
                                                            <select class="form-control emptyBox" ng-model="BusinessListCtrl._businessInfo.CategoryID"
                                                                    ng-options="category.CategoryID as category.CategoryTitle for category in BusinessListCtrl.categories">
                                                                <option value="" default selected>--Category--</option>
                                                            </select>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>

                                                    <h5>Keywords</h5>
                                                    <li class="dsp_block">
                                                        <div class="pull-left wd100p" style="width:100%; margin-top: 10px;">
                                                            <textarea style="resize:none; height:120px;" name="keyWord" id="keyWord" class="form-control  emptyBox" ng-class="businessForm.keyWord.$touched && !BusinessListCtrl._businessInfo.Keywords.length ? 'mandatoryTextBoxCV' : ''" ng-model="BusinessListCtrl._businessInfo.Keywords" placeholder="Type Keywords"></textarea>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>

                                                    <h5>Brochure Upload</h5>
                                                    <div class="clearfix"></div>
                                                    <li class="dsp_block">
                                                       <div class="pull-left wd100p">

                                                           <!-- <input type="file" class="form-control emptyBox" onchange="angular.element(this).scope().uploadFile(this.files)"/>-->

                                                            <span class="btn btn-primary btn-file">
                                                                <span ng-show="BusinessListCtrl._businessInfo.BRDocFilename">
                                                                   Choose File (Selected)
                                                                </span>
                                                                 <span ng-hide="BusinessListCtrl._businessInfo.BRDocFilename">
                                                                   Choose File (Empty)
                                                                  </span>
                                                                <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)"
                                                                                   accept="doc, docx, rtf, application/pdf, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/*">
                                                            </span>

                                                            <span class="pull-right" ng-controller="DocumentController" style="margin-top:8px;" ng-show="isShowDownloadLink">
                                                                <a ng-show="BusinessListCtrl._businessInfo.BRDocFilename" class="blue" target="_blank" href="/ewTgetDocument?TokenNo={{Token}}&&RefType=6">
                                                                    Download Document
                                                                </a>
                                                            </span>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li class="dsp_block">
                                                        <div class="clearfix"></div>
                                                    <li class="dsp_block marT10px">
                                                        <input type="submit" ng-disabled="!BusinessListCtrl._businessInfo.Keywords" class="btn btn-primary pull-left" value="Save"/>
                                                        <input type="button" class="btn btn-primary pull-left" style="margin-left: 5px;" value="Close" onclick="window.location.href='#/home'"/>
                                                    </li>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
