<div id="wrapper" ng-controller="createTemplateController as templateController">
    <header-section></header-section>
       <div class="container-fluid">
            <div class="row top-clearfix"></div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Create Template</h4>
                            </div>
                            <div class="panel-body setPanelPadding">
                                <div ng-hide="showAddTemplateFrom">
                                    <div class="row setRowLeftRightMarginZero">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 addTemplateBtnContainer ">
                                            <button type="button" class="btn btn-primary" ng-click="templateController.addNewMailTemplateForm()">+ Add Template
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row setRowLeftRightMarginZero">
                                        <table class="rwd-table">
                                            <tr>
                                                <th> </th>
                                                <th>Title</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr>
                                                <td >1</td>
                                                <td data-th="Title">Template1</td>
                                                <td data-th="Action">
                                                    <button type="button" class="btn btn-sm btn-danger" ng-click="SLocCtrl.openEditSecLocForm(row,$index)">edit
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >2</td>
                                                <td data-th="Title">Template2</td>
                                                <td data-th="Action">
                                                    <button type="button" class="btn btn-sm btn-danger" ng-click="SLocCtrl.openEditSecLocForm(row,$index)">edit
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >3</td>
                                                <td data-th="Title">Template3</td>
                                                <td data-th="Action">
                                                    <button type="button" class="btn btn-sm btn-danger" ng-click="SLocCtrl.openEditSecLocForm(row,$index)">edit
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div><br/>
                                </div>

                                <div style="text-align: center" ng-show="showAddTemplateFrom">
                                    <br/>
                                  <div class="well well-lg templateBoxContainer">
                                    <div class="row setRowLeftRightMarginZero centerAlign">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer">
                                            Title
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 searchHeaderAlignment ">
                                            <input type="text" name="fromEmail" class="form-control" placeholder="Title" required>
                                        </div>
                                    </div><br/>

                                    <div class="row setRowLeftRightMarginZero centerAlign">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer TextAreaTopMargin">
                                            Description
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 searchHeaderAlignment">
                                            <textarea rows="10" cols="210" class="form-control " name="homeDeliverMessage" placeholder="Type here" required></textarea>
                                        </div>
                                    </div><br/>
                                    <div class="row setRowLeftRightMarginZero centerAlign" >
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                                            <button type="button" class="btn btn-primary" ng-click="profile.closeRegistrationForm()" >Save</button>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                                            <button type="button" class="btn btn-primary" ng-click="templateController.closeNewMailTemplateForm()" >Close</button>
                                        </div>
                                    </div>
                                </div>
                               </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
       </div>

</div>
<footer-section></footer-section>