<style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
                    <div class="panel panel-info" ng-controller="DocumentController">
                        <div class="panel-heading">
                            Personal Documents
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-4">
                                        <ul class="nav nav-pills nav-stacked nav-configuration">
                                            <li role="presentation" ng-class="{ 'active' : OptionSelected===1}" ng-click="OnOptionSelected(1)"><a href="" >ID Card</a></li>
                                            <li role="presentation" ng-class="{ 'active' : OptionSelected===2}"><a href="" ng-click="OnOptionSelected(2)">Passport</a></li>
                                            <li role="presentation" ng-class="{ 'active' : OptionSelected===3}"><a href="" ng-click="OnOptionSelected(3)">Driver's License</a></li>
                                            <li role="presentation" ng-class="{ 'active' : OptionSelected===4}" ng-click="OnOptionSelected(4)"><a href="">Other Document #1</a></li>
                                            <li role="presentation" ng-class="{ 'active' : OptionSelected===5}" ng-click="OnOptionSelected(5)"><a href="">Other Document #2</a></li>
                                        </ul>
                                        <form class="navbar-form navbar-left form-inline" role="search">
                                            <div class="form-group">
                                                <input type="text" onkeypress="return isNumberKey(event);" class="form-control" data-ng-model="Pin" style="width: 50px;" placeholder="PIN" maxlength="3">
                                            </div>
                                            <button type="submit" ng-click="DocCtrl.ChangePin()" class="btn btn-primary">Change PIN</button>
                                        </form><br/>
                               <div class="navbar-form">
                                   Common for all Documents
                               </div>

                            </div>
                            <div class="col-lg-8">
                                <div class="well well-lg">
                                <div class="col-lg-8" style="margin: auto; float: none;">

                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="idnumber" data-ng-model="form.RefNo" placeholder="{{IdPlaceHolder}}" style="margin-bottom: 6%; width: 86%; float:left;">
                                                <!--<a style="float: right; margin-top: 7px;" ng-show="showDownloadLink" class="blue" target="_blank" href="/ewTgetDocument?TokenNo={{Token}}&&RefType={{OptionSelected}}">
                                                    View
                                                </a>-->
                                            </div>

                                            <!--<date-time-picker  recipient="form.RefExpiryDate" style="margin-top:1%; width: 86%;"></date-time-picker>-->
                                            <date-time-picker placeholder="d-M-Y"  style="margin-top:1%; width: 86%;" recipient="form.RefExpiryDate" settings='{
                                                                    "format" : "d-M-Y",
                                                                    "timepicker" : false,
                                                                    "mask" : false,
                                                                    "hours12" : false,
                                                                    "minDate" : "+1970/01/01"
                                                                    }'></date-time-picker>


                                            <div class="form-group" >
                                               <span class="btn btn-primary btn-file" style="width: 72%; float:left; margin-top: 15px;">
                                                      <span ng-show="showDownloadLink">
                                                       Choose File (Selected)
                                                       </span>
                                                       <span ng-hide="showDownloadLink">
                                                           Choose File (Empty)
                                                       </span>

                                                <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)">
                                                </span>

                                                <a style="float: right; margin-top: 25px; margin-right: 40px;" ng-show="showDownloadLink" class="blue" target="_blank" href="/ewTgetDocument?TokenNo={{Token}}&&RefType={{OptionSelected}}">
                                                    View
                                                </a>

                                                <!--<span class="pull-right"
                                                     style="margin-top:8px;"
                                                    ng-show="form.Doc!= 'null'">

                                                  &lt;!&ndash; <a ng-show="showDownloadLink" class="blue" target="_blank" href="/ewTgetDocument?TokenNo={{Token}}&&RefType={{OptionSelected}}">
                                                        Download Document
                                                    </a>&ndash;&gt;
                                                </span>-->
                                                <br/>
                                            </div>
                                            <div class="form-group" style="padding-top: 39px;">
                                                <button style="float:left; margin-top: 5px;" type="submit" ng-disabled="!form.RefNo.length || !form.RefExpiryDate.length" class="btn btn-primary" ng-click="OnSaveDocument()">Save</button>
                                                <button style=" margin-top: 5px; margin-left: 5px;"  type="submit" ng-click="closeDocument()" class="btn btn-primary">Close</button>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>