<div class="search-result hpw">
    <section id="result-page-wrapper" class="rpw">
        <!-- New header menu goes here -->
        <header-section></header-section>
        <!--header ends here-->

        <div ng-show="showLoginText">
            <h1 class="font-open-sans-light text-center top-clearfix">Please login to continue</h1>
            <p class="font-open-sans-light text-center text-warning"><a href="/">Go Back</a></p>
        </div>

        <div ng-show="showNotFound">
            <h1 class="font-open-sans-light text-center top-clearfix">Not found..</h1>
            <p class="font-open-sans-light text-center text-warning"><a href="/">Go Back</a></p>
        </div>

        <!--Middle container-->
        <div style="min-height: 600px;">
            <div class="Popup_window form_style map_popup_iconActions" id="SalesEnquiryRequest_popup" style="height: 103%;">
                <div class="window_page Maping_popup">
                    <span class="closelink" ng-click="closeSalesEnquiryForm()">X</span>
                    <form name="salesEnquiryForm" ng-submit="salesEnquiryForm.$valid && sendSalesEnquiry()" novalidate>
                        <h3 class="marB15px">Sales Enquiry</h3>
                        <div class="col-md-12">
                            <p style="margin-top:-7px;">
                                Enter your Requirement (You do not need to submit your contacts numbers, instead we
                                will send your EZE ID Card)
                            </p>
                        </div>
                        <div class="form-group" style="float: left;">
                            <textarea class="form-control fixTextArea emptyBox" name="salesMessage" ng-model="salesMessage" placeholder="Type Message here" required></textarea><br/>
                        </div>
                        <div class="form-group">
                            <input type="submit" ng-disabled="!salesMessage" class="btn btn-primary text_Box" value="Send" />
                            <input type="reset" class="btn btn-primary marR10px cancelEnq text_Box" ng-click="closeSalesEnquiryForm()" value="Close" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="Popup_window form_style map_popup_iconActions" id="HomeDelivery_popup">
                <div class="window_page Maping_popup">
                    <span class="closeHomeDelivery" ng-click="closeHomeDeliverForm()">X</span>
                    <form name="homeDeliverForm" ng-submit="homeDeliverForm.$valid && sendHomeDelivery()" novalidate>
                        <h3 class="marB15px">Home Delivery</h3>
                        <div class="col-md-12">
                            <p style="margin-top:-7px;">
                                Enter your Requirement (You do not need to submit your contacts numbers, instead we
                                will send your EZE ID Card)
                            </p>
                        </div>
                        <div class="form-group" style="float: left;">
                            <textarea class="form-control fixTextArea emptyBox" name="homeDeliverMessage" ng-model="HomeDeliverMessage" placeholder="Type here" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" ng-disabled="!HomeDeliverMessage" class="btn btn-primary text_BoxHome" value="Send" />
                            <input type="reset" ng-click="closeHomeDeliverForm()" class="btn btn-primary marR10px cancelEnq text_BoxHome" value="Close" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="Popup_window form_style map_popup_iconActions" id="Reservation_popup">
                <div class="window_page Maping_popup">
                    <span class="closelink" ng-click="closeReservationForm()">X</span>
                    <span style="margin-top:-2px;float:right; border:1px solid #000000;background:#FAA9A3;color:#000000;">
                        <span>Mandatory</span>
                    </span>
                    <form name="reservationForm" ng-submit="reservationForm.$valid && sendReservation(SearchInfo.IDTypeID==1 ? '6' : '3')" novalidate>
                        <h3 ng-show="SearchInfo.IDTypeID==1" class="marB15px">Appointment</h3>
                        <h3 ng-show="SearchInfo.IDTypeID==2" class="marB15px">Reservation</h3>

                        <div class="form-group">
                            <p>
                                <label>
                                    <span ng-show="SearchInfo.IDTypeID==2"> Reservation Date & Time:</span>
                                    <span ng-show="SearchInfo.IDTypeID==1"> Appointment Date & Time:</span>
                                    <span ng-show="SearchInfo.IDTypeID==3"> Appointment Date & Time:</span>
                                </label>
                            <span style="width:60%;display:block;">
                               <date-time-picker recipient="ReservationDateTime" settings='{
                                                                    "format" : "d-M-Y",
                                                                    "timepicker" : false,
                                                                    "mask" : false,
                                                                    "hours12" : false,
                                                                    "minDate" : "+1970/01/01"
                                                                    }'></date-time-picker>
                            </span>
                            </p>
                        <textarea id="reservationMessage" name="reservationMessage"
                                  ng-class="reservationForm.reservationMessage.$touched && !ReservationMessage.length ? 'mandatoryTextBox' : ''"
                                  class="form-control fixTextArea emptyBox" name="reservationMessage" ng-model="ReservationMessage"
                                  placeholder="{{reservationPlaceHolder}}" required>
                        </textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" ng-disabled="!ReservationDateTime || !ReservationMessage" class="btn btn-primary appoint_marT" value="Send" />
                            <input type="reset" ng-click="closeReservationForm()" class="btn btn-primary marR10px cancelEnq appoint_marT" value="Close" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="Popup_window form_style map_popup_iconActions" id="ServiceRequest_popup">
                <div class="window_page Maping_popup">
                    <span class="closelink" ng-click="closeServiceRequestForm()">X</span>
                    <form name="serviceRequestForm" ng-submit="serviceRequestForm.$valid && sendServiceRequest()" novalidate>
                        <h3 class="marB15px">Service Request</h3>
                        <div class="col-md-12">
                            <p>
                                Enter your Requirement (You do not need to submit your contacts numbers, instead we
                                will send your EZE ID Card)
                            </p>
                        </div>
                        <div class="form-group" style="float: left;">
                            <textarea class="form-control fixTextArea emptyBox" name="serviceRequestMessage" ng-model="ServiceRequestMessage" placeholder="Type here" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" ng-disabled="!ServiceRequestMessage" class="btn btn-primary" value="Send" />
                            <input type="reset" ng-click="closeServiceRequestForm()" class="btn btn-primary marR10px cancelEnq" value="Close" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="Popup_window form_style map_popup_iconActions" id="CV_popup">
                <div class="window_page Maping_popup">
                    <span class="closeCV" ng-click="closeCVForm()">X</span>
                    <form name="cvRequestForm" novalidate>
                        <h3 class="marB15px">CV Confirm</h3>
                        <div class="col-md-12">
                            Are you want to send your CV to Company
                        </div><br /><br />

                        <div class="form-group">
                            <input type="button" class="btn btn-primary" ng-click="checkForCVAvailability()" value="Yes" />
                            <input type="reset" ng-click="closeCVForm()" class="btn btn-primary marR10px cancelEnq" value="Close" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="infoModal">
                <modal showheader="false" mtitle="''" visible="showDetailsModal" mclass="modalBox.class">
                    <section id="main-content">
                        <div class="row setRowLeftRightMarginZero text-center">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 setPaddingLeftRight0">
                                <div class="row setRowLeftRightMarginZero text-left">
                                    <div ng-hide="(SearchInfo.Redflagstatus == 1)">
                                        <div ng-show="SearchInfo.BannerImage">
                                            <img class="bannerContainerBorder" width="356px" height="356px" ng-src="{{SearchInfo.BannerImage}}" />

                                            <img class="imgLeft showPointer" ng-show="previousButton == true" ng-click="getPreviousBanner()" src="images/arrow_left.png" />
                                            <img class="imgRight showPointer" ng-show="nextButton == true" ng-click="getNextBanner()" src="images/arrow_right.png" />
                                        </div>
                                        <div ng-hide="SearchInfo.BannerImage">
                                            <img class="bannerContainerBorder" width="356px" height="356px" ng-src="images/new_banner.gif" />
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center setPaddingLeftRight0 noticeTextContainer" ng-show="showNoticeText">
                                            The business you are requesting has insufficient information and hence displaying the closest matching company.
                                        </div>
                                    </div>

                                    <div class="bannerContainerBorder newRedBanner" ng-show="(SearchInfo.Redflagstatus == 1)">
                                        <div class="row setRowLeftRightMarginZero searchProximityRange bewareTextSize" style="margin-top: 42%;">
                                            <b> BEWARE !!! </b>
                                        </div>
                                        <div class="row setRowLeftRightMarginZero searchProximityRange bewareTextMessage">
                                            This person is blacklisted due to violation of conduct
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 setPaddingLeftRight0">
                                <div class="row setRowLeftRightMarginZero">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 setPaddingLeftRight0">
                                        <div ng-show="SearchInfo.Picture">
                                            <div ng-show="SearchInfo.IDTypeID == 1" class="row addItemRowUserEzeid1 marginTopBottom1">
                                                <img class="profilePicBorder" width="148px" height="148px" ng-src="{{SearchInfo.Picture}}">
                                            </div>
                                            <div ng-hide="SearchInfo.IDTypeID == 1" class="row addItemRowUserEzeid1 marginTopBottom1">
                                                <img class="profilePicBorder" width="315px" height="155px" ng-src="{{SearchInfo.Picture}}">
                                            </div>
                                        </div>
                                        <div ng-hide="SearchInfo.Picture">
                                            <div ng-show="SearchInfo.IDTypeID == 1" class="row addItemRowUserEzeid1">
                                                <img class="profilePicBorder" width="148px" height="148px" ng-src="../images/new_individual.png">
                                            </div>
                                            <div ng-hide="SearchInfo.IDTypeID == 1" class="row addItemRowUserEzeid1">
                                                <img class="profilePicBorder" width="315px" height="155px" ng-src="../images/business_profile_pic.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row setRowLeftRightMarginZero">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 setPaddingLeftRight0">
                                        <div class="row addItemRowUserEzeid">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class="ezeidTitle"><b> {{SearchInfo.EZEID}} </b></span>
                                            </div>
                                        </div>

                                        <div ng-show="SearchInfo.CompanyName || SearchInfo.AboutCompany">
                                            <div class="row companyInfo searchButtonMarginSet">
                                                <span><b>{{SearchInfo.CompanyName}} </b></span>
                                            </div>
                                            <div class="row centerAlign searchButtonMarginSet">
                                                <span title="SearchInfo.AboutCompany">{{SearchInfo.AboutCompany}}</span>
                                            </div>
                                        </div>

                                        <div class="row centerAlign searchButtonMarginSet">
                                            {{ AddressForInfoTab }}
                                        </div>

                                        <div class="row centerAlign searchButtonMarginSet">
                                            <div class="row centerAlign searchButtonMarginSet">
                                                {{SearchInfo.MobileNumber != '' ?  SearchInfo.ISDMobileNumber +'-'+ SearchInfo.MobileNumber + ' ' : ''}}{{SearchInfo.PhoneNumber != '' ? '| ' + SearchInfo.ISDPhoneNumber +'-'+ SearchInfo.PhoneNumber : ''}}
                                            </div>
                                            <div class="row centerAlign searchButtonMarginSet">
                                                <a href="mailto:{{SearchInfo.EMailID}}" target="_blank">{{SearchInfo.EMailID +' '}}</a>  <span ng-show="SearchInfo.Website"> | <a target="_blank" href="http://{{SearchInfo.Website}}">{{' '+SearchInfo.Website}}</a> </span>
                                            </div>
                                        </div>

                                        <div class="row centerAlign searchButtonMarginSet">
                                            <div title="Working hours" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 showPointer setLeftRightPaddingZero" ng-hide="(SearchInfo.IDTypeID == 1)">
                                                <img src="../images/open_big.png" ng-click="openWorkingHourPopup()" ng-show="SearchInfo.OpenStatus==1">
                                                <img src="../images/close_big.png" ng-click="openWorkingHourPopup()" ng-hide="SearchInfo.OpenStatus==1">
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 showPointer setLeftRightPaddingZero" ng-hide="(SearchInfo.IDTypeID == 1)">
                                                <div class="" ng-hide="SearchInfo.ParkingStatus==3">
                                                    <img title="{{parkingTitle}}" src="../images/parking_new.png">
                                                </div>
                                                <div class="" ng-show="SearchInfo.ParkingStatus==3">
                                                    <img title="{{parkingTitle}}" src="../images/new_no_parking.png">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setLeftRightPaddingZero">
                                                <img title="Verified" ng-show="(SearchInfo.EZEIDVerifiedID == 2)" src="images/verified_32.png"/>
                                                <img title="Not verified" ng-hide="(SearchInfo.EZEIDVerifiedID == 2)" src="images/not_verified_32.png"/>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 setLeftRightPaddingZero defaultRatingBox">
                                                <div class="starRating">
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <input id="rating1" disabled type="radio" name="form_rating" ng-model="form_rating" value="1">
                                                                    <label for="rating1"><span>1</span></label>
                                                                </div>
                                                                <input id="rating2" disabled type="radio" name="form_rating" ng-model="form_rating" value="2">
                                                                <label for="rating2"><span>2</span></label>
                                                            </div>
                                                            <input id="rating3" disabled type="radio" name="form_rating" ng-model="form_rating" value="3">
                                                            <label for="rating3"><span>3</span></label>
                                                        </div>
                                                        <input id="rating4" disabled type="radio" name="form_rating" ng-model="form_rating" value="4">
                                                        <label for="rating4"><span>4</span></label>
                                                    </div>
                                                    <input id="rating5" disabled type="radio" name="form_rating" ng-model="form_rating" value="5">
                                                    <label for="rating5"><span>5</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setRowLeftRightMarginZero">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 setPaddingLeftRight0 searchHeaderAlignment newMsgButtonContainer" ng-hide="(SearchInfo.IDTypeID == 1)">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setLeftRightPaddingZero">
                                    <!--<div class="showPointer removePadding keyWordText boxMessaageBackgroun"-->
                                         <!--ng-show="SearchInfo.EZEIDVerifiedID == '2' && showSalesEnquiry == 1"-->
                                         <!--title="Sales Enquiry" ng-click="openSalesEnquiryForm()">-->
                                        <!--<img src="../images/new_sales_icon.png">-->
                                        <!--Sales Enquiry-->
                                    <!--</div>-->
                                    <div class="showPointer removePadding keyWordText boxMessaageBackgroun"
                                         ng-show="SearchInfo.EZEIDVerifiedID == '2' && showSalesEnquiry == 1"
                                         title="Sales Enquiry" ng-click="_toggleSalesModal()">
                                         <img src="../images/new_sales_icon.png">
                                        Sales Enquiry
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setLeftRightPaddingZero">
                                    <div class="showPointer removePadding keyWordText boxMessaageBackgroun" ng-show="SearchInfo.EZEIDVerifiedID == '2' && showHomeDelivery == 1" title="Home Delivery" ng-click="openHomeDeliverForm()">
                                        <img src="../images/new_home_delivery.png">
                                        Home Delivery
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setLeftRightPaddingZero">
                                    <div class="showPointer removePadding keyWordText boxMessaageBackgroun" ng-show="SearchInfo.EZEIDVerifiedID == '2' && shoReserVation == 1" title="Reservation" ng-click="openReservationForm()">
                                        <img src="../images/new_reservations.png">
                                        Reservation
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setLeftRightPaddingZero">
                                    <div class="showPointer removePadding keyWordText boxMessaageBackgroun" ng-show="SearchInfo.EZEIDVerifiedID == '2' && showServiceRequest == 1" title="Support Request" ng-click="openServiceRequestForm()">
                                        <img src="../images/new_service_request.png">
                                        Service Request
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setLeftRightPaddingZero">
                                    <div class="showPointer removePadding keyWordText boxMessaageBackgroun" title="Send CV" ng-click="openCVForm()" ng-show="SearchInfo.EZEIDVerifiedID == '2' && showSendCv == 1">
                                        <img src="../images/new_send_cv.png">
                                        Send CV
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 setLeftRightPaddingZero">
                                    <div class="showPointer removePadding keyWordText boxMessaageBackgroun"
                                         ng-click="getdirections(SearchInfo)" title="Map">
                                        <img src="../images/map_32.png">
                                        <span>Map</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 newMsgButtonContainer setPaddingLeftRight0 searchHeaderAlignment msgButtonContainer messageButtonContainer" ng-show="(SearchInfo.IDTypeID == 1)">
                                <div class="showPointer removePadding keyWordText boxMessaageBackgroun pull-right"
                                     ng-click="getdirections(SearchInfo)" title="Map" class="boxMessaageBackgroun">
                                    <img src="../images/map_32.png">
                                    <span>Map</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="companyTagLine">
                            <div ng-show="(SearchType == 2)" class="row setRowLeftRightMarginZero aboutcontainerFrame">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 setPaddingLeftRight0 text-center">
                                    <div class="row setRowLeftRightMarginZero text-center boxMessaageBackgroun">
                                        <span class="text-bolder">About Company</span>
                                    </div>
                                    <div class="row setRowLeftRightMarginZero aboutCompanyTextContainer">
                                        {{companyTagLine}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </modal>
            </div>

            <modal mtitle="'Working Hours'" visible="showWorkingHourModel" class="workingHours">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <table class="panel panel-default" border="1" st-table="rowCollection" class="table table-striped">
                                    <thead>
                                    <tr style="background:#2791BA; color:#000000;">
                                        <th class="panelPd5px eze_idSize leftBlackBorder rightBlackBorder">Mon</th>
                                        <th class="panelPd5px name_size rightBlackBorder">Tue</th>
                                        <th class="panelPd5px city_size rightBlackBorder">Wed</th>
                                        <th class="panelPd5px city_size rightBlackBorder">Thu</th>
                                        <th class="panelPd5px city_size rightBlackBorder">Fri</th>
                                        <th class="panelPd5px city_size rightBlackBorder">Sat</th>
                                        <th class="panelPd5px dateeze_size rightBlackBorder">Sun</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="panelPd5px" ng-class=" !Mo1.length ? 'emptyCell' : ''">{{Mo1}}</td>
                                        <td class="panelPd5px" ng-class=" !Tu1.length ? 'emptyCell' : ''">{{Tu1}}</td>
                                        <td class="panelPd5px" ng-class=" !We1.length ? 'emptyCell' : ''">{{We1}}</td>
                                        <td class="panelPd5px" ng-class=" !Th1.length ? 'emptyCell' : ''">{{Th1}}</td>
                                        <td class="panelPd5px" ng-class=" !Fr1.length ? 'emptyCell' : ''">{{Fr1}}</td>
                                        <td class="panelPd5px" ng-class=" !Sa1.length ? 'emptyCell' : ''">{{Sa1}}</td>
                                        <td class="panelPd5px" ng-class=" !Su1.length ? 'emptyCell' : ''">{{Su1}}</td>
                                    </tr>
                                    <tr>
                                        <td class="panelPd5px" ng-class=" !Mo2.length ? 'emptyCell' : ''">{{Mo2}}</td>
                                        <td class="panelPd5px" ng-class=" !Tu2.length ? 'emptyCell' : ''">{{Tu2}}</td>
                                        <td class="panelPd5px" ng-class=" !We2.length ? 'emptyCell' : ''">{{We2}}</td>
                                        <td class="panelPd5px" ng-class=" !Th2.length ? 'emptyCell' : ''">{{Th2}}</td>
                                        <td class="panelPd5px" ng-class=" !Fr2.length ? 'emptyCell' : ''">{{Fr2}}</td>
                                        <td class="panelPd5px" ng-class=" !Sa2.length ? 'emptyCell' : ''">{{Sa2}}</td>
                                        <td class="panelPd5px" ng-class=" !Su2.length ? 'emptyCell' : ''">{{Su2}}</td>
                                    </tr>
                                    <tr>
                                        <td style="background: #bfbfbf; color: #000000; height: 15px;" colspan="7">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="panelPd5px" ng-class=" !Mo3.length ? 'emptyCell' : ''">{{Mo3}}</td>
                                        <td class="panelPd5px" ng-class=" !Tu3.length ? 'emptyCell' : ''">{{Tu3}}</td>
                                        <td class="panelPd5px" ng-class=" !We3.length ? 'emptyCell' : ''" >{{We3}}</td>
                                        <td class="panelPd5px" ng-class=" !Th3.length ? 'emptyCell' : ''" >{{Th3}}</td>
                                        <td class="panelPd5px" ng-class=" !Fr3.length ? 'emptyCell' : ''" >{{Fr3}}</td>
                                        <td class="panelPd5px" ng-class=" !Sa3.length ? 'emptyCell' : ''" >{{Sa3}}</td>
                                        <td class="panelPd5px" ng-class=" !Su3.length ? 'emptyCell' : ''">{{Su3}}</td>
                                    </tr>
                                    <tr>
                                        <td class="panelPd5px" ng-class=" !Mo4.length ? 'emptyCell' : ''">{{Mo4}}</td>
                                        <td class="panelPd5px" ng-class=" !Tu4.length ? 'emptyCell' : ''">{{Tu4}}</td>
                                        <td class="panelPd5px" ng-class=" !We4.length ? 'emptyCell' : ''" >{{We4}}</td>
                                        <td class="panelPd5px" ng-class=" !Th4.length ? 'emptyCell' : ''">{{Th4}}</td>
                                        <td class="panelPd5px" ng-class=" !Fr4.length ? 'emptyCell' : ''">{{Fr4}}</td>
                                        <td class="panelPd5px" ng-class=" !Sa4.length ? 'emptyCell' : ''" >{{Sa4}}</td>
                                        <td class="panelPd5px" ng-class=" !Su4.length ? 'emptyCell' : ''" >{{Su4}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row keyWordText" >
                                <h4>Holidays</h4>
                            </div>
                            <div class="row keyWordText">
                                <div style="height: 30px; overflow-y:hidden;">
                                    <table class="setWidthHundred" border="1" style="width: 100%">
                                        <thead>
                                        <tr class="tableHeaderBackground">
                                            <th style="width: 25%" class="panelPd5px leftBlackBorder rightBlackBorder holidayDateCol">Date</th>
                                            <th style="width: 75%" class="panelPd5px name_size rightBlackBorder holidayCalender">Holiday Purpose</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="panelPd5px" style="width: 25%; text-align: left;"></td>
                                            <td class="panelPd5px" style="width: 75%; text-align: left;"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="height:160px; overflow-y:scroll;">
                                    <table class="setWidthHundred" border="1" style="width: 100%">
                                        <tbody>
                                        <tr ng-repeat="_item in holiday">
                                            <td class="panelPd5px" style="width: 25%; text-align: left;">{{_item.HolidayDate}}</td>
                                            <td class="panelPd5px" style="width: 72.5%; text-align: left;">{{_item.HolidayTitle}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
                        </div>
                    </div>
                </div>
            </modal>

            <div class="mapModal">
                <modal showheader="false" mtitle="modalBox.title" visible="showMapPopupModel" mclass="modalBox.class">
                    <section id="map-content">
                        <div class="row setRowLeftRightMarginZero">
                            <div ng-include="activeTemplate"></div>
                        </div>
                    </section>
                </modal>
            </div>

        </div>
        <!--Middle container End-->


        <div class="sales-module-modal">
            <!-- Modal Box starts -->
            <modal mtitle="_salesModalTitle" mclass="modalBox.class" visible="_showSalesModal">
                <div class="container-fluid" ng-controller="SalesFrontCtrl">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transaction-details-box">

                            <div ng-show="moduleItems.length" class="row bottom-clearfix">

                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item-list-box">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h4 class="text-center font-roboto text-warning">Select Products</h4>
                                            <h6 class="text-center font-robot text-info">
                                                {{moduleItems.length}} items in list
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="row" id="bus-item-list-container">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <bussiness-item
                                                    ng-repeat="item in moduleItems track by item.TID"
                                                    item="item" item-list-type="salesItemListType"
                                                    add-item="addItem(item)" edit-permission="editPermission" edit-mode="editMode">
                                            </bussiness-item>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h4 class="text-center font-roboto text-success">Products in your order list </h4>
                                            <h6 class="text-center font-roboto text-info">{{modalBox.tx.itemList.length}} type products in your enquiry list </h6>
                                        </div>
                                    </div>

                                    <div class="row" id="tx-item-list-container">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-hide="modalBox.tx.itemList.length > 0">
                                            <small class="font-open-sans text-warning">Add products to your enquiry</small>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="item in modalBox.tx.itemList track by item.ItemID">
                                            <transaction-item
                                                    item="item" item-list-type="salesItemListType"
                                                    remove-item="removeItem(item)"
                                                    edit-permission="editPermission" edit-mode="editMode">
                                            </transaction-item>
                                        </div>

                                    </div>

                                </div>



                            </div>

                            <hr/>

                            <div class="row">


                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label>Sales Enquiry Message</label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <textarea rows="3" class="form-control no-radius" ng-model="modalBox.tx.message" name="message"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label>Additional Note</label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <textarea rows="3" class="form-control no-radius" ng-model="modalBox.tx.notes" name="notes"></textarea>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label>Delivery Address</label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="modalBox.editMode">
                                            <div class="form-group form-group-sm ">
                                                <select class="form-control" ng-model="modalBox.tx.locId" ng-change="resolveAddress()">
                                                    <option value="">Other Location</option>
                                                    <option value="0">Current Location</option>
                                                    <option ng-repeat="location in modalBox.locationList track by location.TID" value="{{location.TID}}">{{location.LocTitle}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group form-group-sm ">
                                                <input
                                                        ng-disabled="modalBox.tx.locId > 0"
                                                        type="text" placeholder="Address Line 1" class="form-control no-radius"  name="area" ng-model="modalBox.tx.address" />
                                                <small class="text-danger" ng-show="txerror.address">Please enter address line 1</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-group-sm ">
                                                <input type="text"
                                                       ng-disabled="modalBox.tx.locId"
                                                       placeholder="Locality" class="form-control no-radius"  name="area" ng-model="modalBox.tx.area" />
                                                <small class="text-danger" ng-show="txerror.area">Please enter locality</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-group-sm ">
                                                <input
                                                        ng-disabled="modalBox.tx.locId"
                                                        type="text" placeholder="City" class="form-control no-radius" name="city" ng-model="modalBox.tx.city" />
                                                <small class="text-danger" ng-show="txerror.city">Please enter city</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-group-sm ">
                                                <input type="text"
                                                       ng-disabled="modalBox.tx.locId"
                                                       placeholder="State" class="form-control no-radius" name="state" ng-model="modalBox.tx.state" />
                                                <small class="text-danger" ng-show="txerror.state">Please enter state</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group form-group-sm ">
                                                <input type="text"
                                                       ng-disabled="modalBox.tx.locId"
                                                       placeholder="Country" class="form-control no-radius"  name="country" ng-model="modalBox.tx.country" />
                                                <small class="text-danger" ng-show="txerror.country">Please enter country</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="row top-clearfix-padding-half bottom-clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small class="text-danger" ng-show="txerror.items">Please choose a product</small>
                                </div>
                            </div>

                            <div class="row top-clearfix-padding-half bottom-clearfix">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn btn-info btn-sm no-radius" ng-click="saveTransaction()">
                                        <span class="glyphicon glyphicon-hand-right"></span>
                                        Proceed to Enquire
                                    </button>
                                    <button class="btn btn-danger btn-sm no-radius" ng-click="_toggleSalesModal()">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        Cancel
                                    </button>
                                </div>




                            </div>

                        </div>

                    </div>
                </div>
            </modal>
            <!-- end: ModalBox ends -->
        </div>

        <!-- Footer goes here -->
        <footer-section></footer-section>
        <!-- Footer Ends here -->

    </section>
</div>



<!-- Template for Item having item name,description,picture,qty and rate -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture-qty-rate.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius"  ng-click="removeItem(item)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Rate &nbsp; &nbsp;&nbsp;&nbsp;
                        </span>
                        <input class="form-control text-right" type="text" value="{{item.Rate | formatDecimal:'':2}}" disabled/>
                    </div>
                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Quantity
                        </span>
                        <input  ng-disabled="!(editPermission && editMode)" class="form-control text-right" numbers-only type="number" ng-model="item.Qty" ng-change="(!item.Qty) ? (item.Qty = 1) : ''" min="1" max="10000000000"/>
                    </div>
                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                                Amount &nbsp;
                        </span>
                        <input class="form-control text-right"  type="text" value="{{(item.Rate * item.Qty) | formatDecimal:'':2}}" disabled/>

                    </div>

                </div>
            </div>

        </div>

    </div>
</script>

<!-- Template for Item having item name,description,picture and qty -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture-qty.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <div class="input-group form-group-sm bottom-clearfix">
                        <span class="input-group-addon">
                            Quantity
                        </span>
                        <input class="form-control text-right" numbers-only type="number" ng-model="item.Qty" ng-change="(!item.Qty) ? (item.Qty = 1) : ''" min="1"/>
                    </div>

                </div>
            </div>

        </div>
    </div>
</script>

<!-- Template for Item having item name,description and pic -->
<script type="text/ng-template" id="/tpl/tx-item-description-picture.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
            </div>

        </div>
    </div>
</script>

<!-- Template for Item having item name and description -->
<script type="text/ng-template" id="/tpl/tx-item-description.html">
    <div class="row business-manager-item selected">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button  ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-danger pull-right no-radius" ng-click="removeItem(item)" >
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans text-center">{{item.ItemName}}
            </h4>
        </div>
    </div>
</script>


<!-- Templates for Showing Item which are not selected -->


<!-- Template for Item having item name,description,picture,qty and rate -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture-qty-rate.html">
    <div class="row business-manager-item">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Item
            </button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details">
            <div class="row">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    Rate : <span class="pull-right"> {{item.Rate | formatDecimal:'':2}}</span>
                </div>

            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <small class="text-info" title="{{item.Description}}">
                {{item.Description | truncate:150}}
            </small>
        </div>

    </div>
</script>

<!-- Template for Item having item name,description,picture and qty -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture-qty.html">
    <div class="row business-manager-item">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Item
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <small class="text-info" title="{{item.Description}}">
                {{item.Description | truncate:150}}
            </small>
        </div>
    </div>
</script>

<!-- Template for Item having item name,description and pic -->
<script type="text/ng-template" id="/tpl/bus-item-description-picture.html">
    <div class="row business-manager-item">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Item
            </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 business-manager-item-thumbnail bottom-clearfix">
            <img height="64" width="64" class="img-circle" ng-src="{{item.Pic}}" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans">{{item.ItemName}}

            </h4>
        </div>



        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <small class="text-info" title="{{item.Description}}">
                {{item.Description | truncate:150}}
            </small>
        </div>
    </div>
</script>

<!-- Template for Item having item name and description -->
<script type="text/ng-template" id="/tpl/bus-item-description.html">
    <div class="row business-manager-item">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button ng-hide="(!editPermission) && editMode" class="btn btn-xs btn-success pull-right no-radius" ng-click="addItem(item)">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Item
            </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <h4 class="font-open-sans text-center">{{item.ItemName}}

            </h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business-manager-item-details bottom-clearfix">
            <small class="text-info" title="{{item.Description}}">
                {{item.Description | truncate:150}}
            </small>
        </div>
    </div>
</script>

