<section id="home-page-wrapper" class="hpw">

    <div class="main-page-image">

        <!-- New header menu goes here -->
        <header-section></header-section>
        <!-- Header Menu ends here -->

        <!-- Mid contents of the Header image goes here -->
        <div class="landing-center">
            <!--<div class="main-title text-bolder">IDENTIFY <i class="fa fa-arrow-circle-right"></i> LOCATE <i class="fa fa-arrow-circle-right"></i> INTERACT</div>-->
            <div class="main-title text-bolder opt-group">
                <!--IDENTIFY <i class="fa fa-arrow-circle-right"></i> LOCATE <i class="fa fa-arrow-circle-right"></i> INTERACT-->
                <div class="btn btn-gray" ng-click="changeSeacrhType(1)" ng-class="searchParams.searchType == 1?'selected':''">EZEOne ID</div>
                <div class="btn btn-gray"  ng-click="changeSeacrhType(2)" ng-class="searchParams.searchType ==2?'selected':''">Keywords</div>
                <!--<div class="btn btn-gray"  ng-click="changeSeacrhType(3)" ng-class="searchParams.searchType == 3?'selected':''">Employers</div>-->
                <div class="btn btn-gray"  ng-click="changeSeacrhType(4)" ng-class="searchParams.searchType == 4?'selected':''">Jobs</div>
            </div>
            <div class="main-subtitle">Search any product or service in your neighbourhood. <b>It is Easy, Accurate & Verified</b></div>


            <!-- Search Bar goes here -->
            <div class="container m_top_10">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">

                        <!-- search bar goes here in NORMAL VIEW  -->
                        <div class="search-bar-content">
                            <div class="text-white text-left extra-left-padding">
                            <span class="advance-filter-btn pointer">
                            <i class="fa fa-arrow-circle-down"></i> Options
                                </span>
                            </div>

                            <div class="advance-search text-left p-bottom-4 extra-left-padding" style="display: none">


                                <button ng-click="" class="btn btn-default btn-sm search-btn-width dropdown-toggle search-proximity opt opt-1">
                                    <span class="normal-view-text">Search Proximity</span>
                                    <span class="mobile-view-text">Proximity</span>
                                    <span class="caret"></span></button>
                                <span class="drop-down-0 opt opt-1 option-1">
                                    <div class="filter-dropdown search-proximity-content" style="display: none;">
                                        <!-- check boxes with distance -->
                                        <div class="select-option" ng-class="searchParams.proximity == 1?'selected':''" ng-click="changeProximity(1)">
                                            1 Mile (1.6 Km)
                                        </div>
                                        <div class="select-option"  ng-class="searchParams.proximity == 2?'selected':''" ng-click="changeProximity(2)">
                                            2 Mile (3.2 Km)
                                        </div>
                                        <div class="select-option"  ng-class="searchParams.proximity == 5?'selected':''" ng-click="changeProximity(5)">
                                            5 Mile (8 Km)
                                        </div>
                                        <div class="select-option"  ng-class="searchParams.proximity == 10?'selected':''" ng-click="changeProximity(10)">
                                            10 Mile (16 Km)
                                        </div>
                                        <div class="select-option"  ng-class="searchParams.proximity == 25?'selected':''" ng-click="changeProximity(25)">
                                            25 Mile (40 Km)
                                        </div>
                                        <div class="select-option"  ng-class="searchParams.proximity == 50?'selected':''" ng-click="changeProximity(50)">
                                            50 Mile (80 Km)
                                        </div>
                                        <div class="select-option"  ng-class="searchParams.proximity == 0?'selected':''" ng-click="changeProximity(0)">
                                            Any
                                        </div>
                                    </div>
                                </span>



                                <button class="btn btn-default btn-sm search-btn-width dropdown-toggle search-option opt opt-2 ">
                                    <span class="normal-view-text">Search Option</span>
                                    <span class="mobile-view-text">Option</span>
                                    <span class="caret"></span></button>
                                <div class="drop-down-1 opt opt-2 option-2">
                                    <div class="filter-dropdown width-90 search-option-content" style="display: none;">
                                        <div class="checkbox-dropdown" ng-click="changeSearchOptions(1)">
                                            <i class="fa " ng-class="searchParams.parkingStatus ?'fa-check-square':'fa-square-o'"></i> Parking Required
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeSearchOptions(2)">
                                            <i class="fa " ng-class="searchParams.homeDelivery ?'fa-check-square':'fa-square-o'"></i> Need Home Delivery
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeSearchOptions(3)">
                                            <i class="fa " ng-class="searchParams.openStatus ?'fa-check-square':'fa-square-o'"></i> Open/Working Entities
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeSearchOptions(4)">
                                            <i class="fa " ng-class="searchParams.promotionsOnly ?'fa-check-square':'fa-square-o'"></i> Discount Sales / Promos
                                        </div>
                                    </div>
                                </div>



                                <button class="btn btn-default btn-sm search-btn-width search-rating opt opt-3 ">Ratings <span class="caret"></span></button>
                                <div class="drop-down-2 opt opt-3 option-3">
                                    <div class="filter-dropdown width-42 search-rating-content" style="display: none;">
                                        <div class="checkbox-dropdown" ng-repeat="star in stars track by $index" ng-click="changeActiveRating($index)">
                                            <i class="fa " ng-class="activeRating[$index]?'fa-check-square':'fa-square-o'"></i> <i ng-repeat="str in starArr[$index]" class="fa fa-star text-yellow"></i>
                                        </div>
                                    </div>
                                </div>

                                <!-- active during job search -->
                                <button class="btn btn-default btn-sm search-btn-width job-type opt opt-4 hidden">Job Types <span class="caret"></span></button>
                                <span class="drop-down-3 opt opt-4 hidden">
                                    <div class="filter-dropdown width-42 job-type-content" style="display: none;">
                                        <div class="checkbox-dropdown" ng-click="changeJobType(0)">
                                            <i class="fa" ng-class="activeJobType[0]?'fa-check-square':'fa-square-o'"></i> Full Time
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeJobType(1)">
                                            <i class="fa" ng-class="activeJobType[1]?'fa-check-square':'fa-square-o'"></i> Part Time
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeJobType(2)">
                                            <i class="fa" ng-class="activeJobType[2]?'fa-check-square':'fa-square-o'"></i> Work from Home
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeJobType(3)">
                                            <i class="fa" ng-class="activeJobType[3]?'fa-check-square':'fa-square-o'"></i> Internship
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeJobType(4)">
                                            <i class="fa" ng-class="activeJobType[4]?'fa-check-square':'fa-square-o'"></i> Apprenticeship
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeJobType(5)">
                                            <i class="fa" ng-class="activeJobType[5]?'fa-check-square':'fa-square-o'"></i> Job Oriented Training
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeJobType(6)">
                                            <i class="fa" ng-class="activeJobType[6]?'fa-check-square':'fa-square-o'"></i> Consultant
                                        </div>
                                        <div class="checkbox-dropdown" ng-click="changeJobType(7)">
                                            <i class="fa" ng-class="activeJobType[7]?'fa-check-square':'fa-square-o'"></i> Freelancer
                                        </div>
                                    </div>
                                </span>

                                <button class="btn btn-default btn-sm search-btn-width search-experience opt opt-5 hidden">Experience <span class="caret"></span></button>
                                <div class="drop-down-4 opt opt-5 hidden">
                                    <div class="filter-dropdown width-42 search-experience-content" style="display: none;">
                                        <div class="checkbox-dropdown">
                                            <div class="input-group">
                                                <input type="text" numbers-only maxlength="2" id="experience" placeholder="Your experience in years" class="form-control text-right" />
                                                <span class="input-group-addon">Yrs</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group p-bottom-3">
                                <div class="input-group-btn">
                                    <!-- Change Location btn -->
                                    <button  data-toggle="tooltip"
                                             type="button" ng-click="modalVisibility()" class="btn btn-default normal-view-buttons"
                                             title="Click to change Search Location"><i class="fa fa-map-marker"></i>
                                        <b class="">Location</b>
                                    </button>
                                </div>
                                <!--<input type="text" ng-keypress="checkEnterKey($event)" placeholder="{{placeHolderText[searchParams.searchType - 1]}}" ng-model="searchParams.searchTerm" ng-class="(searchParams.searchType === 1) ? 'text-uppercase' : ''" class="form-control" aria-label="...">-->

                                <input type="text" id="searchTextField" ng-keypress="checkEnterKey($event)" placeholder="{{placeHolderText[searchParams.searchType - 1]}}" ng-model="searchParams.searchTerm" ng-class="(searchParams.searchType === 1) ? 'text-uppercase' : ''" class="form-control dropdown-toggle" aria-label="..." data-toggle="dropdown">

                                <!-- {{searchParams}}-->

                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="margin-left: 32%;" ng-show="(searchParams.searchType == 2) && (KeyWords.length > 0) && (searchParams.searchTerm.length)">
                                    <li ng-repeat="KeyWord in KeyWords">
                                        <a ng-click="setAutoCompeted(KeyWord)">{{KeyWord}}</a>
                                    </li>
                                </ul>
                                <div class="input-group-btn">
                                    <!-- Search BTN -->
                                    <button  data-toggle="tooltip" type="button" class="btn btn-dark-orange"
                                             title="search" ng-click="triggerSearch()">
                                        <i class="fa fa-search"></i> <b class="normal-view-buttons">Search</b>
                                        </b>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- User's present location goes here -->
                        <div class="current-location text-center">
                            <p class="text-white">
                                <i>{{locationString}}</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-0 advance-filter">
                        <div class="filter-container animation-slideup" ng-show="isFilterShown">
                            <div class="container text text-center filter-text-highlight">
                                <i>Search Options</i>
                            </div>
                            <!-- Main contents of advance filters -->
                            <div class="advance-filter-content border-style-bottom">
                                <div class="container">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-bottom-3 filter-item-border">
                                        <div class="text-left text-primary"><b>Proximity:</b></div>
                                        <div class="form-group">
                                            <select name="proximity" ng-model="searchParams.proximity" class="form-control">
                                                <option value="1">1 mile (1.6 km)</option>
                                                <option value="2">2 mile (3.2 km)</option>
                                                <option value="5">5 mile (8 km)</option>
                                                <option value="10">10 mile (16 km)</option>
                                                <option value="25">25 mile (40 km)</option>
                                                <option value="50">50 mile (80 km)</option>
                                                <option value="0">Any</option>
                                            </select>
                                        </div>

                                        <!-- Filter Contents -->
                                        <div class="p-top-10 text-left">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item1" class="chkShowParking filter"  ng-model="searchParams.parkingStatus" name="parking" >
                                                &nbsp;
                                                <label  for="item1" class="text-0-75"> Parking Required</label>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item2" class="chkShowParking filter" ng-model="searchParams.homeDelivery" name="homeDelivery" >
                                                &nbsp;
                                                <label  for="item2" class="text-0-75">Need home delivery</label>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item3" class="chkShowParking filter" ng-model="searchParams.openStatus" name="openStatus" >
                                                &nbsp;
                                                <label  for="item3" class="text-0-75">Show Open/Working entities</label>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="text-left">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-top-10 text-warning">
                                                <span class="text text-info text-bolder">Filter by ratings:</span>
                                                <!--<input id="range_29" />-->
                                                <div class="star-ratings text-left">
                                                    <div class="stars" ng-repeat="star in stars track by $index">
                                                        <span ng-click="selectStar($index)">
                                                            <input class="star-filter" type="checkbox" ng-model="stars[$index]" ng-change="selectStar($index)" />
                                                        </span>
                                                        &nbsp;
                                                        <i ng-repeat="str in starArr[$index]" class="fa fa-star text-yellow"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="done-btn text-right p-5">
                                    <button class="btn btn-warning btn-sm text-right" ng-click="resetFilter()"><i class="fa fa-recycle"></i> Reset</button>
                                    <button class="btn btn-info btn-sm" ng-click="isFilterShown = !isFilterShown">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Seperator strip -->
    <div class="tag-line seperator-bg">
        <div class="container width-75">
            <p class="text-center text-white text-open-sans p-top-7 tag-line-text">
                World’s first Digital Presence Media for People and Business.</p>
            <hr class="style-two">
            <p class="tag-line-text-desc">
                Sign up with EZEOne now and transform the way your share information with others
                and find anything you need nearest your location and reach their doorstep or
                transact online.
                ​</p>
        </div>
    </div>


    <!-- main page explainatory tiles -->
    <div class="description desc-bg-color">
        <div class="head-text-gradient p-top-100">
            <div class="width-75">
                <p><i class="fa fa-user"></i> For People</p>
            </div>
        </div>
        <div class="container width-75 idp">

            <div class="mobile-parent-tile tl row p-top-10 row">
                <!-- Individual boxes goes here -->

                <!-- Tile 1 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Get your Lifetime ID<br>&nbsp;
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile1.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                EZE One provides business ID’s and personal ID’s types, linked to Geo-Location.
                            </div>
                        </div>

                        <div class="textbox tile1">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Welcome to the digitally mapped world, where sharing of address, locations or
                                documents have never been so easy.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 2 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Make the world as your locality<br/><br/>
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile2.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                Proximity based search helps you find a Business by product or services near you,
                                or chosen location.
                            </div>
                        </div>

                        <div class="textbox tile2">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Locate any product, service or public spot near that is nearest to you to save time,
                                effort and helps you do business with your trusted local business or a service
                                provider.
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 3 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image p-bottom-20">
                            <div class="individual-box-heading">
                                Share your location and info with ID
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile3.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                EZE One helps you share any of your information and location by ID .<br>
                            </div>
                        </div>

                        <div class="textbox tile3">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Share your EZE One ID on demand with friends, Home delivery, taxi or
                                ambulance to reach your exact doorsteps using geo-location. You may also share
                                your documents like Resume by EZE One ID or link (ex:
                                www.ezeone.com/MYID.CV.PIN). You may also protect your information by a
                                PIN .
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 4 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Most convenient & safer way for
                                buyers
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile4.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                Buying from neighborhood is now easy and safe through EZE One geo
                                marketplace.
                            </div>
                        </div>

                        <div class="textbox tile4">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Nothing is better than buying from your backyard or buying from the nearest
                                place from your location. We help you locate business or services that are verified
                                and working (open) when you want to buy.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 5 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Online business tools for your convinience<br>&nbsp;
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile5.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                EZE One provides all the required software tools to manage your business,
                                servicing, recruitment.
                            </div>
                        </div>

                        <div class="textbox tile5">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                EZE One provides you the software tools to
                            <ol class="text-white list-circle">
                                <li>Buy online, locate discount sale near you</li>
                                <li>Book appointments with a nearby saloon, spa, doctor</li>
                                <li>Make a reservation at a restaurant, meeting hall or convention center</li>
                                <li>Home delivery</li>
                                <li>Reach Helpdesk for support & maintenance services</li>
                                <li>Submit your Resume to nearby employers</li>
                            </ol>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 6 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Search Discount Sales and promotions
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile6.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                You can search discount sales and promotions near you and get better deals.
                            </div>
                        </div>

                        <div class="textbox tile6">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                You will be able to locate bargains, clearance sales and promotions near you by
                                product or service you want to buy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Seperator strip -->
    <div class="tag-line seperator-bg">
        <div class="container width-75">
            <p class="text-center text-white text-open-sans p-top-7 tag-line-text">
                Take your Business to next generation through  <span class="text-dark-blue ezeid-eze-style">EZE</span><span class="ezeid-id-style">One
    <sup class="tm">TM</sup>
    </span>
            </p>
        </div>
    </div>


    <div class="description desc-bg-color1">
        <div class="head-text-gradient1 p-top-100">
            <div class="width-75">
                <p><i class="fa fa-briefcase"></i> For Business</p>
            </div>
        </div>
        <div class="container width-75 idp">
            <div class="mobile-parent-tile tl row p-top-10 row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-top-30 p-bottom-20 business-img-text-align">
                    <!-- Individual boxes goes here -->
                    <img src="../images/tile7.png" class="width-250-px" usemap="#business" />
                    <map name="business">
                        <area data-text="Get an Unique ID for your
                                            business & link each of
                                            your branch to Geo
                                            Location"
                              data-toggle="tooltip" class="hover-tile" shape="rect" coords="77,4,118,49">
                        <area data-text="List your products and
                                        services online and enable
                                        customer locate you by
                                        product or service your
                                        provide"
                              data-toggle="tooltip" class="hover-tile" shape="rect" coords="136,46,190,88" >
                        <area data-text="Enable relevant business
                                        links like Sales,
                                        Reservations or Appointment
                                        s, Home Delivery,
                                        Helpdesk and Submit CV"
                              data-toggle="tooltip" class="hover-tile" shape="rect" coords="160,105,220,152" >
                        <area data-text="Publish Discount Sales,
                                        Promotions to attract
                                        more customers"
                              data-toggle="tooltip" class="hover-tile" shape="rect" coords="151,173,217,218" >
                        <area data-text="Use EZEOne CRM/Business tools to manage your business, customer
                                        support and recruitment operations"
                              data-toggle="tooltip" class="hover-tile" shape="rect" coords="80,225,142,278" >
                        <area data-text="Everything required to take your business into next generation..."
                              data-toggle="tooltip" class="hover-tile" shape="rect" coords="28,82,111,189" >
                    </map>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 business-mobile-desc-padding">
                    <div class="fr-text">
                        <small id="desc-text">
                            Everything required to take your business into next generation...
                        </small>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- Individual boxes goes here -->
                    <h2 class="business-heading">
                        Business visibility to neighborhood consumers was never so easy
                    </h2>
                    <p class="business-desc">
                        EZE one provides you all functionalities required to take your business online
                        onto Geo market place. This helps you to reach your neighborhood, better and
                        faster. CRM tools further enhance your business capability through improved
                        customer experience.
                    </p>
                </div>
            </div>
        </div>
        <!-- Modal Box content -->
        <modal mtitle="modal.title" mclass="modal.class" visible="modalVisible">
            <div class="row">
                <!-- Map goes here -->
                <div id="modal-map-ctrl" class="col-lg-12">
                </div>
                <!-- Map ends here -->
                <div class="col-lg-12 text-right">
                    <button class="btn btn-primary text-right" ng-click="modalVisibility()">OK</button>
                </div>
            </div>
        </modal>

        <!-- Footer goes here -->
        <footer-section></footer-section>
        <!-- Footer Ends here -->
</section>