<section id="home-page-wrapper" class="hpw">

    <div class="main-page-image">

        <!-- New header menu goes here -->
        <header-section></header-section>
        <!-- Header Menu ends here -->

        <!-- Mid contents of the Header image goes here -->
        <div class="landing-center">
            <div class="main-title text-bolder">IDENTIFY <i class="fa fa-arrow-circle-right"></i> LOCATE <i class="fa fa-arrow-circle-right"></i> INTERACT</div>
            <div class="main-subtitle">Search any product or service in your neighbourhood. <b>It is Easy, Accurate & Verified</b></div>
            <!-- Search Bar goes here -->
            <div class="container m_top_10">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">

                        <!-- Filter buttons goes here in MOBILE VIEW-->
                        <div class="mobile-view-buttons text-center p-bottom-3">
                            <div class="input-group">
                                <div class="btn-group">
                                    <button type="button"
                                            ng-click="modalVisibility()"
                                            class="btn btn-info "
                                            title="Click to change Search Location">
                                        <i class="fa fa-map-marker"></i> <b>Locate</b>
                                    </button>
                                    <button title="Search by" type="button" class="btn btn-default no-radius dropdown-toggle keyword-btn-radius" data-toggle="dropdown">
                                        <b>{{searchType[searchParams.searchType - 1]}}</b>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="btn-link" ng-repeat="search in searchType track by $index">
                                            <!-- Index incremented by 1: As the array's default index is [0,1,2] & searchType's value is [1,2,3] -->
                                            <a class="btn-link" ng-click="($event.preventDefault())(searchParams.searchType = $index + 1) (searchParams.searchTerm = '')">{{search}}</a>
                                        </li>
                                    </ul>
                                    <button ng-click="toggleFilterContainer($event,true)"
                                            ng-disabled="searchParams.searchType === 1"
                                            type="button"
                                            class="btn btn-warning
                                              btn-advanced-filter"
                                            title="Click to choose Search Options">
                                        <i class="fa fa-check-square-o"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group p-bottom-3">
                            <div class="input-group-btn">
                                <!-- Change Location btn -->
                                <button  data-toggle="tooltip"
                                         type="button" ng-click="modalVisibility()" class="btn btn-dark-blue normal-view-buttons"
                                         title="Click to change Search Location"><i class="fa fa-map-marker"></i>
                                    <b class="">Location</b>
                                </button>
                                <!-- Searc type button -->
                                <button title="Search by" type="button" class="btn btn-default normal-view-buttons dropdown-toggle keyword-btn-radius" data-toggle="dropdown">
                                    <b>{{searchType[searchParams.searchType - 1]}}</b>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="btn-link" ng-repeat="search in searchType track by $index">
                                        <!-- Index incremented by 1: As the array's default index is [0,1,2] & searchType's value is [1,2,3] -->
                                        <a class="btn-link" ng-click="($event.preventDefault())(searchParams.searchType = $index + 1) (searchParams.searchTerm = '')">{{search}}</a>
                                    </li>
                                </ul>
                            </div>
                            <!--<input type="text" ng-keypress="checkEnterKey($event)" placeholder="{{placeHolderText[searchParams.searchType - 1]}}" ng-model="searchParams.searchTerm" ng-class="(searchParams.searchType === 1) ? 'text-uppercase' : ''" class="form-control" aria-label="...">-->

                            <input type="text" id="searchTextField" ng-keypress="checkEnterKey($event)" placeholder="{{placeHolderText[searchParams.searchType - 1]}}" ng-model="searchParams.searchTerm" ng-class="(searchParams.searchType === 1) ? 'text-uppercase' : ''" class="form-control dropdown-toggle" aria-label="..." data-toggle="dropdown">

                           <!-- {{searchParams}}-->

                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="margin-left: 32%;" ng-show="(searchParams.searchType == 2) && (KeyWords.length > 0) && (searchParams.searchTerm.length)">
                                <li ng-repeat="KeyWord in KeyWords">
                                    <a ng-click="setAutoCompeted(KeyWord)">{{KeyWord}}</a>
                                </li>
                            </ul>
                            <div class="input-group-btn">
                                <!-- Filter BTN -->
                                <button  data-toggle="tooltip"  ng-click="toggleFilterContainer($event,true)" ng-disabled="searchParams.searchType === 1"
                                         type="button" class="btn no-radius normal-view-buttons btn-default dropdown-toggle btn-advanced-filter" data-toggle="dropdown" title="Click to choose Search Options"><i class="fa fa-check-square-o"></i> <b class="normal-view-buttons">Options</b></button>
                                <!-- Search BTN -->
                                <button  data-toggle="tooltip" type="button" class="btn btn-dark-orange"
                                         title="search" ng-click="triggerSearch()">
                                    <i class="fa fa-search"></i> <b class="normal-view-buttons">Search</b>
                                    </b></button>
                            </div>
                        </div>


                        <!-- User's present location goes here -->
                        <div class="current-location text-center">
                            <p class="text-white">
                                <i>{{locationString}}</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-0 advance-filter">
                        <div class="filter-container animation-slideup" ng-show="isFilterShown">
                            <div class="container text text-center filter-text-highlight">
                                <i>Search Options</i>
                            </div>
                            <!-- Main contents of advance filters -->
                            <div class="advance-filter-content border-style-bottom">
                                <div class="container">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-bottom-3 filter-item-border">
                                        <div class="text-left text-primary"><b>Proximity:</b></div>
                                        <div class="form-group">
                                            <select name="proximity" ng-model="searchParams.proximity" class="form-control">
                                                <option value="1">1 mile (1.6 km)</option>
                                                <option value="2">2 mile (3.2 km)</option>
                                                <option value="5">5 mile (8 km)</option>
                                                <option value="10">10 mile (16 km)</option>
                                                <option value="25">25 mile (40 km)</option>
                                                <option value="50">50 mile (80 km)</option>
                                                <option value="0">Any</option>
                                            </select>
                                        </div>

                                        <!-- Filter Contents -->
                                        <div class="p-top-10 text-left">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item1" class="chkShowParking filter"  ng-model="searchParams.parkingStatus" name="parking" >
                                                &nbsp;
                                                <label  for="item1" class="text-0-75"> Parking Required</label>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item2" class="chkShowParking filter" ng-model="searchParams.homeDelivery" name="homeDelivery" >
                                                &nbsp;
                                                <label  for="item2" class="text-0-75">Need home delivery</label>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item3" class="chkShowParking filter" ng-model="searchParams.openStatus" name="openStatus" >
                                                &nbsp;
                                                <label  for="item3" class="text-0-75">Show Open/Working entities</label>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="text-left">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-top-10 text-warning">
                                                <span class="text text-info text-bolder">Filter by ratings:</span>
                                                <!--<input id="range_29" />-->
                                                <div class="star-ratings text-left">
                                                    <div class="stars" ng-repeat="star in stars track by $index">
                                                        <span ng-click="selectStar($index)">
                                                            <input class="star-filter" type="checkbox" ng-model="stars[$index]" ng-change="selectStar($index)" />
                                                        </span>
                                                        &nbsp;
                                                        <i ng-repeat="str in starArr[$index]" class="fa fa-star text-yellow"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="done-btn text-right p-5">
                                    <button class="btn btn-warning btn-sm text-right" ng-click="resetFilter()"><i class="fa fa-recycle"></i> Reset</button>
                                    <button class="btn btn-info btn-sm" ng-click="isFilterShown = !isFilterShown">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Seperator strip -->
    <div class="tag-line seperator-bg">
        <div class="container width-75">
            <p class="text-center text-white text-open-sans p-top-7 tag-line-text">
                World's first Geo-Marketplace!</p>
            <hr class="style-two">
            <p class="tag-line-text-desc">
                Sign up with EZEOne now and transform the way your share information with others
                and find anything you need nearest your location and reach their doorstep or
                transact online.
                ​</p>
        </div>
    </div>


    <!-- main page explainatory tiles -->
    <div class="description desc-bg-color">
        <div class="head-text-gradient p-top-100">
            <div class="width-75">
                <p><i class="fa fa-user"></i> For People</p>
            </div>
        </div>
        <div class="container width-75 idp">

            <div class="mobile-parent-tile tl row p-top-10 row">
                <!-- Individual boxes goes here -->

                <!-- Tile 1 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Get your Lifetime ID<br>&nbsp;
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile1.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                EZEOne provides personal ID and Business ID types
                                linked to Geo Location
                            </div>
                        </div>

                        <div class="textbox tile1">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Sharing an Address/Location or a Document has never been so easy. Welcome to digitally mapped world​.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 2 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Transform the world into your locality
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile2.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                Proximity based search helps you find a business by
                                product or service near your location
                            </div>
                        </div>

                        <div class="textbox tile2">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Locate any product, service or a
                                public spot that is nearest to you
                                to save time, efforts and help you
                                do business with your trusted
                                local business or a service
                                provider
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 3 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Share location & info by IDShare location & info by ID
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile3.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                EZEOne helps you share any of your info or location
                                by ID that makes life easy
                            </div>
                        </div>

                        <div class="textbox tile3">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Share your EZEOne ID with
                                Friends, Home delivery, Taxi or
                                Ambulance to reach your exact
                                doorstep using Geo Location . Also
                                share your document or CV by ID
                                or link (like www.ezeone.
                                com/MYID.CV.PIN). You can also
                                secure info. by PIN.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 4 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Most convenient & safer way for
                                buyers
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile4.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                Buying from neighbourhood is now ease and safe through EZEOne Geo-Marketplace.
                            </div>
                        </div>

                        <div class="textbox tile4">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Nothing is better than buying from
                                your Backyard or buying from the
                                nearest place from your location.
                                We help you locate business or
                                services that are verified and
                                working (open) when you want to
                                buy
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 5 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Online tools to enable e-commerce<br>&nbsp;
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile5.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                EZEOne provides all the required software tools to manage your business, servicing and recruitment…
                            </div>
                        </div>

                        <div class="textbox tile5">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                Online Sales, online Reservation/
                                Appointments, Home Delivery,
                                Helpdesk and Submit CV links help
                                you perform all business activities
                                based on company profile
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tile 6 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="container mobile-individual-tile">
                        <div class="individual-box tile-initial-image">
                            <div class="individual-box-heading">
                                Search Discount Sales and promotions
                            </div>
                            <div class="individual-box-image">
                                <img src="../images/tile6.png" class="width-190-px" />
                            </div>
                            <div class="individual-box-description">
                                You can search discount sales and promotions near
                                you and get better deals.
                            </div>
                        </div>

                        <div class="textbox tile6">
                            <p class="text text-center text-white text-bolder text-box-justify">
                                You will be able to locate
                                bargains, clearance sales and
                                promotions near you by product
                                or service you want to buy
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Seperator strip -->
    <div class="tag-line seperator-bg">
        <div class="container width-75">
            <p class="text-center text-white text-open-sans p-top-7 tag-line-text">
                Take your Business to next generation through  <span class="text-dark-blue ezeid-eze-style">EZE</span><span class="ezeid-id-style">One
    <sup class="tm">TM</sup>
    </span>
            </p>
        </div>
    </div>


    <div class="description desc-bg-color1">
        <div class="head-text-gradient1 p-top-100">
            <div class="width-75">
                <p><i class="fa fa-briefcase"></i> For Business</p>
            </div>
        </div>
        <div class="container width-75 idp">
            <div class="mobile-parent-tile tl row p-top-10 row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-top-30 p-bottom-20 text-center">
                    <!-- Individual boxes goes here -->
                    <img src="../images/tile7.png" class="width-250-px" usemap="#business" />
                    <map name="business">
                        <area shape="rect" coords="150,10,200,40" title="Tile 1">
                    </map>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- Individual boxes goes here -->
                    <h2 class="business-heading">
                        Business visibility to consumers was never so easy?
                    </h2>
                    <p class="business-desc">
                        EZEOne provides you every facility required to take
                        your business is visible on Geo-Marketplace that
                        significantly enhance the value of your business and
                        make your business available to neighbourhood as well
                        as to the world. CRM tools further enhance your
                        business capability through business process
                        automation.
                    </p>
                </div>
            </div>
        </div>
        <!-- Modal Box content -->
        <modal mtitle="modal.title" mclass="modal.class" visible="modalVisible">
            <div class="row">
                <!-- Map goes here -->
                <div id="modal-map-ctrl" class="col-lg-12">
                </div>
                <!-- Map ends here -->
                <div class="col-lg-12 text-right">
                    <button class="btn btn-primary text-right" ng-click="modalVisibility()">OK</button>
                </div>
            </div>
        </modal>

        <!-- Footer goes here -->
        <footer-section></footer-section>
        <!-- Footer Ends here -->
</section>