<section id="home-page-wrapper" class="hpw">

    <div class="main-page-image">

        <!-- New header menu goes here -->
        <header-section></header-section>
        <!-- Header Menu ends here -->

        <!-- Mid contents of the Header image goes here -->
        <div class="landing-center">
            <div class="main-title text-bolder">IDENTIFY <i class="fa fa-arrow-circle-right"></i> LOCATE <i class="fa fa-arrow-circle-right"></i> COMMUNICATE</div>
            <div class="main-subtitle">Search any product or service in your neighbourhood. <b>It is Easy, Accurate & Verified</b></div>
            <!-- Search Bar goes here -->
            <div class="container m_top_10">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                        <div class="input-group p-bottom-3">
                            <div class="input-group-btn">
                                <!-- Change Location btn -->
                                <button type="button" ng-click="modalVisibility()" class="btn btn-info" title="Click to change Search Location"><i class="fa fa-map-marker"></i></button>

                                <button title="Search by" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><b class="search-type">{{searchType[searchParams.searchType - 1]}}</b> <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="btn-link" ng-repeat="search in searchType track by $index">
                                        <!-- Index incremented by 1: As the array's default index is [0,1,2] & searchType's value is [1,2,3] -->
                                        <a class="btn-link" ng-click="($event.preventDefault())(searchParams.searchType = $index + 1) (searchParams.searchTerm = '')">{{search}}</a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" ng-keypress="checkEnterKey($event)" placeholder="{{placeHolderText[searchParams.searchType - 1]}}" ng-model="searchParams.searchTerm" ng-class="(searchParams.searchType === 1) ? 'text-uppercase' : ''" class="form-control" aria-label="...">
                            <div class="input-group-btn">
                                <!-- Filter BTN -->
                                <button  ng-click="toggleFilterContainer($event,true)" ng-disabled="searchParams.searchType === 1"
                                         type="button" class="btn no-radius btn-default dropdown-toggle btn-advanced-filter" data-toggle="dropdown" title="Click to choose Search Options"><i class="fa fa-filter"></i> </button>
                                <!-- Search BTN -->
                                <button type="button" class="btn btn-warning" title="search" ng-click="triggerSearch()"><i class="fa fa-search"></i> </button>
                            </div>
                        </div>
                        <div class="current-location text-center">
                            <p class="text-white">
                                <i>{{locationString}}</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-0 advance-filter">
                        <div class="filter-container animation-slideup" ng-show="isFilterShown">
                            <div class="container text text-center filter-text-highlight">
                                <i>Search Options</i>
                            </div>
                            <!-- Main contents of advance filters -->
                            <div class="advance-filter-content border-style-bottom">
                                <div class="container">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-bottom-3 filter-item-border">
                                        <div class="text-left text-primary"><b>Proximity:</b></div>
                                        <div class="form-group">
                                            <select name="proximity" ng-model="searchParams.proximity" class="form-control">
                                                <option value="1">1 mile (1.6 km)</option>
                                                <option value="2">2 mile (3.2 km)</option>
                                                <option value="5">5 mile (8 km)</option>
                                                <option value="10">10 mile (16 km)</option>
                                                <option value="25">25 mile (40 km)</option>
                                                <option value="50">50 mile (80 km)</option>
                                                <option value="0">Any</option>
                                            </select>
                                        </div>

                                        <!-- Filter Contents -->
                                        <div class="p-top-10 text-left">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item1" class="chkShowParking"  ng-model="searchParams.parkingStatus" name="parking" >
                                                &nbsp;
                                                <label  for="item1"> Parking Required</label>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item2" class="chkShowParking" ng-model="searchParams.homeDelivery" name="homeDelivery" >
                                                &nbsp;
                                                <label  for="item2">Need home delivery</label>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-items">
                                                <input type="checkbox" id="item3" class="chkShowParking" ng-model="searchParams.openStatus" name="openStatus" >
                                                &nbsp;
                                                <label  for="item3">Open business only</label>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="text-left">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-top-10 text-warning">
                                                <span class="text text-info text-bolder">Filter by ratings:</span>
                                                <!--<input id="range_29" />-->
                                                <div class="star-ratings text-left">
                                                    <div class="stars" ng-repeat="star in stars track by $index">
                                                        <span ng-click="selectStar($index)">
                                                            <input type="checkbox" ng-model="stars[$index]" ng-change="selectStar($index)" />
                                                        </span>
                                                        &nbsp;
                                                        <i ng-repeat="str in starArr[$index]" class="fa fa-star text-yellow"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="done-btn text-right p-5">
                                    <button class="btn btn-info btn-sm" ng-click="isFilterShown = !isFilterShown">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tag-line red">
        <div class="container width-75">
            <p class="text-center text-white text-bolder p-top-7">
                First of its kind digital place for coexistence of Individuals and Business Organizations. Sign up today for life time benefits.
                ​</p>
        </div>
    </div>
    <div class="description-page negetive-z-index">
        <div class="container width-81">
            <div class="description-content">
                <!-- Description contents goes here -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center description-tab">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <!-- Image goes here -->
                        <div class="font-awesome-image">
                            <!--<i class="fa fa-map-marker fa-3x text-red"></i>-->
                            <img src="../images/radar.png" class="width-100-px" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <!-- Description goes here -->
                        <p class="text-justify">The first proximity based search and e-business platform that connects business with neighbourhood consumers</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center description-tab">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <!-- Image goes here -->
                        <div class="font-awesome-image">
                            <img src="../images/CRM.png" class="width-100-px" />
                            <!--<i class="fa fa-recycle fa-3x text-info"></i>-->
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <!-- Description goes here -->
                        <p class="text-justify">
                            Business Organization can build online business functionality like​
                            Online Sales Enquiries, Home Delivery, Appointments/Reservation, Helpdesk and Submit CV.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center description-tab">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <!-- Image goes here -->
                        <div class="font-awesome-image">
                            <!--<i class="fa fa-thumbs-up fa-3x text-success"></i>-->
                            <img src="../images/online-shopping.png" class="width-100-px" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <!-- Description goes here -->
                        <p class="text-justify">
                            Individuals will enjoy the benefits of sharing any personal information just by a short code and locate anything you need in your neighbourhood
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detailed page -->
    <div class="detailed-page">
        <div class="container width-75">
            <div class="description-heading text-center">
                <div class=" p-top-10">
                    <h3 class="text-bolder text-white font-roboto">ALL ABOUT EZEID</h3>

                    <h6 class="text-white text-bolder"> Worlds first short coded personal information wallet, business listing & online business platform.</h6>
                </div>
                <i class="fa fa-quote-left fa-2x p-top-10 text-gray"></i>
            </div>
            <!-- Description content -->
            <!-- Description 1 -->
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    <div class="content p-top-40">
                        <p class="text text-justify font-roboto text-white text-bolder font-16">
                            Publish your Business on EZE ID to go online in just a few hours and get maximum exposure to help buyers through Business Tools round the clock.
                        </p>
                        <hr class="style-one">

                        <ul class=" font-roboto text-white text-12 text-bolder text-justify p-left-16">
                            <li>
                                Unique lifetime EZE ID linked to Geo Location of all your business locations
                            </li>
                            <li>
                                List all your Products and Services to help your neighborhood locate you and be visible to the world​
                            </li>
                            <li>
                                Enable Business Links to help Buyers Order Online (Sales Enquiries, Reservation/Appointments, Home Delivery, Online Helpdesk & Submit CV link for Jobseekers to apply for open positions online)
                            </li>
                            <li>
                                Use EZE ID online CRM software tools free of cost to enable your entire business & recruitment process online
                            </li>
                            <li>
                                Go online in a few minutes or if you are online, then build more traffic by linking EZE ID brand presence to  your online business platform​
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                    <div class="content p-top-40">
                        <p class="text text-justify font-roboto text-white text-bolder font-16">
                            EZE ID is the best method to store your Geo Location, Address and all commonly shared documents to share the same with eases.
                        </p>
                        <hr class="style-one">

                        <ul class=" font-roboto text-white text-12 text-bolder text-justify p-left-16">
                            <li>
                                Unique lifetime EZE ID linked to Geo Location, Address(s) & Documents(ID, CV, Passport etc…)
                            </li>
                            <li>
                                Share your location or documents on demand just by sharing your EZE ID and the respective Section tag and PIN to make sure your share only specific information and access is secure
                            </li>
                            <li>
                                Locate any business by the product or services in your neighborhood or nearby your place and buy online to save time, cost and efforts.
                            </li>
                            <li>
                                Save time and efforts in sharing detailed location, landmark, address or documents by just sharing your EZE ID followed by the Sections Tag to share only specific data(Example: YOURID.ID.437 to share your ID Card)​
                                Reach any place using EZE ID right to door-step. Say goodbye to landmarks or directions​
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- Description 2 -->
                <div class="col-lg-6 col-sm-6 col-md-12 col-xs-12">

                </div>
            </div>
        </div>
    </div>
    <!-- Mobile App page -->
    <div class="mobile-app-page ">
        <div class="container width-75">
            <div class="col-lg-8">
                <div class="app-title text-center">
                    <h2 class="font-open-sans text-black text-bolder"><span class="text-dark-blue ezeid-eze-style">EZE</span><span class="ezeid-id-style">ID</span></h2>
                </div>
            </div>
            <div class="col-lg-4">&nbsp;</div>
            <!--<hr class="style-two">-->
            <div class="row p-top-30">
                <!-- Basic content -->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

                    <div class="text-center font-roboto mobile-title-content">
                        <h4 class="text-bolder text-center mobile-page-heading">EZE ID is available through web portal, Android App and iOS App</h4>
                            <span class="text-center">And it enable you to use the device of your choice.
                            Navigation to a located EZE ID(Person or Business ID) is possible only through Mobile Apps,
                            but buying online using web portal or mobile apps is easy and fun.
                                </span>
                    </div>

                    <!-- Description Tiles -->
                    <div class="mobile-parent-tile tl row p-top-10">
                        <div class="col-lg-5 p-bottom-20">
                            <div class="container mobile-individual-tile mobile-tile1">
                                <div class="text-center tile-initial-image">
                                    <i class="fa fa-search text-white fa-4x"></i>
                                </div>
                                <div class="textbox">
                                    <p class="text text-center text-white text-bolder p3">Find your Friend or a Business by EZE ID and reach the door step with no further help</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-7 p-bottom-20">
                            <div class="container mobile-individual-tile mobile-tile2">
                                <div class="text-center tile-initial-image">
                                    <i class="fa fa-file-word-o text-white fa-4x"></i>
                                </div>
                                <div class="textbox">
                                    <p class="text text-center text-white text-bolder p3">Submit your CV to matching Employers of your neighbourhood for a happy career</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 p-bottom-20">
                            <div class="container mobile-individual-tile mobile-tile3">
                                <div class="text-center tile-initial-image">
                                    <i class="fa fa-comments text-white fa-4x"></i>
                                </div>
                                <div class="textbox">
                                    <p class="text text-center text-white text-bolder p3">
                                        Chat with Friends or Business 24x7. Now you can reach any Business 24x7 and buy when you wish​
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 p-bottom-20">
                            <div class="container mobile-individual-tile mobile-tile4">
                                <div class="text-center tile-initial-image">
                                    <i class="fa fa-user-md text-white fa-4x"></i>
                                </div>
                                <div class="textbox">
                                    <p class="text text-center text-white text-bolder p3">
                                        Find a Doctor, SPA/Saloon or a Restaurant near  you and block the schedule on the spot​
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 p-bottom-20">
                            <div class="container mobile-individual-tile mobile-tile5">
                                <div class="text-center tile-initial-image">
                                    <i class="fa fa-shopping-cart text-white fa-4x"></i>
                                </div>
                                <div class="textbox">
                                    <p class="text text-center text-white text-bolder p3">Find a product or service and just click to order online.</p>
                                </div>

                            </div>
                        </div>
                        <!-- Download Mobile App -->
                        <div class="col-lg-6 p-bottom-20">
                            <div class="container mobile-individual-tile mobile-tile6">
                                <div class="text-center tile-initial-image">
                                    <i class="fa fa-mortar-board text-white fa-4x"></i>
                                </div>
                                <div class="textbox">
                                    <p class="text text-center text-white p3">
                                        Enable Jobseekers to find you by skill keywords you hire and help them submit their CV just by a click of a button. Let nearby jobseekers apply and make a greener world​.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 p-bottom-20">
                            <div class="container mobile-individual-tile mobile-tile7">
                                <div class="text-center tile-initial-image">
                                    <i class="fa fa-street-view text-white fa-4x"></i>
                                </div>
                                <div class="textbox">
                                    <p class="text text-center text-white text-bolder p3">
                                        Sharing an Address/Location or a Document has never been so easy. Welcome to digitally mapped world​.
                                    </p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Image goes here -->
                <div class="col-lg-4 hidden-1200 hidden-sm hidden-xs">
                    <div class="phone-img p-5">
                        <img src="../images/phone.png" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Box content -->
    <modal mtitle="modal.title" mclass="modal.class" visible="modalVisible">
        <div class="row">
            <!-- Map goes here -->
            <div id="modal-map-ctrl" class="col-lg-12"></div>
            <!-- Map ends here -->
        </div>
    </modal>

    <!-- Footer goes here -->
    <footer-section></footer-section>
    <!-- Footer Ends here -->
</section>