
<div id="wrapper" ng-controller="NotifyController as msgCtrl">
    <header-section></header-section>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="Popup_window form_style map_popup_iconActions" id="Notes_popup">
        <div class="window_page  Maping_popup">
            <span class="closelink" ng-click="msgCtrl.closeAddNoteForm()">X</span>

            <form name="AddNoteForm" ng-submit="AddNoteForm.$valid && msgCtrl.sendNote(msgCtrl.item)" novalidate>
                <h3 class="marB15px marBpx">Message</h3>
                <div class="form-group">
                   <textarea id="previousNote" class="form-control fixTextArea" name="previousNote" ng-model="msgCtrl.Message" readonly></textarea><br/>
                   <!-- <input id="previousNote" type="text" name="previousNote" ng-model="msgCtrl.Message" class="msgBox form-control" readonly><br/>-->
                    <sapn></sapn>
                    <textarea class="form-control fixTextArea" name="noteMessage" ng-model="msgCtrl.NoteMessage" placeholder="Type Notes here"></textarea><br/>
                    <!--<input type="text" name="noteMessage" ng-model="msgCtrl.NoteMessage" class="text_Box msgBox form-control" placeholder="Type Notes here"><br/>-->
                    <span class="text_Box">Status:</span>
                    <div class="btn-group text_Box">
                        <label class="btn btn-primary panelTextSize" ng-class="radioModel = msgCtrl.item.Status == 0 ? 'orangeActiveButton': ''" ng-click="msgCtrl.UpdateStatus(msgCtrl.item,0)" ng-model="radioModel = msgCtrl.item.Status == 0 ? 'New': ''" btn-radio="'New'">New</label>
                        <label class="btn btn-primary panelTextSize" ng-class="radioModel = msgCtrl.item.Status == 1 ? 'orangeActiveButton': ''" ng-click="msgCtrl.UpdateStatus(msgCtrl.item,1)" ng-model="radioModel = msgCtrl.item.Status == 1 ? 'InProcess': ''" btn-radio="'InProcess'">Accepted</label>
                        <label class="btn btn-primary panelTextSize" ng-class="radioModel = msgCtrl.item.Status == 2 ? 'orangeActiveButton': ''" ng-click="msgCtrl.UpdateStatus(msgCtrl.item,2)" ng-model="radioModel = msgCtrl.item.Status == 2 ? 'Closed': ''" btn-radio="'Closed'">{{msgCtrl.item.MessageType == "5" ? "Hired" : "Completed"}} </label>
                        <label class="btn btn-primary panelTextSize" ng-class="radioModel = msgCtrl.item.Status == 3 ? 'orangeActiveButton': ''" ng-click="msgCtrl.UpdateStatus(msgCtrl.item,3)" ng-model="radioModel = msgCtrl.item.Status == 3 ? 'Dropped': ''" btn-radio="'Dropped'">Rejected</label>
                    </div>
                    <h3 class="status_line"><span class="line_top"></span></h3>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary msg_butt" value="Save" />
                    <input type="button" ng-click="msgCtrl.closeAddNoteForm()"  class="btn btn-primary marR10px cancelEnq msg_butt" value="Close" />
                </div>
            </form>
        </div>
    </div>
    <div class="container" style="padding-top:90px; position:relative;">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-sm-8" style="margin: auto; float: none;">
                <div class="panel panel-default" style="min-height: 367px">
                    <div class="panel-body">
                        <h3><span class="text_color">Inbox</span>
                            <div class="pull-right search setHeader">
                                <span>Status:</span>
                                <!--<select class="select_size" ng-model="msgCtrl.Status" ng-change="msgCtrl.filterStatus()" ng-options="status as status.label for status in msgCtrl.statusDrpDwn">-->
                                <select class="select_size" ng-model="msgCtrl.Status" ng-change="msgCtrl.filterStatus()" ng-options="status as status.label for status in msgCtrl.statusDrpDwn">
                                    <option value="" default selected>{{msgCtrl.Status.label}}</option>
                                </select>
                                <span>Type:</span>
                                <!--<select class="select_size" ng-model="msgCtrl.MessageType" ng-change="msgCtrl.filterMessageType()" ng-options="type as type.label for type in msgCtrl.typeDrpDwn">-->
                                <select class="select_size" ng-model="msgCtrl.MessageType" ng-change="msgCtrl.filterMessageType()" ng-options="type as type.label for type in msgCtrl.typeDrpDwn">
                                    <option value="" default selected>{{msgCtrl.MessageType.label}}</option>
                                </select>
                                <span><button class="refresh-icon WdButt pull-right" ng-click="msgCtrl.refreshNotificationGrid()">Refresh</button></span>
                            </div>
                        </h3>

                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="panel-group panelTextSize no_select" id="accordion">
                            <!-- <div class="panel panel-default" ng-repeat="_item in msgCtrl.msgs | filter:filterMessage ">-->
                            <table class="panel panel-default" border="1" st-table="rowCollection" class="table table-striped">
                                <thead>
                                <tr style="background:#2791BA; color:#000000;">
                                    <th class="panelPd5px leftBlackBorder rightBlackBorder">Type</th>
                                    <th class="panelPd5px rightBlackBorder">Msg.No.</th>
                                    <th class="panelPd5px from_size rightBlackBorder">From</th>
                                    <th class="panelPd5px date_size rightBlackBorder">Date</th>
                                    <th class="panelPd5px statusSize rightBlackBorder">Status</th>
                                    <th class="panelPd5px msg_size rightBlackBorder">Message</th>
                                    <th class="panelPd5px msg_size rightBlackBorder">Notes</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr ng-repeat="_item in msgCtrl.msgs | filter: {Status: msgCtrl.status,MessageTypeTitle:msgCtrl.type}">-->
                                <tr ng-repeat="_item in msgCtrl.msgs | filter:msgCtrl.type | filter:msgCtrl.status">
                                    <td>
                                        <div class="inbox-icons icon_pos">
                                            <a href="" ng-show="_item.MessageType == 0" class="icon-new selectedNotification" title="Normal Message"></a>
                                            <a href="" ng-show="_item.MessageType == 1" class="icon-SalesEnquiry selectedNotification" title="Sales Enquiry"></a>
                                            <a href="" ng-show="_item.MessageType == 2" class="icon-HomeDelivery selectedNotification" title="Home Delivery"></a>
                                            <a href="" ng-show="_item.MessageType == 3" class="icon-Reservation selectedNotification" title="Reservation"></a>
                                            <a href="" ng-show="_item.MessageType == 4" class="icon-SupportRequest selectedNotification" title="Support Request"></a>
                                            <a href="" ng-show="_item.MessageType == 5" class="icon-CV selectedNotification" title="CV"></a>
                                            <a href="" ng-show="_item.MessageType == 6" class="icon-appointment selectedNotification" title="Appointment"></a>
                                        </div>
                                    </td>
                                    <td class="panelPd5px ">{{$index + 1}}</td>
                                    <td class="panelPd5px " >{{_item.FromName}}</td>
                                    <td class="panelPd5px " >{{_item.TaskDateTime}}</td>
                                    
                                    <td class="panelPd5px msg_pos">
                                        <div class="btn-group">
                                           <label ng-show="_item.Status == 0" ng-click="msgCtrl.openAddNoteForm(_item,0)" class="btn btn-primary panelTextSize borLeft">New</label>
                                            <label ng-show="_item.Status == 1" ng-click="msgCtrl.openAddNoteForm(_item,1)" class="btn btn-primary panelTextSize borLeft">Accepted</label>
                                            <label ng-show="_item.Status == 2" ng-click="msgCtrl.openAddNoteForm(_item,2)" class="btn btn-primary panelTextSize borLeft">Completed</label>
                                            <label ng-show="_item.Status == 3" ng-click="msgCtrl.openAddNoteForm(_item,3)" class="btn btn-primary panelTextSize borLeft">Rejected</label>
                                        </div>
                                    </td>
                                    <td class="panelPd5px ">{{_item.Message}}</td>
                                    <td class="panelPd5px "><span ng-model="msgCtrl.Notes"></span>{{_item.Notes}}</td>
                                    <td>
                                      <!-- <a href="#" class="btn pull-right" ng-click="msgCtrl.openAddNoteForm(_item)" type="button">Add</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="msgCtrl.showMoreButton">
                            <button class="btn btn-primary pull-right" ng-click="msgCtrl.getNotifications()" type="button">More</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>