
<div id="wrapper" ng-controller="ShowMapViewCtrl as viewDirection">
    <header-section></header-section>
    <modal mtitle="'Email Route Map'" visible="showEmailForm">
        <div class="container-fluid">
            <div class="row emailPannelTopMargin">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer topMarginButton keyWordText">
                        EmailID
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 searchHeaderAlignment">
                        <input type="text" name="ToMailID" class="form-control emptyBox"
                               id="ToMailID" ng-model="viewDirection._info.ToMailID"
                               ng-class="MailTemplateForm.FromEmailID.$touched && !viewDirection._info.ToMailID.length ? 'mandatoryTextBox' : ''"
                               placeholder="EmailID" maxlength="100"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                        <span ng-show="MailTemplateForm.ToMailID.$error.email" ng-if="MailTemplateForm.ToMailID.$error.email == true ? viewDirection._info.isWrongEmailPatternFrom = true : viewDirection._info.isWrongEmailPatternFrom = false"></span>
                    </div>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchHeaderAlignment TemplateTextContainer bewareTextInnerContainer keyWordText">
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                        <button type="submit" ng-disabled="!viewDirection._info.ToMailID" class="btn btn-primary" ng-click="viewDirection.emailDirectionImage()" >Send</button>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 searchHeaderAlignment" style="text-align: left;">
                        <button type="button" class="btn btn-primary" ng-click="viewDirection.closeEmailDialouge()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </modal>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading">
                        <h4>View Direction</h4>
                    </div>
                    <div class="panel-body setPanelPadding">
                       <div style="text-align: center"><br/>
                            <div class="well well-lg templateBoxContainer" id="googlemap">
                                <div class="row setRowLeftRightMarginZero centerAlign">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="row setRowLeftRightMarginZero">
                                            <div class="row setRowLeftRightMarginZero">
                                               <!-- <img id="map-canvasH" ng-src="{{mapImage}}"/>-->
                                                <img id="my-image-id"/>
                                            </div>
                                        </div>
                                        <div class="row setRowLeftRightMarginZero mapButtonContainer">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 searchHeaderAlignment">
                                                <button type="submit" class="btn btn-primary" ng-click="viewDirection.printHtml()">Print Map</button>
                                                <button type="button" class="btn btn-primary" ng-click="viewDirection.emailHtml()" >Email</button>
                                                <button type="button" class="btn btn-primary" ng-click="viewDirection.closeForm()" >Close</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-size: 10px;">
                                        <div id="directions-panel"></div>
                                    </div>
                                </div><br/>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-section></footer-section>