<style type="text/css">
    .green
    {
        color: green !important;
    }
    .red
    {
        color: red !important;
    }
    .yellow
    {
        color: yellow !important;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
   
.TypeInfo table,.TypeInfo th,.TypeInfo td {
/*    border: 1px solid black;*/
    border-collapse: collapse;
}
.TypeInfo th,.TypeInfo td {
    padding: 5px;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: #36A1CB;
    color: white;
}   
</style>
<script>

    function thumb(files) {

        if (files == null || files == undefined) {
            alert("This Browser has no support for HTML5 FileReader yet!");
            return false;
        }

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var imageType = /image.*/;

            if (!file.type.match(imageType)) {
                continue;

            }

            var reader = new FileReader();

            if (reader != null) {

                reader.onload = GetThumbnail;
                reader.readAsDataURL(file);
            }
        }
    }

    function GetThumbnail(e) {
        var myCan = document.createElement('canvas');
        var img = new Image();
        img.src = e.target.result;
        img.onload = function () {

            myCan.id = "myTempCanvas";
            var tsize = document.getElementById("txtThumbSize").value;
            myCan.width = Number(tsize);
            myCan.height = Number(tsize);
            if (myCan.getContext) {
                var cntxt = myCan.getContext("2d");
                cntxt.drawImage(img, 0, 0, myCan.width, myCan.height);
                var dataURL = myCan.toDataURL();


                if (dataURL != null && dataURL != undefined) {
                    var nImg = document.createElement('img');
                    nImg.src = dataURL;
                    document.body.appendChild(nImg);

                }
                else
                    alert('unable to get cntxt');
            }
        }
    }
</script>

<div ng-app="ezeidApp" id="wrapper" ng-controller="ProfileController as profile">
    <header-section></header-section>
    <!--Template of terms and condition pop-up-->
    <div class="Popup_window form_style map_popup_iconTerm" id="Terms_popup">
        <div class="window_page  Maping_popup">
            <span class="closelink" ng-click="profile.closedTermsAndConditionForm()">X</span>
            <div class="clearfix"></div>
            <div ng-show="!_userInfo.IsAuthenticate" class="row mar_editTop">
                <h3  style="text-align: center"><span class="mar_forget">Terms and Conditions</span></h3>
                <div ng-include="'html/terms.html'"  style="width: 98%; height: 350px; overflow-y: scroll; padding: 5px;">
                    <!-- Terms.html include hear... -->
                </div>
                 <span style="text-align: center">
                     <input type="button" style="margin-left: 45%; margin-top: 1%;" ng-click="profile.closedTermsAndConditionForm()" class="btn btn-primary " value="Close">
                </span>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:80px;">
        <div class="row">
            <div class="col-md-8" style="margin: auto; float: none;">
                <div class="panel panel-default">
                <form name="UserForm" novalidate class="form-inline">
                    <div class="panel-heading">
                        <h4> {{heading}}
                                <span ng-show="_userInfo.IsAuthenticate==true"> : {{profile._info.EZEID}}<span ng-show="profile._info.IDTypeID ==1"> (Individual)</span>
                                    <span ng-show="profile._info.IDTypeID ==2"> (Business)</span>
                                    <span ng-show="profile._info.IDTypeID ==3"> (Public Place)</span>
                                </span>
                            <span class="col-md-offset-3 small" style="color:#FF0000; float: right;">
                                <span style="border:1px solid #000000;background:#FAA9A3;color:#000000;">Mandatory </span>
                            </span>
                         </h4>
                    </div>
                    <div class="panel-body">
                        <div class="well well-lg">
                            <div class="col-lg-12" style="margin: auto; float: none;">
                                <div class="row"  ng-show="!_userInfo.IsAuthenticate && !isTypeSelected">
                                <span><label><strong>&nbsp;Choose your Signup type</strong> </label></span><br/>
                                    <table id="t01" class="TypeInfo" style="width:100%">
                                    <tr>
                                        <th></th>
                                        <th style="text-align:center;width: 14%;">
                                            Business - Free Listing
                                        </th>
                                        <th style="text-align:center;width: 14%;">
                                            Business - Paid Listing
                                        </th>
                                        <th style="text-align:center;width: 14%;">
                                            Individual
                                        </th>
                                         <th style="text-align:center;width: 14%;">
                                             
                                             Public Place
                                        </th>
                                            </tr>
                                        <tr ng-repeat="_item in typeInfo">
                                            <td style="text-align:left;width:260px;">{{_item.PropName}}</td>
                                            <td style="text-align:center"><span class="{{_item.IsBuFree}}"></span></td>
                                            <td style="text-align:center"><span class="{{_item.IsBuPaid}}"></span></td>
                                            <td style="text-align:center"><span class="{{_item.IsIndividual}}"></span></td>
                                            <td style="text-align:center"><span class="{{_item.IsPublic}}"></span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="text-align:center"><button ng-click="_selectUserType(1)" type="button" class="btn btn-primary">Select</button></td>
                                            <td style="text-align:center"><button ng-click="_selectUserType(2)" type="button" class="btn btn-primary">Select</button></td>
                                            <td style="text-align:center"><button ng-click="_selectUserType(3)" type="button" class="btn btn-primary">Select</button></td>
                                            <td style="text-align:center"><button ng-click="_selectUserType(4)" type="button" class="btn btn-primary">Select</button></td>
                                        </tr>
                                    </table>
                                    <br/>
                                    <p>
                                    <span class="glyphicon glyphicon-ok green"></span> : Available <span style="padding-left:10px;" class="glyphicon glyphicon-remove red"></span> : Not Available
                                     <span style="padding-left:10px;" class="glyphicon glyphicon-ban-circle red"></span> : Not Applicable <span style="padding-left:10px;" class="glyphicon glyphicon-exclamation-sign yellow"></span> : Partial
                                    </p>
                                </div>
                                   <span ng-show="!_userInfo.IsAuthenticate==true">
                                       <br/>
                                   </span>
                                <div ng-show="isTypeSelected">
                                   <div class="row mar_editTop"  ng-show="!_userInfo.IsAuthenticate==true" >
                                        <div class="col-lg-6">
                                            <div class="form-group" >
                                                <input  type="text" style='text-transform:uppercase' ng-pattern="/^[a-zA-Z0-9]*$/" ng-change= "profile.ezeidBoxClicked()"
                                                            ng-class="UserForm.EZEID.$touched && !profile._info.EZEID.length ? 'mandatoryTextBox' : ''"
                                                            name="EZEID" id="EZEID" class="form-control emptyBox" maxlength="15" ng-model="profile._info.EZEID" placeholder="Enter EZE ID"
                                                            style="width: 90px" required ng-disabled="profile._info.IsIDAvailable" >

                                                <button type="button" name="btnCheckID" ng-click="profile.CheckisIDAvailable()" ng-disabled="!profile._info.EZEID.length || disableAvalabilityButton" class="btn btn-primary" >Check Availability</button>
                                            </div>
                                        </div>

                                        <div class="col-lg-2" >
                                          <span ng-show="UserForm.EZEID.$touched && profile._info.EZEID.length" class="font12px dsp_block padT10px">
                                                <span style="color:red" ng-if="UserForm.EZEID.$touched && (profile._info.IsIDAvailable==false || profile._info.IsAuthenticate==false) " class="font14px">
                                                  Not Available</span>
                                                <span ng-show="UserForm.EZEID.$touched && (profile._info.IsIDAvailable==true || profile._info.IsAuthenticate==true)" class="green font14px">
                                                   Available</span>
                                           </span>
                                        </div>
<div ng-show="profile._info.IsIDAvailable">
                                        <div class="col-lg-4" ng-show="!_userInfo.IsAuthenticate==true">
                                                <input type="password" name="PWD" ng-model="profile._info.Password"
                                                   ng-class="UserForm.PWD.$touched && !profile._info.Password.length ? 'mandatoryTextBox' : ''"
                                                   class="form-control emptyBox" id="password" required maxlength="20" placeholder="Password" style="width: 48%">
                                                <input type="password" name="CPWD" ng-model="profile._info.CPassword"
                                                   ng-class="UserForm.CPWD.$touched && !profile._info.CPassword.length ? 'mandatoryTextBox' : ''"
                                                   class="form-control emptyBox" id="re-password" required maxlength="20" placeholder="Re-Enter Password" style="width: 48%">
                                        </div>
</div>
                                    </div>

                                   <span ng-show="!_userInfo.IsAuthenticate==true">
                                       <br/>
                                   </span>
                                    <div ng-show="profile._info.IsIDAvailable || _userInfo.IsAuthenticate">
                                <div class="row mar_editTop" ng-hide="profile._info.IDTypeID == 2">
                                    <div class="col-lg-6">
                                             <input type="text" class="form-control emptyBox" name="FName" id="FName" ng-model="profile._info.FirstName"
                                                   ng-class="UserForm.FName.$touched && !profile._info.FirstName.length ? 'mandatoryTextBox' : ''"
                                                   placeholder="First Name" style="width: 48%" required>
                                            <input type="text" class="form-control" name="LName" id="LName" ng-model="profile._info.LastName"
                                                   placeholder="Middle,  Last Name"  style="width: 48%">
                                        </div>
                                    </div><br/>
                                    <div class="row mar_editTop">
                                        <div class="col-lg-6">
                                                    <input type="text" ng-show=" profile._info.IDTypeID == 2" class="form-control emptyBox" name="CompName" ng-class="profile._info.IDTypeID == 2 && UserForm.CompName.$touched && !profile._info.CompanyName.length ? 'mandatoryTextBox' : ''" ng-model="profile._info.CompanyName" placeholder="Company Name" style="width: 48%">
                                                    <input type="text" ng-hide=" profile._info.IDTypeID == 2" class="form-control" ng-model="profile._info.CompanyName" placeholder="Company Name" style="width: 48%">
                                                    <input type="text" ng-show=" profile._info.IDTypeID == 1" class="form-control" maxlength="100" ng-model="profile._info.JobTitle" placeholder="Job Title"  style="width: 48%">
                                                    <input type="text" ng-show=" profile._info.IDTypeID == 2" class="form-control" maxlength="100" ng-model="profile._info.JobTitle" placeholder="About Company"  style="width: 48%">
                                                    <input type="text" ng-show=" profile._info.IDTypeID == 3" class="form-control" maxlength="100" ng-model="profile._info.JobTitle" placeholder="About Public Place"  style="width: 48%">
                                                </div>
                                        <div class="col-lg-6 setPinDiv">
                                            <input type="checkbox" ng-model="profile._info.SecurePin" ng-click="profile.securePinCliked()"> Secure your EZE ID by a PIN
                                            <input ng-disabled="!profile._info.SecurePin" type="text" class="form-control" name="pin" onkeypress="return isNumberKey(event);" id="PIN" ng-model="profile._info.PIN" required maxlength="3" placeholder="PIN"
                                                   style="width: 48px">
                                        </div>
                                    </div>
                                    <br/>
                                <div ng-show="!_userInfo.IsAuthenticate" class="row mar_editLeft">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="profile._info.Terms">
                                                <span>I have fully read and understood the <a class="" ng-click="profile.openTermsAndConditionForm()" id="termConditions">terms and condition</a> of EZE ID</span>
                                            </label>
                                        </div>
                                    <br/>
                                 <button type="submit" ng-hide="_userInfo.IsAuthenticate" ng-disabled="!profile._info.Terms"
                                            ng-click="profile.saveBasicRegistration(UserForm)" class="btn btn-primary">Generate EZEID</button><br/><p></p><br/></div>
                                    </div>
                                    <div ng-hide="!_userInfo.IsAuthenticate">
                                    <div class="row mar_editTop">
                                        <span><label>&nbsp;Choose your location from the Map below by moving the marker on map to the exact location</label></span><br/>
                                        <div class="col-lg-12" style="margin: auto; float: none;">
                                            <div class="panel panel-default">
                                                <div style="display:block;">
                                                    <img id="mapCloc" style="padding-top:8px;cursor:pointer;" ng-click="profile.getMyLocation()" src="images/myloc.png" />
                                                    <input id="txtSearch" class="form-control pull-left marL5px" type="text" placeholder="Search Location" autocomplete="off" style="z-index: 1; top: 0px; margin-top: 3px; width: 400px; position: absolute; left: 36px;" >
                                                 </div>
                                                <div id="map-canvas" style="width: 100%; height: 140px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
                                                </div>

                                            </div>
                                                <span ng-hide="true">
                                                    <input type="text" name="LatLong" class="form-control" ng-model="profile._info.Latitude" required />
                                                    <input type="text" name="LatLong" class="form-control" ng-model="profile._info.Longitude" required />
                                                </span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row mar_editTop" style="margin-bottom: -45px;">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <div class="row mar_editTop mar_editLeft">
                                                    <span><label><strong>&nbsp;Primary Address</strong> </label></span><br/>
                                                    <input type="text" class="form-control emptyBox" id="streeName" name="streeName" ng-model="profile._info.AddressLine1"
                                                           ng-class="UserForm.streeName.$touched && !profile._info.AddressLine1.length ? 'mandatoryTextBox' : ''"
                                                           placeholder="No., Building Name, Street Name" style="width: 48%" maxlength="45" required>
                                                    <input type="text" class="form-control" id="block" name="addLine2" ng-model="profile._info.AddressLine2"
                                                            placeholder="Block, Area, Sector"  style="width: 48%" maxlength="45">
                                                </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">

                                                     <select class="form-control emptyBox" style="width: 48%" name="countries" ng-model="profile._info.CountryID"
                                                            ng-change="profile.getStates(profile._info.CountryID,'false')"
                                                            ng-options="country.CountryID as country.CountryName  for country in profile.countries" required>
                                                     </select>

                                                    <select class="form-control emptyBox" style="width: 48%" name="states" ng-model="profile._info.StateID"
                                                            ng-options="state.StateID as state.StateName for state in profile.states" required>
                                                            <option value = ""> --State-- </option>
                                                     </select>
                                                 </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">
                                                    <input type="text" class="form-control emptyBox" data-ng-model="profile._info.CityTitle" name="city" id="city"
                                                           ng-class="UserForm.city.$touched && !profile._info.CityTitle.length ? 'mandatoryTextBox' : ''"
                                                           placeholder="City" style="width: 48%" required>
                                                    <input type="text" class="form-control emptyBox"  data-ng-model="profile._info.PostalCode" name="postalCode" id="postalCode"
                                                           ng-class="UserForm.postalCode.$touched && !profile._info.PostalCode.length ? 'mandatoryTextBox' : ''"
                                                           placeholder="Postal Code" onkeypress="return isNumberKey(event);" style="width: 48%" required>
                                                </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">
                                                    <span><label><strong>&nbsp;Contact Information</strong> </label></span><br/>

                                                    <span class="form-control" style="padding-left:0px;width:13%;border: 1px solid #CCCCCC; text-align: right">{{profile._info.ISDPhoneNumber}}</span>
                                                    <input type="text" style="width: 34%;" id="phone" class="form-control" ng-model="profile._info.PhoneNumber" name="phoneNo"
                                                           onkeypress="return isNumberKey(event);" maxlength="10" placeholder="Phone Number" style="width: 48%">

                                                    <span class="form-control" style="padding-left:0px;width:13%;border: 1px solid #CCCCCC;text-align: right ">{{profile._info.ISDMobileNumber}}</span>
                                                    <input type="text" style="width: 34%;" id="mobile_phone"class="form-control emptyBox" ng-model="profile._info.MobileNumber"
                                                           ng-class="UserForm.MobileNumber.$touched && !profile._info.MobileNumber.length ? 'mandatoryTextBox' : ''"
                                                           onkeypress="return isNumberKey(event);" name="MobileNumber" placeholder="Mobile Number" maxlength="10"  style="width: 48%" required>
                                                </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">
                                                    <input type="email" name="email" class="form-control" ng-model="profile._info.EMailID" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="E-mail ID" style="width: 48%">
                                                    <span ng-show="UserForm.email.$error.email" ng-if="UserForm.email.$error.email == true ? profile._info.isWrongEmailPattern = true : profile._info.isWrongEmailPattern = false"></span>
                                                    <input type="text" name="website"
                                                           ng-model="profile._info.Website" class="form-control" placeholder="Website" style="width: 48%">
                                                </div><br/>


                                                <div ng-show="profile._info.EZEIDVerifiedID == 2 && profile._info.IDTypeID == 2">
                                                    <div class="row" style="margin-left:0px;margin-right:0px;">
                                                        <span><label><strong>&nbsp;Settings</strong> </label></span><br/>
                                                        <select class="form-control emptyBox pull-left " style="width:45%;" name="selectParkingStatus" ng-model="profile._info.ParkingStatus"
                                                                ng-options="status.id as status.label for status in profile.parkingStatus" required>
                                                        </select>
                                                    </div><br/>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="col-lg-8" style="margin: auto; float: none;">
                                                   <div ng-hide="isShowCamera">
                                                        <span ng-show="!profile._info.Picture"> <img ng-show="!image" src="images/user_200.png" width="200"/></span>

                                                       <div ng-show="profile._info.IDTypeID == 1" style="text-align: center;">
                                                           <img id="pic-individual" ng-show="profile._info.Picture" width="77" height="99" name="Image" ng-src="{{profile._info.Picture}}" required />
                                                       </div>
                                                       <div ng-hide="profile._info.IDTypeID == 1">
                                                           <img id="pic-business" ng-show="profile._info.Picture" width="279" height="99" name="Image" src="{{profile._info.Picture}}" required />
                                                       </div>
                                                    </div>
                                                    <div style="border:1px solid #EEEE;text-align:center;" id="camera-container" ng-show="isShowCamera">
                                                        <div id="camera"></div>
                                                        <button class="btn-nocamera" style="margin-left: -44%; margin-top: -2px;" title="Close camera" ng-click="hideCamera()"></button>
                                                        <button class="btn btn-primary" title="Click picture" image="image" ng-click="clickPicture()">Click Picture</button>
                                                    </div>
                                                    <div ng-hide="isShowCamera" class="col-lg-12 text-center" style="margin-top: 5px;">
                                                        <button class="btn-camera" style="margin-top: -3px;" title="Take Picture" ng-click="showCamera()"></button>

                                                        <span ng-show="profile._info.IDTypeID == 1"  style="margin-left:50px" class="btn btn-primary btn-file">
                                                           <!--Attach Picture <input id="individual-pic" type="file" onchange="angular.element(this).scope().uploadImageForEditLocation(this.files)" accept="image/*"-->
                                                           Attach Picture <input id="individual-pic" type="file" onchange="angular.element(this).scope().uploadImageFromService(this)" accept="image/*"
                                                                                 business-pic-container-id="pic-business"
                                                                                 individual-pic-container-id="pic-individual"
                                                                                 user-type="profile._info.IDTypeID"
                                                                                 set-picture="profile.setPicture(pic,icon)"
                                                                                 >
                                                        </span>
                                                        <span ng-hide="profile._info.IDTypeID == 1" style="margin-left:50px" class="btn btn-primary btn-file">
                                                           Attach Picture
                                                            <!--<input image type="file" onchange="angular.element(this).scope().uploadImageForEditLocation(this.files)" accept="image/*"-->
                                                                   <input id="business-pic" type="file" onchange="angular.element(this).scope().uploadImageFromService(this)" accept="image/*"
                                                                   business-pic-container-id="pic-business"
                                                                   individual-pic-container-id="pic-individual"
                                                                   user-type="profile._info.IDTypeID"
                                                                   set-picture="profile.setPicture(pic,icon)"/>

                                                        </span>
                                                    </div>
                                                    <p/>
                                                    &nbsp;
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div  class="col-lg-12" style="padding-left: 10px;" ng-show="profile._info.IDTypeID == '1'">
                                            <div class="row mar_editTop mar_editLeft">
                                                <span><label><strong>&nbsp;Birth Date and Gender</strong> </label></span><br/>
                                             <date-time-picker recipient="profile._info.DOB"  style="width:24%; margin-top: 0px;"></date-time-picker>

                                                <select class="form-control " style="width:24%; margin-top: 0px;" name="Gender" ng-model="profile._info.Gender"
                                                        ng-options="status.id as status.label for status in profile.gender" required>
                                                    <option value="">Select Gender </option>
                                                </select>
                                            </div><br/>
                                            <div class="row mar_editTop mar_editLeft">
                                            </div><br/>
                                        </div>
                                    </div>
                                    <br/>
                                    <p></p>   <br/>
                                   <button type="submit" ng-show="_userInfo.IsAuthenticate" ng-disabled="!profile._info.EZEID || !profile._info.AddressLine1
                                           || !profile._info.CityTitle || !profile._info.PostalCode || !profile._info.MobileNumber "
                                           ng-click="profile.savePrimaryRegistration(UserForm)" class="btn btn-primary">Save</button>
                                   
                                   <button type="reset" class="btn btn-primary" ng-click="profile.closeRegistrationForm()" >Close</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="showNoteToPaidUser">
                                Note: EZE ID Area partner will contact soon to enable paid services.
                            </div>
                        </div>

                    </div>
                    </form>
                </div>
                </div>
            </div>
            <!--terms and condition template-->
            <div class="Popup_window form_style" id="term-condition">
                <div class="changePass_popUp Maping_popup">
                    <span ng-click="" class="closelink">X</span>
                    <h3><span class="mar_forget">Terms and conditions</span></h3>
                     <p>EZEID</p>
                </div>
            </div>
        </div>
    </div>
</div>