<style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
<!--<body ng-app="ezeidApp">-->

<!--ng-controller="DocumentController"-->
<div ng-app="ezeidApp" id="wrapper" ng-controller="ProfileController as profile">
    <header-section></header-section>
    <!--Template of terms and condition pop-up-->
    <div class="Popup_window form_style map_popup_iconTerm" id="Terms_popup">
        <div class="window_page  Maping_popup">
            <span class="closelink" ng-click="profile.closedTermsAndConditionForm()">X</span>
            <div class="clearfix"></div>
            <div ng-show="!_userInfo.IsAuthenticate" class="row mar_editTop">
                <h3  style="text-align: center"><span class="mar_forget">Terms and Conditions</span></h3>
                <div ng-include="'html/terms.html'"  style="width: 98%; height: 350px; overflow-y: scroll; padding: 5px;">
                    <!-- Terms.html include hear... -->
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:80px;">
        <div class="row">
            <div class="col-md-8" style="margin: auto; float: none;">
                <div class="panel panel-default">
                <form name="UserForm" novalidate class="form-inline">
                    <div class="panel-heading">
                        <h4> {{heading}}
                            <span class="col-md-offset-3 small" style="color:#FF0000; float: right;">
                                <span style="border:1px solid #000000;background:#FAA9A3;color:#000000;">Mandatory </span>
                            </span>
                         </h4>
                    </div>
                    <div class="panel-body">
                        <div class="well well-lg">
                            <div class="col-lg-12" style="margin: auto; float: none;">
                                   <div class="row">
                                        <div class="col-lg-2">
                                            <span><label>ID Type</label></span>
                                        </div>
                                        <div class="col-lg-10">
                                            &nbsp;
                                            <input type="radio" name="EZType"  ng-model="profile._info.IDTypeID" id="Individual" value="1"  checked required> Individual
                                            &nbsp;
                                            <input type="radio" name="EZType" ng-model="profile._info.IDTypeID"  id="Business" value="2" required> Business
                                            &nbsp;
                                            <input type="radio" name="EZType" ng-model="profile._info.IDTypeID" id="Venue" value="3" required> Public Place
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row mar_editTop">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" style='text-transform:uppercase' ng-pattern="/^[a-zA-Z0-9]*$/"
                                                       ng-class="UserForm.EZEID.$touched && !profile._info.EZEID.length ? 'mandatoryTextBox' : ''"
                                                       name="EZEID" id="EZEID" class="form-control emptyBox" maxlength="15" ng-model="profile._info.EZEID" placeholder="Enter EZE ID"
                                                        style="width: 90px" required>
                                                <button type="button" name="btnCheckID" ng-click="profile.CheckisIDAvailable()" ng-disabled="!profile._info.EZEID.length" class="btn btn-primary" >Check Availability</button>
                                            </div>
                                        </div>

                                        <div class="col-lg-2" >
                                          <span ng-show="UserForm.EZEID.$touched && profile._info.EZEID.length" class="font12px dsp_block padT10px">
                                                <span style="color:red" ng-if="UserForm.EZEID.$touched && (profile._info.IsIDAvailable==false || profile._info.IsAuthenticate==false) " class="font14px">
                                                  Not Available</span>
                                                <span ng-show="UserForm.EZEID.$touched && (profile._info.IsIDAvailable==true || profile._info.IsAuthenticate==true)" class="green font14px">
                                                   Available</span>
                                           </span>
                                        </div>

                                        <div class="col-lg-4" ng-show="!_userInfo.IsAuthenticate==true">
                                                <input type="password" name="PWD" ng-model="profile._info.Password"
                                                   ng-class="UserForm.PWD.$touched && !profile._info.Password.length ? 'mandatoryTextBox' : ''"
                                                   class="form-control emptyBox" id="password" required maxlength="20" placeholder="Password" style="width: 48%">
                                            <input type="password" name="CPWD" ng-model="profile._info.CPassword"
                                                   ng-class="UserForm.CPWD.$touched && !profile._info.CPassword.length ? 'mandatoryTextBox' : ''"
                                                   class="form-control emptyBox" id="re-password" required maxlength="20" placeholder="Re-Enter Password" style="width: 48%">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row mar_editTop">
                                        <div class="col-lg-6">
                                             <input type="text" class="form-control emptyBox" name="FName" id="FName" ng-model="profile._info.FirstName"
                                                   ng-class="UserForm.FName.$touched && !profile._info.FirstName.length ? 'mandatoryTextBox' : ''"
                                                   placeholder="First Name" style="width: 48%" required>
                                            <input type="text" class="form-control emptyBox" name="LName" id="LName" ng-model="profile._info.LastName"
                                                   ng-class="UserForm.LName.$touched && !profile._info.LastName.length ? 'mandatoryTextBox' : ''"
                                                   placeholder="Middle,  Last Name"  style="width: 48%">
                                        </div>
                                        <div class="col-lg-6 setPinDiv">
                                            <input type="checkbox" ng-model="profile._info.SecurePin"> Secure your EZE ID by a PIN
                                            <input ng-disabled="!profile._info.SecurePin" type="text" class="form-control" name="pin" onkeypress="return isNumberKey(event);" id="PIN" ng-model="profile._info.PIN" required maxlength="3" placeholder="PIN"
                                                   style="width: 48px">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row mar_editTop">
                                        <span><label>&nbsp;Choose your location from the Map below by moving the marker on map to the exact location</label></span><br/>
                                        <div class="col-lg-12" style="margin: auto; float: none;">
                                            <div class="panel panel-default">
                                                <div style="display:block;">
                                                    <img id="mapCloc" style="padding-top:8px;cursor:pointer;" ng-click="profile.getMyLocation()" src="images/myloc.png" />
                                                    <input id="txtSearch" class="form-control pull-left marL5px" type="text" placeholder="Search Location" autocomplete="off" style="z-index: 1; top: 0px; margin-top: 3px; width: 400px; position: absolute; left: 36px;" >
                                                 </div>
                                                <div id="map-canvas" style="width: 100%; height: 140px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
                                                </div>

                                            </div>
                                                <span ng-hide="true">
                                                    <input type="text" name="LatLong" class="form-control" ng-model="profile._info.Latitude" required />
                                                    <input type="text" name="LatLong" class="form-control" ng-model="profile._info.Longitude" required />
                                                </span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row mar_editTop" style="margin-bottom: -45px;">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <div class="row mar_editTop mar_editLeft">
                                                    <span><label><strong>&nbsp;Primary Address</strong> </label></span><br/>
                                                    <input type="text" class="form-control emptyBox" id="streeName" name="streeName" ng-model="profile._info.AddressLine1"
                                                           ng-class="UserForm.streeName.$touched && !profile._info.AddressLine1.length ? 'mandatoryTextBox' : ''"
                                                           placeholder="No., Building Name, Street Name" style="width: 48%" required>
                                                    <input type="text" class="form-control emptyBox" id="block" name="addLine2" ng-model="profile._info.AddressLine2"
                                                           ng-class="UserForm.addLine2.$touched && !profile._info.AddressLine2.length ? 'mandatoryTextBox' : ''"
                                                           placeholder="Block, Area, Sector"  style="width: 48%" required>
                                                </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">

                                                     <select class="form-control emptyBox" style="width: 48%" name="countries" ng-model="profile._info.CountryID"
                                                            ng-change="profile.getStates(profile._info.CountryID,'false')"
                                                            ng-options="country.CountryID as country.CountryName  for country in profile.countries" required>
                                                     </select>

                                                    <select class="form-control emptyBox" style="width: 48%" name="states" ng-model="profile._info.StateID"
                                                            ng-options="state.StateID as state.StateName for state in profile.states" required>
                                                            <option value = ""> --State-- </option>
                                                     </select>
                                                 </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">
                                                    <input type="text" class="form-control emptyBox" data-ng-model="profile._info.CityTitle" name="city" id="city"
                                                           ng-class="UserForm.city.$touched && !profile._info.CityTitle.length ? 'mandatoryTextBox' : ''"
                                                           placeholder="City" style="width: 48%" required>
                                                    <input type="text" class="form-control emptyBox"  data-ng-model="profile._info.PostalCode" name="postalCode" id="postalCode"
                                                           ng-class="UserForm.postalCode.$touched && !profile._info.PostalCode.length ? 'mandatoryTextBox' : ''"
                                                           placeholder="Postal Code" onkeypress="return isNumberKey(event);" style="width: 48%" required>
                                                </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">
                                                    <span><label><strong>&nbsp;Contact Information</strong> </label></span><br/>

                                                    <span class="form-control" style="padding-left:0px;width:13%;border: 1px solid #CCCCCC; text-align: right">{{profile._info.ISDPhoneNumber}}</span>
                                                    <input type="text" style="width: 34%;" id="phone" class="form-control" ng-model="profile._info.PhoneNumber" name="phoneNo"
                                                           onkeypress="return isNumberKey(event);" maxlength="10" placeholder="Phone Number" style="width: 48%">

                                                    <span class="form-control" style="padding-left:0px;width:13%;border: 1px solid #CCCCCC;text-align: right ">{{profile._info.ISDMobileNumber}}</span>
                                                    <input type="text" style="width: 34%;" id="mobile_phone"class="form-control emptyBox" ng-model="profile._info.MobileNumber"
                                                           ng-class="UserForm.MobileNumber.$touched && !profile._info.MobileNumber.length ? 'mandatoryTextBox' : ''"
                                                           onkeypress="return isNumberKey(event);" name="MobileNumber" placeholder="Mobile Number" maxlength="10"  style="width: 48%" required>
                                                </div>
                                                <br/>
                                                <div class="row mar_editTop mar_editLeft">
                                                    <input type="email" name="email" class="form-control" ng-model="profile._info.EMailID" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="E-mail ID" style="width: 48%">
                                                    <input type="text" name="website"
                                                           ng-model="profile._info.Website" class="form-control" placeholder="Web Site" style="width: 48%">
                                                </div><br/>
                                                <div class="row mar_editTop mar_editLeft">
                                                    <input type="text" class="form-control" ng-model="profile._info.CompanyName" placeholder="Company Name" style="width: 48%">
                                                    <input type="text" class="form-control" ng-model="profile._info.JobTitle" placeholder="Job Title"  style="width: 48%">
                                                </div><br/>
                                               <!-- <div ng-show="_userInfo.Type==1">-->
                                                <div ng-show="profile._info.IDTypeID == '1'">
                                                    <div class="row mar_editTop mar_editLeft">
                                                        <span><label><strong>&nbsp;Other Information</strong> </label></span><br/>
                                                        <label class="form-control" style="width: 48%!important;" disabled>Birth Date:</label>
                                                        <input type="date" class="form-control emptyBox"  id="BirthDate" style="width:48%; margin-top: -4px;" placeholder="Birth Date" ng-model="profile._info.DOB">

                                                    </div><br/>
                                                    <div class="row mar_editTop mar_editLeft">
                                                        <label  class="form-control" style="width: 48%!important;" disabled>Gender:</label>
                                                        <select class="form-control " style="width:48%; margin-top: -4px;" name="Gender" ng-model="profile._info.Gender"
                                                                ng-options="status.id as status.label for status in profile.gender" required>
                                                            <option value="">Select Gender </option>
                                                        </select>
                                                    </div><br/>
                                                    <div class="row mar_editTop mar_editLeft">
                                                        <input type="text" id="target" class="form-control" ng-model="profile._info.LaptopSLNO" placeholder="Laptop Model & SL. No" style="width: 48%">
                                                        <input type="text" class="form-control" ng-model="profile._info.VehicleNumber" placeholder="Car Registration Number"  style="width: 48%">
                                                    </div><br/>
                                                </div>

                                                <div ng-show=" profile._info.IDTypeID == 2 && profile._info.EZEIDVerifiedID == 2">
                                                    <div class="row mar_editTop">
                                                        <span><label><strong>&nbsp;Settings</strong> </label></span><br/>
                                                        <select class="form-control emptyBox pull-left " style="width:45%;" name="selectParkingStatus" ng-model="profile._info.ParkingStatus"
                                                                ng-options="status.id as status.label for status in profile.parkingStatus" required>
                                                        </select>
                                                        <input type="radio" name="OpenStatus" ng-model="profile._info.OpenStatus"
                                                               id="Open" class="check-box pull-left mar_addLoc" value="1" checked required/>
                                                        <label for="Open" style="margin-top:7px; margin-left:3px;" class="pull-left under_label ">Open</label>
                                                        <input type="radio" name="OpenStatus" ng-model="profile._info.OpenStatus" id="Closed"
                                                               class="check-box pull-left mar_addLoc" value="2" required/>
                                                        <label for="Closed" style="margin-top:7px; margin-left:3px;" class="pull-left under_label">Closed</label>
                                                    </div><br/>
                                                    <div class="row mar_editTop">
                                                        <input type="text" class="form-control" style="width:45%;" ng-model="profile._info.WorkingHours" placeholder="Working Hours">
                                                        <input type="checkbox" ng-model="SLocCtrl._locInfo.SalesEnquiryButton">
                                                        <input type="email" name="salesMail" class="form-control wd40p" ng-model="profile._info.SalesEnquiryMailID"
                                                               placeholder="Sales Enquiry Mail ID" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                                    </div><br/>
                                                    <div class="row mar_editTop">
                                                        <input type="checkbox" ng-model="profile._info.HomeDeliveryButton">
                                                        <input type="email" name="homeMail" class="form-control wd40p" ng-model="profile._info.HomeDeliveryMailID"
                                                               placeholder="Home Delivery Mail ID" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                                        <input type="checkbox" ng-model="profile._info.ReservationButton">
                                                        <input type="email" name="reserveMail" class="form-control wd40p" ng-model="profile._info.ReservationMailID"
                                                               placeholder="Reservation Mail ID" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                                    </div><br/>
                                                    <div class="row mar_editTop">
                                                        <input type="checkbox" ng-model="profile._info.SupportButton">
                                                        <input type="email" name="supportMail" class="form-control wd40p" ng-model="profile._info.SupportMailID"
                                                               placeholder="Support Mail ID"
                                                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                                        <input type="checkbox" ng-model="profile._info.CVButton">
                                                        <input type="email" name="cvMail" class="form-control wd40p" ng-model="profile._info.CVMailID"
                                                               placeholder="CV Mail ID"
                                                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                                    </div><br/>
                                                </div>
                                            </div>


                                            <div class="col-lg-6">
                                                <div class="col-lg-8" style="margin: auto; float: none;">
                                                   <!--<span ng-hide="_userInfo.IsAuthenticate"> <img ng-show="!image" src="images/user_200.png" width="200"/></span>-->
                                                    <span ng-show="!profile._info.Picture"> <img ng-show="!image" src="images/user_200.png" width="200"/></span>
                                                    <img ng-show="profile._info.Picture" width="200" name="Image" src="{{profile._info.Picture}}" required />
                                                    <div class="col-lg-12 text-center">
                                                        <span class="btn btn-primary btn-file">
                                                            Attach Picture <input type="file" onchange="angular.element(this).scope().uploadImageForEditLocation(this.files)" accept="image/*" image="image" resize-max-height="200" resize-max-width="200" resize-quality="0.7">
                                                        </span>
                                                    </div>
                                                    <p/>
                                                    &nbsp;
                                                    &nbsp;
                                                    <div class="text-center">
                                                        <img ng-show="profile._info.IDTypeID == '2' && !profile._info.Icon" src="images/defaultSmallicon.png">
                                                        <img ng-show="profile._info.IDTypeID == '2'" src="{{profile._info.Icon}}">
                                                        <span ng-hide="profile._info.IDTypeID != 2" class="btn btn-primary btn-file">
                                                            Attach Logo <input type="file" onchange="angular.element(this).scope().uploadIcon(this.files)" accept="image/*" image="image" resize-max-height="48" resize-max-width="48" resize-quality="0.7">
                                                        </span>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <!--<div ng-show="!_userInfo.IsAuthenticate" class="row mar_editTop">-->
                                        <!--<span><label><strong>&nbsp;Terms and conditions</strong> </label></span><br/>-->
                                            <!--<div ng-include="'html/terms.html'"  style="width: 98%; height: 150px; overflow-y: scroll; padding: 5px;">-->
                                                 <!--&lt;!&ndash; Terms.html include hear... &ndash;&gt;-->
                                            <!--</div>-->
                                      <!--</div>-->
                                    <p></p>
                                    <div ng-show="!_userInfo.IsAuthenticate" class="row mar_editLeft">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="profile._info.Terms">
                                                <span>I have fully read and understood the <a class="" ng-click="profile.openTermsAndConditionForm()" id="termConditions">terms and condition</a> of EZE ID</span>
                                            </label>
                                        </div>
                                    </div>

                                    <br/>
                                   <button type="submit" ng-show="_userInfo.IsAuthenticate" ng-disabled="!profile._info.EZEID || !profile._info.FirstName || !profile._info.LastName || !profile._info.AddressLine1
                                           || !profile._info.AddressLine2 || !profile._info.CityTitle || !profile._info.PostalCode || !profile._info.MobileNumber "
                                           ng-click="profile.savePrimaryRegistration(UserForm)" class="btn btn-primary">Save</button>
                                    <button type="submit" ng-hide="_userInfo.IsAuthenticate" ng-disabled="!profile._info.Terms"
                                            ng-click="profile.savePrimaryRegistration(UserForm)" class="btn btn-primary">Generate EZEID</button>
                                   <!--<button type="submit" ng-show="_userInfo.IsAuthenticate" ng-disabled="!profile._info.EZEID || !profile._info.FirstName || !profile._info.LastName || !profile._info.AddressLine1
                                           || !profile._info.AddressLine2 || !profile._info.CityTitle || !profile._info.PostalCode || !profile._info.MobileNumber "
                                           ng-click="profile.savePrimaryRegistration(UserForm)" class="btn btn-primary">Save</button>-->
                                    <button type="reset" class="btn btn-primary" onclick="window.location.href='#/home'">Close</button>



                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            <!--terms and condition template-->
            <div class="Popup_window form_style" id="term-condition">
                <div class="changePass_popUp Maping_popup">
                    <span ng-click="" class="closelink">X</span>
                    <h3><span class="mar_forget">Terms and conditions</span></h3>
                     <p>EZEID</p>
                </div>
            </div>
        </div>
    </div>

</div>