<div class="row"  ng-controller="SalesModalBoxCtrl">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
        <strong>Enter your enquiry here</strong>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
        <div class="form-group">
            <textarea class="form-control no-radius"></textarea>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 bottom-clearfix">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-xs-12 col-md-2 bottom-clearfix">

            </div>
            <div class="col-lg-2 col-sm-3 col-xs-12 col-md-2">
                <button class="btn btn-primary" ng-click="updateCurrentTransaction()">Update</button>
                <button class="btn btn-primary" ng-click="closeModalWithoutTxUpdate()">Cancel</button>
            </div>
        </div>
    </div>

</div>
