<!-- Header menu goes here -->
<header-section></header-section>
<!-- Reservation Module -->
<section id="reservation-wrapper" class="hpw ow rw" ng-controller="ReservationCtrl">

    <section class="page-content">
        <!-- The Panel -->
        <div class="width-75 container p-top-30">
            <div class="panel panel-default shadow-border">
                <div class="panel-heading text-center menu-text">
                    <h3 class="text-center font-roboto"><i class="fa fa-check-square-o"></i> Reservation</h3>
                </div>
                <div class="panel-body">

                    <!-- Side menu goes here -->
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 menu-style no-padding">
                        <div ng-bind-html="head"></div>
                        <!-- Calender goes here -->
                        <div id="calendar-block" ng-show="resources.length > 0">
                            <date-time-picker recipient="currentDateTime" settings='{
                                                                    "format" : "Y-m-d",
                                                                    "timepicker" : false,
                                                                    "mask" : false,
                                                                    "hours12" : false,
                                                                    "inline" : true,
                                                                    "maxDate" : "2029/01/01"
                                                                    }'>

                            </date-time-picker>
                        </div>
                        <!-- Notes section goes here[Shown only to resource] -->
                        <div ng-init="reservationAccess = ((isResource && resources.length > 0) && (accessRight == 1 || accessRight  == 2))" ng-show="isSelfReservationExists || ((isResource && resources.length > 0) && (accessRight == 1 || accessRight  == 2))" id="notes-block {{isSelfReservationExists}} {{reservationAccess}}">
                            <div class="notes-heading">
                                <i class="fa fa-list"></i> Appointments
                            </div>
                            <!-- just setting the access flag for furthur use -->
                            <!-- Daily Appointments goes here -->
                            <div class="notes-content border-bottom-gray p-top-7"
                                 ng-repeat="rtime in reservedTime track by $index"
                                 ng-show="((isResource && resources.length > 0 && reservedTime[$index][2].length > 0) && (accessRight == 1 || accessRight  == 2))
                                    ||
                                    isSelfReservationExist(reservedTime[$index][6])">
                                <!--<div ng-show="reservedTime[$index][2].length > 0">-->
                                <div ng-click="flashEffect(reservedTime[$index][6])">

                                    <i>{{reservedTime[$index][2]}}</i>
                                    <small>for <b> {{reservedTime[$index][4]}}</b> ({{convertMinutesToTime(reservedTime[$index][0])}} - {{convertMinutesToTime(reservedTime[$index][1])}})</small>
                                    <br>
                                    <div class="text-right p-bottom-3">
                                        <button ng-hide="!reservationAccess && isSelfReservationExists" title="no-show" ng-disabled="reservedTime[$index][5] == 12" ng-class="[reservedTime[$index][5] == 12?'btn-danger':'btn-primary','btn-'+reservedTime[$index][6]+'-'+12,'btn-'+reservedTime[$index][6]]" ng-click="changeStatus(reservedTime[$index][6],12)" class="btn btn-xs"><i class="fa fa-user-times"></i> No Show</button>
                                        <button ng-hide="!reservationAccess && isSelfReservationExists" title="Close" ng-disabled="reservedTime[$index][5] == 10" ng-class="[reservedTime[$index][5] == 10?'btn-danger':'btn-primary','btn-'+reservedTime[$index][6]+'-'+10,'btn-'+reservedTime[$index][6]]" ng-click="changeStatus(reservedTime[$index][6],10)" class="btn btn-xs"><i class="fa fa-check-square-o"></i> Close</button>
                                        <button title="cancel" ng-disabled="reservedTime[$index][5] == 11" ng-class="[reservedTime[$index][5] == 11?'btn-danger':'btn-primary','btn-'+reservedTime[$index][6]+'-'+11,'btn-'+reservedTime[$index][6]]" ng-click="changeStatus(reservedTime[$index][6],11)" class="btn btn-xs p-bottom-3"><i class="fa fa-times-circle"></i> Cancel</button>
                                    </div>

                                </div>
                                <!-- No Appointment message -->
                                <p ng-hide="reservedTime[$index][2].length > 0">No Appointments Available</p>
                            </div>
                        </div>
                    </div>
                    <!-- Main content goes here -->
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 ">
                        <h5 class="text-primary" ng-hide="resources.length > 0">No Resoure Available</h5>
                        <!-- RESERVATION MODULE goes here -->
                        <div class="reservation-module rm" ng-show="resources.length > 0">
                            <div class="col-lg-12">
                                <!-- MAIN CALENDAR of day - calender -->
                                <div ng-bind-html="calendar"></div>
                                <div id="head-title-block">
                                    <div class="reservation-title">
                                        <div class="col-lg-6">
                                            <!-- Color Index goes here -->
                                        <span class="color-index" ng-repeat="color in colorIndex track by $index">
                                            <i class="fa fa-square" ng-class="'color-index-'+$index"></i>
                                            <small ng-class="('color-index-label-'+$index)">&nbsp;</small>
                                        </span>
                                        </div>

                                        <div class="col-lg-6">
                                            <!-- Ezeid Name goes here -->
                                            <div class="ezeid-title">
                                                {{headTitle.length>0?headTitle:'&nbsp;'}}
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Resource Buttons goes here -->
                                        <div class="ezeid-resource">
                                            <!-- Current user's profile goes here -->
                                            <div class="selected-user-profile container">
                                                <!-- Profile image goes here -->
                                                <div class="col-lg-2 profile-image">
                                                    <img class="width-100-px image-round" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnYIFMMDz1mhF79yOu8WtpFXomQRjZ3PWPqoZbahlRKXGpUdGL" />
                                                </div>
                                                <!-- Profile heading and content goes here -->
                                                <div class="col-lg-7 profile-description">
                                                    <span class="profile-ezeid-style">@KRUNALPAID</span><br>
                                                    <small>{{description}}</small>
                                                </div>
                                                <!-- Profile ratings -->
                                                <div class="col-lg-3 profile-rating">
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-gray"></i>
                                                    <br>
                                                    <small ng-click="reviewResource()" class="text-white pointer">13 Reviews</small>
                                                </div>
                                            </div>
                                            <!-- Current user's profile ends here -->
                                            <div class="row p-left-5 p-top-10">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                    <span>Select Resources </span> <i class="fa fa-check-circle text-primary"></i> <small class="text-danger">{{description}}</small>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                    <select class="form-control" id="resource-dropdown">
                                                        <option ng-repeat="res in resources track by $index" data-resid = '{{$index}}' data-desc="{{resources[$index].description}}" value="{{resources[$index].tid}}">
                                                            {{resources[$index].title}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-1-9 text-primary">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Individual container: repeated 4 times (6 hours x 4[Early,Morning,Noon,Night]) -->
                                <div ng-init="col = 0" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-1"
                                     ng-repeat="time in timeArr track by $index">

                                    <div class="building-col-title" ng-init="cols = $index">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blk-title text-center cyan">
                                            {{time}}
                                        </div>
                                    </div>
                                    <!-- Building block: repeated for 72 times (6Hours x 60 = 360mins/5(individual block mins) = 72 Blocks) -->
                                    <div class="building-block">
                                        <!-- Time Label goes here -->
                                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-4 p-left-5 no-padding">
                                            <div ng-repeat="block in blockArr track by $index" class="title-section blk blk-time" ng-class="[blockColor[$index],'time-block-'+getBlockId($index,cols),heightClass]">
                                                <b>{{getTime($index,cols)}}</b>
                                            </div>
                                        </div>
                                        <!-- Building block of whole day -->
                                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-8 no-padding pointer" >
                                            <!-- reservation owner's name goes here -->
                                            <div title="{{getTime($index,cols,true)}}" ng-repeat="block in blockArr track by $index"
                                                 class="notes-section blk blk-content wrap-text text-center" ng-init="blockId = getBlockId($index,cols)" ng-class="[blockColor[$index],'block-'+blockId,heightClass]"
                                                 ng-click="reservationClickEventHandler(blockId)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal box to make a reservation -->
    <modal mtitle="modal.title" mclass="modal.class" visible="modalVisible">
        <div class="row width-75">
            <div class="reservation-form" ng-show="currentServiceArray.length > 0" >
                <div class="row">
                    <!-- Reservation services goes here -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                        <p class="text-black">Service</p>

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 service-dropdown">

                        <button type="button"
                                ng-click="serviceDropdown()"
                                class="btn btn-default btn-sm dropdown-toggle form-control"
                                data-toggle="dropdown">
                            Select &nbsp; <i class="fa fa-arrow-circle-down"></i>
                            <!--<span class="caret"></span>-->
                        </button>

                        <ul class="dropdown-menu services">
                            <li ng-repeat="service in currentServiceArray track by $index">
                                <a ng-mouseover="calculateTotalDuration()" href="#" class="small" data-value="{{$index}}">
                                    <input name="service-chk" class="service-chk" type="checkbox" data-duration="{{currentServiceArray[$index].duration}}"  value="{{currentServiceArray[$index].tid}}" />&nbsp;{{currentServiceArray[$index].title}}</a>
                            </li>
                        </ul>


                        <!--<select id="service" ng-change="updateReservationFormData(reservationService)" class="form-control reservation-service"-->
                        <!--ng-model="reservationService">-->
                        <!--<option data-id="{{$index}}" value="{{currentServiceArray[$index].tid}}"-->
                        <!--ng-repeat="service in currentServiceArray track by $index">{{currentServiceArray[$index].title}}</option>-->
                        <!--</select>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                        <p class="text-black">Start Time</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input id="start-time" ng-blur="changeEndTime()" type="text" ng-model="startTime" class="form-control" ng-disabled="!modal.isUpdate" />
                    </div>
                </div>
                <!--<div class="row">-->
                <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">-->
                <!--<p class="text-black">Approx. End Time</p>-->
                <!--</div>-->
                <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">-->
                <!--<input id="end-time" type="text" class="form-control" disabled value="{{endTime}}" />-->
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                        <p class="text-black">Duration(mins)</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input id="duration" data-duration="{{duration}}" type="number" ng-model="duration" class="form-control" ng-disabled="accessRight != 2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                        <p class="text-black">Mobile</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input ng-model="reserverMobile" ng-model-options="{updateOn : 'blur',debounce : { 'blur' : 0} }" numbers-only maxlength="13" id="userMobile" class="form-control" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                        <p class="text-black">Notes</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input maxlength="50" id="userNote" class="form-control" value="{{notes}}" placeholder="Notes for resource" />
                    </div>
                </div>
                <div class="row p-bottom-3">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                        &nbsp;
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right" ng-hide="">
                        <button class="btn btn-primary"
                                ng-class="reserverMobile.length > 9?'':'disabled'"
                                ng-click="saveReservation()">
                            <i class="fa fa-check-circle"></i> {{modal.isUpdate?'Update':'Save'}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="container" ng-hide="currentServiceArray.length > 0">
                <div class="col-lg-12">
                    <h4 class="text-danger text-center">No Services available for this resource</h4>
                </div>
            </div>
        </div>
    </modal>
    <!-- Modal to make review -->
    <div class="review-modal-form modal-no-css">
        <modal mtitle="reviewModal.title" mclass="reviewModal.class" visible="reviewModalVisibility">
            <div class="review-form-test row">

                <div class="close-modal text-center">
                    <button ng-click="toggleReviewModalVisibility()" id="close-review-modal" class="btn btn-danger btn-xs">
                        <i class="fa fa-times"></i> Close
                    </button>
                </div>
                <review-form  ng-trans-type="1"
                              ng-trans-id = "ngTransId"
                              ng-resource-id= "ngResourceId"
                              ng-to-ezeid="ngToEzeId"
                              toggle-review-modal-visibility="toggleReviewModalVisibility()"
                        > </review-form>
            </div>
        </modal>
    </div>
    <!-- coloring for availability : For executing coloring the table post-DOM rendering -->
    <div class="hidden">{{reservationMooduleStarter();ifHtmlLoaded = true}}</div>
    <!-- main container of day - calender end here -->
    <!-- Reservation module ends here -->
</section>
<!-- Footer goes here -->
<footer-section></footer-section>
<!-- Footer Ends here -->