<footer class="hpw">
    <!-- Footer goes here -->
    <div class="footer-page">
        <div class="container width-81 text-center">
            <div class="col-lg-4">
                <h4 class="text-white text-left text-bolder ">About EZEID</h4>
                <hr class="style-one">
                <p class="text-white text-justify font-roboto">EZE ID is first of its kind online identification, locating and online business platform that works for both
                    Individuals and Business Organizations. Coexistence of People and Business Organization make it unique and easy
                    to create better living and do the business much faster than any other methods in the industry.</p>
            </div>
            <div class="col-lg-3">
                <h4 class="text-white font-roboto text-bolder text-left">Follow Us</h4>
                <hr class="style-one">
                <ul class="list-unstyled no-padding text-left">
                    <li class="border-bottom-gray p-5 footer-list pointer">
                        <i class="fa fa-facebook fb-icon"></i>
                        <a class="text-white" href="https://www.facebook.com/profile.php?id=100008772690267" target="_blank">Facebook</a>
                    </li>
                    <li class="border-bottom-gray p-5">
                        <i class="fa fa-linkedin linked-icon"></i>
                        <a class="text-white" href="http://in.linkedin.com/pub/ezeid-administrator/ab/328/756/en" target="_blank">Linkedin</a>
                    </li>
                    <li class="border-bottom-gray p-5 footer-list pointer">
                        <i class="fa fa-pinterest pinterst-icon"></i>
                        <a class="text-white" href="https://www.pinterest.com/ezeidcom/" target="_blank">Pinterest</a>
                    </li>
                    <li class="p-5 footer-list pointer">
                        <i class="fa fa-twitter twitter-icon"></i>
                        <a class="text-white" href="https://twitter.com/EzeidManager" target="_blank">Twitter</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="text-white font-roboto text-bolder text-left">Information</h4>
                <hr class="style-one">
                <ul class="list-unstyled no-padding text-left">
                    <li class="border-bottom-gray p-5 footer-list pointer">
                        <a class="text-white" href="https://www.ezeid.com/EZEID" target="_blank" ng-click="FooterCtrl.ContactUS()">Contact Us</a>
                    </li>
                    <li class="border-bottom-gray p-5 footer-list pointer"> Legal</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4 class=" font-roboto text-sky-blue text-left">&nbsp;</h4>

                <ul class="list-unstyled no-padding text-left">
                    <li class="p-5  pointer text-center">

                        <a class="text-white" href="https://itunes.apple.com/us/app/ezeid/id964132720?ls=1&mt=8" target="_blank">
                            <img src="https://www.ezeid.com/images/logo-app_store.png" class="width-100-px" />
                        </a>

                    </li>
                    <li class="p-5  pointer text-center ">&nbsp;</li>
                    <li class="p-5  pointer text-center p-top-10 ">

                        <a class="text-white" href="https://play.google.com/store/apps/details?id=com.ezeid" target="_blank">
                            <img src="https://www.ezeid.com/images/icon-google-play.png" class="width-100-px" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="Popup_window form_style map_popup_iconTerm" id="Legal_popup">
        <div class="window_page  Maping_popup">
            <span class="closelink" id="legal-popup-close">X</span>
            <div class="clearfix"></div>
            <div  class="row mar_editTop">
                <h3  style="text-align: center"><span class="">Legal</span></h3>
                <div ng-include="'html/legal.html'"  style="width: 98%; height: 350px; overflow-y: scroll; padding: 5px;">
                    <!-- Terms.html include hear... -->
                </div>
                     <span style="text-align: center">
                         <input type="button" style="margin-left: 45%; margin-top: 1%;" ng-click="FooterCtrl.closeLegal()" class="btn btn-primary " value="Close">
                    </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</footer>