<footer>
    <div class="Popup_window form_style map_popup_iconTerm" id="Legal_popup">
        <div class="window_page  Maping_popup">
            <span class="closelink" id="legal-popup-close">X</span>
            <div class="clearfix"></div>
            <div  class="row mar_editTop">
                <h3  style="text-align: center"><span class="">Legal</span></h3>
                <div ng-include="'html/legal.html'"  style="width: 98%; height: 350px; overflow-y: scroll; padding: 5px;">
                    <!-- Terms.html include hear... -->
                </div>
                 <span style="text-align: center">
                     <input type="button" style="margin-left: 45%; margin-top: 1%;" ng-click="FooterCtrl.closeLegal()" class="btn btn-primary " value="Close">
                </span>
            </div>
        </div>
    </div>
    <div class="container maxWidthEzeid">
        <p>
            Copyright © TalentMicro Innovations Pvt. Ltd.<br>
            <span><a href="https://www.ezeid.com/?ID=EZEID" target="_blank" ng-click="FooterCtrl.ContactUS()">Contact us</a> | <a style="cursor:pointer;" id="legal-link">Legal</a> | PATENT IN PROCESS NO.6622/CHE/2014</span>
            <div class="social-media">
                <a href="https://www.pinterest.com/ezeidcom/" target="_blank" class="pr">social icon</a>
                <a href="https://twitter.com/EzeidManager" target="_blank" class="tw">Twitter</a>
                <a href="https://www.facebook.com/profile.php?id=100008772690267" target="_blank" class="fb">Facebook</a>
                <a href="http://in.linkedin.com/pub/ezeid-administrator/ab/328/756/en" target="_blank" class="lk">Linkedin</a>
            </div>
            <div class="app-store">
                <a href="https://itunes.apple.com/us/app/ezeid/id964132720?ls=1&mt=8" class="apple" target="_blank"></a>
                <a href="https://play.google.com/store/apps/details?id=com.ezeid" class="google-play" target="_blank"></a>
            </div>
    </div>
    <div class="clearfix"></div>
</footer>