<footer class="hpw" ng-controller="footerCtrl">
    <!-- Footer goes here -->
    <div class="footer-page">
        <div class="container width-81 text-center">
            <div class="row setRowLeftRightMarginZero">
                <div class="col-lg-4">
                    <h4 class="text-white text-left text-bolder ">About EZEOne</h4>
                    <hr class="style-one">
                    <p class="text-white text-justify font-roboto">
                        EZE One is the first of its kind online identification, locating and e-business

                        platform that works great for both Individuals and Business Organizations.

                        Coexistence of People and Business on a common platform makes it easy, fast,

                        reliable and cost effective. EZE One is a futuristic way of doing business that

                        brings conventional way of business and E-tailing together.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h4 class="text-white font-roboto text-bolder text-left">Follow Us</h4>
                    <hr class="style-one">
                    <ul class="list-unstyled no-padding text-left">
                        <li class="border-bottom-gray p-5 footer-list pointer">
                            <i class="fa fa-facebook fb-icon"></i>
                            <a class="text-white" href="https://www.facebook.com/EZEOneManager" target="_blank">Facebook</a>
                        </li>
                        <li class="border-bottom-gray p-5">
                            <i class="fa fa-linkedin linked-icon"></i>
                            <a class="text-white" href="https://in.linkedin.com/pub/ezeone-manager/bb/985/9b2" target="_blank">Linkedin</a>
                        </li>
                        <li class="border-bottom-gray p-5 footer-list pointer">
                            <i class="fa fa-pinterest pinterst-icon"></i>
                            <a class="text-white" href="https://www.pinterest.com/EZEOneManager/" target="_blank">Pinterest</a>
                        </li>
                        <li class="p-5 footer-list pointer">
                            <i class="fa fa-twitter twitter-icon"></i>
                            <a class="text-white" href="https://twitter.com/MyEZEOne" target="_blank">Twitter</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4 class="text-white font-roboto text-bolder text-left">Information</h4>
                    <hr class="style-one">
                    <ul class="list-unstyled no-padding text-left">
                        <li class="border-bottom-gray p-5 footer-list pointer">
                            <a class="text-white" href="https://www.ezeone.com/EZEONE" target="_blank" ng-click="FooterCtrl.ContactUS()">Contact Us</a>
                        </li>
                        <li ng-click="modalVisibility()" class="border-bottom-gray p-5 footer-list pointer" id="legal-link"> Legal</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h4 class=" font-roboto text-sky-blue text-left">&nbsp;</h4>

                    <ul class="list-unstyled no-padding text-left">
                        <li class="p-5  pointer text-center">

                            <a class="text-white" href="https://itunes.apple.com/us/app/ezeone/id1013338000?ls=1&mt=8" target="_blank">
                                <img src="/images/logo-app_store.png" class="width-100-px" />
                            </a>

                        </li>
                        <li class="p-5  pointer text-center ">&nbsp;</li>
                        <li class="p-5  pointer text-center p-top-10 ">
                            <a class="text-white" href="https://play.google.com/store/apps/details?id=com.ezeone" target="_blank">
                                <img src="/images/icon-google-play.png" class="width-100-px" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container text-center footer-extreme">
            Copyright &copy; 2015 | TalentMicro Innovations Pvt. Ltd.
        </div>
    </div>


    <modal showheader="true" mtitle="'Legal'" visible="showDetailsModal" mclass="modalBox.class">
        <div ng-include="'html/legal.html'"  style="width: 98%; height: 350px; overflow-y: scroll; padding: 5px;">
            <!-- Terms.html include hear... -->
        </div>
         <span style="text-align: center">
             <input type="button" style="margin-left: 45%; margin-top: 1%;" ng-click="modalVisibility()" class="btn btn-primary " value="Close">
        </span>
    </modal>
</footer>