<div class="panel panel-default" ng-controller="RulesCtrl">
    <div class="panel-heading">
        <h4>Rules</h4>
    </div>
    <div class="panel-body">
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: selectedTab == 1}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 1}" ng-click="selectedTab = 1">Sales</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 2}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 2}" ng-click="selectedTab = 2">Reservation</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 3}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 3}" ng-click="selectedTab = 3">Home Delivery</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 4}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 4}" ng-click="selectedTab = 4">Service</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 5}">
                    <a class="btn-link"  ng-class="{'tab-active': selectedTab == 5}" ng-click="selectedTab = 5">Resume</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!------- Sales Tab ends ---------------------->
                <div role="tabpanel" class="tab-pane" id="sales-tb" ng-show="selectedTab === 1" ng-class="{'active':selectedTab ===1}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" disabled ng-click="openModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button><h3>In Progress ! Will be available very soon</h3>
                            </div>
                        </div>
                        <!------- Sales Rules goes here --------------->
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="reservation-tb" ng-show="selectedTab === 2" ng-class="{'active':selectedTab ===2}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" disabled ng-click="openModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button><h3>In Progress ! Will be available very soon</h3>
                            </div>
                        </div>
                        <!--------- Reservation rules goes here------------------>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="home-delivery-tb" ng-show="selectedTab === 3" ng-class="{'active':selectedTab ===3}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" disabled ng-click="openModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button><h3>In Progress ! Will be available very soon</h3>
                            </div>
                        </div>
                        <!--------- Home Delivery rules goes here------------------>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="service-tb" ng-show="selectedTab === 4" ng-class="{'active':selectedTab ===4}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" disabled ng-click="openModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button><h3>In Progress ! Will be available very soon</h3>
                            </div>
                        </div>
                        <!--------- Service rules goes here------------------>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="resume-tb" ng-show="selectedTab === 5" ng-class="{'active':selectedTab ===5}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" disabled ng-click="openModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button><h3>In Progress ! Will be available very soon</h3>
                            </div>
                        </div>
                        <!--------- Resume rules goes here------------------>
                    </div>
                </div>

            </div>
        </div>

        <!------------ Modal Box starts here -------------------------->
        <modal mtitle="modalBox.title" visible="showModal">
            <div class="container-fluid">
                <form role="form">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                            <h5>{{ruleFunctionTypes[modalBox.rule.ruleFunction]}}</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group" data-toggle="tooltip" data-original-title="Rule Title" data-title="" data-placement="right">
                                <input class="form-control" maxlength="15" ng-model="modalBox.rule.folderTitle" placeholder="Rule Title" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group" data-toggle="tooltip" data-original-title="Rule Type" data-title="" data-placement="right">
                                <select class="form-control" ng-model="modalBox.rule.ruleType">
                                    <option ng-repeat="ruleType in ruleTypes" value="{{$index}}">{{ruleType}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group" data-toggle="tooltip" data-original-title="Rule Status" data-title="" data-placement="right">
                                <select class="form-control" ng-model="modalBox.rule.status">
                                    <option value="1">Inactive</option>
                                    <option value="2">Active</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-toggle="tooltip" data-original-title="Admin Level Match" data-title="" data-placement="right">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 bottom-clearfix" ng-repeat="matchAdminLevel in matchAdminLevels">
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="matchAdminLevel" id="match-admin-level-0" ng-model="modalBox.rule.matchAdminLevel" value="{{$index}}">
                                        {{matchAdminLevels[$index]}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bottom-clearfix">
                            <div class="form-group">
                                <label>Latitude : {{modalBox.rule.coordinates.latitude}}</label>
                            </div>
                            <div class="form-group">
                                <label>Longitude : {{modalBox.rule.coordinates.longitude}}</label>
                            </div>
                            <div class="form-group">
                                <label>Admin Area : </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bottom-clearfix">
                            <!-------------------------Map Row ------------------------------>
                            <div class="row map-container bottom-clearfix">
                                <div>
                                    <img id="pac-loc" class="link-btn" ng-click="findCurrentLocation()" src="images/myloc.png" data-toggle="tooltip" data-placement="bottom" title="Current Location" />
                                    <input id="pac-input" class="form-control pull-left" type="text" placeholder="Search Location" autocomplete="on">
                                    <!--<button class="btn btn-primary pull-left marL10px marT10px" ng-click="search.SearchOnMap(search.MSerText)" ng-disabled="search.MSerText==undefined" type="button">Find</button>-->
                                </div>
                                <div id="map-canvas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                                </div>

                            </div>
                            <!-------------------------Map Row ends ------------------------------>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 bottom-clearfix">
                            <button class="btn btn-primary btn-block" ng-click="saveRule()">Save</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 bottom-clearfix">
                            <button class="btn btn-primary btn-block" ng-click="closeModal()">Close</button>
                        </div>
                    </div>

                </form>
            </div>

        </modal>
        <!------------ Modal Box starts here -------------------------->

    </div>

</div>