<div class="panel panel-default" ng-controller="RulesCtrl">
    <div class="panel-heading">
        <h4>Rules</h4>
    </div>
    <div class="panel-body">
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: selectedTab == 1}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 1}" ng-click="selectedTab = 1">Sales</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 2}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 2}" ng-click="selectedTab = 2">Reservation</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 3}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 3}" ng-click="selectedTab = 3">Home Delivery</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 4}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 4}" ng-click="selectedTab = 4">Service</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 5}">
                    <a class="btn-link"  ng-class="{'tab-active': selectedTab == 5}" ng-click="selectedTab = 5">Resume</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!------- Sales Tab ends ---------------------->
                <div role="tabpanel" class="tab-pane" id="sales-tb" ng-show="selectedTab === 1" ng-class="{'active':selectedTab ===1}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary"  ng-click="toggleModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-striped ezeid-table">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Rule Title</th>
                                            <th>Type</th>
                                            <th>Prefix</th>
                                            <th>Mapped Names</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rule in rules track by $index">
                                            <td>{{$index+1}}.</td>
                                            <td>{{rule.FolderTitle}}</td>
                                            <td>{{ruleTypes[rule.RuleType]}}</td>
                                            <td>{{rule.SeqNoFrefix}}</td>
                                            <td ng-class="{'hidden': (rule.RuleType == 1) }" title="{{rule.MappedNames}}">{{(rule.MappedNames !== 'null') ? (rule.MappedNames | truncate:30) : '-' }}</td>
                                            <td ng-class="{'hidden': (rule.RuleType !== 1) }">{{ rule.Proximity + ' km' }}</td>
                                            <td><button class="btn btn-sm {{(rule.FolderStatus == 1) ? 'btn-success' : 'btn-danger'}}">{{(rule.FolderStatus == 1) ? 'Active' : 'Inactive'}}</button></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!------- Sales Rules goes here --------------->
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="reservation-tb" ng-show="selectedTab === 2" ng-class="{'active':selectedTab ===2}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--<button class="btn btn-sm btn-primary"  ng-click="toggleModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button>-->
                                <!-- -->
                                <h2 class="text-center font-open-sans-light"><i class="fa fa-clock-o"></i> Coming Soon ! </h2>
                            </div>
                        </div>
                        <!--------- Reservation rules goes here------------------>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="home-delivery-tb" ng-show="selectedTab === 3" ng-class="{'active':selectedTab ===3}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--<button class="btn btn-sm btn-primary"  ng-click="toggleModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                                -->
                                <h2 class="text-center font-open-sans-light"><i class="fa fa-clock-o"></i> Coming Soon ! </h2>
                            </div>
                        </div>
                        <!--------- Home Delivery rules goes here------------------>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="service-tb" ng-show="selectedTab === 4" ng-class="{'active':selectedTab ===4}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--<button class="btn btn-sm btn-primary"  ng-click="toggleModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button>-->
                                <h2 class="text-center font-open-sans-light"><i class="fa fa-clock-o"></i> Coming Soon ! </h2>
                            </div>
                        </div>
                        <!--------- Service rules goes here------------------>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="resume-tb" ng-show="selectedTab === 5" ng-class="{'active':selectedTab ===5}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--<button class="btn btn-sm btn-primary" ng-click="toggleModalBox()"><span class="glyphicon glyphicon-plus"></span> Add</button>-->
                                <h2 class="text-center font-open-sans-light"><i class="fa fa-clock-o"></i> Coming Soon ! </h2>
                            </div>
                        </div>
                        <!--------- Resume rules goes here------------------>
                    </div>
                </div>

            </div>
        </div>

        <!------------ Modal Box starts here -------------------------->
        <modal mtitle="modalBox.title" showheader="'true'" visible="showModal">
            <div class="container-fluid">
                <form role="form">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                            <h5 class="text-center">{{ruleFunctionTypes[modalBox.rule.RuleFunction]}}</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group" data-toggle="tooltip" data-original-title="Rule Title" data-title="" data-placement="right">
                                <input class="form-control" maxlength="15" ng-model="modalBox.rule.FolderTitle"
                                       placeholder="Rule Title" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group" data-toggle="tooltip" data-original-title="Rule Type" data-title="" data-placement="right">
                                <select class="form-control" ng-model="modalBox.rule.RuleType">
                                    <option value="">--Select Rule type--</option>
                                    <option value="0">Area name based match</option>
                                    <option value="1">Proximity based match</option>
                                    <option value="2">EZEID's linked</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group" data-toggle="tooltip" data-original-title="Rule Status" data-title="" data-placement="right">
                                <select class="form-control" ng-model="modalBox.rule.CountryID">
                                    <option value="">--Select Country--</option>
                                    <option ng-repeat="country in countryList track by country.CountryID" value="{{country.CountryTitle}}">{{country.CountryID}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <small class="text-primary">Rule Transaction Prefix (Unique rule identifier id for transactions)</small>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">

                            <div class="form-group">
                                <input type="text" maxlength="5" class="form-control" placeholder="Rule Prefix" ng-model="modalBox.rule.SeqNoFrefix"/>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group" data-toggle="tooltip" data-original-title="Rule Status" data-title="" data-placement="right">
                                <select class="form-control" ng-model="modalBox.rule.FolderStatus">
                                    <option value="">--Select Rule Status--</option>
                                    <option value="2">Inactive</option>
                                    <option value="1">Active</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="modalBox.rule.RuleType == 0" data-toggle="tooltip" data-original-title="Admin Level Match" data-title="" data-placement="right">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 bottom-clearfix" ng-repeat="matchAdminLevel in matchAdminLevels">
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="matchAdminLevel" id="match-admin-level-0"
                                               ng-model="modalBox.rule.MatchAdminLevel" value="{{$index}}">
                                        {{matchAdminLevels[$index]}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix" ng-show="modalBox.rule.RuleType == 0">
                            <!--<div class="form-group">-->
                                <!--<label>Latitude : {{modalBox.rule.Latitude}}</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Longitude : {{modalBox.rule.Longitude}}</label>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label>Admin Area : </label> {{modalBox.tempMappedName}}
                                <br/>
                                <small class="text-bolder text-danger tiny">* Add Admin area as Mapped Name</small>
                                <br/>
                                <button class="btn btn-sm btn-success no-radius" ng-click="addMappedName()"> Add Current admin area</button>
                            </div>

                            <div class="form-group">
                                <label>Mapped Names</label>

                                <button ng-repeat="mapName in modalBox.rule.MappedNames track by $index" class="btn btn-info btn-block btn-sm">{{mapName}}
                                    <i class="pull-right fa fa-remove" ng-click="removeMappedName($index)"></i>
                                </button>

                                <br/>
                                <small class="text-warning tiny" ng-show="modalBox.rule.MappedNames.length < 1">No mapped names added</small>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix" ng-show="modalBox.rule.RuleType == 1">
                            <div class="form-group">
                                <small>Proximity from current marker position</small>
                                <input type="text" numbers-only class="form-control"
                                       name="proximity"
                                       ng-model="modalBox.rule.Proximity"
                                       placeholder="Proximity (in Kms)" />
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix" ng-show="modalBox.rule.RuleType == 2">

                            <div class="form-group">
                                <label>Enter EZEID(s) : </label>
                                <small class="text-info tiny">You can also put comma separated multiple EZEIDs at once</small>
                                <br/>
                                <input type="text" class="form-control" ng-model="modalBox.tempMappedName"/>
                                <br/>
                                <button class="btn btn-sm btn-success no-radius" ng-click="addMappedEzeid()"> Add Current EZEID</button>
                            </div>

                            <div class="form-group">
                                <label>Mapped EZEIDs</label>

                                <button ng-repeat="mapName in modalBox.rule.MappedNames track by $index" class="btn btn-info btn-block btn-sm">{{mapName}}
                                    <i class="pull-right fa fa-remove" ng-click="removeMappedName($index)"></i>
                                </button>

                                <br/>
                                <small class="text-warning tiny" ng-show="modalBox.rule.MappedNames.length < 1">No mapped ezeids added</small>

                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 bottom-clearfix" ng-hide="modalBox.rule.RuleType == 2">
                            <!-------------------------Map Row ------------------------------>
                            <div id="conf-rules-map-container" class="row locations-map-container bottom-clearfix"></div>
                            <!-------------------------Map Row ends ------------------------------>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 bottom-clearfix">
                            <button class="btn btn-primary btn-block" ng-click="saveRule()">Save</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 bottom-clearfix">
                            <button class="btn btn-primary btn-block" ng-click="toggleModalBox()">Close</button>
                        </div>
                    </div>

                </form>
            </div>

        </modal>
        <!------------ Modal Box starts here -------------------------->

    </div>

</div>