<div class="panel panel-default" ng-controller="StatusTypesCtrl">
    <div class="panel-heading">
        <h4>Stages</h4>
    </div>
    <div class="panel-body">

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: selectedTab == 1}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 1}" ng-click="selectedTab = 1">Sales</a>
                </li>
                <!--<li role="presentation" ng-class="{active: selectedTab == 2}">-->
                    <!--<a class="btn-link" ng-class="{'tab-active': selectedTab == 2}" ng-click="selectedTab = 2">Reservation</a>-->
                <!--</li>-->
                <!--<li role="presentation" ng-class="{active: selectedTab == 3}">-->
                    <!--<a class="btn-link" ng-class="{'tab-active': selectedTab == 3}" ng-click="selectedTab = 3">Home Delivery</a>-->
                <!--</li>-->
                <li role="presentation" ng-class="{active: selectedTab == 4}">
                    <a class="btn-link" ng-class="{'tab-active': selectedTab == 4}" ng-click="selectedTab = 4">Help Desk</a>
                </li>
                <li role="presentation" ng-class="{active: selectedTab == 5}">
                    <a class="btn-link"  ng-class="{'tab-active': selectedTab == 5}" ng-click="selectedTab = 5">Recruitment</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!------- Sales Tab ---------------------->
                <div role="tabpanel" class="tab-pane" id="sales-tb" ng-show="selectedTab === 1" ng-class="{'active':selectedTab === 1}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" ng-click="toggleModalBox(0)"><span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix" ng-repeat="item in txStatuses.sales track by $index">
                                <div class="business-item">
                                    <div class="thumbnail">
                                        <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="" data-placement="right" data-original-title="Edit Item" data-index="{{$index}}" ng-click="toggleModalBox(0,$index)"></span>
                                        <div class="caption">
                                            <b class="text-purple">{{item.title}}
                                                <!--<span ng-show="item.status == 1" class="glyphicon glyphicon-ok-circle text-success" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                                <!--<span ng-show="item.status == 2" class="glyphicon glyphicon-remove-circle text-danger" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                            <!-- -->
                                            </b>
                                                <p class="text-primary">Progress : {{item.progress}} %</p>
                                                <p>Stage Progress Value : {{item.statusValue}}</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!------- Sales Tab ends ---------------------->
                <!------- Reservation Tab ends ---------------------->
                <div role="tabpanel" class="tab-pane" id="reservation-tb" ng-show="selectedTab === 2" ng-class="{'active':selectedTab ===2}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" ng-click="toggleModalBox(1)"><span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix" ng-repeat="item in txStatuses.reservation track by $index">
                                <div class="business-item">
                                    <div class="thumbnail">
                                        <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="" data-placement="right" data-original-title="Edit Item"  data-index="{{$index}}" ng-click="toggleModalBox(1,$index)"></span>
                                        <div class="caption">
                                            <b class="text-purple">{{item.title}}
                                                <!--<span ng-show="item.status == 1" class="glyphicon glyphicon-ok-circle text-success" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                                <!--<span ng-show="item.status == 2" class="glyphicon glyphicon-remove-circle text-danger" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                            <!-- -->
                                            </b>
                                            <p class="text-primary">Progress : {{item.progress}} %</p>
                                            <p>Stage Progress Value : {{item.statusValue}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------- Reservation Tab ends ---------------------->
                <!------- HomeDelivery Tab  ---------------------->
                <div role="tabpanel" class="tab-pane" id="home-delivery-tb" ng-show="selectedTab === 3" ng-class="{'active':selectedTab === 3}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" ng-click="toggleModalBox(2)"><span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix" ng-repeat="item in txStatuses.homeDelivery track by $index">
                                <div class="business-item">
                                    <div class="thumbnail">
                                        <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="" data-placement="right" data-original-title="Edit Item"  data-index="{{$index}}" ng-click="toggleModalBox(2,$index)"></span>
                                        <div class="caption">
                                            <b class="text-purple">{{item.title}}
                                                <!--<span ng-show="item.status == 1" class="glyphicon glyphicon-ok-circle text-success" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                                <!--<span ng-show="item.status == 2" class="glyphicon glyphicon-remove-circle text-danger" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                            <!-- -->
                                            </b>
                                            <p class="text-primary">Progress : {{item.progress}} %</p>
                                            <p>Stage Progress Value : {{item.statusValue}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------- HomeDelivery Tab ends ---------------------->
                <!------- Service Tab  ---------------------->
                <div role="tabpanel" class="tab-pane" id="service-tb" ng-show="selectedTab === 4" ng-class="{'active':selectedTab === 4}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" ng-click="toggleModalBox(3)"><span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix" ng-repeat="item in txStatuses.service track by $index">
                                <div class="business-item">
                                    <div class="thumbnail">
                                        <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="" data-placement="right" data-original-title="Edit Item"  data-index="{{$index}}" ng-click="toggleModalBox(3,$index)"></span>
                                        <div class="caption">
                                            <b class="text-purple">{{item.title}}
                                                <!--<span ng-show="item.status == 1" class="glyphicon glyphicon-ok-circle text-success" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                                <!--<span ng-show="item.status == 2" class="glyphicon glyphicon-remove-circle text-danger" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                            <!-- -->
                                            </b>
                                            <p class="text-primary">Progress : {{item.progress}} %</p>
                                            <p>Stage Progress Value : {{item.statusValue}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------- Service Tab ends ---------------------->
                <!------- Resume Tab  ---------------------->
                <div role="tabpanel" class="tab-pane" id="resume-tb" ng-show="selectedTab === 5" ng-class="{'active':selectedTab ===5}">
                    <div class="container-fluid">
                        <div class="row bottom-clearfix"></div>
                        <div class="row bottom-clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-sm btn-primary" ng-click="toggleModalBox(4)"><span class="glyphicon glyphicon-plus"></span> Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix" ng-repeat="item in txStatuses.resume track by $index">
                                <div class="business-item">
                                    <div class="thumbnail">
                                        <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="" data-placement="right" data-original-title="Edit Item"  data-index="{{$index}}" ng-click="toggleModalBox(4,$index)"></span>
                                        <div class="caption">
                                            <b class="text-purple">{{item.title}}
                                                <!--<span ng-show="item.status == 1" class="glyphicon glyphicon-ok-circle text-success" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                                <!--<span ng-show="item.status == 2" class="glyphicon glyphicon-remove-circle text-danger" data-toggle="tooltip" title="" data-placement="right" data-original-title="Item Status"></span>-->
                                            <!-- -->
                                            </b>
                                            <p class="text-primary">Progress : {{item.progress}} %</p>
                                            <p>Stage Progress Value : {{item.statusValue}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------- Resume Tab  ---------------------->


            </div>


        </div>

        <!------------ Modal Box starts here -------------------------->
        <modal mtitle="modalBox.title" visible="showModal">
            <div class="container-fluid">

                <form role="form">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-clearfix">
                            <h5>{{itemTypes[modalBox.txStatus.type]}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group">
                                <input class="form-control" maxlength="15" placeholder="StageTitle" ng-model="modalBox.txStatus.title" id="item-title"/>
                            </div>
                        </div>


                        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">-->
                            <!--<div class="form-group">-->
                                <!--<select class="form-control" placeholder="Status" ng-model="modalBox.txStatus.status" id="item-status">-->
                                    <!--<option value="1">Active</option>-->
                                    <!--<option value="2">Inactive</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <!--<div class="form-group">-->
                                <!--&lt;!&ndash;<select class="form-control" ng-model="modalBox.txStatus.progress">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option value="0">&#45;&#45;Select Progress&#45;&#45;</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option ng-repeat="i in getNumber(101) track by $index" value="{{$index}}">{{$index}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                <!--<div class="input-group">-->
                                    <!--<input class="form-control" type="number" maxlength="3" max="100" min="0" numbers-only-->
                                           <!--ng-model="modalBox.txStatus.progress" />-->
                                    <!--<span class="input-group-addon">%</span>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45; Integrate Progress bar here with 0-100 value ng-model="modalBox.txStatus.progress" &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                            <!--</div>-->
                            <div class="input-group">
                                <input class="form-control" type="number" maxlength="3" max="100" min="0" numbers-only
                                       ng-model="modalBox.txStatus.progress" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group">
                                <select class="form-control" ng-model="modalBox.txStatus.statusValue" data-toggle="tooltip" title="Stage Progress Value(Completion Index)">
                                    <option ng-repeat="option in statusOptions track by $index" value="{{$index}}">{{option}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group">
                                <textarea class="form-control" maxlength="100" id="notification-msg" ng-model="modalBox.txStatus.notificationMsg" placeholder="Notification Message"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bottom-clearfix">
                            <div class="form-group">
                                <textarea class="form-control" maxlength="250" id="notification-mail-msg" ng-model="modalBox.txStatus.notificationMailMsg" placeholder="Notification Message to be sent as email"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 bottom-clearfix">
                            <button class="btn btn-primary btn-block" ng-click="saveTxStatus()">Save</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 bottom-clearfix">
                            <button class="btn btn-primary btn-block" ng-click="toggleModalBox()">Close</button>
                        </div>
                    </div>
                </form>
            </div>

        </modal>
        <!------------ Modal Box starts here -------------------------->

    </div>


</div>