<div class="panel panel-default" ng-controller="SubuserCtrl">
    <div class="panel-heading">
        <h4>Subusers</h4>
    </div>
    <div class="panel-body">
    <!------------- Content goes inside this region ---------------------->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-primary btn-sm marginL10" ng-click="toggleModalBox()"><span class="glyphicon glyphicon-plus"></span> Add new Sub user</button>
        </div>

    </div>
    
    <table class="table table-striped ezeid-table">
        <thead>
        <tr>
            <th>S.No.</th>
            <th>Username</th>
            <th>EZEID</th>
            <th>Access Rights</th>
            <th>Folders</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in subusers">
            <td>{{$index+1}}.</td>
            <td><a class="btn-link" data-index="{{$index}}" ng-click="toggleModalBox($event)">{{(user.userName) ? user.masterEzeid+'.'+user.userName : user.masterEzeid}}</a></td>
            <td>{{user.ezeid | uppercase}}</td>
            <td>
                <a tabindex="0" data-trigger="focus" role="button" class="btn btn-default link-popover" data-container="body" data-toggle="popover" data-placement="right"
                   title="<h4>Access Rights <span class='pull-right glyphicon glyphicon-remove popover-close'></span></h4>" data-content='
                                        <div class="list-group">
                                            <a class="list-group-item" ng-hide="subusers[$index].accessRights.sales == 0">
                                                <h6 class="list-group-item-heading">Sales</h6>
                                                <p class="list-group-item-text">{{accessRights[subusers[$index].accessRights.sales].title}}</p>
                                            </a>
                                            <a class="list-group-item" ng-hide="user.accessRights.reservation == 0">
                                                <h6 class="list-group-item-heading">Reservation</h6>
                                                <p class="list-group-item-text">{{accessRights[subusers[$index].accessRights.reservation].title}}</p>
                                            </a>
                                            <a class="list-group-item" ng-hide="user.accessRights.homeDelivery == 0">
                                                <h6 class="list-group-item-heading">Home Delivery</h6>
                                                <p class="list-group-item-text">{{accessRights[subusers[$index].accessRights.homeDelivery].title}}</p>
                                            </a>
                                            <a class="list-group-item" ng-hide="user.accessRights.service == 0">
                                                <h6 class="list-group-item-heading">Help Desk</h6>
                                                <p class="list-group-item-text">{{accessRights[subusers[$index].accessRights.service].title}}</p>
                                            </a>
                                            <a class="list-group-item" ng-hide="user.accessRights.resume == 0">
                                                <h6 class="list-group-item-heading">Resume</h6>
                                                <p class="list-group-item-text">{{accessRights[subusers[$index].accessRights.resume].title}}</p>
                                            </a>
                                        </div>
                                    '>
                    See Access Rights
                </a>


            </td>
            <td>
                <a class="btn-link" data-index="{{$index}}" ng-click="toggleModalBox($event)">See Folders</a>
            </td>
            <td>
                <button class="btn" ng-class="(subusers[$index].status == 2)?'btn-danger':'btn-success'">{{(subusers[$index].status==2)?'Inactive':'Active'}}</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!------------- Content region ends here ---------------------->
    <!------------ Modal Box starts here -------------------------->
    <modal mtitle="modalBox.title" visible="showModal">
    <div class="container-fluid">
    <form role="form">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 bottom-clearfix">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span> </span>
                <input capitalize ng-disabled="modalBox.ezeidExists" ng-model="modalBox.subuser.ezeid" type="text" class="form-control" placeholder="Subuser EZEID" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 bottom-clearfix">
            <button ng-hide="modalBox.ezeidExists" ng-click="checkAvailability()" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> CHECK EZEID</button>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 bottom-clearfix" ng-hide="modalBox.ezeidExists">
            <div class="form-group" data-toggle="tooltip" data-placement="right" title="Subuser Status">
                <p class="text-success center-vertical" ng-show="modalBox.availabilityCheck && modalBox.isEzeidAvailable"><span class="glyphicon glyphicon-ok-circle"></span> Available</p>
                <p class="text-danger center-vertical" ng-show="modalBox.availabilityCheck && (!modalBox.isEzeidAvailable)"><span class="glyphicon glyphicon-remove-circle"></span> Not Available</p>
            </div>
        </div>

    </div>
    <div class="row" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
            <div class="form-group">
                <div class="input-group" data-toggle="tooltip" title="Subuser Username" data-placement="right">
                    <span class="input-group-addon" id="basic-addon3">{{masterUser.EZEID}}.</span>
                    <input maxlength="4" type="text" capitalize ng-disabled="modalBox.ezeidExists" ng-model="modalBox.subuser.userName" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
            <div class="form-group" data-toggle="tooltip" title="Subuser First Name" data-placement="right">
                <input maxlength="30" type="text" class="form-control" placeholder="First Name" ng-model="modalBox.subuser.firstName" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bottom-clearfix">
            <div class="form-group" data-toggle="tooltip" title="Subuser Last Name" data-placement="right">
                <input maxlength="30" type="text" class="form-control" placeholder="Last Name" ng-model="modalBox.subuser.lastName" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="row bottom-clearfix" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="form-group" data-toggle="tooltip" title="Subuser Status"  data-placement="right">
                <select class="form-control" ng-model="modalBox.subuser.status">
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="form-group" data-toggle="tooltip" title="Subuser Status"  data-placement="right">
                <select class="form-control" ng-model="modalBox.subuser.templateId">
                    <option value="0">--Select Working Hours Template--</option>
                    <option ng-repeat="template in workingHoursTemplateMap"
                            value="{{template.TID}}">{{template.TemplateName}}</option>
                </select>
            </div>
            <small class="text-danger tiny">* If not selected, default working hour template will be applicable</small>
        </div>
    </div>


    <div class="row" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center"><h5>Sales</h5></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center"><h5>Reservation</h5></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center"><h5>Home Delivery</h5></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center"><h5>Help Desk</h5></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center"><h5>Resume</h5></div>
    </div>
    <div class="row" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="text-left"> Access Rights</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <select class="form-control" ng-model="modalBox.subuser.accessRights.sales">
                    <option ng-repeat="right in accessRights" value="{{right.value}}">{{right.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <select class="form-control" ng-model="modalBox.subuser.accessRights.reservation">
                    <option ng-repeat="right in accessRights" value="{{right.value}}">{{right.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <select class="form-control" ng-model="modalBox.subuser.accessRights.homeDelivery">
                    <option ng-repeat="right in accessRights" value="{{right.value}}">{{right.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <select class="form-control" ng-model="modalBox.subuser.accessRights.service">
                    <option ng-repeat="right in accessRights" value="{{right.value}}">{{right.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <select class="form-control"  ng-model="modalBox.subuser.accessRights.resume">
                    <option ng-repeat="right in accessRights" value="{{right.value}}">{{right.title}}</option>
                </select>
            </div>
        </div>
    </div>
    <!------------------------- Email Input Row --------------------------------->
    <div class="row" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="text-left"> Email</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">@</span>
                    <input maxlength="150" type="text" ng-model="modalBox.subuser.salesEmail" class="form-control" placeholder="Sales Email" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon5">@</span>
                    <input maxlength="150" type="text" ng-model="modalBox.subuser.reservationEmail" class="form-control" placeholder="Reservation Email" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon6">@</span>
                    <input maxlength="150" type="text" ng-model="modalBox.subuser.homeDeliveryEmail" class="form-control" placeholder="Home Delivery Email" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon7">@</span>
                    <input maxlength="150" type="text" ng-model="modalBox.subuser.serviceEmail" class="form-control" placeholder="Help Desk Email" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-center">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon8">@</span>
                    <input maxlength="150" type="text" ng-model="modalBox.subuser.resumeEmail" class="form-control" placeholder="Resume Email" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
    <!---------------- Email Input row ends ---------------------->

    <!---------------- Rules row ----------------------------->
    <div class="row" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-left">Folders</div>

        <!---------- SALES Rules ---------------------------------------------->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-cleafix" ng-repeat="rule in (rules | ruleFilter:0)">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="toggleRule($event,0)" ng-checked="findRuleForSubuser(rule.TID,0)" data-tid="{{rule.TID}}"> {{rule.FolderTitle}}
                    </label>
                </div>
            </div>
        </div>
        <!---------- SALES Rules ends ---------------------------------------------->
        <!---------- RESERVATTION Rules ---------------------------------------------->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-cleafix" ng-repeat="rule in (rules | ruleFilter:1)">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="toggleRule($event,1)" ng-checked="findRuleForSubuser(rule.TID,1)" data-tid="{{rule.TID}}"> {{rule.FolderTitle}}
                    </label>
                </div>
            </div>
        </div>
        <!---------- RESERVATTION Rules ends ---------------------------------------------->
        <!---------- HOME DELIVERY Rules ---------------------------------------------->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-cleafix" ng-repeat="rule in (rules | ruleFilter:2)">
                <div class="checkbox">
                    <label >
                        <input type="checkbox" ng-click="toggleRule($event,2)"  ng-checked="findRuleForSubuser(rule.TID,2)" data-tid="{{rule.TID}}"> {{rule.FolderTitle}}
                    </label>
                </div>
            </div>
        </div>
        <!---------- HOME DELIVERY Rules ends ---------------------------------------------->
        <!---------- SERVICE Rules ---------------------------------------------->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-cleafix" ng-repeat="rule in (rules | ruleFilter:3)">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="toggleRule($event,3)"  ng-checked="findRuleForSubuser(rule.TID,3)" data-tid="{{rule.TID}}"> {{rule.FolderTitle}}
                    </label>
                </div>
            </div>
        </div>
        <!---------- SERVICE Rules ends ---------------------------------------------->
        <!---------- RESUME Rules ---------------------------------------------->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bottom-clearfix text-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-cleafix" ng-repeat="rule in (rules | ruleFilter:4)">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="toggleRule($event,4)" ng-checked="findRuleForSubuser(rule.TID,4)" data-tid="{{rule.TID}}"> {{rule.FolderTitle}}
                    </label>
                </div>
            </div>
        </div>
        <!---------- RESUME Rules ends ---------------------------------------------->
        <!---------------- Rules row ends ----------------------------->
    </div>

    <div class="row bottom-clearfix" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr/></div>
    </div>
    <div class="row" ng-show="modalBox.isEzeidAvailable">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <button class="btn btn-primary btn-block" ng-click="saveSubUser()">Save</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <button class="btn btn-primary btn-block" ng-click="toggleModalBox()">Close</button>
        </div>
    </div>


    </form>
    </div>

    </modal>
    <!------------ Modal Box ends here -------------------------->

    </div>
</div>